<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head>
<th:block th:include="common :: header"></th:block>
<body class="gray-bg">
    <div class="wrapper wrapper-content ">
        <!-- 搜索栏 -->
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="display: none;">
                        <h5>查询</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <input type="hidden" th:value="${user}" id="user">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon">申请状态</div>
                                    <select class="form-control" id="applyStatusSelect">
                                        <option value="">--请选择--</option>
                                        <option value="1">申请中</option>
                                        <option value="2">已拒绝</option>
                                        <option value="3">已同意</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-success" onclick="reLoad()">查询</button>
                                <button type="button" class="btn btn-default" onclick="cleanForm()">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 表格 -->
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="fixed-table-toolbar">
                            <div class="columns pull-left" style="display: none;">
                                <button shiro:hasPermission="zhddkk:wsFriendsApply:add" type="button" class="btn  btn-primary" onclick="add()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;添加
                                </button>
                                <button shiro:hasPermission="zhddkk:wsFriendsApply:batchRemove" type="button" class="btn  btn-danger" onclick="batchRemove()">
                                    <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;删除
                                </button>
                            </div>
                        </div>
                        <table id="exampleTable" data-mobile-responsive="true">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--以下区域不可见，用于shiro控制bootstraptable显示行内按钮 -->
    <div>
        <div>
            <script type="text/javascript">
                var s_edit_h = 'hidden';
                var s_remove_h = 'hidden';
                var s_resetPwd_h = 'hidden';
            </script>
        </div>
        <div shiro:hasPermission="zhddkk:wsFriendsApply:edit">
            <script type="text/javascript">
                s_edit_h = '';
            </script>
        </div>
        <div shiro:hasPermission="zhddkk:wsFriendsApply:remove">
            <script type="text/javascript">
                var s_remove_h = '';
            </script>
        </div>
        <div shiro:hasPermission="zhddkk:wsFriendsApply:resetPwd">
            <script type="text/javascript">
                var s_resetPwd_h = '';
            </script>
        </div>
    </div>
    <th:block th:include="common :: footer"></th:block>
    <th:block th:include="common :: sessionInfo"></th:block>
</body>
<script type="text/javascript" th:src="@{/js/appjs/zhddkk/wsFriendsApply/friendApply.js}"></script>
</html>