<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
	<th:block th:include="common :: header"></th:block>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
                        <form class="form-horizontal m-t" id="form">
							<!-- 主键 -->
                            <input type="hidden" id="id" name="id" th:value="${spGoods.id}">
																													<div class="form-group">
								<label class="col-sm-3 control-label" for="goodsId"><span style="color:red">*</span>&nbsp;商品id：</label>
								<div class="col-sm-8">
									<input type="text" id="goodsId" name="goodsId" th:value="${spGoods.goodsId}" class="form-control" />
								</div>
							</div>
																								<div class="form-group">
								<label class="col-sm-3 control-label" for="name"><span style="color:red">*</span>&nbsp;商品名称：</label>
								<div class="col-sm-8">
									<input type="text" id="name" name="name" th:value="${spGoods.name}" class="form-control" />
								</div>
							</div>
																								<div class="form-group">
								<label class="col-sm-3 control-label" for="brief"><span style="color:red">*</span>&nbsp;商品简介：</label>
								<div class="col-sm-8">
									<input type="text" id="brief" name="brief" th:value="${spGoods.brief}" class="form-control" />
								</div>
							</div>
																								<div class="form-group">
								<label class="col-sm-3 control-label" for="place"><span style="color:red">*</span>&nbsp;商品生产地：</label>
								<div class="col-sm-8">
									<input type="text" id="place" name="place" th:value="${spGoods.place}" class="form-control" />
								</div>
							</div>
																								<div class="form-group">
								<label class="col-sm-3 control-label" for="goodsTypeId"><span style="color:red">*</span>&nbsp;商品类型id：</label>
								<div class="col-sm-8">
									<input type="text" id="goodsTypeId" name="goodsTypeId" th:value="${spGoods.goodsTypeId}" class="form-control" />
								</div>
							</div>
																								<div class="form-group">
								<label class="col-sm-3 control-label" for="merchantId"><span style="color:red">*</span>&nbsp;归属店铺id：</label>
								<div class="col-sm-8">
									<input type="text" id="merchantId" name="merchantId" th:value="${spGoods.merchantId}" class="form-control" />
								</div>
							</div>
																								<div class="form-group">
								<label class="col-sm-3 control-label" for="stockNum"><span style="color:red">*</span>&nbsp;库存数：</label>
								<div class="col-sm-8">
									<input type="text" id="stockNum" name="stockNum" th:value="${spGoods.stockNum}" class="form-control" />
								</div>
							</div>
																								<div class="form-group">
								<label class="col-sm-3 control-label" for="originalPrice"><span style="color:red">*</span>&nbsp;原价：</label>
								<div class="col-sm-8">
									<input type="text" id="originalPrice" name="originalPrice" th:value="${spGoods.originalPrice}" class="form-control" />
								</div>
							</div>
																								<div class="form-group">
								<label class="col-sm-3 control-label" for="salePrice"><span style="color:red">*</span>&nbsp;售价：</label>
								<div class="col-sm-8">
									<input type="text" id="salePrice" name="salePrice" th:value="${spGoods.salePrice}" class="form-control" />
								</div>
							</div>
																								<div class="form-group">
								<label class="col-sm-3 control-label" for="unitName"><span style="color:red">*</span>&nbsp;商品单位：</label>
								<div class="col-sm-8">
									<input type="text" id="unitName" name="unitName" th:value="${spGoods.unitName}" class="form-control" />
								</div>
							</div>
																								<div class="form-group">
								<label class="col-sm-3 control-label" for="imageList"><span style="color:red">*</span>&nbsp;商品图片集合：</label>
								<div class="col-sm-8">
									<input type="text" id="imageList" name="imageList" th:value="${spGoods.imageList}" class="form-control" />
								</div>
							</div>
																								<div class="form-group">
								<label class="col-sm-3 control-label" for="status"><span style="color:red">*</span>&nbsp;状态 0:未上架 1:已上架：</label>
								<div class="col-sm-8">
									<input type="text" id="status" name="status" th:value="${spGoods.status}" class="form-control" />
								</div>
							</div>
																								<div class="form-group">
								<label class="col-sm-3 control-label" for="createTime"><span style="color:red">*</span>&nbsp;创建时间：</label>
								<div class="col-sm-8">
									<input type="text" id="createTime" name="createTime" th:value="${spGoods.createTime}" class="form-control" />
								</div>
							</div>
																								<div class="form-group">
								<label class="col-sm-3 control-label" for="updateTime"><span style="color:red">*</span>&nbsp;更新时间：</label>
								<div class="col-sm-8">
									<input type="text" id="updateTime" name="updateTime" th:value="${spGoods.updateTime}" class="form-control" />
								</div>
							</div>
											                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button type="submit" class="btn btn-primary">保存</button>
                                </div>
                            </div>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="common :: footer"></th:block>
</body>
<script type="text/javascript" th:src="@{/js/appjs/shop/spGoods/spGoodsForm.js}"></script>
</html>
