<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>选择图标</title>
    <th:block th:include="common :: header"></th:block>
    <th:block th:include="common :: footer"></th:block>
    <link th:href="@{/js/fontAwesome/css/font-awesome.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui-1.9.11/css/default.css}" />
    <style type="text/css">
        .icon{
            margin: 1px;
            cursor:pointer;
            font-size: 18px;
            width: 20px;
            height: 20px;
            display: inline-block;
            border-radius: 3px;
        }
        .icon:hover {
            background-color: #1d9d74;
            color: #ffffff;
        }
    </style>
</head>
<body>
<div class="ico-list">
</div>

<script type="text/javascript">
    var extraElems = "";
    for (var r=1;r<=26;r++) {
        for (var c=1;c<=20;c++) {
            if ((r<=25) || (r == 26 && c<=14)) {
                var icon = "icon icon-" + r + "-" + c;
                extraElems += "<i class='" + icon + "' aria-hidden='true'></i>";
            }
        }
    }
    $(".ico-list").append(extraElems);

    // 设置title
    $('.ico-list i').hover(function () {
        $(this).attr("title", $(this).attr('class'));
    })
    
    var index = parent.layer.getFrameIndex(window.name);
    //给父页面传值
    $('.ico-list i').on('click', function(){
        parent.$('#icon').val($(this).attr('class'));
        parent.$('#iconImg').attr("class", $(this).attr('class'));
        //parent.layer.tips('Look here', '#parentIframe', {time: 5000});
        parent.layer.close(index);
    });
</script>
</body>
</html>