<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
	<th:block th:include="common :: header"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui-1.9.11/css/default.css}" />
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
                        <form class="form-horizontal m-t" id="form">
							<!-- 主键 -->
                            <input type="hidden" id="id" name="id" th:value="${sysMenu.id}">
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name"><span style="color:red">*</span>&nbsp;菜单名称：</label>
								<div class="col-sm-8">
									<input type="text" id="name" name="name" th:value="${sysMenu.name}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="parentId">父菜单id：</label>
								<div class="col-sm-8">
									<select class="form-control" id="parentId" name="parentId" th:value="${sysMenu.parentId}">
										 <option value="">--- 请选择 ---</option>
                                        <option th:each="info:${pMenuList}" th:value="${info.id}"
												th:text="${info.name}"
												th:selected="${sysMenu.parentId == info.id}">
                                        </option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name"><span style="color:red">*</span>&nbsp;国际化key：</label>
								<div class="col-sm-8">
									<input type="text" id="i18nKey" name="i18nKey" th:value="${sysMenu.i18nKey}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="url">url：</label>
								<div class="col-sm-8">
									<input type="text" id="url" name="url" th:value="${sysMenu.url}" class="form-control" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label"><span style="color:red">*</span>图标：</label>
								<div class="col-sm-5">
									<input id="icon" name="icon" th:value="${sysMenu.icon}" class="form-control" type="text"
										   placeholder="例如：icon icon-edit">
								</div>
                                <i id="iconImg" th:class="${sysMenu.icon}" style="margin-right: 50px;"></i>
								<input id="selectIconBtn" class="btn btn-warning" type="button" value="选择图标">
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="extColumn1">是否可关闭(true|false)：</label>
								<div class="col-sm-8">
									<select id="extColumn1" name="extColumn1" th:value="${sysMenu.extColumn1}" class="form-control">
										<option th:value="true" th:selected="${sysMenu.extColumn1 == 'true'}">可关闭</option>
										<option th:value="false" th:selected="${sysMenu.extColumn1 == 'false'}">不可关闭</option>
									</select>
								</div>
							</div>
																								<div class="form-group">
								<label class="col-sm-3 control-label" for="extColumn2">扩展字段2：</label>
								<div class="col-sm-8">
									<input type="text" id="extColumn2" name="extColumn2" th:value="${sysMenu.extColumn2}" class="form-control" />
								</div>
							</div>
																								<div class="form-group">
								<label class="col-sm-3 control-label" for="extColumn3">扩展字段3：</label>
								<div class="col-sm-8">
									<input type="text" id="extColumn3" name="extColumn3" th:value="${sysMenu.extColumn3}" class="form-control" />
								</div>
							</div>
											                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button type="submit" class="btn btn-primary">保存</button>
                                </div>
                            </div>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="common :: footer"></th:block>
</body>
<script type="text/javascript" th:src="@{/js/appjs/zhddkk/sysMenu/sysMenuForm.js}"></script>
</html>
