<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
	<th:block th:include="common :: header"></th:block>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
                        <form class="form-horizontal m-t" id="form">
							<!-- 主键 -->
                            <input type="hidden" id="id" name="id" th:value="${wsUserFile.id}">
							<div class="form-group">
								<label class="col-sm-3 control-label" for="userId"><span style="color:red">*</span>&nbsp;用户id：</label>
								<div class="col-sm-8">
									<input type="text" id="userId" name="userId" th:value="${wsUserFile.userId}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="userName"><span style="color:red">*</span>&nbsp;用户名：</label>
								<div class="col-sm-8">
									<input type="text" id="userName" name="userName" th:value="${wsUserFile.userName}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="fileId"><span style="color:red">*</span>&nbsp;文件id：</label>
								<div class="col-sm-8">
									<input type="text" id="fileId" name="fileId" th:value="${wsUserFile.fileId}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="fileName"><span style="color:red">*</span>&nbsp;：</label>
								<div class="col-sm-8">
									<input type="text" id="fileName" name="fileName" th:value="${wsUserFile.fileName}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="fileUrl"><span style="color:red">*</span>&nbsp;：</label>
								<div class="col-sm-8">
									<input type="text" id="fileUrl" name="fileUrl" th:value="${wsUserFile.fileUrl}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="createTime"><span style="color:red">*</span>&nbsp;创建时间：</label>
								<div class="col-sm-8">
									<input type="text" id="createTime" name="createTime" th:value="${wsUserFile.createTime}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="updateTime"><span style="color:red">*</span>&nbsp;更新时间：</label>
								<div class="col-sm-8">
									<input type="text" id="updateTime" name="updateTime" th:value="${wsUserFile.updateTime}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="status"><span style="color:red">*</span>&nbsp;状态：</label>
								<div class="col-sm-8">
									<input type="text" id="status" name="status" th:value="${wsUserFile.status}" class="form-control" />
								</div>
							</div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button type="submit" class="btn btn-primary">保存</button>
                                </div>
                            </div>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="common :: footer"></th:block>
</body>
<script type="text/javascript" th:src="@{/js/appjs/zhddkk/wsUserFile/wsUserFileForm.js}"></script>
</html>
