<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <th:block th:include="common :: header"></th:block>
    <meta charset="UTF-8">
    <title>商品详情</title>

    <style>
        #mainDiv {
            width: 100%;
            height:100%;
            max-width: 900px;
            margin:0 auto;
            overflow-y: auto;
        }

        .swiper-container{
            width: 100%;
            height: 100%;
        }

        .swiper-pagination-bullet {
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            color:#000;
            opacity: 1;
            background: rgba(0,0,0,0.2);
        }
        .swiper-pagination-bullet-active {
            color:#fff;
            background: #007aff;
        }

        .goodsDiv {
            width:226px;
            height:310px;
            padding:0 10px 0 10px;
            margin-right:5px;
            margin-bottom: 5px;
            border: 1px solid grey;
            text-align: center;
            display: inline-block;
        }

        .goodsDiv p {
            text-align: left;
        }
    </style>
</head>
<body>
    <div id="mainDiv">
        <input type="hidden" id="goodsPkId" th:value="${goodsPkId}">
        <a href="#topDiv"></a>
        <div id="topDiv" style="width:100%;height:300px;padding: 10px 15px 0 15px;">
            <div style="width:50%;height:280px;float:left;padding:10px;border:1px solid grey;">
                <!-- Swiper -->
                <div id="swiperDiv" style="width:100%;height:100%;max-height:280px;">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" v-for="image in imageList">
                                <img :src="image" style="width: 100%;height: 100%;" onclick="$.ws.gShowImg(this.src)">
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination swiper-pagination-white"></div>
                    </div>
                </div>
            </div>

            <div style="width:49%;height:280px;float:right;padding:10px;border:1px solid grey;">
                <div style="width: 100%;height:160px;">
                    <div style="width:68%;height:100%;float:left;">
                        <p style="font-weight: bold;font-size: 17px;">商品名称： {{goodsDetail.name}}</p>
                        <p>商品描述： {{goodsDetail.brief}}</p>
                        <p>产地： {{goodsDetail.place}}</p>
                        <p>售价： <span style="text-decoration:line-through;color:grey;">￥{{toFixedNumber(originalPrice)}}</span>&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;color: red;font-size: 18px;">￥{{toFixedNumber(salePrice)}}</span></p>
                        <p>规格： {{goodsDetail.unitName}}</p>
                        <p>库存： {{goodsDetail.stockNum}}</p>
                        <p>商家店铺： <a :href="'/shop/shoppingCenter/merchantDetail.page?merchantId='+goodsDetail.merchantId" target="_blank">{{goodsDetail.merchantName}}</a></p>
                    </div>
                    <div style="width:31%;height:100%;float:right;">
                        <img v-if="goodsDetail.stockNum<=0" src="/img/shop/shouqing.jpg" style="width:100px;height:100px;border-radius:50px;">
                    </div>
                </div>
                <div style="height:30px;text-align: center;margin-top: 5px;">
                    <button class="btn btn-success" @click="orderNow()" :disabled="goodsDetail.stockNum <=0 || goodsCount>goodsDetail.stockNum">立即下单</button>&nbsp;&nbsp;&nbsp;
                    <button style="width: 18px;" @click="minusGoodsCount()">-</button>
                    <input readonly style="width: 25px;text-align: center;" v-model="goodsCount">
                    <button style="width: 18px;" @click="addGoodsCount()">+</button>
                    <button class="btn btn-danger" @click="batchAddToShoppingCart(goodsDetail.goodsId, goodsDetail.merchantId)" :disabled="goodsDetail.stockNum <=0 || goodsCount>goodsDetail.stockNum"><i class="fa fa-shopping-cart"></i>加入购物车</button>
                </div>
                <div style="width: 100%;height:20px;margin-top:40px;">
                    <span style="width:30%;display:inline-block;text-align: left;" v-if="goodsDetail.goodsFavoriteStatus == 2">
                            <a href="javascript:void(0);" @click="favoriteGoods(goodsDetail.goodsId, 1)"><i class="fa fa-plus"></i>收藏商品</a>
                    </span>
                    <span style="width:30%;display:inline-block;text-align: left;" v-if="goodsDetail.goodsFavoriteStatus == 1">
                            <a href="javascript:void(0);" style="color:#1ab394;" @click="favoriteGoods(goodsDetail.goodsId, 2)"><i class="fa fa-check"></i>已收藏商品</a>
                    </span>
                </div>
            </div>
        </div>
        <p style="padding-left: 15px;">猜你喜欢</p>
        <a href="#guessLikeDiv"></a>
        <div id="guessLikeDiv" style="width:100%;height:auto;padding: 10px 15px 10px 15px;">
            <div class="goodsDiv" v-for="(goodsDetail,index) in maybelikeGoodsList">
                <div style="width:100%;height:188px;padding-top:10px;cursor: pointer;" @click="showGoodsDetail(goodsDetail.id)">
                    <img :src="goodsDetail.backImage" style="width:100%;height:100%;">
                </div>
                <div style="width:100%;height:20px;">
                    <div style="width:70%;height:100%;float:left;text-align: left;overflow: hidden;">
                        <p>{{goodsDetail.name}}</p>
                    </div>
                    <div style="width:29%;height:100%;float:right;text-align: right;">
                        <p style="text-align: right"><i class="fa fa-location-arrow"></i>{{goodsDetail.place}}</p>
                    </div>
                </div>
                <div style="width:100%;height:30px;">
                    <div style="width:50%;float:left;text-align: left;">
                        <span style="text-decoration:line-through;color:grey;">￥{{goodsDetail.originalPriceStr}}</span>&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;color: red;font-size: 18px;">￥{{goodsDetail.salePriceStr}}</span>
                    </div>
                    <div style="width:18%;float:right;">
                        <button style="width: 40px;" class="btn btn-sm btn-danger" @click="addToShoppingCart(goodsDetail.goodsId, 1, goodsDetail.merchantId)"><i class="fa fa-shopping-cart"></i></button>
                    </div>
                </div>

                <div style="height:25px;margin-top: 5px;font-size: 15px;border-bottom: 1px solid lightgrey;">
                    <p><i class="fa fa-home"></i><a :href="'/shop/shoppingCenter/merchantDetail.page?merchantId='+goodsDetail.merchantId" target="_blank">{{goodsDetail.merchantName}}</a></p>
                </div>
                <div style="height:20px;margin-top:15px;">
                    <span style="width:49%;display:inline-block;text-align: left;">
                        库存 {{goodsDetail.stockNum}}
                    </span>
                    <span style="width:49%;display:inline-block;text-align: right;">
                        月销 {{goodsDetail.saleNumber}}
                    </span>
                </div>
                <!--收藏标志图标-->
                <div style="width:100%; height:16px;" v-if="goodsDetail.goodsFavoriteStatus == 1">
                    <span style="color: red;" class="glyphicon glyphicon-bookmark"></span>
                </div>
            </div>
        </div>

        <p style="padding-left: 15px;">商品详情</p>
        <a href="#goodsH5Div"></a>
        <div id="goodsH5Div" style="width:100%;height:auto;padding:10px;">
            <div style="width: 100%;height:100%;padding:5px;border:1px solid grey;" v-html="goodsDetail.description">
            </div>
        </div>
    </div>
    <th:block th:include="common :: footer"></th:block>
</body>

    <script>
        var app = new Vue({
            el: '#mainDiv',
            data: {
                goodsDetail: {},         //商品详情
                imageList:[],            //商品图片列表
                maybelikeGoodsList:[],   //猜你喜欢列表
                originalPrice:0.00,      //商品原价
                salePrice:0.00,          //商品售价
                goodsCount:1,            //商品数量
            },
            methods: {
                queryGoodsDetail: function () {
                    // 查询商品列表
                    var loadIndex = layer.load(1, {
                        shade: [0.1,'#fff'] //0.1透明度的白色背景
                    });
                    $.ajax({
                        type: "GET",
                        url: "/shop/shoppingCenter/goodsDetail",
                        data: {
                            'goodsPkId':$("#goodsPkId").val(),
                        },
                        success: function (result) {
                            layer.close(loadIndex);
                            if (result.code == 1) {
                                app.goodsDetail = result.data;
                                app.originalPrice = result.data.originalPrice;
                                app.salePrice = result.data.salePrice;
                                if (!!app.goodsDetail.image1) {
                                    app.imageList.push(app.goodsDetail.image1);
                                }
                                if (!!app.goodsDetail.image2) {
                                    app.imageList.push(app.goodsDetail.image2);
                                }
                                if (!!app.goodsDetail.image3) {
                                    app.imageList.push(app.goodsDetail.image3);
                                }
                                if (!!app.goodsDetail.image4) {
                                    app.imageList.push(app.goodsDetail.image4);
                                }
                            }
                        }
                    });
                },
                favoriteGoods : function (goodsId, status) {
                    // 收藏商品
                    var that = this;
                    $.ajax({
                        type: "POST",
                        url: "/shop/spFavorite/favoriteGoods",
                        data: {
                            'goodsId':goodsId,
                            'status':status,
                        },
                        success: function (result) {
                            layer.msg(result.msg);
                            that.queryGoodsDetail();
                        }
                    });
                },
                // 加入购物车
                addToShoppingCart : function (goodsId, goodsCount, merchantId) {
                    $.ajax({
                        type: "POST",
                        url: "/shop/spShoppingCart/addToShoppingCart",
                        data: {
                            'goodsId':goodsId,
                            'goodsCount':goodsCount,
                            'merchantId':merchantId,
                        },
                        success: function (result) {
                            layer.msg(result.msg);
                        }
                    });
                },
                // 批量添加到购物车
                batchAddToShoppingCart : function (goodsId, merchantId) {
                    this.addToShoppingCart(goodsId, app.goodsCount, merchantId);
                },
                // 查询猜你喜欢商品列表
                queryMaybeLikeGoodsList : function(goodsPkId){
                    $.ajax({
                        type: "GET",
                        url: "/shop/spGoods/queryMaybeLikeGoodsList",
                        data: {
                            'goodsPkId':goodsPkId,
                        },
                        success: function (result) {
                            app.maybelikeGoodsList = result.data;
                        }
                    });
                },
                // 单击进入商品详情页
                showGoodsDetail : function (goodsPkId) {
                    window.location.href='/shop/shoppingCenter/goodsDetail.page?goodsPkId='+goodsPkId;
                },
                // 减少商品
                minusGoodsCount : function () {
                    if (app.goodsCount <=1) {
                        layer.alert("商品数量不能低于1");
                        return;
                    }
                    app.goodsCount--;
                    app.originalPrice = app.goodsDetail.originalPrice * app.goodsCount;
                    app.salePrice = app.goodsDetail.salePrice * app.goodsCount;
                },
                //增加商品
                addGoodsCount : function () {
                    if (app.goodsCount >= app.goodsDetail.stockNum) {
                        layer.alert("商品数量超过库存啦");
                        return;
                    }
                    app.goodsCount++;
                    app.originalPrice = app.goodsDetail.originalPrice * app.goodsCount;
                    app.salePrice = app.goodsDetail.salePrice * app.goodsCount;
                },
                //立即下单
                orderNow : function () {
                    $.ajax({
                        type: "POST",
                        url: "/shop/shoppingCenter/createOrder",
                        data : {
                            'goodsId':app.goodsDetail.goodsId,
                            'goodsCount':app.goodsCount,
                        },
                        success: function (result) {
                            if (result.code == 1) {
                                window.location.href='/shop/shoppingCenter/spShoppingPay.page?orderNo='+result.data
                            }
                        }
                    });
                },
                toFixedNumber : function (num) {
                    return num.toFixed(2);
                }
            },
            created: function () {
                this.queryGoodsDetail();
                var goodsPkId = $("#goodsPkId").val();
                this.queryMaybeLikeGoodsList(goodsPkId);
            }
        });

        // 图片滚动插件
        var mySwipper = new Swiper('.swiper-container', {
            observer: true,
            observeParents: true,
            loop: false, // 循环模式选项
            autoplay: {
                delay: 1600,
                stopOnLastSlide: false,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
                renderBullet: function (index, className) {
                    return '<span class="' + className + '">' + (index + 1) + '</span>';
                },
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
</html>