<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
	<th:block th:include="common :: header"></th:block>
	<meta charset="UTF-8">
	<title>商家店铺</title>

	<style>
		#mainDiv {
			width: 100%;
			height: 100%;
            padding: 10px 60px 10px 60px;
		}

		table {
			margin:5px auto;
		}

		table body th,td{
			padding: 10px;
		}

		.goodsDiv {
			width:226px;
			height:310px;
			padding:0 10px 0 10px;
			margin-right:5px;
			margin-bottom: 5px;
			border: 1px solid grey;
			text-align: center;
			display: inline-block;
		}

		.goodsDiv p {
			text-align: left;
		}

		.selected {
			z-index:2;
			box-shadow: 4px 4px 5px #888888;
		}
	</style>
<body class="gray-bg">
	<input type="hidden" id="merchantId" th:value="${merchantId}">
	<div id="mainDiv">
		<div id="topDiv" style="width:100%;height:330px;">
			<table border="1">
				<thead>
					<th width="120px;"></th>
					<th width="300px;"></th>
				</thead>
				<body>
					<tr>
						<td>店铺id</td>
						<td>{{merchantDetail.merchantId}}</td>
					</tr>
					<tr>
						<td>店铺名称</td>
						<td>{{merchantDetail.name}}
							<span style="width:38%;display:inline-block;text-align: right;" v-if="merchantDetail.merchantFavoriteStatus == 2">
								<a href="javascript:void(0);" @click="favoriteMerchant(merchantDetail.merchantId, 1)"><i class="fa fa-plus"></i>收藏店铺</a>
							</span>
							<span style="width:38%;display:inline-block;text-align: right;" v-if="merchantDetail.merchantFavoriteStatus == 1">
								<a href="javascript:void(0);" style="color:#1ab394;" @click="favoriteMerchant(merchantDetail.merchantId, 2)"><i class="fa fa-check"></i>已收藏店铺</a>
							</span>
						</td>
					</tr>
					<tr>
						<td>店铺地址</td>
						<td>{{merchantDetail.address}}</td>
					</tr>
					<tr>
						<td>店铺图片</td>
						<td><img width="60px" height="60px" :src="merchantDetail.image" onclick="$.ws.gShowImg(this.src)"></td>
					</tr>
					<tr>
						<td>店铺描述</td>
						<td>{{merchantDetail.desc}}</td>
					</tr>
					<tr>
						<td>联系电话</td>
						<td>{{merchantDetail.contact}}</td>
					</tr>
					<tr>
						<td>店铺状态</td>
						<td>
							<select name="status" :value="merchantDetail.status" class="form-control" th:disabled="disabled">
								<option :selected="merchantDetail.status == 0">已关闭</option>
								<option :selected="merchantDetail.status == 1">营业中</option>
								<option :selected="merchantDetail.status == 2">暂停营业</option>
								<option :selected="merchantDetail.status == 3">已打烊</option>
							</select>
						</td>
					</tr>
				</body>
			</table>
		</div>
		
		<p style="text-align: left;">商品列表({{Object.keys(goodsList).length}})</p>
		<div id="innerDiv" style="width:100%;height:350px;margin-top:5px;overflow-x: auto;overflow-y: hidden;white-space:nowrap;">
			<div class="goodsDiv" v-for="(goodsDetail,index) in goodsList">
				<div style="width:100%;height:188px;padding-top:10px;cursor: pointer;" @click="showGoodsDetail(goodsDetail.id)">
					<img :src="goodsDetail.backImage" style="width:100%;height:100%;">
					<img v-if="goodsDetail.stockNum<=0" src="/img/shop/shouqing.jpg" style="width:100px;height:100px;position: relative;left:-150px;border-radius:50px;">
				</div>
				<div style="width:100%;height:20px;">
					<div style="width:70%;height:100%;float:left;text-align: left;overflow: hidden;">
						<p>{{goodsDetail.name}}</p>
					</div>
					<div style="width:29%;height:100%;float:right;text-align: right;">
						<p style="text-align: right"><i class="fa fa-location-arrow"></i>{{goodsDetail.place}}</p>
					</div>
				</div>
				<div style="width:100%;height:30px;">
					<div style="width:50%;float:left;text-align: left;">
						<span style="font-weight: bold;color: red;font-size: 18px;">￥{{goodsDetail.salePriceStr}}</span>&nbsp;<span style="text-decoration:line-through;color:grey;">￥{{goodsDetail.originalPriceStr}}</span>
					</div>
					<div style="width:18%;float:right;">
						<button style="width: 40px;" class="btn btn-sm btn-danger" @click="addToShoppingCart(goodsDetail.goodsId, 1, goodsDetail.merchantId)" :disabled="goodsDetail.stockNum <=0"><i class="fa fa-shopping-cart"></i></button>
					</div>
				</div>

				<div style="height:25px;margin-top: 5px;font-size: 15px;border-bottom: 1px solid lightgrey;">
					<p><i class="fa fa-home"></i><a :href="'/shop/shoppingCenter/merchantDetail.page?merchantId='+goodsDetail.merchantId" target="_blank">{{goodsDetail.merchantName}}</a></p>
				</div>
				<div style="height:20px;margin-top:15px;">
                    <span style="width:49%;display:inline-block;text-align: left;">
                        库存 {{goodsDetail.stockNum}}
                    </span>
					<span style="width:49%;display:inline-block;text-align: right;">
                        月销 {{goodsDetail.saleNumber}}
                    </span>
				</div>
				<!--收藏标志图标-->
				<div style="width:100%; height:16px;" v-if="goodsDetail.goodsFavoriteStatus == 1">
					<span style="color: red;" class="glyphicon glyphicon-bookmark"></span>
				</div>
			</div>
		</div>

        <p style="text-align: left;margin-top: 10px;">猜你喜欢</p>
		<div id="guessLikeDiv" style="width:100%;height:400px;margin-top:5px;overflow-x: auto;overflow-y: hidden;white-space:nowrap;">
		
		</div>
	</div>
	<th:block th:include="common :: footer"></th:block>
</body>
	<script>
		var app = new Vue({
			el: '#mainDiv',
			data: {
				merchantDetail: {},
				goodsList: {},
			},
			methods: {
				queryMerchantDetail: function(merchantId){
					$.ajax({
						url : "/shop/shoppingCenter/merchantDetail",
						type : "get",
						data : {
							'merchantId' : $("#merchantId").val(),
						},
						success : function(result) {
							if (result.code == 1) {
								app.merchantDetail = result.data;
							}
						}
					});
				},
				// 商品列表
				queryGoodsList: function () {
					$.ajax({
						type: "GET",
						url: "/shop/shoppingCenter/queryGoodsListByMerchantId",
						data: {
							"merchantId":$("#merchantId").val()
						},
						success: function (result) {
							if (result.code == 1) {
								app.goodsList = result.data;
							}
						}
					});
				},
				// 单击进入商品详情页
				showGoodsDetail : function (goodsPkId) {
					layer.open({
						type: 2,
						title: '商品详情页',
						shadeClose: false,
						shade: 0.2,
						area: ['900px', '620px'],
						anim: 1,
						content: '/shop/shoppingCenter/goodsDetail.page?goodsPkId='+goodsPkId
					});
				},
				// 收藏店铺
				favoriteMerchant : function (merchantId, status) {
					// 收藏店铺
					var that = this;
					$.ajax({
						type: "POST",
						url: "/shop/spFavorite/favoriteMerchant",
						data: {
							'merchantId':merchantId,
							'status':status,
						},
						success: function (result) {
							layer.msg(result.msg);
							that.queryMerchantDetail();
						}
					});
				},
                // 加入购物车
                addToShoppingCart : function (goodsId, goodsCount, merchantId) {
                    $.ajax({
                        type: "POST",
                        url: "/shop/spShoppingCart/addToShoppingCart",
                        data: {
                            'goodsId':goodsId,
                            'goodsCount':goodsCount,
                            'merchantId':merchantId,
                        },
                        success: function (result) {
							layer.msg("加入成功");
                        }
                    });
                },
			},
			created: function () {
				this.queryMerchantDetail();
				this.queryGoodsList();
			}
		});
	</script>
</html>
