<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
	<th:block th:include="common :: header"></th:block>

	<style>
		#mainDiv {
			width: 100%;
			height: 100%;
		}

		table {
			margin:5px auto;
		}

		table body th,td{
			padding: 10px;
		}

		.goodsDiv {
			width:226px;
			height:345px;
			float:left;
			padding:20px;
			margin-right:5px;
			margin-bottom: 5px;
			border: 1px solid grey;
			text-align: center;
		}

		.goodsDiv p {
			text-align: left;
		}

		.selected {
			z-index:2;
			box-shadow: 4px 4px 5px #888888;
		}
	</style>
<body class="gray-bg">
	<input type="hidden" id="merchantId" th:value="${merchantId}">
	<div id="mainDiv">
		<div id="topDiv" style="width:100%;height:330px;">
			<table border="1">
				<thead>
					<th width="120px;"></th>
					<th width="300px;"></th>
				</thead>
				<body>
					<tr>
						<td>店铺id</td>
						<td>{{merchantDetail.merchantId}}</td>
					</tr>
					<tr>
						<td>店铺名称</td>
						<td>{{merchantDetail.name}}
							<span style="width:38%;display:inline-block;text-align: right;" v-if="merchantDetail.merchantFavoriteStatus == 2">
								<a href="javascript:void(0);" @click="favoriteMerchant(merchantDetail.merchantId, 1)"><i class="fa fa-plus"></i>收藏店铺</a>
							</span>
							<span style="width:38%;display:inline-block;text-align: right;" v-if="merchantDetail.merchantFavoriteStatus == 1">
								<a href="javascript:void(0);" style="color:#1ab394;" @click="favoriteMerchant(merchantDetail.merchantId, 2)"><i class="fa fa-check"></i>已收藏店铺</a>
							</span>
						</td>
					</tr>
					<tr>
						<td>店铺地址</td>
						<td>{{merchantDetail.address}}</td>
					</tr>
					<tr>
						<td>店铺图片</td>
						<td><img width="60px" height="60px" :src="merchantDetail.image" onclick="$.ws.gShowImg(this.src)"></td>
					</tr>
					<tr>
						<td>店铺描述</td>
						<td>{{merchantDetail.desc}}</td>
					</tr>
					<tr>
						<td>联系电话</td>
						<td>{{merchantDetail.contact}}</td>
					</tr>
					<tr>
						<td>店铺状态</td>
						<td>
							<select name="status" :value="merchantDetail.status" class="form-control" th:disabled="disabled">
								<option :selected="merchantDetail.status == 0">已关闭</option>
								<option :selected="merchantDetail.status == 1">营业中</option>
								<option :selected="merchantDetail.status == 2">暂停营业</option>
								<option :selected="merchantDetail.status == 3">已打烊</option>
							</select>
						</td>
					</tr>
				</body>
			</table>
		</div>

		<div id="goodsListDiv" style="width:100%;height:380px;margin-top:5px;padding-left:60px;border:1px solid blue;overflow-y: auto;">
			<p>商品列表</p>
			<div class="goodsDiv" v-for="(goodsDetail,index) in goodsList" @mouseenter="mouseEnter(index)" @mouseleave="mouseLeave(index)">
				<div style="width:184px;height:188px;cursor: pointer;" @click="showGoodsDetail(goodsDetail.id)">
					<img :src="goodsDetail.backImage" style="width:100%;height:100%;">
				</div>
				<div style="width:100%;height:20px;">
					<div style="width:70%;height:100%;float:left;text-align: left;overflow: hidden;">
						<p>{{goodsDetail.name}}</p>
					</div>
					<div style="width:29%;height:100%;float:right;text-align: right;">
						<p style="text-align: right"><i class="fa fa-location-arrow"></i>{{goodsDetail.place}}</p>
					</div>
				</div>
				<div style="width:100%;height:30px;">
					<div style="width:50%;float:left;text-align: left;">
						<span style="font-weight: bold;color: red;font-size: 18px;">￥{{goodsDetail.salePrice}}</span>&nbsp;<span style="text-decoration:line-through;color:grey;">￥{{goodsDetail.originalPrice}}</span>
					</div>
					<div style="width:50%;float:right;">
						<button class="btn btn-sm btn-danger"><i class="fa fa-shopping-cart"></i>加入购物车</button>
					</div>
				</div>

				<div style="height:25px;margin-top: 5px;font-size: 17px;">
					<p><i class="fa fa-home"></i><a :href="'/shop/shoppingCenter/merchantDetail.page?merchantId='+goodsDetail.merchantId" target="_blank">{{goodsDetail.merchantName}}</a></p>
				</div>
				<hr/>
				<div>
                    <span style="width:49%;display:inline-block;text-align: left;">
                        库存 {{goodsDetail.stockNum}}
                    </span>
					<span style="width:49%;display:inline-block;text-align: right;">
                        月销 {{goodsDetail.saleNumber}}
                    </span>
				</div>
			</div>
		</div>

		<div id="guessLikeDiv" style="width:100%;height:400px;margin-top:5px;padding-left:60px;border:1px solid green;overflow-x: auto;">
			<p>猜你喜欢</p>
		</div>
	</div>
	<th:block th:include="common :: footer"></th:block>
</body>
	<script>
		var app = new Vue({
			el: '#mainDiv',
			data: {
				merchantDetail: {},
				goodsList: {},
			},
			methods: {
				queryMerchantDetail: function(merchantId){
					$.ajax({
						url : "/shop/shoppingCenter/merchantDetail",
						type : "get",
						data : {
							'merchantId' : $("#merchantId").val(),
						},
						success : function(result) {
							if (result.code == 1) {
								app.merchantDetail = result.data;
							}
						}
					});
				},
				// 商品列表
				queryGoodsList: function () {
					$.ajax({
						type: "GET",
						url: "/shop/shoppingCenter/queryGoodsListByMerchantId",
						data: {
							"merchantId":$("#merchantId").val()
						},
						success: function (result) {
							if (result.code == 1) {
								app.goodsList = result.data;
							}
						}
					});
				},
				mouseEnter: function (index) {
					$("#goodsListDiv").children("div").eq(index).css("border", '');
					$("#goodsListDiv").children("div").eq(index).addClass("selected");
				},
				mouseLeave: function (index) {
					$("#goodsListDiv").children("div").eq(index).removeClass("selected");
					$("#goodsListDiv").children("div").eq(index).css("border", '1px solid grey');
				},
				// 单击进入商品详情页
				showGoodsDetail : function (goodsPkId) {
					layer.open({
						type: 2,
						title: '商品详情页',
						shadeClose: true,
						shade: 0.2,
						area: ['860px', '680px'],
						anim: 1,
						content: '/shop/shoppingCenter/goodsDetail.page?goodsPkId='+goodsPkId
					});
				},
				favoriteMerchant : function (merchantId, status) {
					// 收藏店铺
					var that = this;
					$.ajax({
						type: "POST",
						url: "/shop/spFavorite/favoriteMerchant",
						data: {
							'merchantId':merchantId,
							'status':status,
						},
						success: function (result) {
							layer.msg(result.msg);
							that.queryMerchantDetail();
						}
					});
				},
			},
			created: function () {
				this.queryMerchantDetail();
				this.queryGoodsList();
			}
		});
	</script>
</html>
