<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
	<th:block th:include="common :: header"></th:block>

	<style>
		#mainDiv {
			width: 100%;
			height: 100%;
		}

		table {
			margin:5px auto;
		}

		table body th,td{
			padding: 10px;
		}
	</style>
<body class="gray-bg">
	<input type="hidden" id="merchantId" th:value="${merchantId}">
	<div id="mainDiv">
		<div id="topDiv" style="width:100%;height:330px;">
			<table border="1">
				<thead>
					<th width="120px;"></th>
					<th width="300px;"></th>
				</thead>
				<body>
					<tr>
						<td>店铺id</td>
						<td>{{merchantDetail.merchantId}}</td>
					</tr>
					<tr>
						<td>店铺名称</td>
						<td>{{merchantDetail.name}}</td>
					</tr>
					<tr>
						<td>店铺地址</td>
						<td>{{merchantDetail.address}}</td>
					</tr>
					<tr>
						<td>店铺图片</td>
						<td><img width="60px" height="60px" :src="merchantDetail.image" onclick="$.ws.gShowImg(this.src)"></td>
					</tr>
					<tr>
						<td>店铺描述</td>
						<td>{{merchantDetail.desc}}</td>
					</tr>
					<tr>
						<td>联系电话</td>
						<td>{{merchantDetail.contact}}</td>
					</tr>
					<tr>
						<td>店铺状态</td>
						<td>
							<select name="status" :value="merchantDetail.status" class="form-control" th:disabled="disabled">
								<option :selected="merchantDetail.status == 0">已关闭</option>
								<option :selected="merchantDetail.status == 1">营业中</option>
								<option :selected="merchantDetail.status == 2">暂停营业</option>
								<option :selected="merchantDetail.status == 3">已打烊</option>
							</select>
						</td>
					</tr>
				</body>
			</table>
		</div>

		<div id="goodsListDiv" style="width:100%;height:400px;margin-top:5px;border:1px solid blue;overflow-y: auto;">
			<p>商品列表</p>
		</div>

		<div id="guessLikeDiv" style="width:100%;height:400px;margin-top:5px;border:1px solid green;overflow-x: auto;">
			<p>猜你喜欢</p>
		</div>
	</div>
	<th:block th:include="common :: footer"></th:block>
</body>
	<script>
		var app = new Vue({
			el: '#mainDiv',
			data: {
				merchantDetail: {},
			},
			methods: {
				queryMerchantDetail: function(merchantId){
					$.ajax({
						url : "/shop/shoppingCenter/merchantDetail",
						type : "get",
						data : {
							'merchantId' : $("#merchantId").val(),
						},
						success : function(res) {
							if (res.code == 1) {
								app.merchantDetail = res.data;
							}
						}
					});
				}
			},
			created: function () {
				this.queryMerchantDetail();
			}
		});
	</script>
</html>
