<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <th:block th:include="common :: header"></th:block>
    <meta charset="UTF-8">
    <title>我的订单</title>

    <style>
        #mainDiv {
            width: 100%;
            height: 100%;
            padding: 10px 30px 10px 30px;
        }
    </style>
</head>
<body>
    <div id="mainDiv">
        <div style="width:100%;height:550px;overflow-y: auto;border: 1px solid grey;">
            <div v-for="(orderInfo,index) in orderList" style="width: 100%;height:auto;border:1px solid grey;margin-bottom: 10px;padding: 5px;">
                <div style="width: 100%;height:30px;font-weight: bold;font-size: 15px;">
                    <div style="width: 450px;height:30px;float:left;">
                        订单{{index+1}}：{{orderInfo.mainOrder.orderNo}}
                    </div>
                    <div style="width: 220px;height:30px;float:left;">
                        总原价：￥{{toFixedNumber(orderInfo.mainOrder.totalPrice)}}
                    </div>
                    <div style="width: 230px;height:30px;float:left;">
                        总支付价格：￥{{toFixedNumber(orderInfo.mainOrder.payPrice)}}
                    </div>
                    <div v-if="orderInfo.mainOrder.cancelStatus != 6" style="width: 180px;height:30px;float:left;">
                        支付状态：<span v-text="orderInfo.mainOrder.payStatus == 1 ? '待支付' : '已支付'"></span>
                    </div>
                    <div v-if="orderInfo.mainOrder.payStatus != 1" style="width: 180px;height: 30px;float: left;">
                        物流状态：<span v-text="orderInfo.mainOrder.logisticsStatus == 3 ? '未发货' : '已发货'"></span>
                    </div>
                    <div v-if="orderInfo.mainOrder.payStatus == 1" style="width: 180px;height: 30px;float: left;">
                        取消状态：<span v-text="orderInfo.mainOrder.cancelStatus == 5 ? '未取消' : '已取消'"></span>
                    </div>
                    <div style="width: 200px;height:30px;float:left;">
                        <button v-if="orderInfo.mainOrder.status == 1" @click="payNow(orderInfo.mainOrder.orderNo)">去支付</button>&nbsp;&nbsp;&nbsp;
                        <button v-if="orderInfo.mainOrder.status == 1" @click="cancelOrder(orderInfo.mainOrder.orderNo)">取消订单</button>
                    </div>
                </div>
                <div v-for="subOrder in orderInfo.subOrderList" style="width:100%;height:50px;margin-bottom:5px;padding-left:30px;border-top:1px solid grey;">
                    <div style="width: 60px;height:50px;float:left;margin-right: 10px;">
                        <img :src="subOrder.backImage" width="100%" height="80%" style="margin-top: 10px;">
                    </div>
                    <div style="width: 100px;height:40px;float:left;margin-right: 10px;padding-top: 15px;text-align: center;">
                        {{subOrder.name}}
                    </div>
                    <div style="width: 100px;height:40px;float:left;margin-right: 10px;padding-top: 15px;">
                        X{{subOrder.goodsCount}}
                    </div>
                    <div style="width: 150px;height:40px;float:left;margin-right: 10px;padding-top: 15px;">
                        <span style="text-decoration: line-through;color:grey;">￥{{toFixedNumber(subOrder.originalPrice)}}</span> <span>￥{{toFixedNumber(subOrder.salePrice)}}</span>
                    </div>
                    <div style="width: 150px;height:40px;float:left;margin-right: 10px;padding-top: 15px;">
                        <span style="text-decoration: line-through;color:grey;">￥{{toFixedNumber(subOrder.totalOriginalPrice)}}</span> <span>￥{{toFixedNumber(subOrder.totalPayPrice)}}</span>
                    </div>
                    <div style="width: 200px;height:40px;float:left;margin-right: 10px;padding-top: 15px;">
                        {{subOrder.orderNo}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="common :: footer"></th:block>
</body>
    <script>
        var app = new Vue({
            el: '#mainDiv',
            data: {
                orderList : [],  //订单数据
            },
            methods: {
                // 我的订单列表
                queryMyOrderList : function(){
                    $.ajax({
                        type: "GET",
                        url: "/shop/shoppingCenter/queryMyOrderList",
                        success: function (result) {
                            if (result.code == 1) {
                                app.orderList = result.data;
                            }
                        }
                    });
                },
                // 立即支付
                payNow : function(orderNo) {
                    //跳转到支付页面
                    layer.open({
                        type : 2,
                        title : '支付页面',
                        maxmin : true,
                        shadeClose : false,//点击遮罩关闭层
                        area : [ '800px', '620px' ],
                        content : '/shop/shoppingCenter/spShoppingPay.page?orderNo='+orderNo
                    });
                },
                // 取消订单
                cancelOrder : function(orderNo) {
                    var that = this;
                    layer.confirm('确定要删除选中的记录？', {
                            btn: ['确定', '取消']
                        }, function () {
                            $.ajax({
                                type: "POST",
                                url: "/shop/shoppingCenter/cancelOrder",
                                data: {
                                    'parentOrderNo': orderNo,
                                },
                                success: function (result) {
                                    if (result.code == 1) {
                                        layer.msg(result.msg);
                                    } else {
                                        layer.alert(result.data);
                                    }
                                    that.queryMyOrderList();
                                }
                            });
                    })
                },
                toFixedNumber : function (num) {
                    return num.toFixed(2);
                }
            },
            created : function() {
                this.queryMyOrderList();
            }
        });
    </script>
</html>