<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <th:block th:include="common :: header"></th:block>
  <meta charset="UTF-8">
  <title>我的收藏</title>
    
    <style>
        #mainDiv {
            width: 100%;
            height: 100%;
            padding: 25px 60px 10px 60px;
        }

        .merchantDiv {
            width:226px;
            height:290px;
            padding:10px;
            margin-right:5px;
            margin-bottom: 5px;
            border: 1px solid grey;
            display: inline-block;
        }
        
        .goodsDiv {
            width:226px;
            height:310px;
            padding:0 10px 0 10px;
            margin-right:5px;
            margin-bottom: 5px;
            border: 1px solid grey;
            text-align: center;
            display: inline-block;
        }

        .goodsDiv p {
            text-align: left;
        }
    </style>
</head>
<body>
    <div id="mainDiv">
        <p style="text-align: left;padding-left: 20px;">我收藏的店铺({{Object.keys(favoriteDataList.merchantList).length}})</p>
        <div id="merchantFavoriteDiv" style="width: 100%;height:320px;padding-left:10px;overflow-x: auto;overflow-y: hidden;white-space:nowrap;">
			<div class="merchantDiv" v-for="(merchantDetail,index) in favoriteDataList.merchantList">
				<div style="width:100%;height:188px;cursor: pointer;" >
					<img :src="merchantDetail.image" style="width:100%;height:100%;">
				</div>

                <div style="width:100%;height:20px;text-align: left;overflow: hidden;">
                    <p><i class="fa fa-home"></i><a :href="'/shop/shoppingCenter/merchantDetail.page?merchantId='+merchantDetail.merchantId" target="_blank">&nbsp;店铺名：{{merchantDetail.name}}</a></p>
                </div>
                <div style="width:100%;height:20px;text-align: left;overflow: hidden;">
                    <p><i class="fa fa-location-arrow"></i>&nbsp;地址：{{merchantDetail.address}}</p>
                </div>
                
                <div style="width:100%;height:20px;text-align: left;overflow: hidden;">
                    <p><i class="fa fa-phone"></i>&nbsp;联系电话：{{merchantDetail.contact}}</p>
                </div>
                
                <div style="width:100%;height:20px;text-align: left;">
                    <p v-if="merchantDetail.status == 0"><i class="fa fa-star"></i>&nbsp;店铺状态： 已关闭</p>
                    <p v-if="merchantDetail.status == 1"><i class="fa fa-star"></i>&nbsp;店铺状态： 营业中</p>
                    <p v-if="merchantDetail.status == 2"><i class="fa fa-star"></i>&nbsp;店铺状态： 暂停营业</p>
                    <p v-if="merchantDetail.status == 3"><i class="fa fa-star"></i>&nbsp;店铺状态： 已打烊</p>
                </div>
			</div>
        </div>
        
        <p style="text-align: left;padding-left: 20px;">我收藏的商品({{Object.keys(favoriteDataList.goodsList).length}})</p>
        <div id="goodsFavoriteDiv" style="width: 100%;height:340px;overflow-x: scroll;overflow-y: hidden;white-space:nowrap;padding-left:10px;">
			<div class="goodsDiv" v-for="(goodsDetail,index) in favoriteDataList.goodsList">
				<div style="width:100%;height:188px;padding-top:10px;cursor: pointer;" @click="showGoodsDetail(goodsDetail.id)">
					<img :src="goodsDetail.backImage" style="width:100%;height:100%;">
                    <img v-if="goodsDetail.stockNum<=0" src="/img/shop/shouqing.jpg" style="width:100px;height:100px;position: relative;left:-150px;border-radius:50px;">
				</div>
				<div style="width:100%;height:20px;">
					<div style="width:70%;height:100%;float:left;text-align: left;overflow: hidden;">
						<p>{{goodsDetail.name}}</p>
					</div>
					<div style="width:29%;height:100%;float:right;text-align: right;">
						<p style="text-align: right"><i class="fa fa-location-arrow"></i>{{goodsDetail.place}}</p>
					</div>
				</div>
				<div style="width:100%;height:30px;margin-bottom:5px;">
					<div style="width:50%;float:left;text-align: left;">
						<span style="font-weight: bold;color: red;font-size: 18px;">￥{{goodsDetail.salePriceStr}}</span>&nbsp;<span style="text-decoration:line-through;color:grey;">￥{{goodsDetail.originalPriceStr}}</span>
					</div>
					<div style="width:18%;float:right;">
						<button style="width: 40px;" class="btn btn-sm btn-danger" @click="addToShoppingCart(goodsDetail.goodsId, 1)" :disabled="goodsDetail.stockNum <=0"><i class="fa fa-shopping-cart"></i></button>
					</div>
				</div>
    
                <div style="height:25px;margin-top: 5px;font-size: 15px;border-bottom: 1px solid lightgrey;">
                    <p><i class="fa fa-home"></i><a :href="'/shop/shoppingCenter/merchantDetail.page?merchantId='+goodsDetail.merchantId" target="_blank">{{goodsDetail.merchantName}}</a></p>
                </div>
                
				<div style="height:25px;margin-top:15px;">
                    <span style="width:49%;display:inline-block;text-align: left;">
                        库存 {{goodsDetail.stockNum}}
                    </span>
					<span style="width:49%;display:inline-block;text-align: right;">
                        月销 {{goodsDetail.saleNumber}}
                    </span>
				</div>
			</div>
        </div>
    </div>
  <th:block th:include="common :: footer"></th:block>
</body>
    <script>
       var app = new Vue({
           el: '#mainDiv',
           data: {
               favoriteDataList:[],
               goodsList:[],
               merchantList:[],
           },
           methods: {
               queryFavoriteList: function () {
                   // 查询商品列表
                   var loadIndex = layer.load(1, {
                       shade: [0.1,'#fff'] //0.1透明度的白色背景
                   });
                   $.ajax({
                       type: "GET",
                       url: "/shop/shoppingCenter/queryFavoriteSubjectList",
                       success: function (result) {
                           layer.close(loadIndex);
                           if (result.code == 1) {
                               app.favoriteDataList = result.data;
                           }
                       }
                   });
               },
               // 单击进入商品详情页
               showGoodsDetail : function (goodsPkId) {
                   layer.open({
                       type: 2,
                       title: '商品详情页',
                       shadeClose: false,
                       shade: 0.2,
                       area: ['900px', '620px'],
                       anim: 1,
                       content: '/shop/shoppingCenter/goodsDetail.page?goodsPkId='+goodsPkId
                   });
               },
               // 加入购物车
               addToShoppingCart : function (goodsId, goodsCount) {
                   $.ajax({
                       type: "POST",
                       url: "/shop/spShoppingCart/addToShoppingCart",
                       data: {
                           'goodsId':goodsId,
                           'goodsCount':goodsCount,
                       },
                       success: function (result) {
                           layer.msg("加入成功");
                       }
                   });
               },
           },
           created: function () {
               this.queryFavoriteList();
           }
       });
    </script>
</html>