<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <th:block th:include="common :: header"></th:block>
  <meta charset="UTF-8">
  <title>我的购物车</title>
</head>
<body>
  <div id="mainDiv" style="width:100%;height:100%;overflow-y:auto;padding: 20px 100px 30px 100px;">
      <div style="width:100%;height:30px;background-color: #0d8ddb;font-size:18px;">
          <div style="width:65px;height:100%;float:left;border-right:1px solid lightblue;text-align: left;padding-left: 6px;">
              <input type="checkbox" v-model="selectAllFlag" @click="selectAll()">&nbsp;全选
          </div>
          <div style="width:200px;height:100%;float:left;border-right:1px solid lightblue;text-align: center;">
              封面
          </div>
          <div style="width:20%;height:100%;float:left;border-right:1px solid lightblue;text-align: center;">
              商品信息
          </div>
          <div style="width:20%;height:100%;float:left;border-right:1px solid lightblue;text-align: center;">
              原价 / 单价
          </div>
          <div style="width:10%;height:100%;float:left;border-right:1px solid lightblue;text-align: center;">
              数量
          </div>
          <div style="width:15%;height:100%;float:left;border-right:1px solid lightblue;text-align: center;">
              总价
          </div>
          <div style="width:calc(33% - 265px);height:100%;float:left;text-align: center;">
              操作
          </div>
      </div>
        <div v-for="(cartObj,index) in shoppingCartList" :key="cartObj.id" style="width:100%;height:120px;border:1px solid grey;padding:7px 0 7px 0;">
            <div style="width:65px;float:left;padding-top:40px;padding-left: 7px;">
              <input type="checkbox" v-model="selectedGoodsIndexArr" :value="index" @click="computeGoodsPrice()" :disabled="cartObj.stockNum<=0">
            </div>
            
            <div style="width:200px;height:100%;float:left;text-align: center;">
                <img :src="cartObj.backImage" style="width:calc(100% - 20px);height:100%;">
                <img v-if="cartObj.stockNum<=0" src="/img/shop/shouqing.jpg" style="width:100px;height:100px;position: relative;left:6px;top:-102px;border-radius:50px;">
            </div>
            <div style="width:20%;height:100%;float:left;padding: 0 0 0 6px;">
                <p>商品名称：<a style="color: blue;" @click="showGoodsDetail(cartObj.id)">{{cartObj.name}}</a></p>
                <p>商品产地：{{cartObj.place}}</p>
                <p>商品描述：{{cartObj.brief}}</p>
                <p>商品原价：￥ {{cartObj.originalPriceStr}}</p>
                <p>商品库存：{{cartObj.stockNum}}</p>
                <p>商家信息：<a :href="'/shop/shoppingCenter/merchantDetail.page?merchantId='+cartObj.merchantId" target="_blank"><i class="fa fa-home"></i>{{cartObj.merchantName}}</a></p>
            </div>
            
            <div style="width:20%;height:100%;float:left;text-align:center;padding-top:30px;margin-right:2px;border:1px solid grey;">
                <span style="text-decoration:line-through;color:grey;font-size: 18px;">￥{{cartObj.originalPriceStr}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="font-weight: bold;color: red;font-size: 22px;">￥{{cartObj.salePriceStr}}</span>
            </div>
            <div style="width:10%;height:100%;float:left;text-align:center;padding-top:40px;margin-right:2px;border:1px solid grey;">
                <button style="width:20px;" @click="minusGoodsCount(index)">-</button>
                <input :value="cartObj.goodsCount" readonly style="width:25px;text-align: center;">
                <button style="width:20px;" @click="addGoodsCount(index)">+</button>
            </div>
            <div style="width:15%;height:100%;float:left;text-align:center;padding-top:30px;font-size:25px;margin-right:2px;border:1px solid grey;">
                <span>￥{{toFixedNumber(cartObj.salePrice * cartObj.goodsCount)}}</span>
            </div>
            <div style="width:calc(33% - 265px);height:100%;float:left;text-align:center;padding-top:30px;font-size:25px;border:1px solid grey;">
                <button class="btn btn-danger" @click="removeShoopingCartObj(index, cartObj.shoppingCartPkId)"><i class="fa fa-trash"></i>移除</button>
            </div>
        </div>
        <div style="width:100%;height:60px;font-weight: bold;">
            <div style="width:10%;height:60px;float:left;text-align: left;font-size: 30px;padding-left: 6px;">
                <button class="btn btn-danger" @click="removeAllShoopingCartObj()">一键清空</button>
            </div>
            <div style="width:87%;height:60px;float:right;text-align: right;font-size: 30px;">
                <span style="text-decoration:line-through;color:grey;font-size:22px;">{{toFixedNumber(totalOriginalPrice)}}元</span>
                <span style="font-size: 10px;color:blue;">(已为您节省{{toFixedNumber(totalOriginalPrice-totalSalePrice)}}元)</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span>{{toFixedNumber(totalSalePrice)}}元</span>
                <button class="btn btn-success" @click="orderNow()">立即下单</button>
            </div>
        </div>
  </div>
    <th:block th:include="common :: footer"></th:block>
</body>
  <script>
      var app = new Vue({
          el: '#mainDiv',
          data: {
              shoppingCartList:[],       //购物车商品列表
              selectedGoodsIndexArr:[],  // 已选中的商品索引列表
              totalOriginalPrice: 0,     //总原价
              totalSalePrice: 0,         //总售价
              selectAllFlag: false,      // 全选标志 ture:选中  false:未选中
          },
          methods: {
              // 查询我的购物车列表
              queryShoppingCartList: function () {
                  var that = this;
                  // 查询商品列表
                  var loadIndex = layer.load(1, {
                      shade: [0.1,'#fff'] //0.1透明度的白色背景
                  });
                  $.ajax({
                      type: "GET",
                      url: "/shop/shoppingCenter/queryShoppingCartList",
                      success: function (result) {
                          layer.close(loadIndex);
                          if (result.code == 1) {
                              app.shoppingCartList = result.data;
                              that.computeGoodsPrice();
                          }
                      }
                  });
              },
              // 删除购物车商品
              removeShoopingCartObj: function(index, cartobjId) {
                  var that = this;
                  var conIndex = layer.confirm("确认要删除吗?", {
                          btn : [ '确定', '取消' ]
                      }, function() {
                          $.ajax({
                              type: "POST",
                              url: "/shop/spShoppingCart/remove",
                              data: {
                                  'id': cartobjId,
                              },
                              success: function (result) {
                                  if (result.code == 1) {
                                      var iindex = that.selectedGoodsIndexArr.indexOf(index);
                                      if (iindex != -1) {
                                          that.selectedGoodsIndexArr.splice(iindex, 1);
                                      }
                                      that.queryShoppingCartList();
                                  }
                                  layer.close(conIndex);
                              }
                          });
                  });
              },
              // 移除购物车所有物品
              removeAllShoopingCartObj : function(){
                  var that = this;
                  var conIndex = layer.confirm("确认要全部删除吗?", {
                      btn : [ '确定', '取消' ]
                  }, function() {
                      $.ajax({
                          type: "POST",
                          url: "/shop/spShoppingCart/removeAll",
                          success: function (result) {
                              if (result.code == 1) {
                                  app.selectedGoodsIndexArr = [];
                                  app.totalOriginalPrice = 0;
                                  app.totalSalePrice = 0;
                                  app.selectAllFlag = false;
                                  that.queryShoppingCartList();
                              }
                              layer.close(conIndex);
                          }
                      });
                  });
              },
              // 重新计算总价
              computeGoodsPrice : function() {
                  var that = this;
                  var totalSalePriceTmp = 0;
                  var totalOriginalPriceTmp = 0;
                  setTimeout(function(){
                      for (var i=0;i<that.selectedGoodsIndexArr.length;i++){
                          totalSalePriceTmp += app.shoppingCartList[that.selectedGoodsIndexArr[i]].salePrice * app.shoppingCartList[that.selectedGoodsIndexArr[i]].goodsCount;
                          totalOriginalPriceTmp += app.shoppingCartList[that.selectedGoodsIndexArr[i]].originalPrice * app.shoppingCartList[that.selectedGoodsIndexArr[i]].goodsCount;
                      }
                      app.totalSalePrice = totalSalePriceTmp;
                      app.totalOriginalPrice = totalOriginalPriceTmp;
                  }, 10);
              },
              // 商品详情页
              showGoodsDetail : function (goodsPkId) {
                  layer.open({
                      type: 2,
                      title: '商品详情页',
                      shadeClose: false,
                      shade: 0.2,
                      area: ['860px', '680px'],
                      anim: 5,
                      content: '/shop/shoppingCenter/goodsDetail.page?goodsPkId='+goodsPkId
                  });
              },
              // 全选事件
              selectAll : function () {
                  var that = this;
                  setTimeout(function(){
                      app.selectedGoodsIndexArr = [];
                      if (app.selectAllFlag) {
                          for (var i=0;i<app.shoppingCartList.length;i++) {
                              if (app.shoppingCartList[i].stockNum>0) {
                                  app.selectedGoodsIndexArr.push(i);
                              }
                          }
                      }
                      that.computeGoodsPrice();
                  }, 50);
              },
              // 商品数量减少
              minusGoodsCount : function(index) {
                  var that = this;
                  var goodsDetail = app.shoppingCartList[index];
                  if (goodsDetail.goodsCount <= 1) {
                      layer.alert("数量不能小于0");
                      return;
                  }
                  $.ajax({
                      type: "POST",
                      url: "/shop/shoppingCenter/minusShoppingCartGoodsCount",
                      data : {
                          'cartPkgId':goodsDetail.shoppingCartPkId
                      },
                      success: function (result) {
                          if (result.code == 1) {
                              app.shoppingCartList[index].goodsCount = app.shoppingCartList[index].goodsCount-1;
                              that.computeGoodsPrice();
                          }
                      }
                  });
              },
              // 商品数量增加
              addGoodsCount : function(index) {
                  var that = this;
                  var goodsDetail = app.shoppingCartList[index];
                  if (goodsDetail.goodsCount >= goodsDetail.stockNum) {
                      layer.alert("数量已超过库存数");
                      return;
                  }
                  $.ajax({
                      type: "POST",
                      url: "/shop/shoppingCenter/addShoppingCartGoodsCount",
                      data : {
                          'cartPkgId':goodsDetail.shoppingCartPkId
                      },
                      success: function (result) {
                          if (result.code == 1) {
                              app.shoppingCartList[index].goodsCount = app.shoppingCartList[index].goodsCount+1;
                              that.computeGoodsPrice();
                          }
                      }
                  });
              },
              // 立即下单
              orderNow : function(){
                  var that = this;
                  if (app.selectedGoodsIndexArr.length == 0) {
                      layer.alert("请选择你要下单的物品!");
                      return;
                  }
                  var goodsIdArr = [];
                  for (var i=0;i<app.selectedGoodsIndexArr.length;i++) {
                      goodsIdArr.push(app.shoppingCartList[app.selectedGoodsIndexArr[i]].goodsId);
                  }

                  $.ajax({
                      type: "POST",
                      url: "/shop/shoppingCenter/createCartOrder",
                      data : {
                          'goodsIdArr':goodsIdArr,
                      },
                      success: function (result) {
                          if (result.code == 1) {
                              app.selectedGoodsIndexArr = [];
                              app.totalOriginalPrice = 0;
                              app.totalSalePrice = 0;
                              app.selectAllFlag = false;
                              that.queryShoppingCartList();
                              setTimeout(function () {
                                  //跳转到支付页面
                                  layer.open({
                                      type : 2,
                                      title : '支付页面',
                                      maxmin : true,
                                      shadeClose : false,//点击遮罩关闭层
                                      area : [ '800px', '620px' ],
                                      content : '/shop/shoppingCenter/spShoppingPay.page?orderNo='+result.data
                                  });
                              },50);
                          }
                      }
                  });
              },
              toFixedNumber : function (num) {
                  return num.toFixed(2);
              }
          },
          created: function () {
              this.queryShoppingCartList();
          }
      });
  </script>
</html>