<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <th:block th:include="common :: header"></th:block>
    <meta charset="UTF-8">
    <title>超市购物</title>

    <style>
        #mainDiv {
            width: 100%;
            height:100%;
            padding:15px 67px 5px 67px;
            overflow-y: hidden;
        }

        #searchDiv {
            width:100%;
            height:97px;
            padding: 7px 30px 0 30px;
            background-color: #94c9d469;
        }

        #innerDiv {
            width:100%;
            height:calc(100% - 120px);
            overflow-y: auto;
            border:1px solid lightgrey;
            padding:10px;
        }

        .goodsDiv {
            width:226px;
            height:310px;
            float:left;
            padding:10px 10px 0 10px;
            margin-right:5px;
            margin-bottom: 12px;
            border: 1px solid grey;
            text-align: center;
        }
        .goodsDiv p {
            text-align: left;
        }

        .selected {
            box-shadow: 4px 4px 5px #888888;
            z-index:2;
        }
        p {
            margin-top:5px;
        }

        .ibox-content {
            padding: 0;
            border: 0;
            margin-bottom: 20px;
        }

    </style>
</head>
<body>
    <div id="mainDiv">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-8" style="text-align: right;">
                                    <a href="/shop/shoppingCenter/spMyFavorite.page" target="_blank"><i class="fa fa-star"></i>我的收藏<span class="layui-badge">{{shoppingCenterData.favoriteNum}}</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/shop/shoppingCenter/spMyShoppingCart.page" target="_blank"><i class="fa fa-cart-plus"></i>我的购物车</a><span class="layui-badge">{{shoppingCenterData.shoppingCartNum}}</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/shop/shoppingCenter/spMyOrder.page" target="_blank"><i class="fa fa-envelope"></i>我的订单<span class="layui-badge">{{shoppingCenterData.orderNum}}</span></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon">商品名称</div>
                                        <input class="form-control" id="goodsName" style="width: 100%;">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon">店铺名称</div>
                                        <input class="form-control" id="merchantName" style="width: 100%;">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon">商品分类</div>
                                        <select id="goodsTypeSelect" class="form-control" style="width: 100%;">
                                            <option value="">--请选择--</option>
                                            <option v-for="goodsType in goodsTypeListData" :value="goodsType.typeId">{{goodsType.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon">价格排序</div>
                                        <div class="form-control">
                                            <span>升序: </span><input type="radio" v-model="priceSort" value="true">&nbsp;&nbsp;
                                            <span>降序: </span><input type="radio" v-model="priceSort" value="false">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon">销量排序</div>
                                        <div class="form-control">
                                            <span>升序: </span><input type="radio" v-model="saleNumberSort" value="true">&nbsp;&nbsp;
                                            <span>降序: </span><input type="radio" v-model="saleNumberSort" value="false">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="text-align: right;">
                                    <button @click="queryGoodsList()" class="btn btn-sm btn-primary" style="margin-right: 10px;">搜索</button>
                                    <button @click="resetSearch()" class="btn btn-sm btn-default">重置</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="innerDiv">
            <div class="goodsDiv" v-for="(goodsDetail,index) in shoppingCenterData.goodsList" @mouseenter="mouseEnter(index)" @mouseleave="mouseLeave(index)">
                <div style="width:100%;height:178px;cursor: pointer;" @click="showGoodsDetail(goodsDetail.id)">
                    <img :src="goodsDetail.backImage" style="width:170px;height:148px">
                    <img v-if="goodsDetail.stockNum<=0" src="../img/shop/shouqing.jpg" style="width:100px;height:100px;position: relative;top:-140px;border-radius:50px;">
                </div>
                <div style="width:100%;height:25px;">
                    <div style="width:70%;height:100%;float:left;text-align: left;overflow: hidden;">
                        <p>{{goodsDetail.name}}</p>
                    </div>
                    <div style="width:29%;height:100%;float:right;text-align: right;">
                        <p style="text-align: right"><i class="fa fa-location-arrow"></i>{{goodsDetail.place}}</p>
                    </div>
                </div>
                <div style="width:100%;height:30px;">
                    <div style="width:50%;float:left;text-align: left;">
                        <span style="font-weight: bold;color: red;font-size: 16px;">￥{{goodsDetail.salePriceStr}}</span>&nbsp;<span style="text-decoration:line-through;color:grey;">￥{{goodsDetail.originalPriceStr}}</span>
                    </div>
                    <div style="width:18%;float:right;">
                        <button style="width:40px;" class="btn btn-sm btn-danger" @click="addToShoppingCart(goodsDetail.goodsId, 1, goodsDetail.merchantId)" :disabled="goodsDetail.stockNum <=0"><i class="fa fa-shopping-cart"></i></button>
                    </div>
                </div>

                <div style="height:25px;margin-top: 5px;font-size: 15px;border-bottom: 1px solid lightgrey;">
                    <p><i class="fa fa-home"></i><a :href="'/shop/shoppingCenter/merchantDetail.page?merchantId='+goodsDetail.merchantId" target="_blank">{{goodsDetail.merchantName}}</a></p>
                </div>
                <div style="width: 100%;height:20px;margin-top:10px;">
                    <span style="width:49%;display:inline-block;text-align: left;">
                        库存 {{goodsDetail.stockNum}}
                    </span>
                    <span style="width:49%;display:inline-block;text-align: right;">
                        月销 {{goodsDetail.saleNumber}}
                    </span>
                </div>

                <!--收藏标志图标-->
                <div style="width:100%; height:16px;" v-if="goodsDetail.goodsFavoriteStatus == 1">
                    <span style="color: red;" class="glyphicon glyphicon-bookmark"></span>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="common :: footer"></th:block>
</body>

    <script>
        var app = new Vue({
            el: '#mainDiv',
            data: {
                shoppingCenterData : {},
                goodsTypeListData: {},
                priceSort: true,
                saleNumberSort: false,
            },
            methods: {
                // 商品列表
                queryGoodsList: function () {
                    var loadIndex = layer.load(1, {
                        shade: [0.1,'#fff'] //0.1透明度的白色背景
                    });
                    $.ajax({
                        type: "GET",
                        url: "/shop/shoppingCenter/queryGoodsList",
                        data: {
                            'name':$("#goodsName").val(),
                            'merchantName':$("#merchantName").val(),
                            'goodsTypeId':$("#goodsTypeSelect").val(),
                            'priceSort':this.priceSort,
                            'saleNumberSort': this.saleNumberSort,
                        },
                        success: function (result) {
                            layer.close(loadIndex);
                            if (result.code == 1) {
                                app.shoppingCenterData = result.data;
                            }
                        }
                    });
                },
                mouseEnter: function (index) {
                    $("#innerDiv").children("div").eq(index).css("border", '');
                    $("#innerDiv").children("div").eq(index).addClass("selected");
                    $("#innerDiv").children("div").eq(index).children("div").eq(0).children("img").eq(0).animate({width:"100%",height:"100%"});
                },
                mouseLeave: function (index) {
                    $("#innerDiv").children("div").eq(index).removeClass("selected");
                    $("#innerDiv").children("div").eq(index).css("border", '1px solid grey');
                    $("#innerDiv").children("div").eq(index).children("div").eq(0).children("img").eq(0).animate({width:"170px",height:"148px"});
                },
                // 重置按钮
                resetSearch: function () {
                    $("#goodsName").val("");
                    $("#merchantName").val("");
                    $("#goodsTypeSelect").val("");
                    app.priceSort = true;
                    app.saleNumberSort = false;
                    this.queryGoodsList();
                },
                // 单击进入商品详情页
                showGoodsDetail : function (goodsPkId) {
                    layer.open({
                        type: 2,
                        title: '商品详情页',
                        shadeClose: false,
                        shade: 0.2,
                        area: ['900px', '620px'],
                        anim: 5,
                        content: '/shop/shoppingCenter/goodsDetail.page?goodsPkId='+goodsPkId
                    });
                },
                // 加入购物车
                addToShoppingCart : function (goodsId, goodsCount, merchantId) {
                    $.ajax({
                        type: "POST",
                        url: "/shop/spShoppingCart/addToShoppingCart",
                        data: {
                            'goodsId':goodsId,
                            'goodsCount':goodsCount,
                            'merchantId':merchantId,
                        },
                        success: function (result) {
                            layer.msg("加入成功");
                        }
                    });
                },
                // 查询商品类型列表
                queryGoodsTypeList : function () {
                    $.ajax({
                        type: "GET",
                        url: "/shop/shoppingCenter/queryGoodsTypeList",
                        success: function (result) {
                            app.goodsTypeListData = result.data;
                        }
                    });
                }
            },
            created: function () {
                this.queryGoodsList();
                this.queryGoodsTypeList();
            }
        });
    </script>
</html>