<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联系我们</title>
</head>
<body>
    <div style="width:60%;height:100%;margin:0 auto;">
        <p>
            <span>姓名：</span><span>陈xx</span>
        </p>
        <p>
            <span>邮箱：</span><span>547495788@qq.com</span>
        </p>
        <p>
            <span>联系电话：</span><span>159****1545</span>
        </p>
        <p>
            <span>地址：</span><span>江苏省XX市XX区xx小区5栋203室</span>
        </p>
    </div>
</body>
</html>