<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>会话信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui-1.9.11/themes/default/easyui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui-1.9.11/themes/icon.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui-1.9.11/css/default.css}" />
    <script type="text/javascript" th:src="@{/js/easyui-1.9.11/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui-1.9.11/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src='@{/js/easyui-1.9.11/locale/easyui-lang-zh_CN.js}'> </script>

    <style>
        input {
            width:300px;
        }
    </style>
</head>
<body>
<div style="width:100%;height:100%;">
    <div class="easyui-panel"
         style="width:100%;height:100%;padding:10px;background:#fafafa;"
         data-options="iconCls:'icon-save',closable:true,collapsible:true,minimizable:true,maximizable:true">
        <div style="padding:10px 30px;">
            <table cellpadding="1">
                <thead style="background-color: #0c7cd5;">
                    <tr style="height:30px;">
                        <th style="font-size: 16px;font-weight: bold;" width="30%;">键</th>
                        <th style="font-size: 16px;font-weight: bold;" width="60%;">值</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="info : ${session.sessionInfo.jsonObject}" th:if="${not #strings.startsWith(info.key,'json')}">
                        <td th:text="${info.key}" style="font-size: 15px;"></td>
                        <td>
                            <input class="easyui-textbox" type="text" name="name" data-options="required:true" th:value="${info.value}" readonly>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
    <script th:inline="javascript">

    </script>
</html>

