<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: header"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index/footer.css}">
    <th:block th:if="${session.sessionInfo.userName == 'admin'}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/index/leftSerNavi.css}">
    </th:block>
    <th:block th:if="${session.sessionInfo.userName != 'admin'}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/index/leftCliNavi.css}">
    </th:block>

    <title></title>
    <style type="text/css">
        #mainDiv {
            width: 1318px;
            height: 720px;
            margin: 0 auto;
            position: relative;
            border: 1px solid black;
        }

        #headerPage {
            width: 100%;
            height: 7.87%;
        }

        #centerDiv {
            width: 100%;
            height: 85.07%;
        }

        #recentNewsDiv {
            width: 100%;
            height: 3.5%;
            background-color: #bfffea;
        }

        #leftAndRightIframeDiv {
            width: 100%;
            height: 96.5%;
        }

        #leftNaviDiv {
            width: 14%;
            height: 100%;
            float: left;
        }

        #rightIframeDiv {
            width: 86%;
            height: 100%;
            float: left;
            overflow: hidden;
        }

        #footerPage {
            width: 100%;
            height: 7.05%;
        }

        #qrDiv {
            position: fixed;
            right: 5px;
            top: 40px;
            width: 180px;
            height: 180px;
        }

        #qrcodeImg {
            width: 160px;
            height: 160px;
        }

        #musicIframeDiv {
            position: absolute;
            width: 178px;
            height: 118px;
            background: black;
            color: rgb(255%, 255%, 255%);
            display: none;
        }

        #musicIframeHeader {
            background: #ddd;
            cursor: move;
            font-size: 10px;
        }

        .divShadow {
            box-shadow: grey 0 0 10px;
        }

        #adsSpan {
            display: inline-block;
            margin-top: 1px;
        }
    </style>
</head>
<body>
    <div id="mainDiv" class="divShadow">
        <!--头部-->
        <div id="headerPage" align="center">
            <div id="headerDiv" align="center">
                <img id="headBackgroundImg" src="../img/headerX.jpg" hidden>
                <div style="float:left;">
                    <div style="float:left;">
                        <img id='myImg' alt="" width="60" height="100%">
                    </div>
                    <div style="float:left;margin-left:3px;margin-right: 3px;">
                        <div style="height:65%;text-align: left;">
                            <label id="curUser" style="color:blue;font-size:23px;"></label>
                        </div>
                        <div style="height:34%;text-align: left;">
                            <span class="glyphicon glyphicon-user" th:title="#{span.onlinecount.tips}"></span><label
                                id="onlineNum">0</label>&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-tree-deciduous" th:title="#{span.coinnum.tips}"></span><label
                                id="coinNum">0</label>
                        </div>
                    </div>
                </div>

                <!--头部标题-->
                <div id="headerTitleDiv"
                     style="float:left;font-size:20px;width:54%;height:100%;padding-top:13px;display: none;">
                    <label id="titleLabel" style="color:black;">websocket客户端</label>
                </div>

                <!--天气-->
                <div id="weatherDiv" style="float:left;font-size:18px;width:54%;height:100%;padding-top:13px;display: block;">
                    <label id="weatherInfo" style="color:black;"></label>&nbsp;&nbsp;
                    <label id="lastUpdateTime" style="color:black;"></label>&nbsp;&nbsp;
                    <label id="location" style="color:black;"></label>
                </div>

                <!--滚动新闻-->
                <div id="scrollAdDiv" style="float:left;height:100%;overflow:hidden;width:29%;margin-left: 3px;display: none;">
                    <div id="adContentOutDiv" style="height:200%;text-align: left;">
                        <div id="adContentDiv"></div>
                        <div id="adNoContentDiv"></div>
                    </div>
                </div>

                <!--右侧按钮组-->
                <div id="btnDiv" align="right" style="float:right;margin-right:5px;height:100%;">
                    <!--当前时间-->
                    <div style="text-align:right;height:30%;">
                        <span id="curTimeSpan">0000-00-00 00:00:00</span>
                    </div>
                    <div style="height:69%;padding-top:5px;">
                        <select id="percentSelect" class="btn-primary" style="display: inline-block;width:58px;height:28px;margin-right: 10px;">
                            <option value="85">85%</option>
                            <option value="95">95%</option>
                            <option value="100" selected>100%</option>
                            <option value="105">105%</option>
                            <option value="110">110%</option>
                            <option value="140">Max</option>
                        </select>
                        <button id="simpleMusicBtn" onclick="parent.showSimpleMusicPlayer()" class='btn btn-large btn-warning'
                                th:title="#{btn.music.tips}">
                            <span class="glyphicon glyphicon-music"></span>
                        </button>&nbsp;&nbsp;
                        <button id="signBtn" onclick="parent.sign()" class='btn btn-large btn-info'
                                th:title="#{btn.signin.tips}">
                            <span class="glyphicon glyphicon-check"></span>
                        </button>&nbsp;&nbsp;
                        <button id="showQRCodeBtn" onclick="parent.showQRCode()" class='btn btn-large btn-success'
                                th:title="#{btn.qrcode.tips}">
                            <span class="glyphicon glyphicon-qrcode"></span>
                        </button>&nbsp;&nbsp;
                        <button id="setPersonInfoBtn" onclick="parent.setPersonInfoBtn()" class="btn btn-large btn-primary"
                                th:title="#{btn.setting.tips}">
                            <span class="fa fa-cog"></span>
                        </button>&nbsp;&nbsp;
                        <button id="exitBtn" class='btn btn-large btn-danger' onclick="parent.toIndex()"
                                th:title="#{btn.logout.tips}">
                            <span class="glyphicon glyphicon-log-out"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
        <!--中间部分-->
        <div id='centerDiv'>
            <!--滚动消息-->
            <div id="recentNewsDiv">
                <marquee direction="left" scrolldelay="10" scrollamount="7" onMouseOver="this.stop()" onMouseOut="this.start()"><span id="adsSpan"></span></marquee>
            </div>

            <div id="leftAndRightIframeDiv">
                <!--左侧导航栏-->
                <div id="leftNaviDiv">
                    <th:block th:if="${session.sessionInfo.userName == 'admin'}">
                        <div id="leftSerNavi">
                            <img id="leftSerNavBackgroundImg" src="../img/headerY.jpg" hidden>
                            <ul>
                                <!--<li id="wsserverUser.page" class="mouseleftclick">用户管理</li>-->
                                <li id="/zhddkk/wsUsers/wsUsersForAdmin" class="mouseleftclick">
                                    <span class="fa fa-address-book"></span>[[#{li.usermanage.label}]]
                                </li>
                                <li id="../file/musicPlayer.page">
                                    <span class="glyphicon glyphicon-music"></span>[[#{li.music.label}]]
                                </li>
                                <li id="/ws/wsserverChartMonitor.page">
                                    <span class="glyphicon glyphicon-camera"></span>[[#{li.chatmonitor.label}]]
                                    <span id="unreadCountSpan"></span>
                                </li>
                                <li id="/ws/wsclientCircle.page">
                                    <span class="glyphicon glyphicon-globe"></span>[[#{li.circle.label}]]
                                </li>
                                <!--<li id="wsserverChartLog.page">聊天记录管理</li>-->
                                <li id="/zhddkk/wsChatlog">
                                    <span class="glyphicon glyphicon-list-alt"></span>[[#{li.chatlogmanage.label}]]
                                </li>
                                <!--<li id="wsserverOperationLog.page">操作日志管理</li>-->
                                <li id="/zhddkk/wsOperationLog">
                                    <span class="glyphicon glyphicon-list"></span>[[#{li.operlogmanage.label}]]
                                </li>
                                <li id="configurationLi">
                                    <span class="fa fa-cogs"></span>[[#{li.commoncfg.label}]] &gt;&gt;
                                </li>
                                <!--<li id="ad.page">广告发布</li>-->
                                <li id="/zhddkk/wsAds">
                                    <span class="glyphicon glyphicon-edit"></span>[[#{li.publishad.label}]]
                                </li>
                                <li id="/zhddkk/wsFeedback/adminFeedback">
                                    <span class="fa fa-commenting"></span>[[#{li.feedback.label}]]
                                </li>
                                <li id="/ws/wsserverChart.page">
                                    <span class="fa fa-bar-chart"></span>[[#{li.leaderchart.label}]]
                                </li>
                                <li id="/zhddkk/sysTask">
                                    <span class="fa fa-calendar"></span>[[#{li.schedulertask.label}]]
                                </li>
                                <li id="/common/generator">
                                    <span class="glyphicon glyphicon-file"></span>[[#{li.generatecode.label}]]
                                </li>
                                <li id="/zhddkk/wsChatroom">
                                    <span class="fa fa-users"></span>[[#{li.chatroom.label}]]
                                </li>
                                <li id="/shop/shoppingCenter">
                                    <span class="fa fa-shopping-cart"></span>[[#{li.shopping.center.label}]]
                                </li>
                                <li id="../game/gameIndex.page">
                                    <span class="glyphicon glyphicon-subtitles"></span>[[#{li.game.label}]]
                                </li>
                                <li id="../canvas/canvasIndex.page">
                                    <span class="fa fa-gamepad"></span>[[#{li.h5.label}]]
                                </li>
                            </ul>

                            <div id='configurationDiv'>
                                <ul>
                                    <li id="/zhddkk/wsCommon/mgc" th:text="#{li.sensitiveword.label}">敏感词配置</li>
                                    <li id="/zhddkk/wsCommon/zh" th:text="#{li.badword.label}">脏话配置</li>
                                    <li id="/zhddkk/wsCommon/cyy" th:text="#{li.chatword.label}">常用语配置</li>
                                    <li id="/zhddkk/wsCommon/zcwt" th:text="#{li.registerquestion.label}">注册问题配置</li>
                                </ul>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:if="${session.sessionInfo.userName != 'admin'}">
                        <div id="leftCliNavi">
                            <img id="leftCliNavBackgroundImg" src="../img/headerY.jpg" hidden>
                            <ul>
                                <li id="/ws/wsclientChat.page" class="mouseleftclick">
                                    <span class="fa fa-comments"></span>[[#{li.chat.label}]]
                                    <span id="unreadCountSpan"></span>
                                </li>
                                <li id="/file/musicPlayer.page">
                                    <span class="glyphicon glyphicon-music"></span>[[#{li.music.label}]]
                                </li>
                                <!--<li id="addFriends.page">添加好友</li>-->
                                <li id="/zhddkk/wsUsers/wsUsers">
                                    <span class="fa fa-user-plus"></span>[[#{li.addfriend.label}]]
                                </li>
                                <!--<li id="friendsList.page">我的好友</li>-->
                                <li id="/zhddkk/wsFriends">
                                    <span class="fa fa-group"></span>[[#{li.myfriend.label}]]
                                </li>
                                <!--<li id="myApply.page">我的申请记录</li>-->
                                <li id="/zhddkk/wsFriendsApply/myApply">
                                    <span class="glyphicon glyphicon-tag"></span>[[#{li.myapply.label}]]
                                </li>
                                <!--<li id="friendsApply.page">好友申请记录</li>-->
                                <li id="/zhddkk/wsFriendsApply/friendApply">
                                    <span class="glyphicon glyphicon-tags"></span>[[#{li.friendapply.label}]]
                                </li>
                                <li id="/ws/wsclientCircle.page">
                                    <span class="glyphicon glyphicon-globe"></span>[[#{li.circle.label}]]
                                </li>
                                <li id="/zhddkk/wsFeedback/myFeedback">
                                    <span class="fa fa-commenting"></span>[[#{li.feedback.label}]]
                                </li>
                                <li id="/ws/intelAssistant.page">
                                    <span class="fa fa-github-alt"></span>[[#{li.aiassistant.label}]]
                                </li>
                                <li id="/ws/wangyiNews.page">
                                    <span class="glyphicon glyphicon-envelope"></span>[[#{li.wantyinews.label}]]
                                </li>
                                <li id="/zhddkk/wsChatroom">
                                    <span class="fa fa-users"></span>[[#{li.chatroom.label}]]
                                </li>
                                <li id="/shop/shoppingCenter">
                                    <span class="fa fa-shopping-cart"></span>[[#{li.shopping.center.label}]]
                                </li>
                                <li id="/game/gameIndex.page">
                                    <span class="glyphicon glyphicon-subtitles"></span>[[#{li.game.label}]]
                                </li>
                                <li id="/canvas/canvasIndex.page">
                                    <span class="fa fa-gamepad"></span>[[#{li.h5.label}]]
                                </li>
                            </ul>
                        </div>
                    </th:block>
                </div>
    
                <!--右侧子页面-->
                <div id="rightIframeDiv" align="center">
                    <iframe id="iframePage" frameborder="0" width="100%" height="100%"></iframe>
                </div>
            </div>
        </div>
    
        <!--底部-->
        <div id="footerPage" align="center">
            <div id="footDiv" align="center">
                <div style="height:50%;">
                    <div style="float:left;">
                        <label id="cliName">[[#{label.copyright}]]</label>
                        <label id="versionLabel" style='margin-left:10px;color:blue;font-weight:bold;'></label>
                        <a href='javascript:void(0)' onclick='checkUpdate()' style='margin-left:15px;'>
                            <span class="glyphicon glyphicon-sort"></span>&nbsp;[[#{label.checkupdate}]]
                        </a>
                    </div>
                    <div id="copyrightDiv" style="float:right;color:blue;">
                        <ul>
                            <li onclick="showSessionInfo()">
                                <a href="#"><span class="glyphicon glyphicon-info-sign"></span>[[#{a.sessioninfo.label}]]</a>
                            </li>
                            <li onclick="contactAuthor()">
                                <a href="#"><span class="glyphicon glyphicon-phone-alt"></span>[[#{a.contactauthor.label}]]</a>
                            </li>
                            <li onclick="donate()">
                                <a href="#"><span class="fa fa-money"></span>[[#{a.donate.label}]]</a>
                            </li>
                            <li onclick="feedbackUs()">
                                <a href="#"><span class="glyphicon glyphicon-question-sign"></span>[[#{a.feedback.label}]]</a>
                            </li>
                            <li onclick="aboutUs()">
                                <a href="#"><span class="glyphicon glyphicon-user"></span>[[#{a.aboutus.label}]]</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--提示栏 -->
                <div id="statusDiv" align="right">
                    <span id="statusTips"></span>
                </div>
            </div>
        </div>
    </div>
    
    <!--右上角 二维码-->
    <div id="qrDiv" style="display:none">
        <img id="qrcodeImg">
    </div>
    
    <!--左下角 迷你音乐播放器-->
    <div id='musicIframeDiv'>
        <div id='musicIframeHeader'>
            <span style='display:inline-block;width:67%;color: black;font-weight: bold;'>&nbsp;&nbsp;按住我拖动&nbsp;&nbsp;</span>
            <button id='resetMusicIframeDivPosBtn' style='display:inline-block;width:30%;color:black;'>复位</button>
        </div>
        <iframe id="musicIframePage" frameborder="0" width="100%" height="100%" src="../file/musicPlayerSimple.page"></iframe>
    </div>
    
    <!--右下角 广告页面(隐藏) -->
    <div id="adDiv"
         style="position:fixed;bottom:10px;right:10px;width:350px;height:250px;border:3px solid green;background-color:white;over-flow:hidden;display: none;">
        <div id="adBtn" style="style:1px solid red;background-color:#5082b9;padding-left:290px">
            <button id="closeAd" class='btn btn-sm btn-primary' onclick="closeAd()">关&nbsp;&nbsp;闭</button>
        </div>
        <div id="adTitle" style="height:30px;text-align:center;font-size:20px;">
        </div>

        <div id="adContent" style="height:auto;text-indent:2em;">
        </div>

        <div id="adTime"
             style="height:15px;font-size: 16px;font-weight: bold;position: absolute;right:2px;bottom: 3px;">
        </div>
    </div>

    <th:block th:include="common :: footer"></th:block>
    <th:block th:include="common :: sessionInfo"></th:block>
    <script type="text/javascript" th:src="@{/js/appjs/index/header.js}"></script>
    <script type="text/javascript" th:src="@{/js/appjs/index/footer.js}"></script>
    <th:block th:if="${session.sessionInfo.userName == 'admin'}">
        <script type="text/javascript" th:src="@{/js/appjs/index/leftSerNavi.js}"></script>
    </th:block>
    <th:block th:if="${session.sessionInfo.userName != 'admin'}">
        <script type="text/javascript" th:src="@{/js/appjs/index/leftCliNavi.js}"></script>
    </th:block>
</body>

    <script type="text/javascript">
        console.log("主页获取session数据:" + sessionUser);

        // 修改地址栏地址,不显示多余的参数或者页面信息
        history.replaceState(null, null, "/");

        // 聊天室房间号
        var roomId = "001";

        var DEFAULT_WIDTH = 1318;
        var DEFAULT_HEIGHT = 720;

        // 窗口大小动态变化
        function autoResizWindow() {
            $("#mainDiv").width(window.innerWidth + "px");
            $("#mainDiv").height(window.innerHeight + "px");
        }
        $(window).resize(autoResizWindow);

        // 手动修改窗口大小
        function manualResizWindow(percent) {
            //设置默认的窗口大小
            var newWidth = DEFAULT_WIDTH * percent / 100;
            var newHeight = DEFAULT_HEIGHT;
            if (percent > 100) {
                newHeight = DEFAULT_HEIGHT * percent / 100;
            }
            if (newWidth > window.innerWidth) {
                newWidth = window.innerWidth;
            }
            if (newHeight > window.innerHeight) {
                newHeight = window.innerHeight;
            }
            $("#mainDiv").width(newWidth + "px");
            $("#mainDiv").height(newHeight + "px");
            adjustMusicWindowPosition();
        }

        // 默认显示页:聊天窗口首页
        var curPageid = "ws/wsclientChat.page";
        if (sessionUser == 'admin') {
            curPageid = "/zhddkk/wsUsers/wsUsersForAdmin";
        }
        showPage(curPageid);
        function showPage(pageId) {
            curPageid = pageId;
            var url = pageId + "?user=" + sessionUser;
            if (pageId.indexOf("gameIndex.page") != -1) {
                window.location.href = pageId;
            } else if (pageId.indexOf("canvasIndex.page") != -1) {
                window.location.href = pageId;
            } else if (pageId.indexOf("configurationLi") != -1) {
                $("#configurationDiv").slideDown();
            } else {
                $("#iframePage").attr("src", url);
            }
        }

        // ---------------------------------以下是供聊天用的全局变量-----------------------
        var webSocket = null;

        // 连接状态
        var connectStatus = "0"
        //重试连接服务器次数
        var checkCount = 1;
        //最大连接次数
        var checkMaxCount = 20;
        //连接服务器定时器
        var checkTimer = undefined;

        //所有聊天记录
        var chatRecord = "";
        //未读消息条数
        var unreadCount = 0;

        function updateChatMsg(msg, color, fontSize) {
            var newMsg = "<p style='color:" + color + ";font-size:" + fontSize + "px;line-height:14px;'>[" + getCurrentTime() + "] [系统信息] " + msg + "</p>";
            var msgFromServerObj = getIframeElement("msgFromServer");
            var textArea = $(msgFromServerObj).append(newMsg);
            chatRecord = chatRecord + newMsg;
            showTips(msg, color);
        }

        //连接服务器
        function checkConnection() {
            if (connectStatus == "0") {
                if (checkCount >= checkMaxCount) {
                    if (checkTimer != null && checkTimer != "" && checkTimer != undefined) {
                        //达到最大连接数后关闭定时器
                        clearInterval(checkTimer);
                    }
                }
                updateChatMsg("正在连接服务器" + sessionWebserverIp + ":" + sessionWebserverport + " [ " + checkCount + " ]" + "次 请稍等..., ", "red", 10);
                checkCount++;
            } else {
                if (checkTimer != null && checkTimer != "" && checkTimer != undefined) {
                    clearInterval(checkTimer);
                }
            }
        }

        //定时检查连接
        checkTimer = setInterval(function () {
            checkConnection();
        }, 1000);

        //检查连接
        checkConnection();
        //登录服务器
        loginServer();

        function loginServer() {
            if (webSocket == null) {
                var socketUrl = "ws://" + sessionWebserverIp + ":" + sessionWebserverport + "/zhddWebSocket/" + roomId + "/" + sessionUser + "/" + sessionPassword + "/" + sessionUseragent;
                webSocket = new WebSocket(socketUrl);
                webSocket.onerror = function (event) {
                    onError(event);
                };
                webSocket.onclose = function (event) {
                    OnClose(event);
                };
                webSocket.onopen = function (event) {
                    onOpen(event);
                };
                webSocket.onmessage = function (event) {
                    onMessage(event);
                };
            }
        }

        //连接成功
        function onOpen(event) {
            connectStatus = "1";
            var msg = '[[#{label.connected}]]';
            updateChatMsg(msg, "green", 10);
        }

        //连接失败
        function onError(event) {
            updateChatMsg("连接服务器异常!", "red", 10);
            connectStatus = "0";
            webSocket = null;
        }

        //连接关闭
        function OnClose(event) {
            updateChatMsg("客户端已断开!", "red", 10);
            connectStatus = "0";
            stop();
        }

        //接收消息
        function onMessage(event) {
            var jsonObj = JSON.parse(event.data);
            var curTime = jsonObj.curTime;
            var msgFrom = jsonObj.from;
            var msgTo = jsonObj.to;
            var typeId = jsonObj.msgTypeId;
            var typeDesc = jsonObj.msgTypeDesc;
            var msg = jsonObj.msg;

            var showStr = "[" + curTime + "] [" + typeDesc + "] [" + msgFrom + "-->" + msgTo + "] " + msg;
            var defaultCss = "color:red;font-size:10px;line-height:14px;"
            if (typeId == 1) {
                //系统消息
                defaultCss = "color:red;font-size:10px;line-height:14px;";
                showStr = "[" + curTime + "] [" + typeDesc + "] " + msg;
            } else if (typeId == 2) {
                //在线消息
                defaultCss = "color:green;font-size:10px;line-height:14px;";
                showStr = "[" + curTime + "] [" + typeDesc + "] [" + msgFrom + "-->" + msgTo + "] " + msg;
            } else if (typeId == 3) {
                //离线消息
                defaultCss = "color:grey;font-size:10px;line-height:14px;";
                showStr = "[" + curTime + "] [" + typeDesc + "] [" + msgFrom + "-->" + msgTo + "] " + msg;
            } else if (typeId == 4) {
                //广告消息
                defaultCss = "color:blue;font-size:10px;line-height:14px;";
                var title = msg.split("title:")[1].split(";")[0];
                var content = msg.split("content:")[1];
                showStr = "[" + curTime + "] [" + typeDesc + "] [" + msgFrom + "-->" + msgTo + "] " + "广告标题:" + title + " 广告内容:" + content;
            } else if (msgTo == sessionUser) {
                defaultCss = "color:green;font-size:10px;line-height:14px;";
            } else if (msgFrom == sessionUser) {
                defaultCss = "color:blue;font-size:10px;line-height:14px;";
            }

            if (curPageid.indexOf("wsclientChat.page") == -1 && curPageid.indexOf("wsserverChartMonitor.page") == -1) {
                var htmlData = "<p style='" + defaultCss + "'>" + showStr + "</p>";
                chatRecord = chatRecord + htmlData;
                unreadCount = unreadCount + 1;
                $("#leftNaviIframePage").contents().find("#unreadCountSpan").text(unreadCount);
            } else {
                var htmlData = "<p style='" + defaultCss + "'>" + showStr + "</p>";
                var msgFromServerObj = getIframeElement("msgFromServer");
                chatRecord = chatRecord + htmlData;
                var textArea = $(msgFromServerObj).append(htmlData);
                textArea.scrollTop(textArea[0].scrollHeight - textArea.height());
            }

            if (typeId == 4) {
                var title = msg.split("title:")[1].split(";")[0];
                var content = msg.split("content:")[1];

                $("#adTitle").html(title);
                $("#adContent").html(content);
                $("#adTime").html(curTime);
                $("#adDiv").slideDown(500);
            }
        }

        //获取iframe中的元素
        function getIframeElement(eleName) {
            var obj = $("#iframePage").contents().find("#" + eleName);
            return obj;
        }

        //断开连接
        function stop() {
            if (webSocket != null) {
                webSocket.close();
                webSocket = null;
                connectStatus = "0";
            }
        }

        //关闭广告窗
        function closeAd() {
            $("#adDiv").slideUp(500);
        }

        function refrshMusic() {
            document.getElementById("musicIframePage").contentWindow.showMusic();
        }

        // 简易音乐播放器复位
        $("#resetMusicIframeDivPosBtn").click(adjustMusicWindowPosition);
        function adjustMusicWindowPosition() {
            var headDivHeight = $("#headerPage").height();
            var centerDivHeight = $("#centerDiv").height();
            var centerDivLeft = $("#centerDiv").offset().left;
            var leftNaviDivWidth = $("#leftNaviDiv").width();
            var musicIframeDivHeight = $("#musicIframeDiv").height();
            $("#musicIframeDiv").css("width", leftNaviDivWidth + "px");
            $("#musicIframeDiv").css("top", headDivHeight + centerDivHeight - musicIframeDivHeight - 20);
            $("#musicIframeDiv").css("left", centerDivLeft + 3);
        }

        adjustMusicWindowPosition();
        //音乐播放器可拖动代码
        $.ws.dragPanelMove("#musicIframeHeader", "#musicIframeDiv");

        //窗口大小变化事件
        $(window).resize(function () {
            adjustMusicWindowPosition();
        });

        //footer内的提示语
        function showTips(msg, color) {
            $("#footerIframePage").contents().find("#statusTips").css("color", color);
            $("#footerIframePage").contents().find("#statusTips").html(msg);
        }

        //扫码登录
        function showQRCode() {
            var imgSrc = $("#qrcodeImg").attr("src");
            if (imgSrc == "" || imgSrc == undefined) {
                $.ajax({
                    type: 'POST',
                    url: rootUrl + '/showQRCode.do',
                    //dataType: 'json',
                    async: false,
                    success: function (result) {
                        $("#qrDiv").css("display", "block");
                        $("#qrcodeImg").css("display", "block");
                        $("#qrcodeImg").attr("src", result);
                    }
                });
            } else {
                $("#qrcodeImg").attr("src", "");
                $("#qrDiv").css("display", "none");
                $("#qrcodeImg").css("display", "none");
            }
        };

        //设置个人信息
        function setPersonInfoBtn() {
            layer.open({
                type: 2,
                title: '设置个人信息',
                shadeClose: true,
                shade: 0.2,
                area: ['560px', '580px'],
                anim: 5,
                content: '/zhddkk/wsUsers/setPersonalInfo.page'
            });
        };

        //签到
        function sign() {
            $.ajax({
                type: 'POST',
                url: '/zhddkk/wsSign/sign',
                data: {},
                async: false,
                success: function (result) {
                    layer.msg(result.msg);
                }
            });
        }

        //退出(返回登录页)
        function toIndex() {
            $.ajax({
                type: 'POST',
                url: rootUrl + 'logout.do',
                data: {},
                async: false,
                success: function (result) {
                    top.location.href = rootUrl;
                }
            });
        }

        //显示简易音乐播放器(供子iframe调用)
        function showSimpleMusicPlayer() {
            var displayStatus = $("#musicIframeDiv").css("display");
            var leftNaviWidth = $("#leftNaviDiv").width();
            if (displayStatus == "none") {
                $("#musicIframeDiv").css("display", "block");
                $("#musicIframeDiv").css("width", leftNaviWidth + "px");
                $("#musicIframeDiv").css("height", "118px");
            } else {
                $("#musicIframeDiv").css("display", "none");
            }
        }

        //首页窗口阴影调整
        var clock = 0;
        var hPos = 0;
        var vPos = 0;
        var setpIntevel = 12;
        var shadowColor = "grey";
        setInterval(function () {
            if (clock >= 0 && clock < setpIntevel) {
                //右
                hPos++;
                $(".divShadow").css("box-shadow", shadowColor + " " + hPos + "px 0 6px");
            } else if (clock >= setpIntevel && clock < setpIntevel * 2) {
                //下
                hPos--;
                vPos++;
                $(".divShadow").css("box-shadow", shadowColor + " " + hPos + "px " + vPos + "px 6px");
            } else if (clock >= setpIntevel * 2 && clock < setpIntevel * 3) {
                //左
                hPos--;
                vPos--;
                $(".divShadow").css("box-shadow", shadowColor + " " + hPos + "px " + vPos + "px 6px");
            } else if (clock >= setpIntevel * 3 && clock < setpIntevel * 4) {
                //上
                hPos++;
                vPos--;
                $(".divShadow").css("box-shadow", shadowColor + " " + hPos + "px " + vPos + "px 6px");
            } else if (clock >= setpIntevel * 4) {
                clock = 0;
                hPos = 0;
                vPos = 0;
            }
            clock++;
        }, 150);

        //获取最新广告
        queryRecentAdsList();
        function queryRecentAdsList() {
            $.ajax({
                type: 'GET',
                url: '/zhddkk/wsAds/queryRecentAdsList?count=4',
                async: false,
                success: function (result) {
                    if (result.code == 1) {
                        var totalAds = "";
                        var data = result.data;
                        if (data.length == 0) {
                            totalAds = "<span style='font-weight: bold;font-size:14px;color:red;'>暂无消息</span>";
                        } else {
                            $.each(data, function (i, val) {
                                totalAds += "<span style='font-size:14px;font-weight: bold'>" + val.title + "</span>" + "<span style='font-size:9px;margin-left:5px;margin-right: 200px;'>" + val.createTime + "<a style='color:blue;font-weight: bold;' onclick='showAdsDetail(" + val.id + ")'>【查看详情】</a>" + "</span>";
                            });
                        }
                        $("#adsSpan").html(totalAds);
                    }
                }
            });
        }
        //定时获取最新广告
        //setInterval(queryRecentAdsList, 60000);

        // 设置网页标题
        setPageTitle();
        function setPageTitle() {
            var title = "";
            if (sessionUser == "admin") {
                title = '[[#{page.serverindex.title}]]'
            } else {
                title = '[[#{page.clientindex.title}]]'
            }
            $("title").text(title);
        }

        /**
         * 查看广告详情页
         * @param adId
         */
        function showAdsDetail(adId) {
            window.open("./zhddkk/wsAds/adsDetail.page?id=" + adId);
        }
    </script>
</html>
