<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <title th:text="#{page.serverindex.title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui-1.9.11/themes/default/easyui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui-1.9.11/themes/icon.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui-1.9.11/css/default.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/js/plugins/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/js/fontAwesome/css/font-awesome.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/js/swiper/swiper.min.css}">
    <script type="text/javascript" th:src="@{/js/easyui-1.9.11/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui-1.9.11/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src='@{/js/easyui-1.9.11/locale/easyui-lang-zh_CN.js}'> </script>
    <script type="text/javascript" th:src='@{/js/easyui-1.9.11/indexFramework.js}'> </script>
    <script type="text/javascript" th:src="@{/js/vue/vue.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/rootPath.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/redirect.js}"></script>
    <script type="text/javascript" th:src="@{/js/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery/jquery.i18n.properties.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/layui/layui.all.js}"></script>
    <script type="text/javascript" th:src="@{/js/swiper/swiper.min.js}"></script>
    <th:block th:include="common :: sessionInfo"></th:block>

    <style type="text/css">
        #musicIframeDiv {
            position: fixed;
            width: 168px;
            height: 120px;
            left: 2px;
            bottom: 150px;
            z-index: 99;
            border: 1px solid #8DB2E3;
            display: none;
        }

        #musicIframeHeader {
            background: #ddd;
            cursor: move;
            font-size: 10px;
        }
        
        #weatherDiv label {
            font-size: 13px;
        }

        #headerTitleDiv label {
            font-size: 25px;
        }

        .tb{
            width:100%;
            margin:0;
            padding:5px 4px;
            border:1px solid #ccc;
            box-sizing:border-box;
        }

        .l-btn-icon-left .l-btn-text {
            margin: 0 2px 0 23px;
        }

        .l-btn-text {
            display: inline-block;
            vertical-align: top;
            width: auto;
            line-height: 24px;
            font-size: 11px;
            padding: 0;
            margin: 0 6px;
        }

        #northRegionDiv {
            overflow: hidden; height: 67px;
            background: url(/js/easyui-1.9.11/images/layout-browser-hd-bg.gif) #7f99be repeat-x center 50%;
            line-height: 20px;
            color: #fff;
            font-family: Verdana, 微软雅黑,黑体;
        }

        #northRegionDiv .panel-body {
            background-color: transparent;
            color: white;
        }
        
        #recentNewsPanel ul li {
            list-style: none;
            font-size: 17px;
            margin-bottom: 5px;
        }

        .swiper-container{
            width: 80%;
            height: 100%;
        }

        .swiper-pagination-bullet {
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            color:#000;
            opacity: 1;
            background: rgba(0,0,0,0.2);
        }
        .swiper-pagination-bullet-active {
            color:#fff;
            background: #007aff;
        }
    </style>
</head>

<body class="easyui-layout" style="overflow-y: hidden"  scroll="no">
    <!--网页北部区域：头像、时间等信息-->
    <div id="northRegionDiv" region="north" split="false" border="true">

        <div class="easyui-layout" data-options="fit:true">
            <!--左侧-->
            <div data-options="region:'west',split:false,border:false" style="width:178px;">
                <div class="easyui-layout" data-options="fit:true">
                    <!--左侧头像-->
                    <div data-options="region:'west',split:false,border:false" style="width:62px;padding:1px;">
                        <img id="headImage" :src="headImage" width="100%" height="100%">
                    </div>
                    <!--右侧-->
                    <div data-options="region:'center',split:false,border:false">
                        <div class="easyui-layout" data-options="fit:true" border="false">
                            <!--登陆用户-->
                            <div data-options="region:'north',split:false,border:false" style="height:35%;padding: 1px 0 0 5px;overflow: hidden;">
                                <span th:text="${session.sessionInfo.userName}" style="font-size: 23px;"></span>
                            </div>
                            <!--角色名-->
                            <div data-options="region:'center',split:false,border:false" style="height:28%;padding: 1px 0 0 5px;margin-left: -7px;overflow: hidden;">
                                【<span th:text="${session.sessionInfo.roleName == '' ? '尚无角色' : session.sessionInfo.roleName}" style="font-size: 13px;"></span>】
                            </div>
                            <!--在线用户数、积分数-->
                            <div data-options="region:'south',split:false,border:false" style="height:37%;padding: 5px 0 0 5px;overflow: hidden;">
                                  <span class="icon icon-11-19" th:title="#{span.onlinecount.tips}"></span>
                                  <label>{{onlineNum}}</label>&nbsp;&nbsp;
                                  <span class="icon icon-22-3" th:title="#{span.coinnum.tips}"></span>
                                  <label>{{coinNum}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--中间部分-->
            <div data-options="region:'center',split:false,border:false" style="text-align: center;">
                <div id="headerTitleDiv" style="height:100%;font-size:20px;padding-top:20px;display: block;">
                    <label id="titleLabel" style="color:white;">[[#{web.title}]]</label>
                </div>
            </div>
            
            <!--右侧-->
             <div data-options="region:'east',split:false,border:false" style="width:520px">
                <div class="easyui-layout" data-options="fit:true">
                    <!--右侧时间-->
                    <div data-options="region:'north',split:false,border:false" style="height:40%;padding-top:4px;">
                        <div class="easyui-layout" data-options="fit:true">
                            <!--天气-->
                            <div data-options="region:'west',split:false,border:false" style="width:340px;text-align: center;">
                                <div id="weatherDiv" style="height:100%;padding-top:1px;display: block;">
                                    <label style="color:white;">{{weatherObj.remark}}</label>&nbsp;&nbsp;
                                    <label style="color:white;">{{weatherObj.lastUpdateTime}}</label>&nbsp;&nbsp;
                                    <label style="color:white;">{{weatherObj.location}}</label>
                                </div>
                            </div>
                            <!--时间-->
                             <div data-options="region:'center',split:false,border:false" style="text-align: right;padding-right: 5px;">
                                <span id="curTimeSpan" style="font-size:14px;color: white;">0000-00-00 00:00:00</span>
                            </div>
                        </div>
                    </div>

                    <!--右侧按钮组-->
                    <div data-options="region:'center',split:false,border:false" style="height:60%;padding-top: 4px;text-align: right;padding-right: 5px;">
                        <a href="#" id="playMusicBtn" @click="playMusic" class="easyui-linkbutton" data-options="iconCls:'icon icon-15-1'">[[#{btn.music.tips}]]&nbsp;&nbsp;</a>
                        <a href="#" id="signBtn" @click="signUp" class="easyui-linkbutton" data-options="iconCls:'icon icon-7-20'">[[#{btn.signin.tips}]]&nbsp;&nbsp;</a>
                         <a href="#" id="qrcodeBtn" @click="showQRCode" class="easyui-linkbutton" data-options="iconCls:'icon icon-14-13'">[[#{btn.qrcode.tips}]]&nbsp;&nbsp;</a>
                        <a href="#" id="settingBtn" @click="setting" class="easyui-linkbutton" data-options="iconCls:'icon icon-6-2'">[[#{btn.setting.tips}]]&nbsp;&nbsp;</a>
                        <a href="#" id="modifyPasswordBtn" @click="modifyPassword" class="easyui-linkbutton" data-options="iconCls:'icon icon-12-20'">[[#{btn.modifypasswd.tips}]]&nbsp;&nbsp;</a>
                        <a href="#" id="loginOutBtn" @click="logout" class="easyui-linkbutton" data-options="iconCls:'icon icon-9-12'">[[#{btn.logout.tips}]]&nbsp;&nbsp;</a>
                    </div>
                </div>
             </div>
        </div>
    </div>
    
    <!--网页南部区域：网页底部，版权等信息-->
    <div region="south" split="false" style="height: 30px; background: #D2E0F2;">
        <div class="footer" style="height:100%;">
            <div style="height:100%;">
                <div style="width:38%;float:left;text-align:left;">
                    <span>[[#{span.copyright}]]</span><br />
                </div>

                <div style="width:60%;float:right;text-align:right;">
                    <a href="#" id="modifyLanguageBtn">
                        <span class="icon icon-22-7"></span>[[#{btn.language.tips}]]&nbsp;
                    </a>
                    <a href="#" id="sessionInfoBtn">
                        <span class="icon icon-11-3"></span>[[#{a.sessioninfo.label}]]&nbsp;
                    </a>
                    <a href="#" id="contactBtn">
                        <span class="icon icon-22-16"></span>[[#{a.contactauthor.label}]]&nbsp;
                    </a>&nbsp;
                    <a href="#" id="donateBtn">
                        <span class="icon icon-14-18"></span>[[#{a.donate.label}]]&nbsp;
                    </a>&nbsp;
                    <a href="#" id="feedbackBtn">
                        <span class="icon icon-12-9"></span>[[#{a.feedback.label}]]&nbsp;
                    </a>&nbsp;
                    <a href="#" id="easyUIDemo">
                        <span class="icon icon-1-5"></span>easyUI&nbsp;
                    </a>&nbsp;
                    <a href="#" id="uploadDemo">
                        <span class="icon icon-1-5"></span>layuiUpload&nbsp;
                    </a>&nbsp;
                    <a href="#" id="aboutUsBtn">
                        <span class="icon icon-12-11"></span>[[#{a.aboutus.label}]]&nbsp;
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <!--网页西部区域：菜单导航-->
    <div region="west" split="false" th:title="#{div.title.navi}" style="width:200px;" id="west">
        <div class="easyui-accordion" fit="true" border="false">
            <!--  导航内容 -->
        </div>
    </div>
    
    <!--网页中间区域：内容部分-->
    <div id="centerRegionDiv" region="center" style="background: #eee; overflow-y:hidden">
        <div region="north" split="false" title="内容部分" id="centerDiv" style="height:calc(100% - 20px);width:100%;">
            <div id="tabs" class="easyui-tabs"  fit="true" border="false" style="height:100%;width:100%;">
                <div th:title="#{div.title.index}" data-options="iconCls:'icon icon-12-11',closable:false" style="padding:20px;overflow:hidden;" id="home">
                    <div class="easyui-layout" data-options="fit:true">
                        <div th:title="#{div.title.top.news}" data-options="region:'west',collapsed:false,split:false,border:true,iconCls:'icon icon-13-4'" style="width:30%;">
                            <div id="recentNewsPanel" style="width:100%;height:200px;padding: 10px 0 0 10px;overflow: auto;">
                                <ul>
                                    <li v-for="news in recentNewsList">
                                        <span>
                                            <a style='color:blue;font-weight: bold;' @click="showAdsDetail(news.title, news.id)">【查看详情】</a>
                                        </span>
                                        <span style='font-size:14px;font-weight: bold;'>{{news.title}} </span>
                                        <span style='font-size:9px;color: grey;margin-left:5px;'>{{news.createTime}}</span>
                                    </li>
                                </ul>
                            </div>

                            <!-- Swiper -->
                            <div id="swiperDiv" style="width:100%;height:calc(100% - 225px);max-height:400px;margin-top: 20px;">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" v-for="news in recentNewsList">
                                            <img :src="news.backImg" @click="showAdsDetail(news.title, news.id)" style="width: 100%;height: 100%;cursor: pointer;">
                                        </div>
                                    </div>
                                    <!-- Add Pagination -->
                                    <div class="swiper-pagination swiper-pagination-white"></div>
                                </div>
                            </div>
                        </div>
                        
                         <div th:title="#{div.title.public.chatroom}" data-options="region:'center',split:false,border:true,iconCls:'icon icon-6-6',tools:'#gameTool'" style="overflow: hidden;display: none;">
                             
                             <!--<iframe id="gameIframe" scrolling="auto" frameborder="0" src="../canvas/trafficByCanvas-smooth-0624.page" style="width:100%;height:100%;"></iframe>-->
                            <iframe id="gameIframe" scrolling="auto" frameborder="0" src="ws/wsSimpleChat.page?roomName=002" style="width:100%;height:100%;"></iframe>
                             <div id="gameTool">
                                 <a href="javascript:void(0)" title="换一个" class="fa fa-refresh" onclick="changeGame()"></a>
                             </div>
                         </div>
                        
                         <div id="myFriendsDiv" th:title="#{div.title.friends.list}" data-options="region:'east',collapsed:false,split:false,border:true,iconCls:'icon icon-11-19'" style="width:260px;padding: 10px;display: none;">
                            <!--右侧好友列表-->
                            <div style="width: 100%;height:100%;border:2px solid green;background-color: white;">
                                <div id="friendsListDiv" style="width: 100%;height: 100%;">
                                    <div style="width:100%;height:25px;background-color: #365e71;color:white;">
                                        <span>[[#{span.my.friends}]]</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>{{onlineFriendCount}}/{{friendList.length}}</span>
                                    </div>
                                    <div style="width:100%;height:calc(100% - 25px);overflow-y: scroll;padding:3px;">
                                        <div v-for="row in friendList" style="width:100%;height:50px;margin-bottom: 8px;">
                                            <div style="width:26%;height:50px;float: left;">
                                                <img :src="row.headImage" width="100%" height="100%"
                                                     onerror="this.onerror='';this.src=$.ws.errorImgUrl">
                                            </div>
                                            <div style="width:67%;height:50px;float:left;margin-left: 5px;">
                                                <div style="height:65%">
                                                    <template v-if="row.state == '0'">
                                                        <p style="font-size: 14px;color:grey;cursor: pointer;"
                                                           @click="showPersonInfo(row.name)">{{row.name}}</p>
                                                    </template>
                                                    <template v-else>
                                                        <p style="font-size: 14px;color: blue;cursor: pointer;"
                                                           @click="showPersonInfo(row.name)">{{row.name}}</p>
                                                    </template>
                                                    <p style="font-size: 12px;">{{row.lastLoginTime}}</p>
                                                </div>
                                                <div style="height:35%">
                                                    <span style="font-size: 12px;">{{row.sign}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>

        <!--滚动消息-->
        <div region="south" split="false" title="滚动消息" style="width: 100%;height:20px;background-color: white;border-top: 1px solid #8DB2E3;">
            <marquee direction="left" scrolldelay="10" scrollamount="7" onMouseOver="this.stop()" onMouseOut="this.start()">
                <span v-for="news in recentNewsList">
                    <span>
                        <a style='color:blue;font-weight: bold;' @click="showAdsDetail(news.title, news.id)">【查看详情】</a>
                    </span>
                    <span style='font-size:14px;font-weight: bold;'>{{news.title}}</span>
                    <span style='font-size:9px;color: grey;margin-left:5px;margin-right: 200px;'>{{news.createTime}}</span>
                </span>
            </marquee>
        </div>
    </div>
    
    <!--修改密码窗口 默认不显示-->
    <div id="modifyPasswordDiv" class="easyui-window" th:title="#{btn.modifypasswd.tips}" collapsible="false" minimizable="false"
         maximizable="false" data-options="iconCls:'icon-save'" closed="true" style="width: 300px; height: 160px; padding: 1px;display: none;">
        <div class="easyui-layout" fit="true">
            <div region="center" border="true" style="padding: 10px;">
                <table cellpadding=3 style="border-collapse:separate; border-spacing:10px;">
                    <tr>
                        <td th:text="#{td.username.text}"></td>
                        <td><input name="user" type="text" class="txt01 easyui-validatebox tb" readonly th:value="${session.sessionInfo.userName}"/></td>
                    </tr>
                    <tr>
                        <td th:text="#{td.oldpassword.text}"></td>
                        <td><input name="oldPass" type="password" class="txt01 easyui-validatebox tb" data-options="required:true"/></td>
                    </tr>
                    <tr>
                        <td th:text="#{td.newpassword.text}"></td>
                        <td><input id="newPass" name="newPass" type="password" class="txt01 easyui-validatebox tb" data-options="required:true"/></td>
                    </tr>
                    <tr>
                        <td th:text="#{td.confirmpassword.text}"></td>
                        <td><input id="confirmPass" name="confirmPass" type="password" class="txt01 easyui-validatebox tb" required="required" validType="equals['#newPass']"/></td>
                    </tr>
                </table>
            </div>
            <div region="south" border="false" style="text-align: right; height: 36px; line-height: 30px;">
                <a class="easyui-linkbutton" icon="icon-ok" href="javascript:void(0)" onclick="confirmPassword()">[[#{btn.confirm.text}]]</a>
                <a class="easyui-linkbutton" icon="icon-cancel" href="javascript:void(0)" onclick="cancelPassword()">[[#{btn.cancel.text}]]</a>
            </div>
        </div>
    </div>

    <!--修改语言窗口 默认不显示-->
    <div id="modifyLanguageDiv" class="easyui-window" th:title="#{btn.language.tips}" collapsible="false" minimizable="false"
         maximizable="false" data-options="iconCls:'icon-save'" closed="true" style="width: 250px; height: 160px; padding: 1px;display: none;">
        <div class="easyui-layout" fit="true">
            <div region="center" border="true" style="padding: 10px;">
                <table cellpadding=5 style="border-collapse:separate; border-spacing:20px;">
                    <tr>
                        <td th:text="#{td.chinese.text}"></td>
                        <td><input type="radio" name="language" class="txt01 easyui-validatebox" th:value="zh_CN" th:checked="${languageInit == 'zh'}"/></td>
                    </tr>
                    <tr>
                        <td th:text="#{td.english.text}"></td>
                        <td><input type="radio" name="language" class="txt01 easyui-validatebox" th:value="en_US" th:checked="${languageInit == 'en'}"/></td>
                    </tr>
                    <tr>
                        <td th:text="#{td.korean.text}"></td>
                        <td><input type="radio" name="language" class="txt01 easyui-validatebox" th:value="ko_KR" th:checked="${languageInit == 'ko'}"/></td>
                    </tr>
                </table>
            </div>
            <div region="south" border="false" style="text-align: right; height: 36px; line-height: 30px;">
                <a class="easyui-linkbutton" icon="icon-ok" href="javascript:void(0)" onclick="confirmLanguage()">[[#{btn.confirm.text}]]</a>
            </div>
        </div>
    </div>

    <!--tab框区域右键菜单栏 默认不显示-->
    <div id="mm" class="easyui-menu" style="width:180px;display: none;">
        <div id="mm-tabclose">[[#{div.rm.close}]]</div>
        <div id="mm-tabcloseall">[[#{div.rm.all.close}]]</div>
        <div id="mm-tabcloseother">[[#{div.rm.all.close.except}]]</div>
        <div class="menu-sep"></div>
        <div id="mm-tabcloseright">[[#{div.rm.right.all.close}]]</div>
        <div id="mm-tabcloseleft">[[#{div.rm.left.all.close}]]</div>
        <div class="menu-sep"></div>
        <div id="mm-exit">[[#{div.rm.exit}]]</div>
    </div>

    <!--右上角 二维码 默认不显示-->
    <div id="qrDiv" style="display:none;position: fixed;right: 5px;top: 90px;width: 180px;height: 180px;">
        <img id="qrcodeImg" style="width: 160px;height: 160px;">
    </div>

    <!--左下角 迷你音乐播放器 默认不显示-->
    <div id='musicIframeDiv'>
        <div id='musicIframeHeader'>
            <span style='display:inline-block;width:67%;color: black;font-weight: bold;'>&nbsp;&nbsp;按住我拖动&nbsp;&nbsp;</span>
            <button id='resetMusicIframeDivPosBtn' style='display:inline-block;width:30%;color:black;'>复位</button>
        </div>
        <iframe id="musicIframePage" scrolling="auto" frameborder="0" width="100%" style="height:calc(100% - 20px);" src="/file/musicPlayerSimple.page"></iframe>
    </div>
</body>

<script type="text/javascript">
    // 左侧导航菜单
    var _menus = {
        "menus":[]
    };

    // 聊天室房间号
    var roomName = "001";

    // 在线人数和积分数量
    var onlineData = {};

    console.log("主页获取session数据:" + sessionUser);
    // 修改地址栏地址,不显示多余的参数或者页面信息
    history.replaceState(null, null, "/");

    $(function() {
        // 修改密码对话框
        $('#modifyPasswordDiv').window({
            title: '[[#{easy.modify.password.title}]]',
            width: 300,
            modal: true,
            shadow: true,
            closed: true,
            height: 260,
            resizable: false
        });

        // 设置语言对话框
        $('#modifyLanguageDiv').window({
            title: '[[#{btn.language.tips}]]',
            width: 300,
            modal: true,
            shadow: true,
            closed: true,
            height: 240,
            resizable: false
        });
    });

    getNaviMenuList();
    getOnlineInfo();

    // 获取左侧导航栏菜单列表
    function getNaviMenuList() {
        $.ajax({
            type: 'GET',
            url: '/zhddkk/sysMenu/getRoleMenuList?userId=' + sessionUserId,
            async: false,
            dataType: 'json',
            success: function (result) {
                if (result.code == 1) {
                    _menus.menus = result.data;
                }
            }
        });
    }

    // 获取积分和在线用户信息
    function getOnlineInfo() {
        $.ajax({
            type: 'GET',
            url: 'ws/getOnlineInfo.json',
            async: false,
            data: {"roomName": roomName},
            success: function (result) {
                if (result.code == 1) {
                    onlineData = result.data;
                }
            }
        });
    }

    //------------------------------------------------------头部-------------------------------------------------
    //定时更新时间
    setInterval(function () {
        $("#curTimeSpan").text(getCurrentTime());
    }, 1000);

    // 简易音乐播放器复位
    $("#resetMusicIframeDivPosBtn").click(adjustMusicWindowPosition);
    function adjustMusicWindowPosition() {
        $("#musicIframeDiv").css("bottom", "150px").css("top", "");
        $("#musicIframeDiv").css("left", "2px");
    }
    //音乐播放器可拖动代码
    $.ws.dragPanelMove("#musicIframeHeader", "#musicIframeDiv");

    // 取消修改密码
    function cancelPassword() {
        $('#modifyPasswordDiv').window('close');
    }

    // 确认修改密码
    function confirmPassword() {
        $.ajax({
            type: 'POST',
            url: '/zhddkk/wsUsers/updatePassword.do',
            data: {"user": sessionUser,
                "oldPass": $("input[name='oldPass']").val(),
                "newPass": $("input[name='newPass']").val(),
                "confirmPass": $("input[name='confirmPass']").val(),
            },
            //dataType: 'json',
            success: function (result) {
                if (result.code == 1) {
                    layer.msg("密码修改成功");
                } else {
                    layer.msg(result.data);
                }
                setTimeout(cancelPassword, 2500);
            }
        });
    }

    // 新密码与确认密码是否一致
    $.extend($.fn.validatebox.defaults.rules, {
        equals: {
            validator: function(value,param){
                return value == $(param[0]).val();
            },
            message: '两次密码不一致.'
        }
    });

    //------------------------------------------------------底部-------------------------------------------------
    // 设置语言对话框打开
    $("#modifyLanguageBtn").click(function (){
        $('#modifyLanguageDiv').window('open');
        var language = '[[${#locale.language}]]';
        var country = '[[${#locale.country}]]';
        $("input[name='language'][value='"+language+"_"+country+"']").prop("checked", "checked");
    });

    // 设置语言确定
    function confirmLanguage() {
        var language = $("input[name='language']:checked").val();
        if (language != null && language != "") {
            $('#modifyLanguageDiv').window('close');
            var tmpUrl = window.location.href;
            window.location.href = tmpUrl.replace("#","") + "/i18n?lang="+language;
        }
    }

    // 会话信息
    $("#sessionInfoBtn").click(function() {
        layer.open({
            type: 2,
            title: '会话信息',
            maxmin: false,
            shadeClose: true,//点击遮罩关闭层
            area: ['630px', '500px'],
            anim: 1,
            content: '/index/sessionInfo.page'
        });
    });

    // 联系作者
    $("#contactBtn").click(function() {
        layer.open({
            type: 2,
            title: '联系作者',
            maxmin: false,
            shadeClose: true,//点击遮罩关闭层
            area: ['530px', '300px'],
            anim: 1,
            content: 'index/contactAuthor.page'
        });
    });

    //捐赠作者
    $("#donateBtn").click(function() {
        layer.open({
            type: 2,
            title: '捐赠作者',
            maxmin: false,
            shadeClose: true,//点击遮罩关闭层
            area: ['530px', '300px'],
            anim: 1,
            content: 'index/donate.page'
        });
    });

    //提出疑问
    $("#feedbackBtn").click(function() {
        parent.layer.open({
            type: 2,
            title: '提出疑问',
            maxmin: false,
            shadeClose: true,//点击遮罩关闭层
            area: ['460px', '320px'],
            anim: 1,
            content: 'index/feedbackUs.page'
        });
    });

    // EasyUI Demo
    $("#easyUIDemo").click(function () {
        parent.layer.open({
            type: 2,
            title: 'easyUI Demo',
            maxmin: false,
            shadeClose: true,//点击遮罩关闭层
            area: ['800px', '500px'],
            anim: 1,
            content: 'index/easyUIDemo.page'
        });
    });

    // layui Upload Demo
    $("#uploadDemo").click(function () {
        parent.layer.open({
            type: 2,
            title: 'layui Upload Demo',
            maxmin: false,
            shadeClose: true,//点击遮罩关闭层
            area: ['1000px', '800px'],
            anim: 1,
            content: 'index/uploadDemo.page'
        });
    });

    //关于我们
    $("#aboutUsBtn").click(function() {
        parent.layer.open({
            type: 2,
            title: '关于我们',
            maxmin: false,
            shadeClose: true,//点击遮罩关闭层
            area: ['530px', '300px'],
            anim: 1,
            content: 'index/aboutUs.page'
        });
    });

    // 头部部分
    var northRegionVue = new Vue({
        el: '#northRegionDiv',
        data: {
            coinNum: onlineData.currentOnlineUserInfo.coinNum,
            onlineNum: onlineData.onlineUserList.length,
            headImage: sessionSelfimg,
            weatherObj: {},
        },
        methods: {
            //获取天气
            grapWeatherInfo: function () {
                var that = this;
                $.ajax({
                    type: 'GET',
                    url: '/index/grapWetherInfo',
                    async: false,
                    success: function (result) {
                        if (result.code == 1) {
                            that.weatherObj = result.data;
                        }
                    }
                });
            },
            playMusic: function (){
                var displayStatus = $("#musicIframeDiv").css("display");
                if (displayStatus == "none") {
                    $("#musicIframeDiv").css("display", "block");
                } else {
                    $("#musicIframeDiv").css("display", "none");
                }
            },
            // 签到
            signUp: function (){
                $.ajax({
                    type: 'POST',
                    url: '/zhddkk/wsSign/sign',
                    data: {},
                    async: true,
                    success: function (result) {
                        layer.msg(result.msg);
                    }
                });
            },
            // 二维码登录
            showQRCode: function (){
                var imgSrc = $("#qrcodeImg").attr("src");
                if (imgSrc == "" || imgSrc == undefined) {
                    $.ajax({
                        type: 'POST',
                        url: '/showQRCode.do',
                        async: false,
                        success: function (result) {
                            $("#qrDiv").css("display", "block");
                            $("#qrcodeImg").css("display", "block");
                            $("#qrcodeImg").attr("src", result);
                        }
                    });
                } else {
                    $("#qrcodeImg").attr("src", "");
                    $("#qrDiv").css("display", "none");
                    $("#qrcodeImg").css("display", "none");
                }
            },
            // 设置
            setting: function (){
                layer.open({
                    type: 2,
                    title: '设置个人信息',
                    shadeClose: true,
                    shade: 0.2,
                    area: ['560px', '580px'],
                    anim: 1,
                    content: '/zhddkk/wsUsers/setPersonalInfo.page'
                });
            },
            // 修改密码
            modifyPassword: function (){
                $('#modifyPasswordDiv').window('open');
            },
            // 退出
            logout: function (){
                $.messager.confirm('退出', '确认退出吗?', function(r){
                    if (r){
                        $.ajax({
                            type: 'POST',
                            url: 'ws/logout.do',
                            data: {},
                            async: false,
                            success: function (result) {
                                top.location.href = rootUrl;
                            }
                        });
                    }
                });
            }
        },
        created: function (e) {
            this.grapWeatherInfo();
        }
    });

    // 中间部分--我的好友列表、最新新闻列表
    var centerRegionVue = new Vue({
        el: '#centerRegionDiv',
        data: {
            recentNewsList: {},  //最新消息列表
            friendList: onlineData.friendsList, //好友列表
            onlineFriendCount: onlineData.onlineFriendCount,
            offlineFriendCount: onlineData.offlineFriendCount,
        },
        methods: {
            queryRecentNews: function () {
                var that = this;
                $.ajax({
                    type: 'GET',
                    url: '/zhddkk/wsAds/queryRecentAdsList?count=5',
                    success: function (result) {
                        if (result.code == 1) {
                            that.recentNewsList = result.data;
                        }
                    }
                });
            },
            showAdsDetail: function(title, adId) {
                window.open('/zhddkk/wsAds/adsDetail.page?id='+adId, title, 'height=800, width=1000, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')
            },
            showPersonInfo: function (userName) {
                layer.open({
                    type: 2,
                    title: '用户个人信息',
                    shadeClose: true,
                    shade: 0.2,
                    area: ['390px', '420px'],
                    content: '/zhddkk/wsUsers/showPersonalInfo.page?user=' + userName
                });
            }
        },
        created: function (e) {
            // do nothing
            this.queryRecentNews();
        }
    });

    // 首页-中间部分-切换游戏
    function changeGame() {
        var gameList = new Array("../canvas/starts.page","../canvas/clock.page","../canvas/clock2.page"
            ,"../canvas/trafficByCanvas_stepbystep.page","../canvas/trafficByCanvas-smooth-0624.page"
            ,"../canvas/tank_p1p2.page","../canvas/tank_construct.page","../canvas/xiangqi_v6.0.page","../canvas/pintu.page"
            ,"../game/ball.page","../game/plane.page","../game/myrussia.page");
        var gIndex = randomNumber(0, gameList.length);
        var gUrl = gameList[gIndex];
        $("#gameIframe").attr("src", gUrl);
    }

    // 图片滚动插件
    var swiper = new Swiper('.swiper-container', {
        spaceBetween: 30,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            renderBullet: function (index, className) {
                return '<span class="' + className + '">' + (index + 1) + '</span>';
            },
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        observer:true,
    });
</script>
</html>