*{font-size:12px; font-family:Tahoma,Verdana,微软雅黑,新宋体}
body{background:#D2E0F2; }
a{ color:Black; text-decoration:none;}
a:hover{ color:Red; text-decoration:underline;}
.textbox03 {border: #878787 1px solid;padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;  font-weight: bold; width: 190px; }

.txt01{font:Verdana, Geneva, sans-serif,宋体;padding:3px 2px 2px 2px; border-width:1px; border-color:#ddd;  color:#000;}
.txt {border: #878787 1px solid;padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;}
.footer{text-align:center;color:#15428B; margin:0px; padding:0px;line-height:23px; font-weight:bold;}

.head a{color:white;text-decoration:none;}
a {text-decoration:none;}
.head a:hover {color:white;text-decoration:none;}
a:hover {text-decoration:none;}

.easyui-accordion ul{list-style-type:none;margin:0px; padding:10px;}
.easyui-accordion ul li{ padding:0px;}
.easyui-accordion ul li a{line-height:24px;}
.easyui-accordion ul li div{margin:2px 0px;padding-left:10px;padding-top:2px;}
.easyui-accordion ul li div.hover{border:1px dashed #99BBE8; background:#E0ECFF;cursor:pointer;}
.easyui-accordion ul li div.hover a{color:#416AA3;}
.easyui-accordion ul li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.easyui-accordion ul li div.selected a{color:#416AA3; font-weight:bold;}
.panel-icon {
    left: 2px;
}


.icon{padding:2px 9px; background:url(../images/tabicons.png) no-repeat; }

.icon-add{background-position: -19px 0px;}
.icon-nav{background-position: -100px -18px;}
.icon-users{background-position: -100px -480px;}
.icon-role{background-position: -360px -200px;}
.icon-set{background-position: -380px -200px;}
.icon-log{background-position: -380px -80px;}
.icon-music{background-position: -20px -280px;}
.icon-camera{background-position: -140px -80px;}
.icon-phone{background-position: -300px -420px;}
.icon-money{background-position: -20px -140px;}
.icon-bugs{background-position: -360px -60px;}
.icon-house{background-position: -200px -220px;}
.icon-info{background-position: -40px -200px;}
.icon-music2{background-position: 0px -280px;}
.icon-edit{background-position: -180px 0px;}
.icon-calendar{background-position: -380px -120px;}
.icon-table{background-position: -320px -200px;}
.icon-setting{background-position: -20px -100px;}
.icon-door-open{background-position: -220px -160px;}
.icon-video{background-position: -140px -500px;}
.icon-telephone{background-position: -240px -260px;}
.icon-java{background-position: -20px -300px;}
.icon-clock{background-position: 0px -100px;}
.icon-chart-bar{background-position: -240px -80px;}
.icon-feedback{background-position: -160px -220px;}
.icon-file{background-position: -60px -320px;}
.icon-football{background-position: -380px -400px;}
.icon-game-hander{background-position: -360px -220px;}
.icon-star{background-position: -40px -420px;}
.icon-wechat{background-position: -100px -100px;}
.icon-search-plus{background-position: -80px -260px;}
.icon-earth{background-position: -160px -500px;}
.icon-newspaper{background-position: -180px -160px;}
.icon-user1{background-position: -100px -480px;}
.icon-user2{background-position: -120px -480px;}
.icon-user3{background-position: -140px -480px;}
.icon-user4{background-position: -160px -480px;}
.icon-user5{background-position: -180px -480px;}
.icon-user6{background-position: -200px -480px;}
.icon-user7{background-position: -220px -480px;}
.icon-user8{background-position: -240px -480px;}
.icon-admin{background-position: -80px -420px;}
.icon-upload{background-position: -240px 0px;}
.icon-download{background-position: 0px -20px;}

.icon-menu-directory{ background:url(../images/directory.png) no-repeat;}

.icon-menu-folder-open{
    background:url(../images/tabicons.png) no-repeat;
    padding: 2px 2px;
    background-position: -240px -500px;
}
.icon-menu-folder-close{
    background:url(../images/tabicons.png) no-repeat;
    padding: 2px 2px;
    background-position: -260px -500px;
}

