<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pjb.springbootjwt.zhddkk.dao.WsFileDao">
    <select id="queryEachUserUploadFileSizeData" resultType="java.util.LinkedHashMap">
        SELECT
               T.user_name as user_name,
               SUM(T.file_size) AS file_size
        FROM
             ws_file T
        WHERE
            T.user_id IS NOT NULL
        AND LENGTH(T.user_id) > 0
        AND T.access_status = 1
        GROUP BY
            T.user_id
        ORDER BY
            file_size desc
    </select>
</mapper>