<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pjb.springbootjwt.zhddkk.dao.WsUsersDao">
    <select id="queryUserPage" resultType="com.pjb.springbootjwt.zhddkk.domain.WsUsersDO">
        select t1.*,t2.img as head_image from ws_users t1
        left join ws_user_profile t2 on t1.id = t2.user_id
        <if test="ew.sqlSegment != null and ew.sqlSegment != ''">
            <where>
                ${ew.sqlSegment}
            </where>
        </if>
        order by t1.state desc,t1.name asc
    </select>

    <select id="queryMyFriendList" resultType="com.pjb.springbootjwt.zhddkk.domain.WsUsersDO">
        SELECT
            t2.*,t3.img as head_image,t3.sign
        FROM ws_friends t1
        LEFT JOIN
            ws_users t2 ON t2.id = t1.fid
        LEFT JOIN
            ws_user_profile t3 ON t3.user_id=t2.id
        <where>
            <if test="userId != null and userId != ''">
                t1.uid=${userId}
            </if>
        </where>
    </select>
</mapper>