<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: header"></th:block>
        <meta charset="utf-8">
        <title>[[#{page.music.title}]]</title>

        <style type="text/css">
            .selectRowClass {
                background-color: grey;
                color: white;
            }

            .thClass {
                background-color: green;
                height: 28px;
            }

            .mouseonClass {
                background-color: #ffc107;
            }

            #musicTable th {
                color: white;
                text-align: center;
            }

            #musicTable td {
                text-align: center;
            }
            
            #playerDiv {
                width: 100%;
                height: 92.4%;
                margin: 0px auto;
            }

            #uploadResultDiv {
                padding-left: 10px;
                padding-top: 5px;
            }

            #uploadResultDiv p {
                border-bottom: 1px solid grey;
                height: 25px;
            }

            #uploadResultDiv span {
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <!--上传-->
        <div style="height:36px;">
            <div align="center" style="width:24%;height:100%;float:left;padding-top: 2px;">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" id="chooseFileBtn">[[#{btn.choose.label}]]</button>
                    <button type="button" class="layui-btn layui-btn-sm" id="uploadFileBtn">[[#{btn.upload.label}]]</button>
                </div>
            </div>
            <div style="width:74%;height:100%;float:left;">
                <div style="text-align: right;">
                    <span id="uploadFilename"></span><span id="uploadedNumber" style="margin-left: 10px;">0</span>/<span id="totalFileNumber">0</span>
                </div>
                 <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="uploadProgress" style="top:0px;">
                    <div class="layui-progress-bar" lay-percent="0%"></div>
                 </div>
            </div>
        </div>
        
        <div id="playerDiv">
            <div id="buttons" style="height:15%;border-bottom: 1px solid grey;">
                <div id="songNameDiv" align="center"
                     style="background-color:yellow;height:35%;border-bottom:2px solid green;padding-top:3px;">
                    <span id="statusSpan"
                          style="font-weight: bold;font-size: 14px;">[[#{span.palystatus.init}]]</span><span> : </span><label
                        id="songName"></label>
                </div>
                <div style="height:67%;">
                    <div style="float:left;width:30%;height:46px;margin-top:5px;margin-left: 5px;">
                        <audio id="player" controls="controls" src="" style="width:100%;height:100%;"></audio>
                    </div>

                    <div style="float:right;margin-top:10px;width:68%;">
                        <div style="float:left;margin-left:10px;height:40px;">
                            <button id="btnPre" class='btn btn-primary' @click="preMusic()" th:title="#{btn.last.tips}">
                                <span class="glyphicon glyphicon-step-backward"></span>
                            </button>
                            <button id="btnPlay" class='btn btn-success' @click="play()"
                                    th:title="#{btn.playpause.tips}">
                                <span class="glyphicon glyphicon-play"></span>
                            </button>
                            <button id="btnNext" class='btn btn-primary' @click="nextMusic()"
                                    th:title="#{btn.next.tips}">
                                <span class="glyphicon glyphicon-step-forward"></span>
                            </button>
                            <button id="btnRefresh" class='btn btn-info' @click="refreash()"
                                    th:title="#{btn.refreash.tips}">
                                <span class="glyphicon glyphicon-repeat"></span>
                            </button>
                            <button id="btnShowList" class='btn btn-warning' @click="showList($event)">[[#{btn.hidelist.label}]]</button>
                            <button id="btnDeleteAll" class='btn btn-danger' @click="deleteAll()" style="margin-left: 10px;">[[#{btn.deleteall.label}]]</button>
                        </div>
                        <div id="playModeDiv" style="float:left;margin-top:12px;margin-left:6px;">
                            <input type="radio" name="playmode" value="-1" checked="checked"
                                   @click="changePlayMode($event)" th:title="#{radio.none.tips}">[[#{radio.none.tips}]]&nbsp;&nbsp;
                            <input type="radio" name="playmode" value="0" @click="changePlayMode($event)"
                                   th:title="#{radio.loop.tips}">[[#{radio.loop.tips}]]&nbsp;&nbsp;
                            <input type="radio" name="playmode" value="1" @click="changePlayMode($event)"
                                   th:title="#{radio.order.tips}">[[#{radio.order.tips}]]&nbsp;&nbsp;
                            <input type="radio" name="playmode" value="2" @click="changePlayMode($event)"
                                   th:title="#{radio.random.tips}">[[#{radio.random.tips}]]
                        </div>
                    </div>
                </div>
            </div>

            <div id="musicList" style="overflow-y: scroll;height:86.5%;">
                <table id="musicTable" style="width:100%;border-collapse:separate; border-spacing:1px 4px;">
                    <tr class="thClass">
                        <th style="width:60px;">选择</th>
                        <th style="width:60px;">主键</th>
                        <th style="width:200px;">歌曲名称</th>
                        <th style="width:60px;">大小</th>
                        <th style="width:40px;">访问性</th>
                        <th style="display:none;">url</th>
                        <th style="width:40px;">操作</th>
                    </tr>
                    <tr v-for="(music,index) in musicData" :key="index" @mouseenter="mouseEnter(music, index)"
                        @mouseleave="mouseLeave(music, index)">
                        <td>
                            <div v-if="index==0">
                                <input type='radio' name='selectMusic' checked="checked"/>
                            </div>
                            <div v-else>
                                <input type='radio' name='selectMusic'/>
                            </div>
                        </td>
                        <td>{{music.id}}</td>
                        <td @dblclick="doublePlay(index)">{{music.filename}}</td>
                        <td>{{(parseInt(music.fileSize)/1024.0/1024.0).toFixed(0)}}M</td>
                        <td>{{music.accessStatus == '0'?'不可访问':'可访问'}}</td>
                        <td>
                            <button class='delBtn btn btn-sm btn-success' @click="playMusic(music.id)">
                                <span class="glyphicon glyphicon-play">[[#{btn.play.label}]]</span>
                            </button>
                            <button class='delBtn btn btn-sm btn-danger' @click="deleteMusic(music.id)">
                                <span class="glyphicon glyphicon-remove">[[#{btn.delete.label}]]</span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <th:block th:include="common :: footer"></th:block>
        <th:block th:include="common :: sessionInfo"></th:block>
    </body>

    <script type="text/javascript">
        // 文件上传
        layui.use(['upload', 'element'], function() {
            var $ = layui.jquery, upload = layui.upload, element = layui.element;
            var fileNumber = 0;
            var finishNumber = 0;
            var showText = "<div id='uploadResultDiv'>";
            //选完文件后不自动上传
            upload.render({
                elem: '#chooseFileBtn'
                ,url: rootUrl+"/upload/app/uploadMusic" //改成您自己的上传接口
                ,field: 'file'
                ,data: {
                    'user': sessionUser,
                    'folder': 'music'
                }
                ,auto: false
                ,multiple: true
                ,accept: 'audio' //音频
                ,exts: 'mp3'
                ,bindAction: '#uploadFileBtn'
                ,choose: function(obj){
                    //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                    obj.preview(function(index, file, result){
                        fileNumber++;
                        $("#totalFileNumber").text(fileNumber);
                    });
                }
                ,done: function (res) {
                    finishNumber++;
                    // 上传进度百分比
                    var percent = finishNumber*100/fileNumber;
                    percent = Math.round(percent).toFixed(0)+"%";
                    element.progress('uploadProgress', percent);
                    
                    var resObj = res[Object.keys(res)[0]];
                    var filename = resObj.filename;
                    var uploadFlag = resObj.uploadFlag;
                    if (uploadFlag) {
                        showText += "<p><span style='width:82%;'>" + filename + "</span><span style='width:15%;color:blue;font-weight: bold;'>上传成功</span></p>";
                    } else {
                        showText += "<p><span style='width:82%;'>" + filename + "</span><span style='width:15%;color:blue;font-weight: bold;'>上传失败</span></p>";
                    }

                    $("#uploadFilename").text(filename);
                    $("#uploadedNumber").text(finishNumber);
                }
                ,allDone: function(obj){
                    //当文件全部被提交后，才触发
                    layer.msg("全部上传完毕。总:"+obj.total+" 成功:"+obj.successful+" 失败:"+obj.aborted);
                    finishNumber = 0;
                    fileNumber = 0;

                    showText += "</div>";
                    layer.closeAll();
                    layer.open({
                        type: 1,
                        title: "上传结果",
                        shadeClose: true,
                        shade: 0.2,
                        offset: "20%",
                        area: ['530px', '60%'],
                        content: showText
                    });
                    
                    setTimeout(function(){
                        window.location.href = window.location.href;
                    }, 3500);
                }
                ,progress: function(n, elem){
                    //获取进度百分比
                    //var percent = n + '%';
                    //element.progress('uploadProgress', percent); //可配合 layui 进度条元素使用
                }
            });
        });
        
        var app = new Vue({
            el: '#playerDiv',
            data: {
                musicData: {},        // 歌曲列表数据
                playMode: -1,         // 播放模式 0:单曲循环 1:顺序播放 2:随机播放
                curSelectedIndex: 0,  // 当前播放歌曲的行号
                hoverIndex: -1,       // 当前鼠标划过的行号
                playStatus: -1,       // 播放状态   -1:初始化  0:播放中 1:暂停中
                showMode: 1           // 播放列表显示与隐藏  0:隐藏 1:显示
            },
            methods: {
                queryMusicList: function () {
                    // 查询歌曲列表
                    var fileType = ".mp3";
                    var user = sessionUser;
                    $.ajax({
                        type: "POST",
                        url: rootUrl + "file/showFiles.do",
                        data: {user: user, fileType: fileType},
                        success: function (result) {
                            if (result.code == 1) {
                                app.musicData = result.data;
                            }
                        }
                    });
                },
                doublePlay: function (musicIndex) {
                    //双击播放
                    app.curSelectedIndex = musicIndex;
                    var selectedTr = $("table tr").get(app.curSelectedIndex + 1);
                    app.playByIndex(selectedTr);
                },
                play: function () {
                    //播放
                    var checkedInput = $("table tr").find("input[checked='checked']");
                    var checkedTr = $(checkedInput).parent().parent().parent();
                    var selectedMusicInfo = app.musicData[app.curSelectedIndex];
                    var filename = selectedMusicInfo.filename;
                    var url = selectedMusicInfo.url;

                    $("table input").removeAttr("checked");
                    $(checkedInput).prop("checked", true);
                    $(checkedInput).attr("checked", "checked");
                    $("table tr").removeClass("selectRowClass");
                    $(checkedTr).addClass("selectRowClass");
                    $("#player").attr("src", url);

                    $("#statusSpan").text($.ws.i18n("span.palystatus.playing"));
                    $("#songName").html(filename);
                    if (app.playStatus == -1 || app.playStatus == 1) {
                        app.playStatus = 0; //播放中
                        $("#player")[0].play();
                        $("#btnPlay span").removeClass("glyphicon-play").addClass("glyphicon-pause");
                    } else {
                        app.playStatus = 1; //暂停中
                        $("#statusSpan").text($.ws.i18n("span.palystatus.paused"));
                        $("#player")[0].pause();
                        $("#btnPlay span").removeClass("glyphicon-pause").addClass("glyphicon-play");
                    }
                },
                nextMusic: function () {
                    //下一首
                    if (app.playMode == -1 || app.playMode == 1) {
                        if (app.curSelectedIndex >= app.musicData.length - 1) {
                            app.curSelectedIndex = 0;
                        } else {
                            app.curSelectedIndex = app.curSelectedIndex + 1;
                        }
                        var selectedTr = $("table tr").get(app.curSelectedIndex + 1);
                        app.playByIndex(selectedTr);
                    } else if (app.playMode == 0) {
                        app.play();
                    } else if (app.playMode == 2) {
                        app.randomMusic();
                    }
                    app.playStatus = 0;
                },
                preMusic: function () {
                    //上一首
                    if (app.playMode == -1 || app.playMode == 1) {
                        if (app.curSelectedIndex == 0) {
                            app.curSelectedIndex = app.musicData.length - 1;
                        } else {
                            app.curSelectedIndex = app.curSelectedIndex - 1;
                        }
                        var selectedTr = $("table tr").get(app.curSelectedIndex + 1);
                        app.playByIndex(selectedTr);
                    } else if (app.playMode == 0) {
                        app.playStatus = 1;
                        app.play();
                    } else if (app.playMode == 2) {
                        app.randomMusic();
                    }
                },
                playByIndex: function (trObj) {
                    var selectedInput = $(trObj).find("input");
                    $("table input").removeAttr("checked");
                    $(selectedInput).prop("checked", true);
                    $(selectedInput).attr("checked", "checked");
                    $("table tr").removeClass("selectRowClass");
                    $(trObj).addClass("selectRowClass");

                    var selectedMusicInfo = app.musicData[app.curSelectedIndex];
                    var filename = selectedMusicInfo.filename;
                    var url = selectedMusicInfo.url;

                    $("#player").attr("src", url);
                    $("#statusSpan").text($.ws.i18n("span.palystatus.playing"));
                    $("#songName").html(filename);

                    $("#player")[0].play();
                    $("#btnPlay span").removeClass("glyphicon-play").addClass("glyphicon-pause");
                },
                randomMusic: function () {
                    // 随机播放
                    var randomNum = randomNumber(0, app.musicData.length - 1);
                    app.curSelectedIndex = randomNum;
                    var selectedTr = $("table tr").get(app.curSelectedIndex + 1);
                    app.playByIndex(selectedTr);
                },
                playMusic: function (id) {
                    $.each(app.musicData, function (i, row) {
                        if (row.id == id) {
                            app.curSelectedIndex = i;
                            var selectedTr = $("table tr").get(app.curSelectedIndex + 1);
                            app.playByIndex(selectedTr);
                        }
                    })
                },
                deleteMusic: function (id) {
                    //删除音乐
                    layer.confirm("确定删除吗?", {btn: ['确定', '取消'], title: "提示"},
                        function () {
                            $.ajax({
                                type: "POST",
                                url: rootUrl + "file/delFile.do",
                                data: {id: id},
                                success: function (result) {
                                    if (result == "success") {
                                        layer.msg("删除成功");
                                        app.queryMusicList();
                                    }
                                }
                            });
                        }
                        , function () {
                            layer.close()
                        }
                    );
                },
                deleteAll : function(){
                    // 删除所有音乐
                    layer.confirm("确定一键删除吗?", {btn: ['确定', '取消'], title: "提示"},
                        function () {
                            $.each(app.musicData, function (i, item) {
                                $.ajax({
                                    type: "POST",
                                    url: rootUrl + "file/delFile.do",
                                    data: {'id': item.id},
                                    success: function (result) {
                                        if (result == "success") {
                                            layer.msg(item.filename + ":删除成功");
                                        }
                                    }
                                });
                            });
                        }
                        ,function () {
                            layer.close();
                        }
                    );
                },
                mouseEnter: function (music, index) {
                    // 鼠标进入事件
                    $.each($("#musicTable tr"), function (i, item) {
                        var itemId = $(item).children().eq(1).text();
                        if (itemId == music.id && !$(item).hasClass("thClass") && !$(item).hasClass("selectRowClass")) {
                            $(item).addClass("mouseonClass");
                        } else {
                            $(item).removeClass("mouseonClass");
                        }
                    });
                },
                mouseLeave: function (music, index) {
                    // 鼠标离开事件  do nothing
                },
                showList: function (event) {
                    // 显示/隐藏播放列表
                     target = event.currentTarget;
                    if (app.showMode == 0) {
                        $("#musicList").slideDown(500);
                        $(target).text($.ws.i18n("btn.hidelist.label"));
                        app.showMode = 1;
                    } else {
                        $("#musicList").slideUp(500);
                        $(target).text($.ws.i18n("btn.showlist.label"));
                        app.showMode = 0;
                    }
                },
                changePlayMode: function (event) {
                    // 改变播放模式
                    var target = event.currentTarget;
                    var modeVar = $(target).val();
                    app.playMode = modeVar;
                }
            },
            created: function () {
                this.queryMusicList();
            }
        });

        // 刷新音乐列表
        function refreash() {
            window.location.href = window.location.href;
        }

        //上传文件校验
        function verify() {
            var uploadFiles = $("#fileInput").val();
            if (uploadFiles == "") {
                return false;
            }
            layer.msg('正在上传文件，请稍候……', {icon: 16, shade: 0.2, shadeClose: false, time: 300000});
            return true;
        }
        
        // 绑定事件
        Media = document.getElementById("player");
        var eventTester = function (e) {
            Media.addEventListener(e, function () {
                if (e == "ended") {
                    if (app.playMode == 0) {
                        // 单曲循环
                        app.playStatus = 1;
                        app.play();
                    } else if (app.playMode == 1) {
                        //顺序播放
                        app.nextMusic();
                    } else if (app.playMode == 2) {
                        //随机播放
                        app.randomMusic();
                    }
                } else if (e == "error") {
                    if (app.playMode == 1 || app.playMode == 2) {
                        app.nextMusic();
                    }
                }
            });
        }

        eventTester("loadstart");    //客户端开始请求数据
        eventTester("progress");    //客户端正在请求数据
        eventTester("suspend");        //延迟下载
        eventTester("abort");        //客户端主动终止下载（不是因为错误引起），
        eventTester("error");        //请求数据时遇到错误
        eventTester("stalled");        //网速失速
        eventTester("play");        //play()和autoplay开始播放时触发
        eventTester("pause");        //pause()触发
        eventTester("loadedmetadata");    //成功获取资源长度
        eventTester("loadeddata");    //
        eventTester("waiting");        //等待数据，并非错误
        eventTester("playing");        //开始回放
        eventTester("canplay");        //可以播放，但中途可能因为加载而暂停
        eventTester("canplaythrough"); //可以播放，歌曲全部加载完毕
        eventTester("seeking");        //寻找中
        eventTester("seeked");        //寻找完毕
        eventTester("timeupdate");    //播放时间改变
        eventTester("ended");        //播放结束
        eventTester("ratechange");    //播放速率改变
        eventTester("durationchange");    //资源长度改变
        eventTester("volumechange");    //音量改变
    </script>
</html>
