<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: header"></head>
		<meta charset="utf-8">
		<title>音乐播放器</title>

		<style type="text/css">
			.selectRowClass{
				background-color:grey;
				color:white;
			}
			.thClass{
				background-color:green;
				height: 28px;
			}
			
			.mouseonClass{
				background-color:#ffc107;
			}
			
			#musicTable th{
				color:white;
				text-align:center;
			}
			
			#musicTable td{
				text-align:center;
			}

			#addMusic{
				width:100%;
				height:40px;
				margin:0 auto;
				border-bottom:1px solid grey;
				padding-top: 2px;
			}
			
			#playerDiv{
				width: 100%;
			    height: 550px;
			    margin: 0px auto;
			    overflow-y: scroll;
			}
		</style>
	</head> 
	<body>
		<div id="addMusic" align="center">
			<form action="/upload/app/uploadMusic" method="post" enctype="multipart/form-data" onsubmit="return verify()" target="hidden_frame">
				<input type="text" id="user" name="user" th:value="${user}" hidden="true">
				<input type="hidden" name="folder" value="music">
				文件:<input id="fileInput" type="file" name="file" multiple="multiple" accept="audio/mpeg" style="display: inline-block;">
				<input type="submit" class='btn btn-primary' value="上传歌曲">
			</form>
		</div>		
		<div id="playerDiv">
			<div id="buttons" style="height:110px;">
				<div id="songNameDiv" align="center" style="background-color:yellow;height:35px;border-bottom:2px solid green;padding-top:7px;">
					<span id="statusSpan">初始化:</span><label id="songName"></label>
				</div>
				<div style="height:75px;">
					<div style="float:left;width:300px;margin-top:5px">
						<audio id="player" controls="controls" src="" style="width:100%;"></audio>
					</div>

					<div style="float:right;margin-top:12px;width:740px;">
						<div style="float:left;margin-left:10px;height:40px;">
							<button id="btnPre" style='height:40px;' class='btn btn-primary' @click="preMusic()">上一首</button>
							<button id="btnPlay" style='height:40px;width:74px;' class='btn btn-success' @click="play()">播放</button>
							<button id="btnNext" style='height:40px;' class='btn btn-primary' @click="nextMusic()">下一首</button>
							<button id="btnShowList" style='height:40px;' class='btn btn-warning' onclick="showList(this)">关闭列表</button>
							<button id="btnRefresh" style='height:40px;' class='btn btn-info' @click="refreash()">刷&nbsp;&nbsp;&nbsp;&nbsp;新</button>
						</div>
						<div id="playModeDiv" style="float:left;margin-top:10px;margin-left:15px;">
							<input type="radio" name="playmode" value="-1" checked="checked">无
							<input type="radio" name="playmode" value="0">单曲循环
							<input type="radio" name="playmode" value="1" >顺序播放
							<input type="radio" name="playmode" value="2">随机播放
						</div>
					</div>
				</div>
			</div>
			
			<div id="musicList" style="display:block">
				<table id="musicTable" style="width:100%;border-collapse:separate; border-spacing:1px 4px;">
					<tr class="thClass">
						<th style="width:60px;">选择</th>
						<th style="width:60px;">主键</th>
						<th style="width:200px;">歌曲名称</th>
						<th style="width:60px;">时长</th>
						<th style="width:60px;">大小</th>
						<th style="width:40px;">访问性</th>
						<th style="display:none;">url</th>
						<th style="width:40px;">操作</th>
					</tr>
					<tr v-for="(music,index) in musicData" :key="index" @mouseover="hoverIndex=index" @mouseout="hoverIndex=-1" :class="{'mouseonClass':index==hoverIndex && index != curSelectedIndex}">
						<td>
							<div v-if="index==0">
								<input type='radio' name='selectMusic' checked="checked"/>
							</div>
							<div v-else>
								<input type='radio' name='selectMusic'/>
							</div>
						</td>
						<td>{{music.id}}</td>
						<td @dblclick="doublePlay(index)">{{music.filename}}</td>
						<td>{{music.trackLength}}</td>
						<td>{{(parseInt(music.fileSize)/1024.0/1024.0).toFixed(0)}}M</td>
						<td>{{music.accessStatus == '0'?'不可访问':'可访问'}}</td>
						<td>
							<button class='delBtn btn btn-sm btn-danger' @click="deleteMusic(music.id)">删除</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<iframe name="hidden_frame" id="hidden_frame" style='display: none'></iframe>
		<div th:include="common::footer"></div>
	</body>

	<script type="text/javascript">
		//播放模式 0:单曲循环 1:顺序播放 2:随机播放
		var playMode = -1;

		var app = new Vue({
			el: '#playerDiv',
			data: {
				musicData: {},
				curSelectedIndex:0,
				hoverIndex:-1,
			},
			methods: {
				queryMusicList:function () {
					var fileType = ".mp3";
					var user = $('#user').val();
					$.ajax({
						type: "POST",
						url: rootUrl + "file/showFiles.do",
						data: {user: user, fileType: fileType},
						success: function (result) {
							app.musicData = result.dataList;
						}
					});
				},
				doublePlay:function(musicIndex){
					//双击播放
					console.log("双击播放:");
					app.curSelectedIndex = musicIndex;
					var selectedTr = $("table tr").get(app.curSelectedIndex+1);
					app.playByIndex(selectedTr);
				},
				play:function(){
					//播放
					console.log("开始播放音乐");
					var checkedInput=$("table tr").find("input[checked='checked']");
					var checkedTr=$(checkedInput).parent().parent().parent();
					var selectedMusicInfo = app.musicData[app.curSelectedIndex];
					var filename = selectedMusicInfo.filename;
					var url = selectedMusicInfo.url;

					$("table input").removeAttr("checked");
					$(checkedInput).prop("checked",true);
					$(checkedInput).attr("checked","checked");
					$("table tr").removeClass("selectRowClass");
					$(checkedTr).addClass("selectRowClass");
					$("#player").attr("src",url);

					$("#statusSpan").text("正在播放:");
					$("#songName").html(filename);
					var btnText = $("#btnPlay").text();
					if (btnText == "播放"){
						btnText = "暂停";
						$("#player")[0].play();
					}else{
						btnText = "播放";
						$("#statusSpan").text("暂停中:");
						$("#player")[0].pause();
					}
					$("#btnPlay").text(btnText);
				},
				nextMusic:function(){
					//下一首
					if (app.curSelectedIndex>=app.musicData.length-1){
						app.curSelectedIndex = 0;
					}else{
						app.curSelectedIndex = app.curSelectedIndex+1;
					}
					var selectedTr = $("table tr").get(app.curSelectedIndex+1);
					app.playByIndex(selectedTr);
				},
				preMusic:function(){
					//上一首
					if (app.curSelectedIndex==0){
						app.curSelectedIndex = app.musicData.length-1;
					}else{
						app.curSelectedIndex = app.curSelectedIndex-1;
					}
					var selectedTr = $("table tr").get(app.curSelectedIndex+1);
					app.playByIndex(selectedTr);
				},
				playByIndex:function(trObj){
					var selectedInput = $(trObj).find("input");
					$("table input").removeAttr("checked");
					$(selectedInput).prop("checked",true);
					$(selectedInput).attr("checked", "checked");
					$("table tr").removeClass("selectRowClass");
					$(trObj).addClass("selectRowClass");

					var selectedMusicInfo = app.musicData[app.curSelectedIndex];
					var filename = selectedMusicInfo.filename;
					var url = selectedMusicInfo.url;

					$("#player").attr("src", url);
					$("#btnPlay").text("暂停");
					$("#statusSpan").text("正在播放:");
					$("#songName").html(filename);

					$("#player")[0].play();
				},
				randomMusic:function(){
					// 随机播放
					var randomNum = randomNumber(0,app.musicData.length-1);
					app.curSelectedIndex = randomNum;
					var selectedTr = $("table tr").get(app.curSelectedIndex+1);
					app.playByIndex(selectedTr);
				},
				deleteMusic:function (id) {
					//删除音乐
					layer.confirm("确定删除吗?", {btn: ['确定', '取消'], title: "提示"},
						function (){
							$.ajax({
								type:"POST",
								url:rootUrl + "file/delFile.do",
								data:{id:id},
								success:function(result){
									if (result == "success"){
										layer.msg("操作成功");
										refreash();
									}
								}
							});
						}
						,function (){layer.close()}
					);
				}
			},
			created: function () {
				this.queryMusicList();
			}
		});

		// 播放模式监听
		$("#playModeDiv input[name='playmode']").each(function(index, val){
			$(val).click(function(){
				playMode = $(val).val();
				console.log("playMode:"+playMode);
			})
		})

		function showList(obj){
			if ($(obj).text() == "关闭列表"){
				$("#musicList").slideUp(500);
				$(obj).text("显示列表");
			}else{
				$("#musicList").slideDown(500);
				$(obj).text("关闭列表");
			}
		}

		// 刷新音乐列表
		function refreash(){
			window.location.href = window.location.href;
		}

        //上传文件校验
        function verify(){
            var uploadFiles=$("#fileInput").val();
            if (uploadFiles == ""){
                return false;
            }
            layer.msg("上传中....");
            return true;
        }

        $("#hidden_frame").load(function(){
            var bodyText=$(this).contents().find("body").text();
            var uploadRes = JSON.parse(bodyText);
            var showText = "";
            $.each(uploadRes,function(i,val) {
                var filename = val.filename;
                var uploadFlag = val.uploadFlag;
                if (uploadFlag){
                    showText += filename+":"+"<span style='color:blue;font-weight: bold;'>上传成功</span><br/>";
                }else{
                    showText += filename+":"+"<span style='color:red;font-weight: bold;'>上传失败</span><br/>";
                }
            });
            layer.closeAll();
            layer.alert(showText);
            setTimeout(refreash,3000);
        });

		// 绑定事件
		Media = document.getElementById("player");
		var eventTester = function(e){
	        Media.addEventListener(e,function(){
	            if (e == "ended"){
	            	if (playMode == 0){
	            		// 单曲循环
						console.log("单曲循环");
						$("#btnPlay").text("播放");
	            		app.play();
	            	}else if (playMode == 1){
	            		//顺序播放
						console.log("顺序播放");
	            		app.nextMusic();
	            	}else if (playMode == 2){
	            		//随机播放
						console.log("随机播放");
	            		app.randomMusic();
	            	}
	            }else if (e == "error"){
	            	if (playMode== 1 || playMode == 2){
						app.nextMusic();
	            	}
	            }
	        });
	    }

	    eventTester("loadstart");    //客户端开始请求数据
	    eventTester("progress");    //客户端正在请求数据
	    eventTester("suspend");        //延迟下载
	    eventTester("abort");        //客户端主动终止下载（不是因为错误引起），
	    eventTester("error");        //请求数据时遇到错误
	    eventTester("stalled");        //网速失速
	    eventTester("play");        //play()和autoplay开始播放时触发
	    eventTester("pause");        //pause()触发
	    eventTester("loadedmetadata");    //成功获取资源长度
	    eventTester("loadeddata");    //
	    eventTester("waiting");        //等待数据，并非错误
	    eventTester("playing");        //开始回放
	    eventTester("canplay");        //可以播放，但中途可能因为加载而暂停
	    eventTester("canplaythrough"); //可以播放，歌曲全部加载完毕
	    eventTester("seeking");        //寻找中
	    eventTester("seeked");        //寻找完毕
	    eventTester("timeupdate");    //播放时间改变
	    eventTester("ended");        //播放结束
	    eventTester("ratechange");    //播放速率改变
	    eventTester("durationchange");    //资源长度改变
	    eventTester("volumechange");    //音量改变
	</script>
</html>
