<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: header"></th:block>
        <meta charset="utf-8">
        <title>[[#{page.music.title}]]</title>

        <style type="text/css">
            #musicTable {
                width:100%;
                height:100%;
                border-collapse:separate;
                border-spacing:1px 4px;
            }

            thead,tbody tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }
            tbody {
                height: 100%;
                display: block;
                max-height: calc(100% - 28px);
                overflow-y: auto;
                overflow-x: hidden;
            }

            .selectRowClass {
                background-color: grey;
                color: white;
            }

            .thClass {
                background-color: green;
                height: 28px;
            }

            .mouseonClass {
                background-color: #ffc107;
            }

            #musicTable th {
                color: white;
                text-align: center;
            }

            #musicTable td {
                text-align: center;
            }
            
            #playerDiv {
                width: 100%;
                height: calc(100% - 44px);
                margin: 0px auto;
                min-width: 928px;
            }

            #uploadResultDiv {
                padding-left: 10px;
                padding-top: 5px;
            }

            #uploadResultDiv p {
                border-bottom: 1px solid grey;
                height: 20px;
                overflow: hidden;
                margin-bottom: 3px;
            }

            #uploadResultDiv span {
                display: inline-block;
                height:100%;
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <div id="mainDiv" style="width: 100%; height: 100%;overflow-y: hidden;">
            <!--上传-->
            <div id="uploadDiv" th:if="${session.sessionInfo.userName} == 'admin'" style="height:44px;padding-top: 4px;">
                <div align="center" style="width:32%;height:100%;float:left;padding-top: 2px;">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" id="chooseFileBtn">
                            <span class="glyphicon glyphicon-folder-open"></span> [[#{btn.choose.label}]]
                        </button>
                        <button type="button" class="layui-btn layui-btn-sm" id="uploadFileBtn">
                            <span class="fa fa-upload"></span> [[#{btn.upload.label}]]
                        </button>
                    </div>
                </div>
                <div style="width:66%;height:100%;float:left;">
                    <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="uploadProgress">
                        <div class="layui-progress-bar" lay-percent="0%"></div>
                     </div>
                    <div style="text-align: right;height:50%;">
                        <span id="uploadFilename"></span><span id="uploadedNumber" style="margin-left: 10px;">0</span> / <span id="totalFileNumber">0</span>
                    </div>
                </div>
            </div>
            
            <div id="playerDiv">
                <div class="ibox-content" style="padding: 0;">
                    <div class="row" style="border-bottom:1px solid darkgray;">
                        <div class="col-xs-4">
                            <audio id="player" controls="controls" src="" style="width:100%;height:34px;"></audio>
                        </div>
                        
                        <div class="col-xs-8" align="center" style="color: blue;font-size: 17px;font-weight: bold;">
                            <span id="statusSpan">[[#{span.palystatus.init}]]</span>
                            <span>({{curSelectedIndex+1}}/{{musicData.length}}) : </span>
                            <span>{{songName}}</span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <button id="btnPre" class='btn btn-sm btn-primary' @click="preMusic()" th:title="#{btn.last.tips}">
                                <span class="glyphicon glyphicon-step-backward"></span>
                            </button>
                            <button id="btnPlay" class='btn btn-sm btn-success' @click="play()"
                                    th:title="#{btn.playpause.tips}">
                                <span class="glyphicon glyphicon-play"></span>
                            </button>
                            <button id="btnNext" class='btn btn-sm btn-primary' @click="nextMusic()"
                                    th:title="#{btn.next.tips}">
                                <span class="glyphicon glyphicon-step-forward"></span>
                            </button>
                            <button id="btnRefresh" class='btn btn-sm btn-info' @click="refreash()" style="margin-left: 10px;"
                                    th:title="#{btn.refreash.tips}">
                                <span class="glyphicon glyphicon-repeat"></span>
                            </button>
                            <button id="bindMusic" class='layui-btn layui-btn-sm layui-btn-normal' @click="bindMusic($event)">[[#{btn.bind.music.label}]]</button>
                        </div>
                        <div class="col-xs-3">
                            <input type="radio" v-model="playMode" value="-1" th:title="#{radio.none.tips}">[[#{radio.none.tips}]]&nbsp;&nbsp;
                            <input type="radio" v-model="playMode" value="0"  th:title="#{radio.loop.tips}">[[#{radio.loop.tips}]]&nbsp;&nbsp;
                            <input type="radio" v-model="playMode" value="1"  th:title="#{radio.order.tips}">[[#{radio.order.tips}]]&nbsp;&nbsp;
                            <input type="radio" v-model="playMode" value="2"  th:title="#{radio.random.tips}">[[#{radio.random.tips}]]
                        </div>
                        
                         <div class="col-xs-5">
                            <div class="input-group">
                                <div class="input-group-addon">分类类型</div>
                                <select id="category" class="form-control" style="width:120px;margin-left: 10px;" @change="queryMusicList()">
                                    <option value="">全部</option>
                                    <option th:each="cate:${categoryList}" th:value="${cate}" th:text="${cate}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="musicList" style="width: 100%;height:89%;">
                    <table id="musicTable">
                        <thead class="thClass">
                            <tr>
                                <th style="width:10%;">选择</th>
                                <th style="width:10%;">主键</th>
                                <th style="width:5%;">文件ID</th>
                                <th style="width:38%;">歌曲名称</th>
                                <th style="width:13%;">大小</th>
                                <th style="width:9%;">连接状态</th>
                                <th style="width:14%;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(music,index) in musicData" :key="index" @mouseenter="mouseEnter(music, index)"
                                @mouseleave="mouseLeave(music, index)" @dblclick="doublePlay(index)">
                                <td style="width:10%;">
                                    <div v-if="index==0">
                                        <input type='radio' name='selectMusic' v-model="curSelectedIndex" :value="index" checked="checked"/>
                                    </div>
                                    <div v-else>
                                        <input type='radio' name='selectMusic' v-model="curSelectedIndex" :value="index"/>
                                    </div>
                                </td>
                                <td style="width:10%;">{{music.id}}</td>
                                <td style="width:10%;">{{music.fileId}}</td>
                                <td style="width:43%;">{{music.fileName}}</td>
                                <td style="width:13%;">{{(parseInt(music.fileSize)/1024.0/1024.0).toFixed(0)}}M</td>
                                <td style="width:9%;">{{music.accessStatus == '0'?'不可访问':'可访问'}}</td>
                                <td style="width:14%;">
                                    <button class='delBtn btn btn-sm btn-success' @click="playMusic(index)">
                                        <span class="fa fa-music"></span> [[#{btn.play.label}]]
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        <th:block th:include="common :: footer"></th:block>
        <th:block th:include="common :: sessionInfo"></th:block>
    </body>

    <script type="text/javascript">
        // 文件上传
        var fileNumber = 0;  // 总文件数
        var finishNumber = 0; // 已上传文件数
        var showText = "<div id='uploadResultDiv'>"; // 上传结束后弹出框html内容

        //选完文件后不自动上传
        layui.upload.render({
            elem: '#chooseFileBtn' //选择文件按钮
            ,url: $.ws.uploadMusicUrl //接口url
            ,field: 'file'    //文件对象名称
            ,data: {          //POST请求参数
                'folder': 'music'
            }
            ,auto: false      //选择文件后是否自动上传
            ,multiple: true   //是否多文件上传
            ,accept: 'audio'  //音频
            ,exts: 'mp3'      //后缀
            ,bindAction: '#uploadFileBtn'  // 开始上传按钮
            ,choose: function(obj) {
                $("#uploadedNumber").text(0);
                $("#uploadFilename").text("");
                //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                obj.preview(function(index, file, result){
                    fileNumber++;
                    $("#totalFileNumber").text(fileNumber);
                });
            }
            ,done: function (res) {
                $(this.bindAction.selector).addClass("layui-btn-disabled");
                // 单个文件上传结束后
                finishNumber++;
                
                var resObj = res.data[0];
                var filename = resObj.filename;
                var uploadFlag = resObj.uploadFlag;
                if (uploadFlag) {
                    showText += "<p><span style='width:62%;'>" + filename + "</span><span style='width:20%;'></span><span style='width:15%;color:blue;font-weight: bold;'>上传成功</span></p>";
                    
                    // 上传进度百分比
                    var percent = finishNumber*100/fileNumber;
                    percent = Math.round(percent).toFixed(0)+"%";
                    layui.element.progress('uploadProgress', percent);
                } else {
                    showText += "<p><span style='width:62%;'>" + filename + "</span><span style='width:20%;'>"+resObj.remark+"</span><span style='width:15%;color:red;font-weight: bold;'>上传失败</span></p>";
                }

                $("#uploadFilename").text(filename);
                $("#uploadedNumber").text(finishNumber);
            }
            ,allDone: function(obj) {
                $(this.bindAction.selector).removeClass("layui-btn-disabled");

                //当文件全部被提交后，才触发
                layer.msg("全部上传完毕。总:"+obj.total+" 成功:"+obj.successful+" 失败:"+obj.aborted);
                finishNumber = 0;
                fileNumber = 0;

                showText += "</div>";
                layer.closeAll();
                layer.open({
                    type: 1,
                    title: "上传结果",
                    shadeClose: true,
                    shade: 0.2,
                    offset: "20%",
                    area: ['680px', '60%'],
                    content: showText
                });

                // setTimeout(function(){
                //     window.location.href = window.location.href;
                // }, 3500);
                app.refreash();
                showText = "<div id='uploadResultDiv'>";
            }
            ,progress: function(n, elem){
                //获取单个文件上传进度百分比
                //var percent = n + '%';
                //element.progress('uploadProgress', percent); //可配合 layui 进度条元素使用
            }
        });
        
        var app = new Vue({
            el: '#playerDiv',
            data: {
                musicData: {},        // 歌曲列表数据
                playMode: -1,         // 播放模式 -1:一次播放 0:单曲循环 1:顺序播放 2:随机播放
                curSelectedIndex: 0,  // 当前播放歌曲的行号
                songName: "",         // 当前播放的歌曲名
                playStatus: -1,       // 播放状态   -1:初始化  0:播放中 1:暂停中
                showMode: 1,          // 播放列表显示与隐藏  0:隐藏 1:显示
                userName: sessionUser,
            },
            methods: {
                queryMusicList: function () {
                    // 查询歌曲列表
                    $.ajax({
                        type: "POST",
                        url: rootUrl + "file/showFiles.do",
                        data: {'fileType': 'music', 'category':$("#category").val()},
                        success: function (result) {
                            if (result.code == 1) {
                                app.musicData = result.data;
                            }
                        }
                    });
                },
                doublePlay: function (musicIndex) {
                    //双击播放
                    app.curSelectedIndex = musicIndex;
                    app.playByIndex();
                },
                play: function () {
                    //播放按钮
                    if (app.playStatus == -1 || app.playStatus == 1) {
                        app.playStatus = 0; //播放中
                        this.playByIndex();
                        $("#btnPlay span").removeClass("glyphicon-play").addClass("glyphicon-pause");
                    } else {
                        app.playStatus = 1; //暂停中
                        $("#statusSpan").text('[[#{span.palystatus.paused}]]');
                        $("#player")[0].pause();
                        $("#btnPlay span").removeClass("glyphicon-pause").addClass("glyphicon-play");
                    }
                },
                nextMusic: function () {
                    //下一首
                    if (app.playMode == -1 || app.playMode == 1) {
                        if (app.curSelectedIndex >= app.musicData.length - 1) {
                            app.curSelectedIndex = 0;
                        } else {
                            app.curSelectedIndex = app.curSelectedIndex + 1;
                        }
                        app.playByIndex();
                    } else if (app.playMode == 0) {
                        app.play();
                    } else if (app.playMode == 2) {
                        app.randomMusic();
                    }
                    app.playStatus = 0;
                },
                preMusic: function () {
                    //上一首
                    if (app.playMode == -1 || app.playMode == 1) {
                        if (app.curSelectedIndex == 0) {
                            app.curSelectedIndex = app.musicData.length - 1;
                        } else {
                            app.curSelectedIndex = app.curSelectedIndex - 1;
                        }
                        app.playByIndex();
                    } else if (app.playMode == 0) {
                        app.playStatus = 1;
                        app.play();
                    } else if (app.playMode == 2) {
                        app.randomMusic();
                    }
                },
                playByIndex: function () {
                    var selectedInput = $("table tbody input[value='"+app.curSelectedIndex+"']");
                    $("table tbody input").removeAttr("checked");
                    $(selectedInput).prop("checked", true);
                    $(selectedInput).attr("checked", "checked");

                    $("table tbody tr").removeClass("selectRowClass");
                    $(selectedInput).parents("tr").addClass("selectRowClass");

                    var selectedMusicInfo = app.musicData[app.curSelectedIndex];
                    $("#player").attr("src", selectedMusicInfo.fileUrl);
                    $("#statusSpan").text('[[#{span.palystatus.playing}]]');
                    app.songName = selectedMusicInfo.fileName;

                    $("#player")[0].play();
                    $("#btnPlay span").removeClass("glyphicon-play").addClass("glyphicon-pause");
                },
                randomMusic: function () {
                    // 随机播放
                    var randomIndex = randomNumber(0, app.musicData.length - 1);
                    app.curSelectedIndex = randomIndex;
                    app.playByIndex();
                },
                playMusic: function (index) {
                    app.curSelectedIndex = index;
                    app.playByIndex();
                },
                mouseEnter: function (music, index) {
                    // 鼠标进入事件
                    $.each($("table tbody tr"), function (i, item) {
                        var itemId = $(item).children().eq(1).text();
                        if (itemId == music.id && !$(item).hasClass("thClass") && !$(item).hasClass("selectRowClass")) {
                            $(item).addClass("mouseonClass");
                        } else {
                            $(item).removeClass("mouseonClass");
                        }
                    });
                },
                mouseLeave: function (music, index) {
                    // 鼠标离开事件  do nothing
                },
                showList: function (event) {
                    // 显示/隐藏播放列表
                     target = event.currentTarget;
                    if (app.showMode == 0) {
                        $("#musicList").slideDown(500);
                        $(target).text('[[#{btn.hidelist.label}]]');
                        app.showMode = 1;
                    } else {
                        $("#musicList").slideUp(500);
                        $(target).text('[[#{btn.showlist.label}]]');
                        app.showMode = 0;
                    }
                },
                refreash: function () {
                    // 刷新音乐列表
                    this.queryMusicList();
                },
                bindMusic: function () {
                    var winW = $(top.window).width();
                    var winH = $(top.window).height();
                    var newW = winW - 200;
                    var newH = winH - 100;
                    top.layer.open({
                        type: 2,
                        title: '绑定音乐',
                        shadeClose: false,
                        shade: 0.2,
                        area: [newW+'px', newH+'px'],
                        anim: 5,
                        content: '/file/musicAdd.page'
                    });
                }
            },
            created: function () {
                this.queryMusicList();
            }
        });

        // 音乐播放监听事件
        Media = document.getElementById("player");
        var eventTester = function (e) {
            Media.addEventListener(e, function () {
                if (e == "ended") {
                    if (app.$data.playMode == 0) {
                        // 单曲循环
                        app.playStatus = 1;
                        app.play();
                    } else if (app.$data.playMode == 1) {
                        //顺序播放
                        app.nextMusic();
                    } else if (app.$data.playMode == 2) {
                        //随机播放
                        app.randomMusic();
                    }
                } else if (e == "error") {
                    if (app.$data.playMode == 1 || app.$data.playMode == 2) {
                        app.nextMusic();
                    }
                }
            });
        }

        eventTester("loadstart");    //客户端开始请求数据
        eventTester("progress");    //客户端正在请求数据
        eventTester("suspend");        //延迟下载
        eventTester("abort");        //客户端主动终止下载（不是因为错误引起），
        eventTester("error");        //请求数据时遇到错误
        eventTester("stalled");        //网速失速
        eventTester("play");        //play()和autoplay开始播放时触发
        eventTester("pause");        //pause()触发
        eventTester("loadedmetadata");    //成功获取资源长度
        eventTester("loadeddata");    //
        eventTester("waiting");        //等待数据，并非错误
        eventTester("playing");        //开始回放
        eventTester("canplay");        //可以播放，但中途可能因为加载而暂停
        eventTester("canplaythrough"); //可以播放，歌曲全部加载完毕
        eventTester("seeking");        //寻找中
        eventTester("seeked");        //寻找完毕
        eventTester("timeupdate");    //播放时间改变
        eventTester("ended");        //播放结束
        eventTester("ratechange");    //播放速率改变
        eventTester("durationchange");    //资源长度改变
        eventTester("volumechange");    //音量改变

        function reLoad() {
            app.queryMusicList();
        }
    </script>
</html>
