<!-- 页面通用元数据和CSS -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head th:fragment="header">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" th:href="@{/js/timepicker/jquery.datetimepicker.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/js/bootstrap/css/bootstrap.min.css?v=3.3.6}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/js/fontAwesome/css/font-awesome.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/js/bootstrap-select/css/bootstrap-select.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/js/plugins/layui/css/layui.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/js/bootstraptable/bootstrap-table.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css?v=4.1.0}">
        <link rel="stylesheet" type="text/css" th:href="@{/js/plugins/fancybox/jquery.fancybox.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/js/swiper/swiper.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/js/froala/font-awesome.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/js/froala/froala_editor.min.css}">
    </head>
    <!-- 页面通用JS -->
    <div th:fragment="footer">
        <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js?v=2.1.4}"></script>
        <script type="text/javascript" th:src="@{/js/bootstraptable/bootstrap-table.min.js?v=3.3.6}"></script>
        <!--<script type="text/javascript" th:src="@{/js/bootstrap/js/popper.js}"></script>-->
        <script type="text/javascript" src="https://unpkg.com/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script type="text/javascript" th:src="@{/js/plugins/select2/js/select2.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/select2/js/i18n/zh-CN.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery/rootPath.js}"></script>
        <script type="text/javascript" th:src="@{/js/common/common.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery/jquery.validate.js}"></script>
        <script type="text/javascript" th:src="@{/js/layer/layer.js}"></script>
        <script type="text/javascript" th:src="@{/js/timepicker/jquery.datetimepicker.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/layui/layui.all.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstraptable/locale/bootstrap-table-zh-CN.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/fancybox/jquery.fancybox.js}"></script>
        <script type="text/javascript" th:src="@{/js/vue/vue.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/swiper/swiper.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery/jquery.i18n.properties.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap-select/js/bootstrap-select.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap-select/js/i18n/defaults-zh_CN.min.js}"></script>
    
        <!--froala富文本 -->
        <script type="text/javascript" th:src="@{/js/froala/froala_editor.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/froala/plugins/tables.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/froala/plugins/lists.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/froala/plugins/colors.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/froala/plugins/media_manager.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/froala/plugins/font_family.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/froala/plugins/font_size.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/froala/plugins/block_styles.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/froala/plugins/video.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/froala/langs/zh_cn.js}"></script>
    </div>
    
    <!-- session信息 -->
    <div th:fragment="sessionInfo">
        <input type="hidden" id="sessionUser" th:value="${session.sessionInfo.user}">
        <input type="hidden" id="sessionPassword" th:value="${session.sessionInfo.password}">
        <input type="hidden" id="sessionWebserverIp" th:value="${session.sessionInfo.webserverIp}">
        <input type="hidden" id="sessionWebserverport" th:value="${session.sessionInfo.webserverPort}">
        <input type="hidden" id="sessionSelfimg" th:value="${session.sessionInfo.selfImg}">
        <input type="hidden" id="sessionUseragent" th:value="${session.sessionInfo.userAgent}">
        <input type="hidden" id="sessionUsertype" th:value="${session.sessionInfo.userType}">
        <input type="hidden" id="sessionJsonStr" th:value="${session.sessionInfo.jsonStr}">
        <input type="hidden" id="sessionJsonObject" th:value="${session.sessionInfo.jsonObject}">
        <script th:inline="javascript">
            let sessionUser = $("#sessionUser").val();
            let sessionPassword = $("#sessionPassword").val();
            let sessionWebserverIp = $("#sessionWebserverIp").val();
            let sessionWebserverport = $("#sessionWebserverport").val();
            let sessionSelfimg = $("#sessionSelfimg").val();
            let sessionUseragent = $("#sessionUseragent").val();
            let sessionUsertype = $("#sessionUsertype").val();
            let sessionJsonStr = $("#sessionJsonStr").val();
            let sessionJsonObject = eval('(' + $("#sessionJsonObject").val() + ')');

            try {
                let language = [[${#locale.language}]];
                let counrty = [[${#locale.country}]];
                $.ws.i18nInit(language, counrty);
            } catch (e) {
                console.log("加载国际化信息异常:" + e);
            }
        </script>
    </div>
    
    <!-- canvas游戏专用JS -->
    <div th:fragment="gameHeader">
        <script type="text/javascript" th:src="@{/js/jquery/jquery-1.4.4.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery/rootPath.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery/pukeTool.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery/tool.js}"></script>
    </div>
</html>
