<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: header"></th:block>
    <meta charset="UTF-8">
    <title>设置个人信息</title>

    <style>
        .layui-form-item {
            margin-bottom: 2px;
        }
        .layui-form-label {
            padding: 5px 12px;
            width: 82px;
        }
        .layui-form-item .layui-input-inline {
            width: 125px;
        }
    </style>
</head>
<body>
    <div id="mainDiv" style="width:100%;height:100%; overflow-y: hidden;">
        <input type="hidden" id="userProfileJsonStr" th:value="${userProfileJson}">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this"><a ><i class="fa fa-user-circle-o"> 基本信息</i></a></li>
                <li><a ><i class="fa fa-key"> 修改密码</i></a></li>
            </ul>
            <div class="layui-tab-content" style="height: 100px;">
                <div class="layui-tab-item layui-show">
                    <div style="width:98%;height:100%;">
                        <form class="layui-form" lay-filter="personInfoForm" method="post" action="/zhddkk/wsUsers/setPersonInfo.do" enctype="multipart/form-data" target="hidden_frame1">
                            <div class="layui-form-item">
                                <label class="layui-form-label">真实姓名<span style="color:red">*</span></label>
                                <div class="layui-input-block">
                                    <input type="text" name="realName" th:value="${userProfile.realName}" lay-verify="required" autocomplete="off" placeholder="请输入真实姓名" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">头像</label>
                                <div class="layui-input-block">
                                    <input type="hidden" id="headImgInput" name="headImg" class="layui-input" th:value="${userProfile.img}">
                                    <button type="button" id="imageBtn" class="layui-btn">
                                        <i class="layui-icon">&#xe67c;</i>上传图片
                                    </button>

                                    <img id="headImg" style="margin-left: 30px;" onclick="showImg()" alt="" width="60px" height="60px" th:src="${userProfile.img}"
                                         onerror="imgerror(this)">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">个性签名<span style="color:red">*</span></label>
                                <div class="layui-input-block">
                                    <input type="text" name="sign" th:value="${userProfile.sign}" lay-verify="required" autocomplete="off" placeholder="请输入个性签名" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">年龄</label>
                                <div class="layui-input-block">
                                    <input type="number" name="age" th:value="${userProfile.age}" lay-verify="number" autocomplete="off" placeholder="请输入年龄" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">性别</label>
                                <div class="layui-input-block">
                                    <select name="sex" th:value="${userProfile.sex}" lay-filter="sex">
                                        <option value="1">男</option>
                                        <option value="2">女</option>
                                        <option value="3">未知</option>
                                    </select>
                                    <input name="sexText" hidden="hidden"></input>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">电话</label>
                                <div class="layui-input-block">
                                    <input type="text" name="tel" th:value="${userProfile.tel}" lay-verify="phone" autocomplete="off" placeholder="请输入电话" class="layui-input">
                                </div>
                            </div>

                             <div class="layui-form-item">
                                <label class="layui-form-label">住址<span style="color:red">*</span></label>
                                <div class="layui-input-inline" style="margin-left: 28px;">
                                    <select name="province" th:value="${userProfile.province}" lay-filter="province" lay-verify="required">
                                        <option value="">请选择省份</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline">
                                    <select name="city" th:value="${userProfile.city}" lay-filter="city" lay-verify="required">
                                        <option value="">请选择城市</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline">
                                    <select name="district" th:value="${userProfile.district}" lay-filter="district" lay-verify="required">
                                        <option value="">请选择区县</option>
                                    </select>
                                </div>
                             </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">详细住址<span style="color:red">*</span></label>
                                <div class="layui-input-block">
                                    <input type="text" name="address" th:value="${userProfile.address}" lay-verify="required" autocomplete="off" placeholder="请输入住址" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">职业</label>
                                <div class="layui-input-block">
                                    <select name="profession" th:value="${userProfile.profession}" lay-filter="profession">
                                        <option value="1">IT</option>
                                        <option value="2">建筑</option>
                                        <option value="3">金融</option>
                                        <option value="4">个体商户</option>
                                        <option value="5">旅游</option>
                                        <option value="6">其他</option>
                                    </select>
                                    <input name="professionText" hidden="hidden"></input>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">爱好</label>
                                <div class="layui-input-block">
                                    <select name="hobby" th:value="${userProfile.hobby}" lay-filter="hobby">
                                        <option value="1">篮球</option>
                                        <option value="2">足球</option>
                                        <option value="3">爬山</option>
                                        <option value="4">旅游</option>
                                        <option value="5">网游</option>
                                        <option value="6">其他</option>
                                    </select>
                                    <input name="hobbyText" hidden="hidden"></input>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="personInfoBtn">立即提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div style="width:98%;height:100%;">
                        <form class="layui-form" action="/zhddkk/wsUsers/updatePassword.do" lay-filter="modifyPasswordForm" method="post" target="hidden_frame2">
                            <div class="layui-form-item">
                                <label class="layui-form-label">用户名<span style="color:red">*</span></label>
                                <div class="layui-input-block">
                                    <input type="text" name="user" readonly th:value="${session.sessionInfo.userName}" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">旧密码<span style="color:red">*</span></label>
                                <div class="layui-input-block">
                                    <input type="password" name="oldPass" lay-verify="required" placeholder="请输入旧密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">新密码<span style="color:red">*</span></label>
                                <div class="layui-input-block">
                                    <input type="password" name="newPass" lay-verify="required|newPass" placeholder="请输入新密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">确认密码<span style="color:red">*</span></label>
                                <div class="layui-input-block">
                                    <input type="password" name="confirmPass" lay-verify="required|confirmPass" placeholder="请输入确认密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="modifyPasswordBtn">立即提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <iframe name="hidden_frame1" id="hidden_frame1" style='display: none'></iframe>
        <iframe name="hidden_frame2" id="hidden_frame2" style='display: none'></iframe>
    </div>

    <th:block th:include="common :: footer"></th:block>
    <th:block th:include="common :: sessionInfo"></th:block>
</body>
<script>
    initUpload();
    // 区域位置数据
    var positionData = null;
    initPosition();

    // 初始化區域位置信息
    var userProfileJsonObj = JSON.parse($("#userProfileJsonStr").val());
    $("select[name='province']").val(userProfileJsonObj.province);
    $("select[name='city']").val(userProfileJsonObj.city);
    $("select[name='district']").val(userProfileJsonObj.district);
    layui.form.render();

    //修改密码表单
    layui.use(['form'], function() {
        var form = layui.form;
        form.verify({
            newPass: function (value) {
                // 与旧密码比较
                if($('input[name=oldPass]').val() == value) {
                    return '新密码不能与旧密码一样';
                }
            }
            , confirmPass: function (value) {
                if($('input[name=newPass]').val() != value) {
                    return '两次密码不一致';
                }
            }
        });

        //密码修改监听提交
        form.on('submit(modifyPasswordBtn)', function (data) {
            return true;
        });

        //个人信息修改监听提交
        form.on('submit(personInfoBtn)', function (data) {
            return true;
        });

        // 性别
        form.on('select(sex)', function (data) {
            var text = data.elem[data.elem.selectedIndex].text;
            $("input[name='sexText']").val(text);
        });

        // 职业
        form.on('select(profession)', function (data) {
            var text = data.elem[data.elem.selectedIndex].text;
            $("input[name='professionText']").val(text);
        });

        // 爱好
        form.on('select(hobby)', function (data) {
            var text = data.elem[data.elem.selectedIndex].text;
            $("input[name='hobbyText']").val(text);
        });

        // 选择省份
        form.on('select(province)', function (data) {
            $("select[name='city']").empty();
            $("select[name='district']").empty();
            $.each(positionData, function (pIndex, pItem) {
                if (pItem.name == data.value) {
                    $.each(pItem.city, function (cIndex, cItem) {
                        $("select[name='city']").append("<option value='" + cItem.name + "'>" + cItem.name + "</option>");
                    })
                }
            });
            $("select[name='city']").get(0).selectedIndex = 0;
            $("select[name='district']").get(0).selectedIndex = 0;
            layui.form.render();
        });

        // 选择城市
        form.on('select(city)', function (data) {
            $("select[name='district']").empty();
            var provinceId = $("select[name='province']").val();
            $.each(positionData, function(pIndex, pItem) {
                if (pItem.name == provinceId) {
                    $.each(pItem.city, function (cIndex, cItem) {
                        if (cItem.name == data.value) {
                            $.each(cItem.area, function (aIndex, aItem) {
                                $("select[name='district']").append("<option value='" + aItem + "'>" + aItem + "</option>");
                            })
                        }
                    })
                }
            });
            $("select[name='district']").get(0).selectedIndex = 0;
            layui.form.render();
        });
    });

    function refresh() {
        window.location.href = window.location.href;
    };

    // 加载图片失败
    function imgerror(imgObj) {
        $(imgObj).attr("src", rootUrl + "img/" + $.ws.errorImageName);
    }

    $("#hidden_frame1").load(function () {
        var text = $(this).contents().find("body").text();
        var jsonObj = JSON.parse(text);
        if (jsonObj.code == 1) {
            layer.msg('更新个人信息成功');
            var index = parent.layer.getFrameIndex(window.name);
            setTimeout(function () {
                parent.layer.close(index);
                refresh();
            }, 2000)
        } else {
            layer.msg('更新个人信息失败');
        }
    });

    $("#hidden_frame2").load(function () {
        var text = $(this).contents().find("body").text();
        var jsonObj = JSON.parse(text);
        if (jsonObj.code == 1) {
            layer.msg('修改密码成功');
            var index = parent.layer.getFrameIndex(window.name);
            setTimeout(function () {
                parent.layer.close(index);
                refresh();
            }, 2000)
        } else {
            layer.msg(jsonObj.data);
        }
    });

    function showImg() {
        $.ws.gShowImg($("#headImg").attr("src"));
    }

    function initUpload() {
        layui.upload.render({
            elem: '#imageBtn',
            url: $.ws.uploadFileUrl,
            size: 10240,//单位为KB
            accept: 'images',
            data: {
                "folder": "headImg"
            },
            before: function () {
                layer.load();
            },
            done: function (r) {
                layer.closeAll('loading');
                if (r.code == 1) {
                    $("#headImg").attr("src", r.data);
                    $("#headImg").show();
                    $("#headImgInput").val(r.data);
                }
            },
            error: function () {
                layer.closeAll('loading');
            }
        });
    }

    function initPosition() {
        $("select[name='province']").empty();
        $("select[name='city']").empty();
        $("select[name='district']").empty();
        $.ajax({
            type: 'get',
            url: rootUrl + '/json/position.json',
            //dataType: 'json',
            async: false,
            success: function (result) {
                if (result.code != 1) {
                    positionData = result;
                    $.each(result, function (pIndex, pItem) {
                        $("select[name='province']").append("<option value='" + pItem.name + "'>" + pItem.name + "</option>");
                        $.each(pItem.city, function (cIndex, cItem) {
                            $("select[name='city']").append("<option value='" + cItem.name + "'>" + cItem.name + "</option>");
                            $.each(cItem.area, function (aIndex, aItem) {
                                $("select[name='district']").append("<option value='" + aItem + "'>" + aItem + "</option>");
                            })
                        })
                    });

                    $("select[name='province']").get(0).selectedIndex = 0;
                    $("select[name='city']").get(0).selectedIndex = 0;
                    $("select[name='district']").get(0).selectedIndex = 0;
                    layui.form.render();
                }
            }
        });
    }
</script>
</html>