<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="common :: header"></th:block>
<meta charset="UTF-8">
<title>设置个人信息</title>

<style>
    #mainDiv{
        width:360px;
        height:auto;
        border:2px solid green;
        margin:0 auto;
    }

    #formDiv{
        width:354px;
        height:100%;
    }

    select{
        width:212px;
        margin-left:5px;
    }

    #formDiv div{
        margin-top:10px;
        margin-left:5px;
    }
</style>
</head>
<body>
    <div id="mainDiv" align="center">
        <div id="formDiv" align="left">
            <form method="post" action="/zhddkk/wsUsers/setPersonInfo.do" enctype="multipart/form-data" onsubmit="return beforeSumbit()" target="hidden_frame">
                <input id="userNameHidden" name="userName" type="hidden">
                <div>
                    <label id="realNameLabel" for="realName">真实姓名:</label>
                    <input id="realName" name="realName" type="text" style="width:208px;margin-left:10px;"></input>
                </div>

                <div>
                    <label id="headImgLabel" for="headImg">头&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;像:</label>
                    <input type="hidden" id="headImgInput" name="headImg" style="width:208px;margin-left:10px;">
                    <button type="button" id="imageBtn" class="layui-btn" style="margin-left: 15px;">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>
                </div>
                <div style='padding-left:80px;'>
                    <img id="headImg" onclick="showImg()" alt="" width="60px" height="60px" onerror="imgerror(this)">
                </div>

                <div>
                    <label for="sign">个性签名:</label><input id="sign" name="sign" type="text" style="width:208px;margin-left:10px;"></input>
                </div>

                <div>
                    <label for="age">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄:</label><input id="age" name="age" type="text" style="width:208px;margin-left:10px;"></input>
                </div>

                <div>
                    <label for="sexSelect">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:</label>
                    <select id="sexSelect" name="sex" onchange="setHiddenText(this,'professionTextHidden')">
                        <option value="1" selected="selected">男</option>
                        <option value="2">女</option>
                        <option value="3">未知</option>
                    </select>
                    <input id="sexTextHidden" name="sexText" hidden="hidden"></input>
                </div>

                <div>
                    <label for="tel">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:</label><input id="tel" name="tel" type="text" style="width:208px;margin-left:10px;"></input>
                </div>

                <div>
                    <label for="address">住&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址:</label><input id="address" name="address" type="text" style="width:208px;margin-left:10px;"></input>
                </div>

                <div>
                    <label for="professionSelect">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业:</label>
                    <select id="professionSelect" name="profession" onchange="setHiddenText(this,'professionTextHidden')">
                        <option value="1">IT</option>
                        <option value="2">建筑</option>
                        <option value="3">金融</option>
                        <option value="4">个体商户</option>
                        <option value="5">旅游</option>
                        <option value="6" selected="selected">其他</option>
                    </select>
                    <input id="professionTextHidden" name="professionText" hidden="hidden"></input>
                </div>

                <div>
                    <label for="hobbySelect">爱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;好:</label>
                    <select id="hobbySelect" name="hobby" onchange="setHiddenText(this,'hobbyTextHidden')">
                        <option value="1">篮球</option>
                        <option value="2">足球</option>
                        <option value="3">爬山</option>
                        <option value="4">旅游</option>
                        <option value="5">网游</option>
                        <option value="6" selected="selected">其他</option>
                    </select>
                    <input id="hobbyTextHidden" name="hobbyText" hidden="hidden"></input>
                </div>
                <div align="center" style='margin-bottom: 5px;'>
                    <button type='submit' class='btn btn-sm btn-success' id="updatePersonInfoBtn">提&nbsp;&nbsp;&nbsp;&nbsp;交</button>
                </div>
            </form>
        </div>
        <iframe name="hidden_frame" id="hidden_frame" style='display: none'></iframe>
    </div>
    <th:block th:include="common :: footer"></th:block>
    <th:block th:include="common :: sessionInfo"></th:block>
</body>
    <script>
        initUpload();

        function setHiddenText(selectObj,hiddenId){
            var checkText=$(selectObj).find("option:selected").text();
            $("#"+hiddenId).val(checkText);
        }

        //查询个人信息
        queryPersonInfo(sessionUser);

        function beforeSumbit(){
            $("#userNameHidden").val(sessionUser);

            var sexText=$("#sexSelect").find("option:selected").text();
            $("#sexTextHidden").val(sexText);

            var professionText=$("#professionSelect").find("option:selected").text();
            $("#professionTextHidden").val(professionText);

            var hobbyText=$("#hobbySelect").find("option:selected").text();
            $("#hobbyTextHidden").val(hobbyText);
            return true;
        }

        // 查询个人信息
        function queryPersonInfo(user){
            $.ajax({
                type: 'POST',
                url: '/zhddkk/wsUsers/queryPersonInfo.json',
                data:{'user':user},
                //dataType: 'json',
                success: function(result) {
                    if (result.code == 1){
                        var data = result.data;
                        $("#realName").val(data.realName);
                        $("#sign").val(data.sign);
                        $("#age").val(data.age);
                        $("#sexSelect").val(data.sex);
                        $("#sexTextHidden").val(data.sexText);
                        $("#tel").val(data.tel);
                        $("#address").val(data.address);
                        $("#professionSelect").val(data.profession);
                        $("#professionTextHidden").val(data.professionText);
                        $("#hobbySelect").val(data.hobby);
                        $("#hobbyTextHidden").val(data.hobbyText);
                        $("#headImg").attr("src",data.img);
                        $("#headImgInput").val(data.img);
                    }
                }
            })
        }

        function refresh(){
            window.location.href = window.location.href;
        };

        // 加载图片失败
        function imgerror(imgObj){
            var scrVar = $(imgObj).attr("src");
            $(imgObj).attr("src",rootUrl+"img/"+$.ws.errorImageName);
        }

        $("#hidden_frame").load(function(){
            var text=$(this).contents().find("body").text();
            if (text.indexOf("操作成功") != -1){
                layer.msg('更新个人信息成功');
                var index = parent.layer.getFrameIndex(window.name);
                setTimeout(function(){
                    parent.layer.close(index);
                    refresh();
                },2000)

            }else{
                layer.msg('更新个人信息失败');
            }
        });

        function showImg() {
            $.ws.gShowImg($("#headImg").attr("src"));
        }

        function initUpload(){
            layui.upload.render({
                elem: '#imageBtn',
                url: $.ws.uploadUrl,
                size: 10240,//单位为KB
                accept: 'images',
                data: {
                    "user": sessionUser,
                    "folder": "headImg"
                },
                before: function () {
                    layer.load();
                },
                done: function (r) {
                    layer.closeAll('loading');
                    if (r.code == "1") {
                        $("#headImg").attr("src", r.data);
                        $("#headImg").show();
                        $("#headImgInput").val(r.data);
                    }
                },
                error: function () {
                    layer.closeAll('loading');
                }
            });
        }
    </script>
</html>