<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: header"></head>
<meta charset="UTF-8">
<title>显示个人信息</title>

<style>
	#mainDiv{
		width:370px;
		height:auto;
		margin:0 auto;
		border:2px solid green;
	}

	#formDiv{
		width:360px;
		height:100%;
	}

	#formDiv div{
		margin-top: 10px;
		margin-left: 5px;
	}
	
	select{
		width:212px;
		margin-left:5px;
	}
</style>
</head>
<body>
	<div id="mainDiv" align="center">
		<div id="formDiv" align="left" style='position:relative;'>
			<input type="hidden" th:value="${user}" id="user">
			<div>
				<label for="realName">真实姓名:</label>
				<input id="realName" name="realName" type="text" style="width:208px;margin-left:10px;"></input>
			</div>
			
			<div>
				<label id="headImgLabel" for="headImg">头&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;像:</label>
			</div>
			<div style='padding-left:70px;margin-top:-15px;margin-bottom: 10px;'>
				<img id="headImg" alt="" title="点击放大图片" width="60px" height="60px" onclick="showdiv()" onerror="imgerror(this)">
			</div>

			<div>
				<label for="sign">个性签名:</label>
				<input id="sign" name="sign" type="text" style="width:208px;margin-left:10px;"></input>
			</div>

			<div>
				<label for="age">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄:</label>
				<input id="age" name="age" type="text" style="width:208px;margin-left:10px;"></input>
			</div>

			<div>
				<label for="sexSelect">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:</label>
				<select id="sexSelect">
					<option value="1" selected="selected">男</option>
					<option value="2">女</option>
					<option value="3">未知</option>
				</select>
			</div>

			<div>
				<label for="tel">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:</label>
				<input id="tel" name="tel" type="text" style="width:208px;margin-left:10px;"></input>
			</div>

			<div>
				<label for="address">住&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址:</label>
				<input id="address" name="address" type="text" style="width:208px;margin-left:10px;"></input>
			</div>

			<div>
				<label for="professionSelect">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业:</label>
				<select id="professionSelect">
					<option value="1">IT</option>
					<option value="2">建筑</option>
					<option value="3">金融</option>
					<option value="4">个体商户</option>
					<option value="5">旅游</option>
					<option value="6" selected="selected">其他</option>
				</select>
			</div>

			<div>
				<label for="hobbySelect">爱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;好:</label>
				<select id="hobbySelect">
					<option value="1">篮球</option>
					<option value="2">足球</option>
					<option value="3">爬山</option>
					<option value="4">旅游</option>
					<option value="5">网游</option>
					<option value="6" selected="selected">其他</option>
				</select>
			</div>
		</div>
	</div>
	<div id="tipDiv" style="display:none;color:red;" align="center">该用户尚未设置个人信息</div>
	<div th:include="common :: footer"></div>
</body>
	<script>
		var user = $('#user').val();
		$("input,select").attr("disabled","disabled");
		queryPersonInfo();

		// 查询个人信息
		function queryPersonInfo(){
			$.ajax({
				type: 'POST',
				url: '/zhddkk/wsUsers/queryPersonInfo.json',
				data:{user:user},
				success: function(result) {
					if (result.code == 0){
						layer.msg("查询个人详情页失败");
						return;
					}
					var data = result.data;
					$("#realName").val(data.realName);
					$("#sign").val(data.sign);
					$("#age").val(data.age);
					$("#sexSelect").val(data.sex);
					$("#tel").val(data.tel);
					$("#address").val(data.address);
					$("#professionSelect").val(data.profession);
					$("#hobbySelect").val(data.hobby);
					$("#headImg").attr("src",data.img);
				}
			})
		}

		function showdiv() {
			$.ws.gShowImg($("#headImg").attr("src"));
		}

		// 加载图片失败
		function imgerror(imgObj){
			var scrVar = $(imgObj).attr("src");
			$(imgObj).attr("src",rootUrl+"img/"+$.ws.errorImageName);
		}
	</script>
</html>