package ${package}.dao;

import ${package}.domain.${className}DO;
import com.pjb.springbootjwt.zhddkk.base.BaseDao;
import org.springframework.stereotype.Repository;

/**
 * ${comments}.
 * 作者:${author}
 * 邮箱:${email}
 * 创建时间:${datetime}
 */
@Repository
public interface ${className}Dao extends BaseDao<${className}DO> {

}
