package ${package}.domain;

import java.io.Serializable;
import java.util.Date;

import com.baomidou.mybatisplus.annotations.TableField;
import com.baomidou.mybatisplus.annotations.TableId;
import com.baomidou.mybatisplus.annotations.TableName;
import com.baomidou.mybatisplus.enums.IdType;
import io.swagger.annotations.ApiModelProperty;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasCreateTime} || ${hasUpdateTime} || ${hasDeleteTime})
import com.fasterxml.jackson.annotation.JsonFormat;
#end

/**
 * ${comments}.
 */
@TableName("${tableName}")
@Data
@NoArgsConstructor
@AllArgsConstructor
public class ${className}DO implements Serializable {

    @TableField(exist = false)
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
    //$column.comments
#if ($column.attrname == $pk.attrname)
    @TableId(type = IdType.AUTO)
#end
    @ApiModelProperty(value = "$column.attrname" , name = "$column.comments")
#if($column.attrname == "createTime")
    @JsonFormat(pattern="yyyy-MM-dd HH:mm:ss",timezone = "GMT+8")
#end
#if($column.attrname == "updateTime")
    @JsonFormat(pattern="yyyy-MM-dd HH:mm:ss",timezone = "GMT+8")
#end
#if($column.attrname == "deleteTime")
    @JsonFormat(pattern="yyyy-MM-dd HH:mm:ss",timezone = "GMT+8")
#end
    private $column.attrType $column.attrname;

#end
}
