package ${package}.dao;

import java.util.List;
import java.util.Map;

import ${package}.entity.${className};
import com.baomidou.mybatisplus.mapper.BaseMapper;

/**
 * ${comments}.
 * 作者:${author}
 * 邮箱:${email}
 * 创建时间:${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className}> {

}
