package ${package}.service;

import ${package}.domain.${className}DO;
import com.pjb.springbootjwt.zhddkk.base.CoreService;

/**
 * ${comments}
 */
public interface ${className}Service extends CoreService<${className}DO> {
    
}
