<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pjb.springbootjwt.shop.dao.SpGoodsDao">
    <select id="queryCenterGoodsList" resultType="com.pjb.springbootjwt.shop.dto.GoodsDetailDTO">
        select
            t1.*,
            t2.name AS merchant_name,
            IFNULL(t3.status, 2) AS goods_favorite_status,
            IFNULL(t4.status, 2) AS merchant_favorite_status
        from
            sp_goods t1
        left join
            sp_merchant t2
        on
            t1.merchant_id = t2.merchant_id
        left join
            sp_favorite t3
        on
            t1.goods_id = t3.subject_id
        and t3.subject_type = 1
        and t3.user_id=#{loginUserId}
        left join
            sp_favorite t4
        on
            t1.merchant_id = t4.subject_id
        and t4.subject_type = 2
        and t4.user_id=#{loginUserId}
        <if test="ew.sqlSegment != null and ew.sqlSegment != ''">
            <where>
                ${ew.sqlSegment}
            </where>
        </if>
    </select>

    <select id="queryCenterGoodsDetail" resultType="com.pjb.springbootjwt.shop.dto.GoodsDetailDTO">
        select
            t1.*,
            t2.name AS merchant_name,
            IFNULL(t3.status, 2) AS goods_favorite_status,
            IFNULL(t4.status, 2) AS merchant_favorite_status
        from
            sp_goods t1
        left join
            sp_merchant t2
        on
            t1.merchant_id = t2.merchant_id
        left join
            sp_favorite t3
        on
            t1.goods_id = t3.subject_id
        and t3.subject_type = 1
        and t3.user_id = #{loginUserId}
        left join
            sp_favorite t4
        on
            t1.merchant_id = t4.subject_id
        and t4.subject_type = 2
        and t4.user_id = #{loginUserId}
        where
            t1.status != 0
        and
            t2.status != 0
        and t1.id = #{goodsPkId}
    </select>
</mapper>