<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pjb.springbootjwt.shop.dao.SpOrderDetailDao">
    <select id="queryOrderDetailList" resultType="com.pjb.springbootjwt.shop.dto.SpOrderDetailDTO">
        SELECT
            t1.*,
            cast(t1.original_price as char) AS original_price_str,
            cast(t1.sale_price as char) AS sale_price_str,
            t3.name AS merchant_name,
            t4.total_price AS total_original_price,
            t4.pay_price AS total_pay_price,
            t5.order_no,
            t5.goods_count,
            t5.goods_original_price,
            t5.goods_sale_price,
            cast(t5.goods_original_price as char) AS goods_original_price_str,
            cast(t5.goods_sale_price as char) AS goods_sale_price_str
        FROM
            sp_goods t1
        RIGHT JOIN
            sp_merchant t3
        ON
            t1.merchant_id = t3.merchant_id
        RIGHT JOIN
        		sp_order t4
        ON
		  		t4.parent_order_no = #{parentOrderNo}
        RIGHT JOIN
        		sp_order_detail t5
        ON
		  		t5.order_no = t4.order_no
        AND
		  		t1.goods_id = t5.goods_id
        WHERE
		  		t1.goods_id IS NOT null
    </select>
</mapper>