<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <style>
        p{
            text-indent:2em;
        }
    </style>
</head>
<body>
    <div style="width:80%;height:80%;margin:0 auto;">
        <img src="../img/fengjing/fj6.jpg" width="60" height="60" style="position: relative;left:1px;top:1px;">
        <p>
            作者今年30岁,湖北武汉人,08年武汉XX大学毕业，至今工作已有10年。主要从事IT后端开发。web端略懂，常用的技术都会。
        </p>
        <p>
            在华为工作期间，得到项目xxx奖励，连续3年被评为xx组开发达人奖。
        </p>
    </div>
</body>
</html>