<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: header"></th:block>
    <meta charset="UTF-8">
    <title>页面出错啦</title>

    <style type="text/css">
        #emojiDiv {
            width:500px;
            height:62px;
            margin:40px auto;
            text-align: center;
        }

        #emojiDiv img {
            width: 60px;
            height: 60px;
        }
    </style>
</head>
<body>
    <div id="emojiDiv">
        <h1>页面访问出错啦</h1>
        <img th:each="count:${#numbers.sequence(1,3)}" th:src="@{../../img/emoji/qqs/11.png}">
    </div>

    <th:block th:include="common :: footer"></th:block>
</body>
    <script type="text/javascript">

    </script>
</html>