<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: header"></head>
	<title>WebSocket服务端</title>

<style type="text/css">
    label{
        margin:0;
    }

	#footDiv{
		width:100%;
		height:100%;
		color:black;
		font-size:14px;
		font-weight:bold;
	}

	#copyrightDiv ul li{
		float:left;
		list-style:none;
	}

	#statusDiv{
		width:100%;
		height:50%;
		font-size:14px;
		font-weight:bold;
		margin-right:3px;
	}

	#statusTips{
		width: 100%;
		height: 100%;
		display: inline-block;
		margin-top: -10px;
	}

	#copyrightDiv li{
		cursor: pointer;
		margin-right: 8px;
	}

	#copyrightDiv li span{
		margin-right: 2px;
	}
</style>
</head>
<body>
	<!--底部-->
	<div id="footDiv" align="center">
		<div style="height:50%;">
			<div style="float:left;">
				<label id="cliName">[[#{label.copyright}]]</label>
				<label id="versionLabel" style='margin-left:10px;color:blue;font-weight:bold;'></label>
				<a href='javascript:void(0)' onclick='checkUpdate()' style='margin-left:15px;'>
                    <span class="glyphicon glyphicon-sort"></span>&nbsp;[[#{label.checkupdate}]]
                </a>
			</div>
			<div id="copyrightDiv" style="float:right;color:blue;">
				<ul>
					<li onclick="showSessionInfo()">
						<a href="#"><span class="glyphicon glyphicon-info-sign"></span>[[#{a.sessioninfo.label}]]</a>
					</li>
					<li onclick="contactAuthor()">
						<a href="#"><span class="glyphicon glyphicon-phone-alt"></span>[[#{a.contactauthor.label}]]</a>
                    </li>
					<li onclick="donate()">
						<a href="#"><span class="fa fa-money"></span>[[#{a.donate.label}]]</a>
                    </li>
					<li onclick="feedbackUs()">
						<a href="#"><span class="glyphicon glyphicon-question-sign"></span>[[#{a.feedback.label}]]</a>
                    </li>
					<li onclick="aboutUs()">
						<a href="#"><span class="glyphicon glyphicon-user"></span>[[#{a.aboutus.label}]]</a>
                    </li>
				</ul>
			</div>
		</div>

		<!--提示栏 -->
		<div id="statusDiv" align="right">
			<span id="statusTips" ></span>
		</div>
	</div>
	<div th:include="common :: footer"></div>
</body>
	<script type="text/javascript">
		//当前版本号
		var curVersion = "";
		queryVersion();

		//查询版本号
		function queryVersion(){
			$.ajax({
				type: 'GET',
				url: rootUrl+'ws/queryVersion.json',
				//dataType: 'json',
				async:false,
				success: function(result) {
					curVersion = result;
					$("#versionLabel").text(result);
				}
			});
		}

		//检查升级
		function checkUpdate(){
			$.ajax({
				type: 'GET',
				url: rootUrl+'ws/checkUpdate.do?version='+curVersion+"&cmd=check",
				//dataType: 'json',
				async:false,
				success: function(result) {
					//needUpdate:false;from:1.0;to:2.0
					var needUpdate = result.split("needUpdate:")[1].split(";")[0];
					if (needUpdate == "true"){
						var toVersion = result.split("to:")[1];

						layer.confirm('已经发现新版本,是否要升级到'+toVersion+"?", {
							btn: ['是','否'] //按钮
						}, function(index){
							console.log("开始升级到"+toVersion);
							toUpdate(curVersion);
							layer.close(index);
						}, function(index){
							layer.close(index);
						});
					}else{
						layer.alert('已经是最新版本!');
					}
				}
			});
		}

		//开始升级
		function toUpdate(curVersion){
			$.ajax({
				type: 'GET',
				url: rootUrl+'ws/checkUpdate.do?version='+curVersion+"&cmd=update",
				//dataType: 'json',
				async:false,
				success: function(result) {
					console.log("升级结果:"+result);
				}
			});
		}

		//查看session信息
		function showSessionInfo(){
			parent.layer.open({
				type : 2,
				title : '会话信息',
				maxmin : false,
				shadeClose : true,//点击遮罩关闭层
				area : [ '560px', '400px' ],
				content : rootUrl + '/sessionInfo.page'
			});
		}

		//联系作者
		function contactAuthor(){
			parent.layer.open({
				type : 2,
				title : '联系作者',
				maxmin : false,
				shadeClose : true,//点击遮罩关闭层
				area : [ '530px', '300px' ],
				content : rootUrl + 'index/contactAuthor.page'
			});
		}

		//捐赠作者
		function donate(){
			parent.layer.open({
				type : 2,
				title : '捐赠作者',
				maxmin : false,
				shadeClose : true,//点击遮罩关闭层
				area : [ '530px', '300px' ],
				content : rootUrl + 'index/donate.page'
			});
		}

		//提出疑问
		function feedbackUs() {
			parent.layer.open({
				type : 2,
				title : '提出疑问',
				maxmin : false,
				shadeClose : true,//点击遮罩关闭层
				area : [ '530px', '300px' ],
				content : rootUrl + 'index/feedbackUs.page'
			});
		}

		//关于我们
		function aboutUs() {
			parent.layer.open({
				type : 2,
				title : '关于我们',
				maxmin : false,
				shadeClose : true,//点击遮罩关闭层
				area : [ '530px', '300px' ],
				content : rootUrl + 'index/aboutUs.page'
			});
		}
	</script>
</html>
