<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: header"></head>
	<title>WebSocket服务端</title>

<style type="text/css">
	#footDiv{
		width:100%;
		height:100%;
		color:black;
		font-size:15px;
		font-weight:bold;
	}

	#copyrightDiv ul li{
		float:left;
		list-style:none;
	}

	#statusDiv{
		width:100%;
		height:20px;
		font-size:15px;
		font-weight:bold;
		margin-top:2px;
		margin-right:3px;
	}

	#statusTips{
		width: 100%;
		height: 100%;
		display: inline-block;
		margin-top: -10px;
	}
</style>
</head>
<body>
	<!--底部-->
	<div id="footDiv" align="center">
		<div style="height:20px;">
			<div style="float:left;">
				<label id="curUser22">邮箱:547495788@qq.com</label>
			</div>
			<div style="float:left;margin-left: 350px;">
				<label id="cliName">所有版权信息归作者所有</label>
				<label id="versionLabel" style='margin-left:15px;color:blue;font-weight:bold;'></label>
				<a href='javascript:void(0)' onclick='checkUpdate()' style='margin-left:15px;'>检查更新</a>
			</div>
			<div id="copyrightDiv" style="float:right;">
				<ul>
					<li>联系作者 | </li>
					<li>捐赠作者 | </li>
					<li>提出疑问 | </li>
					<li>关于我们</li>
				</ul>
			</div>
		</div>

		<!--提示栏 -->
		<div id="statusDiv" align="right">
			<!--<span id="statusTips"></span>-->
			<marquee direction="left" behavior="alternate" scrolldelay="10" scrollamount="10"><span id="statusTips" ></span></marquee>
		</div>
	</div>
	<div th:include="common :: footer"></div>
</body>
	<script type="text/javascript">
		var curVersion = "";
		queryVersion();
		function queryVersion(){
			$.ajax({
				type: 'GET',
				url: rootUrl+'ws/queryVersion.json',
				//dataType: 'json',
				async:false,
				success: function(result) {
					curVersion = result;
					$("#versionLabel").text(result);
				}
			});
		}

		function checkUpdate(){
			$.ajax({
				type: 'GET',
				url: rootUrl+'ws/checkUpdate.do?version='+curVersion+"&cmd=check",
				//dataType: 'json',
				async:false,
				success: function(result) {
					console.log("checkUpdate result:"+result);
					//needUpdate:false;from:1.0;to:2.0
					var needUpdate = result.split("needUpdate:")[1].split(";")[0];
					if (needUpdate == "true"){
						var toVersion = result.split("to:")[1];

						layer.confirm('已经发现新版本,是否要升级到'+toVersion+"?", {
							btn: ['是','否'] //按钮
						}, function(index){
							console.log("开始升级到"+toVersion);
							toUpdate(curVersion);
							layer.close(index);
						}, function(index){
							layer.close(index);
						});
					}else{
						layer.alert('已经是最新版本!');
					}
				}
			});
		}

		function toUpdate(curVersion){
			$.ajax({
				type: 'GET',
				url: rootUrl+'ws/checkUpdate.do?version='+curVersion+"&cmd=update",
				//dataType: 'json',
				async:false,
				success: function(result) {
					console.log("升级结果:"+result)
				}
			});
		}
	</script>
</html>
