<html xmlns:th="http://www.thymeleaf.org" lang="UTF-8">
<head>
    <th:block th:include="common :: header"></th:block>
    <title>忘记密码</title>

    <style type="text/css">
        .layui-form-item {
            margin-bottom: 2px;
        }
        .layui-form-label {
            padding: 5px 15px;
            width: 82px;
        }
    </style>
</head>
<body>
    <div style="width:100%;height:auto;margin:0 auto;padding-top: 5px;">
        <form class="layui-form" action="/updatePassword.do" lay-filter="modifyPasswordForm" method="post" target="hidden_frame">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="user" lay-verify="required|lenthOver2" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-block">
                    <input type="password" name="pass" lay-verify="required|lenthOver3" placeholder="请输入新密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block">
                    <input type="password" name="confirmPass" lay-verify="required|lenthOver3|confirmPass" placeholder="请输入确认密码" autocomplete="off" class="layui-input">
                </div>
            </div>

                        <div class="layui-form-item">
                <label class="layui-form-label">问题1</label>
                <div class="layui-input-block">
                    <select name="question1" lay-filter="question1">
                    </select>
                </div>
            </div>
           
            <div class="layui-form-item">
                <label class="layui-form-label">您的答案</label>
                <div class="layui-input-block">
                    <input type="text" name="answer1" lay-verify="required" autocomplete="off" placeholder="请输入答案1" class="layui-input">
                </div>
            </div>
           
            <div class="layui-form-item">
                <label class="layui-form-label">问题2</label>
                <div class="layui-input-block">
                    <select name="question2" lay-filter="question2">
                    </select>
                </div>
            </div>
           
            <div class="layui-form-item">
                <label class="layui-form-label">您的答案</label>
                <div class="layui-input-block">
                    <input type="text" name="answer2" lay-verify="required" autocomplete="off" placeholder="请输入答案2" class="layui-input">
                </div>
            </div>
           
            <div class="layui-form-item">
                <label class="layui-form-label">问题3</label>
                <div class="layui-input-block">
                    <select name="question3" lay-filter="question3">
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">您的答案</label>
                <div class="layui-input-block">
                    <input type="text" name="answer3" lay-verify="required" autocomplete="off" placeholder="请输入答案3" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="forgetPasswordBtn">立即提交</button>
                </div>
            </div>
        </form>
    </div>
    <iframe name="hidden_frame" id="hidden_frame" style='display: none'></iframe>

    <th:block th:include="common :: footer"></th:block>
</body>
    <script type="text/javascript">
        var user = "";
        $("input[name='user']").blur(function () {
            var user = $(this).val();
            if (user != '' && user != undefined) {
                getUserQuestion(user);
            }
        });

        function getUserQuestion(user) {
            if (user == "admin") {
                layer.msg("不能修改管理密码!");
                $("button[type='submit']").attr("disabled", true);
                return;
            }
            $.ajax({
                type: 'GET',
                url: rootUrl + '/getUserQuestion.json',
                data: {'user': user},
                async: true,
                success: function (result) {
                        $("select[name='question1']").empty();
                        $("select[name='question2']").empty();
                        $("select[name='question3']").empty();
                        if (result.code == 1) {
                            $("button[type='submit']").attr("disabled", false);
                            var jsonObj = result.data;
                            var ques1 = jsonObj.question1;
                            var ques2 = jsonObj.question2;
                            var ques3 = jsonObj.question3;
                            $("select[name='question1']").append("<option value=" + ques1 + ">" + ques1 + "</option>");
                            $("select[name='question2']").append("<option value=" + ques2 + ">" + ques2 + "</option>");
                            $("select[name='question3']").append("<option value=" + ques3 + ">" + ques3 + "</option>");
                            layui.form.render();
                        } else {
                            layer.msg("该用户不存在!");
                            $("button[type='submit']").attr("disabled", true);
                        }
                }
            });
        }

        //注册表单监听
        layui.use(['form'], function() {
            var form = layui.form;
            form.verify({
                confirmPass: function (value) {
                    if($("input[name='pass']").val() != value) {
                        return '两次密码不一致';
                    }
                }
                ,lenthOver2: function (value) {
                    if (value.length < 2){
                        return '长度不能小于2';
                    }
                }
                ,lenthOver3: function (value) {
                    if (value.length < 3){
                        return '长度不能小于3';
                    }
                }
            });

            //忘记密码监听提交
            form.on('submit(forgetPasswordBtn)', function (data) {
                return true;
            });
        });

        $("#hidden_frame").load(function () {
            var text = $(this).contents().find("body").text();
            var jsonObj = JSON.parse(text);
            if (jsonObj.code == 1) {
                var timeout = 3;
                layer.msg('更改密码成功,' + timeout + "秒后返回登录页面");
                var user = $("#user").val();
                var index = parent.layer.getFrameIndex(window.name);
                setTimeout(function () {
                    parent.layer.close(index);
                    window.location.href = "login.page?user=" + user;
                }, timeout * 1000)

            } else {
                layer.msg('更改密码失败: '+jsonObj.msg);
            }
        });
    </script>
</html>
