<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: header"></head>
	<title>头部</title>

<style type="text/css">
	#headerDiv{
		width:100%;
		height:100%;
		font-weight:bold;
		background-repeat: no-repeat;
		background-position: 0px -230px;
	}

	#curTimeSpan{
		margin-left:20px;
		font-size:15px;
	}

    label{
        margin:0;
        padding:0;
    }
</style>
</head>
<body>
	<!--头部-->
	<div id="headerDiv" align="center">
		<img id="headBackgroundImg" src="../img/headerX.jpg" hidden>
		<div style="float:left;">
            <div style="float:left;">
			    <img id='myImg' alt=""  width="50" height="50">
            </div>
            <div style="float:left;margin-left:3px;margin-right: 3px;">
                <div style="height:65%;text-align: left;">
			         <label style="font-size: 14px;">你好:</label><label id="curUser" style="color:blue;font-size:23px;"></label>
                </div>
                <div style="height:34%;text-align: left;">
                    <label>在线:</label><label id="onlineNum">0</label>&nbsp;&nbsp;
                    <label>积分:</label><label id="coinNum">0</label>
                </div>
            </div>
		</div>

		<!--头部标题-->
		<div id="headerTitleDiv" style="float:left;font-size:20px;width:60%;height:100%;padding-top:13px;display: none;">
			<label id="titleLabel" style="color:black;">websocket客户端</label>
		</div>

		<!--天气-->
		<div id="weatherDiv" style="float:left;font-size:18px;width:60%;height:100%;padding-top:13px;display: block;">
			<label id="weatherInfo" style="color:black;"></label>&nbsp;&nbsp;
			<label id="lastUpdateTime" style="color:black;"></label>&nbsp;&nbsp;
			<label id="location" style="color:black;"></label>
		</div>

		<!--滚动新闻-->
		<div id="scrollAdDiv" style="float:left;height:100%;overflow:hidden;width:29%;margin-left: 3px;display: none;">
			<div id="adContentOutDiv" style="height:200%;text-align: left;">
				<div id="adContentDiv"></div>
				<div id="adNoContentDiv"></div>
			</div>
		</div>

		<!--右侧按钮组-->
		<div id="btnDiv" style="float:right;margin-right:5px;">
			<!--当前时间-->
			<div style="text-align:right;">
				<span id="curTimeSpan">0000-00-00 00:00:00</span>
			</div>
			<div>
				<button id="signBtn" onclick="parent.sign()" class='btn btn-sm btn-info'>签&nbsp;&nbsp;到</button>&nbsp;&nbsp;
				<button id="showQRCodeBtn" onclick="parent.showQRCode()" class='btn btn-sm btn-success'>扫码登录</button>&nbsp;&nbsp;
				<button id="setPersonInfoBtn" onclick="parent.setPersonInfoBtn()" class="btn btn-sm btn-primary">设&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;置</button>&nbsp;&nbsp;
				<button id="exitBtn" class='btn btn-sm btn-danger' onclick="parent.toIndex()">退&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出</button>
			</div>
		</div>
	</div>
	<div th:include="common::footer"></div>
</body>
	<script type="text/javascript">
		//头部头像
        var headerTitle = "";
		if (parent.s_user == "admin"){
            headerTitle = "websocket服务端";
			if (parent.s_selfimg == ""){
				$("#myImg").attr("src",rootUrl+"img/headimg/admin.jpg");
			}else{
				$("#myImg").attr("src", parent.s_selfimg);
			}
		}else{
            headerTitle = "websocket客户端";
            if (parent.s_selfimg == "" || parent.s_selfimg == null) {
                var errorImgUrl = rootUrl+"../img/"+$.ws.errorImageName;
                $("#myImg").attr("src",errorImgUrl);
            }
		}
		$("#curUser").text(parent.s_user);

		//当前时间
		var curTimeTemp = getCurrentTime();
		$("#curTimeSpan").text(curTimeTemp);

		//定时更新时间
		setInterval(function(){
			var curTime = getCurrentTime();
			$("#curTimeSpan").text(curTime);
		},1000)

		//定时获取天气
		grapWeatherInfo();
		setInterval(function(){
			grapWeatherInfo();
		},600000);
		function grapWeatherInfo(){
			$.ajax({
				type: 'GET',
				url: rootUrl+'index/grapWetherInfo',
				async:false,
				success: function(result) {
					if (result.code == 1){
						$("#weatherInfo").text(result.data.remark);
						$("#lastUpdateTime").text(result.data.lastUpdateTime);
						$("#location").text(result.data.location);
					}
				}
			});
		}

		//定时刷新在线人数和积分数量
        getOnlineInfo();
		setInterval(getOnlineInfo, 15000);
        function getOnlineInfo() {
            $.ajax({
                type: 'GET',
                url: 'getOnlineInfo.json',
                data: {"user": parent.s_user},
                //dataType: 'json',
                success: function (result) {
					if (result.code == 0){
						return;
					}
                    var jsonObj = result.data;
                    var currentUserOnlineInfo = jsonObj.currentOnlineUserInfo;
                    var coinNum = currentUserOnlineInfo.coinNum;
                    var onlineNum = jsonObj.onlineUserList.length;
                    var headImage = currentUserOnlineInfo.headImage;

                    $("#coinNum").text(coinNum);
                    $("#onlineNum").text(onlineNum);
                    if (headImage == null || headImage == ""){
                        $("#myImg").attr("src",rootUrl+"../img/"+$.ws.errorImageName);
                    }else {
                        $("#myImg").attr("src", headImage);
                    }
                }
            });
        }

		//定时切换header标题
		setInterval(function () {
			var titleStatus = $("#headerTitleDiv").css("display");
			if (titleStatus == "none"){
                $("#titleLabel").text(headerTitle);
				$("#headerTitleDiv").css("display", "block");
				$("#weatherDiv").css("display", "none");
			}else{
				$("#headerTitleDiv").css("display", "none");
				$("#weatherDiv").css("display", "block");
			}
		},8000);

		//定时滚动header背景图片
		$.ws.backgroundImgAnimation("headBackgroundImg","headerDiv", 1, 10);

		//头部滚动广告
		var scrollAdDiv = document.getElementById("scrollAdDiv");
		var adContentDiv = document.getElementById("adContentDiv");
		var adNoContentDiv = document.getElementById("adNoContentDiv");
		scrollAdDiv.scrollTop = adContentDiv.offsetHeight;
		function Marquee(){
			adNoContentDiv.innerHTML = adContentDiv.innerHTML;
			if (scrollAdDiv.scrollTop >= adContentDiv.offsetHeight) {
				scrollAdDiv.scrollTop -= adNoContentDiv.offsetHeight;
			}else{
				scrollAdDiv.scrollTop += 1;
			}
		}
		setInterval(Marquee, 100);

		//获取最新广告
		//queryRecentAdsList();
		function queryRecentAdsList(){
			$.ajax({
				type: 'GET',
				url: '/zhddkk/wsAds/queryRecentAdsList?count=4',
				async:false,
				success: function(result) {
					if (result.code == 1){
						var data = result.data;
						var totalAds = "";
						$.each(data,function(i,val){
							totalAds += val.content+"&nbsp;&nbsp;&nbsp;"+val.createTime+"<br/>";
						});
						$("#adContentDiv").html(totalAds);
					}
				}
			});
		}

		//定时获取最新广告
		//setInterval(queryRecentAdsList, 60000);
	</script>
</html>
