<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: header"></head>
	<title>头部</title>

<style type="text/css">
	#headerDiv{
		width:100%;
		height:100%;
		font-weight:bold;
		background-repeat: no-repeat;
		background-position: 0px -230px;
	}

	#curTimeSpan{
		margin-left:20px;
		font-size:15px;
	}
</style>
</head>
<body>
	<!--头部-->
	<div id="headerDiv" align="center">
		<img id="headBackgroundImg" src="../img/headerX.jpg" hidden>
		<div style="float:left;">
			<img id='myImg' alt=""  width="50" height="50">
			<label style="font-size: 20px;">你好:</label><label id="curUser" style="color:blue;font-size:28px;"></label>
		</div>

		<!--头部标题-->
		<div id="headerTitleDiv" style="float:left;font-size:20px;width:36%;padding-top:13px;display: none;">
			<label id="titleLabel" style="color:black;">websocket客户端</label>
		</div>

		<!--天气-->
		<div id="weatherDiv" style="float:left;font-size:18px;width:36%;padding-top:13px;display: block;">
			<label id="weatherInfo" style="color:black;"></label>&nbsp;&nbsp;
			<label id="lastUpdateTime" style="color:black;"></label>&nbsp;&nbsp;
			<label id="location" style="color:black;"></label>
		</div>

		<!--滚动新闻-->
		<div id="scrollAdDiv" style="float:left;height:30px;overflow:hidden;width:30%;margin-top:15px;">
			<div id="adContentOutDiv" style="height:200%;text-align: left;">
				<div id="adContentDiv"></div>
				<div id="adNoContentDiv"></div>
			</div>
		</div>

		<!--右侧按钮组-->
		<div id="btnDiv" style="float:right;margin-right:5px;">
			<!--当前时间-->
			<div style="text-align:right;">
				<span id="curTimeSpan">0000-00-00 00:00:00</span>
			</div>
			<div>
				<button id="showQRCodeBtn" onclick="showQRCode()" class='btn btn-sm btn-success'>扫码登录</button>&nbsp;&nbsp;
				<button id="setPersonInfoBtn" onclick="setPersonInfoBtn()" class="btn btn-sm btn-primary">设&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;置</button>&nbsp;&nbsp;
				<button id="exitBtn" class='btn btn-sm btn-danger' onclick="toIndex()">退&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出</button>
			</div>
		</div>
	</div>
	<div th:include="common::footer"></div>
</body>
	<script type="text/javascript">
		//头部头像
        var headerTitle = "";
		if (parent.s_user == "admin"){
            headerTitle = "websocket服务端";
			if (parent.s_selfimg == ""){
				$("#myImg").attr("src",rootUrl+"img/headimg/admin.jpg");
			}else{
				$("#myImg").attr("src", parent.s_selfimg);
			}
		}else{
            headerTitle = "websocket客户端";
			$("#myImg").attr("src", parent.s_selfimg);
		}
		$("#curUser").text(parent.s_user);

		//当前时间
		var curTimeTemp = getCurrentTime();
		$("#curTimeSpan").text(curTimeTemp);

		//定时更新时间
		setInterval(function(){
			var curTime = getCurrentTime();
			$("#curTimeSpan").text(curTime);
		},1000)

		//定时获取天气
		grapWeatherInfo();
		setInterval(function(){
			grapWeatherInfo();
		},600000);
		function grapWeatherInfo(){
			$.ajax({
				type: 'GET',
				url: rootUrl+'index/grapWetherInfo',
				async:false,
				success: function(result) {
					if (result.code == 0){
						$("#weatherInfo").text(result.data.remark);
						$("#lastUpdateTime").text(result.data.lastUpdateTime);
						$("#location").text(result.data.location);
					}
				}
			});
		}

		//定时切换header标题
		setInterval(function () {
			var titleStatus = $("#headerTitleDiv").css("display");
			if (titleStatus == "none"){
                $("#titleLabel").text(headerTitle);
				$("#headerTitleDiv").css("display", "block");
				$("#weatherDiv").css("display", "none");
			}else{
				$("#headerTitleDiv").css("display", "none");
				$("#weatherDiv").css("display", "block");
			}
		},8000);

		//定时滚动header背景图片
		$.ws.backgroundImgAnimation("headBackgroundImg","headerDiv", 1, 10);

		//头部滚动广告
		var scrollAdDiv = document.getElementById("scrollAdDiv");
		var adContentDiv = document.getElementById("adContentDiv");
		var adNoContentDiv = document.getElementById("adNoContentDiv");
		scrollAdDiv.scrollTop = adContentDiv.offsetHeight;
		function Marquee(){
			adNoContentDiv.innerHTML = adContentDiv.innerHTML;
			if (scrollAdDiv.scrollTop >= adContentDiv.offsetHeight) {
				scrollAdDiv.scrollTop -= adNoContentDiv.offsetHeight;
			}else{
				scrollAdDiv.scrollTop += 1;
			}
		}
		setInterval(Marquee, 100);

		//获取最新广告
		queryRecentAdsList();
		function queryRecentAdsList(){
			$.ajax({
				type: 'GET',
				url: '/zhddkk/wsAds/queryRecentAdsList?count=4',
				async:false,
				success: function(result) {
					if (result.code == 0){
						var data = result.data;
						var totalAds = "";
						$.each(data,function(i,val){
							totalAds += val.content+"&nbsp;&nbsp;&nbsp;"+val.createTime+"<br/>";
						});
						$("#adContentDiv").html(totalAds);
					}
				}
			});
		}

		//定时获取最新广告
		setInterval(queryRecentAdsList, 60000);

		//扫码登录
		function showQRCode(){
			return parent.showQRCode();
		}

		//设置个人信息
		function setPersonInfoBtn(){
			parent.setPersonInfoBtn();
		}

		//退出
		function toIndex(){
			parent.toIndex();
		}
	</script>
</html>
