<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: header"></head>
<title>[[#{page.login.title}]]</title>
<style type="text/css">
    #helpDiv a{
		font-size:13px;
	}

	#helpDiv a:hover
	{
		font-weight: bold;
		color: #1e88e5;
	}

	#mainDiv{
        width:400px;
        height:340px;
        position: relative;
        background-color: aqua;
		box-shadow: grey 10px 6px 10px;
		border:1px solid grey;
		background-repeat: no-repeat;
		background-position: 0px 0px;
	}

	#loginForm{
		padding-left: 30px;
		padding-top: 30px;
	}

	input{
		border: 0;
		outline: none;
		height: 22px;
	}

	#btnlogin{
		box-shadow: grey 5px 5px 10px;
	}

    .input-group-addon{
        background-color:#eeeeee;
        border:1px solid #cccccc;
    }
</style>
</head>
<body>
<div id="mainDiv">
    <input id="locale" type="hidden" th:value="${locale}">
	<div style="height:50px;background-color: #428BCA;padding-top: 5px;">
		<div style="text-align: center;font-size: 35px;color:white;">
			<p>WebSocket</p>
		</div>
	</div>
    <!--二维码登陆-->
	<button id="phonelogin" class='btn btn-info btn-large' style="position:absolute;top:6px;left:6px;font-size: 15px;">
        <span class="glyphicon glyphicon-qrcode"></span>
    </button>
    <!--选择语言-->
    <div style="position:absolute;top:6px;left:295px;">
        <select class="selectpicker" data-style="btn-info" data-width="100px">
            <option value="zh_CN" data-icon="fa fa-cny" th:text="中文" th:selected="${lang == 'zh_CN'}"></option>
            <option value="en_US" data-icon="fa fa-dollar" th:text="English" th:selected="${lang == 'en_US'}"></option>
            <option value="ko_KR" data-icon="fa fa-won" th:text="한국어" th:selected="${lang == 'ko_KR'}"></option>
        </select>
    </div>
	<img id="backgroundImg" src="../img/fengjing/fj9.jpg" hidden>
	<form id="loginForm" action="wslogin.do" method="post" onsubmit="return checkEnvironment()">
		<div class="input-group margin-bottom-sm">
			<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
			<input id="user" name="user" type="text" class="form-control" th:value="${user}" th:placeholder="#{input.user.helper}" autocomplete="off" style="width:200px;">
		</div>
		<div class="input-group" style="margin-top: 5px;">
			<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
			<input id="pass" name="pass" type="password" class="form-control" th:value="${pass}" th:placeholder="#{input.password.helper}" autocomplete="off"  style="width:200px;">
		</div>
		<div class="input-group" style="margin-top: 5px;">
			<span class="input-group-addon"><i class="fa fa-briefcase fa-fw"></i></span>
			<input id="verifyCode" name="verifyCode" type="text" class="form-control" th:value="${verifyCode}" th:placeholder="#{input.code.helper}" autocomplete="off"  style="width:200px;">
		</div>
        <div style="margin-left: 143px;margin-top:5px;">
            <img id="verifyCodeImg" style="cursor: pointer;"/>
        </div>

		<div id="helpDiv" style="height:25px;margin-top:15px;">
			<a href="javascript:void(0)" onclick="regist()" style="text-decoration:none;margin-left:50px;" th:text="#{a.register.label}"></a>
			<a href="javascript:void(0)" onclick="forgetPassword()" style="text-decoration:none;margin-left:20px;" th:text="#{a.forgetpassword.label}"></a>
			<a id="showBg" href="javascript:void(0)" onclick="showBackgroundAnimation()" style="text-decoration:none;margin-left:20px;" th:text="#{a.showh5.label}"></a>
			<a href="javascript:void(0)" onclick="playGame()" style="text-decoration:none;margin-left:20px;" th:text="#{a.playgame.label}"></a>
		</div>

		<div align="center" style="margin-top:10px;margin-left:-30px;">
			<button id="btnlogin" class='btn btn-success btn-large' type="submit" style="width:100px;">
				<a style="font-size: 15px;"><span class="glyphicon glyphicon-log-in"></span> [[#{page.login.title}]]</a>
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="securityCheck"><span class="fa fa-toggle-off" style="font-size: 18px;"></span> [[#{checkbox.check.label}]]</a>
		</div>
	</form>

	<div style="position:absolute;width:180px;height:180px;left:410px;top:1px;">
		<img id="qrImg" style="width:160px;height:160px;display:none">
	</div>
</div>

<div id="checkDiv" style="width:200px;height:400px;position: fixed;left:5px;top:5px;z-index:2;overflow-y: hidden;display: none;">
	<div id="checkContentDiv" style="width:100%;height:auto;border:1px solid grey;background-color: #0C0C0C;padding: 5px 0 5px 10px;">
	</div>
</div>

<div id='canvasDiv' style='position:fixed;left:1px;top:1px;width:100%;height:100%;z-index:-1;'>
	<iframe id="iframePage" width="100%" height="100%"></iframe>
</div>

<div th:include="common::footer"></div>
</body>

<script th:inline="javascript">
	// 加载国际化
	$.ws.i18nInit([[${#locale.language}]], [[${#locale.country}]]);
	console.log($.ws.i18n("page.login.title"));

	var user = "";
	var checkBeforeLogin = false;
	var backgroundAnimation = true;
	$("#user").blur(function(){
		user = $("#user").val();
		if (user == ""){
			layer.tips('用户名不能为空!', '#user', {
				tips: [2, '#78BA32']
			});
		}
	})

	var pass = "";
	$("#pass").blur(function(){
		pass = $("#pass").val();
		if (pass == "")
		{
			layer.tips('密码不能为空!', '#pass', {
				tips: [2, '#78BA32']
			});
		}
	});

    var verifyCode = "";
    $("#verifyCode").blur(function(){
        verifyCode = $("#verifyCode").val();
        if (verifyCode == "")
        {
            layer.tips('验证码不能为空!', '#verifyCode', {
                tips: [2, '#78BA32']
            });
        }
    });

	//提交校验
	$("#loginForm").validate({
		rules: {
			user:
                {
                    required: true,
                    minlength: 2,
                    maxlength: 10
                },
			pass:
                {
                    required: true,
                    minlength: 3,
                    maxlength: 12
                },
            verifyCode:
                {
                    required: true,
                    minlength: 1,
                    maxlength: 12
                }
		},
		messages:{
			user:
                {
                    required: "请输入用户名",
                    minlength: "至少包含2个字符",
                    maxlength:"最多包含10位字符"
                },
			pass:
                {
                    required: "请输入密码",
                    minlength: "至少包含3个字符",
                    maxlength:"最多包含12位字符"
                },
            verifyCode:
                {
                    required: "请输入验证码",
                    minlength: "至少包含3个字符",
                    maxlength:"最多包含12位字符"
                },
		}
	});

	//注册账号
	function regist(){
		layer.open({
			type: 2,
			title: '注册账号',
			shadeClose: true,
			shade: 0.2,
			area: ['488px', '439px'],
			content: 'register.page'
		});
	}

	//忘记密码
	function forgetPassword(){
		layer.open({
			type: 2,
			title: '忘记密码',
			shadeClose: true,
			shade: 0.2,
			area: ['490px', '318px'],
			content: 'forgetPassword.page?user='+user
		});
	}

	//手机登录
	$("#phonelogin").click(function(){
		var imgSrc = $("#qrImg").attr("src");
		if (imgSrc == "" || imgSrc == undefined){
			$.ajax({
				type: 'POST',
				url: rootUrl+'showQRCode.do',
				//dataType:'json',
				async:false,
				success: function(result) {
					$("#qrImg").css("display","block");
					$("#qrImg").attr("src",result);
				}
			});
		}else{
			$("#qrImg").attr("src","");
			$("#qrImg").css("display","none");
		}
	})

	//关闭/开启动画
    showBackgroundAnimation();
	function showBackgroundAnimation(){
		if (backgroundAnimation){
            $("#iframePage").attr("src", "");
            $("#showBg").text($.ws.i18n("a.showh5.label"));
            backgroundAnimation = false;
		}else{
            $("#iframePage").attr("src", rootUrl+"canvas/snow.page");
			$("#showBg").text($.ws.i18n("a.hideh5.label"));
            backgroundAnimation = true;
		}
	}

	//玩游戏
	function playGame(){
		window.location.href = rootUrl + "canvas/canvasIndex.page";
	}

	//定时滚动登陆页背景图片
	$.ws.backgroundImgAnimation("backgroundImg","mainDiv", 3, 10)

	//模拟登录前的检查操作
	var checkEnvTimer = null;
	var isCheckFinish = false;
	var textArr = new Array();
	function checkEnvironment(){
		console.log("触发登录前的点击事件");
		if (!checkBeforeLogin){
		    return true;
        }
		$.ajax({
			type: 'GET',
			url: rootUrl+'querySystemInfo',
			async:false,
			success: function(result) {
				if (result.code == 1){
					var data = result.data;
					var osName = data.osName;
					var javaHome = data.javaHome;
					var javaVersion = data.javaVersion;
					var dbVersion = data.dbVersion;
					var nginxFlag = data.nginxFlag;
					var shareDir = data.shareDir;
					textArr = new Array("正在检查系统版本.....",osName,
							"正在检查java版本.....",javaVersion,
							"正在检查java家目录.....",javaHome,
							"正在检查数据库版本.....",dbVersion,
							"正在检查nginx进程状态.....", nginxFlag,
							"正在检查共享目录权限.....",shareDir,
							"正在检查其他事项....","检查完毕",
							"登录中.........","","","");
				}
			}
		});
		var text = "";
		var i = 0;
		if (null == checkEnvTimer && !isCheckFinish && textArr.length>0) {
			$("#checkDiv").css("display", "block");
			checkEnvTimer = setInterval(function () {
				if (i >= textArr.length) {
					isCheckFinish = true;
					if (null != checkEnvTimer) {
						checkEnvTimer = null;
						console.log("清理定时器")
						clearInterval(checkEnvTimer);
						$("#checkDiv").css("display", "none");
						$("#loginForm").submit();
					}
				}else{
					text += "<span style='height:20px;color:white;display:inline-block;margin-bottom: 5px;'>" + textArr[i] + "</span><br/>";
					$("#checkContentDiv").html(text);
				}
				i++;
			}, 200);
		}
		return isCheckFinish;
	}

	//当浏览器大小变化时
    resizeWindows();
	function resizeWindows(){
        winInnerWidth = window.innerWidth;
        winInnerHeight = window.innerHeight;
        var mainDivWidth = $("#mainDiv").width();
        var mainDivHeight = $("#mainDiv").height();
        if (winInnerWidth>=mainDivWidth) {
            $("#mainDiv").css("left", (winInnerWidth - mainDivWidth) / 2 + "px");
        }
        if (winInnerHeight>=mainDivHeight) {
            $("#mainDiv").css("top", (winInnerHeight - mainDivHeight) / 2 + "px");
        }
	}
	$(window).resize(resizeWindows);

	// 获取验证码
    generateVerifyCode();
    $("#verifyCodeImg").click(generateVerifyCode);
    function generateVerifyCode() {
        $.ajax({
            type: 'GET',
            url: rootUrl + 'generateVerifyCode.do',
            async: false,
            success: function (result) {
                if (result.code == 1) {
                    $("#verifyCodeImg").attr("src", result.data);
                }
            }
        });
    }

	// 勾选登陆前检查事件
    $("#securityCheck").click(function(){
        if (checkBeforeLogin){
            checkBeforeLogin = false;
            $(this).children("span:first-child").removeClass().addClass("fa fa-toggle-off");
        }else{
            checkBeforeLogin = true;
            $(this).children("span:first-child").removeClass().addClass("fa fa-toggle-on");
        }
    });

    // 切换语言
    $('.selectpicker').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
        var lang = e.currentTarget.value;
        console.log(lang);
        window.location.replace("/i18n?lang=" + lang);
    });
</script>
</html>
