<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: header"></head>
	<title>登录失败</title>

	<style type="text/css">
		#mainDiv{
		    width: 470px;
		    height: auto;
		    margin: 100px auto;
		    border: 2px solid green;
		}
		
		table{
			width:100%;
			margin-top:2px;
		}
		
		table th{
			background-color:green;
			font-weight:bold;
			color:white;
			text-align:center;
		}
		
		table td{
			border:2px solid green;
		}
	</style>
</head>
<body>
	<div id="mainDiv">
		<input type="hidden" th:value="${user}" id="user">
		<table>
			<tr><th style="width:40%">用户名</th><th>登录失败原因</th></tr>
			<tr style="width:60%">
				<td th:text="${user}"></td>
				<td th:text="${detail}"></td>
			</tr>
		</table>

		<div align="center" style='font-size:20px;margin-top:10px;color:red;'>
			<span id='timeSpan' style='color:blue;'>5</span><span>秒后返回登录页面</span>
		</div>

		<div align="center" style="margin:10px auto;">
			<button onclick="toIndex()" class='btn btn-sm btn-primary'>返回登录</button>
		</div>

		<div th:include="common::footer"></div>
	</div>
</body>
	<script type="text/javascript">
		var user=$('#user').val();
		var i=5;
		var timer = setInterval(function(){
			$("#timeSpan").text(i);
			if (i==0){
				clearInterval(timer);
				toIndex();
			}
			i=i-1;
		},1000);

		function toIndex(){
			$.ajax({
				type: 'POST',
				url: rootUrl+'ws/logout.do',
				data:{user:user},
				async:false,
				success: function(result) {
					window.location.href = rootUrl;
				}
			});
		}
	</script>
</html>
