<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="common :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<!-- 搜索栏 -->
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>查询</h5>
                        <input type="hidden" id="user" th:value="${user}">
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon">名称</div>
                                    <input type="text" class="form-control" id="nameSearchInput" placeholder="请输入">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-success" onclick="reLoad()">查询</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- 表格 -->
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="fixed-table-toolbar">
                            <div class="columns pull-left">
                                <button shiro:hasPermission="zhddkk:wsFriends:add" type="button" class="btn  btn-primary" onclick="add()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;添加
                                </button>
                                <button shiro:hasPermission="zhddkk:wsFriends:batchRemove" type="button" class="btn  btn-danger" onclick="batchRemove()">
                                    <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;删除
                                </button>
                            </div>
                        </div>
                        <table id="exampleTable" data-mobile-responsive="true">
                        </table>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<!--以下区域不可见，用于shiro控制bootstraptable显示行内按钮 -->
	<div th:include="common :: footer"></div>
</body>
<script type="text/javascript" th:src="@{/js/appjs/myFriends.js}"></script>
</html>