<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: header"></th:block>
    <title>注册</title>
<style type="text/css">
    a {
        font-size: 13px;
    }

    span {
        display: inline-block;
        width: 90px;
    }

    select {
        width: 175px;
    }

    input {
        width: 175px;
    }

    label {
        margin-bottom: 0px;
    }

    #div001 span {
        margin-top: 5px;
    }
</style>
</head>
<body>
    <div style="width:470px;height:auto;margin:0 auto;border:2px solid green;background-color:#53D2FB">
        <input type="hidden" th:value="${dicJson}" id="dicJson">
        <form style="margin:10px 5px;" id="registerForm" action="wsregister.do" method="post" target="hidden_frame">
            <div>
                <span>用户名称:</span><input id="user" name="user" type="text" autocomplete="off"></input>
            </div>

            <div style="margin-top:5px;margin-bottom: 5px;">
                <label id="headImgLabel" for="headImg">头&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;像:</label>
                <input type="hidden" id="headImgInput" name="headImg" style="width:208px;margin-left:10px;">
                <button type="button" id="imageBtn" class="layui-btn" style="margin-left: 31px;">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
            </div>
            <div style='padding:5px 0 5px 90px;display:none' id="headImgDiv">
                <img id="headImg" alt="" width="60px" height="60px" onerror="imgerror(this)">
            </div>

            <div id="div001">
                <span>密码:</span><input id="pass" name="pass" type="password" autocomplete="off"></input>
                <br/>
                <span>确认密码:</span><input id="confirmPass" name="confirmPass" type="password" autocomplete="off"></input>
                <br/>
                <span>问题1:</span><select id="select1" name="select1">
                </select>
                <br/>
                <span>你的答案</span><input id="answer1" name="answer1" autocomplete="off"></input>
                <br/>
                <span>问题2:</span><select id="select2" name="select2">
                </select>
                <br/>
                <span>你的答案</span><input id="answer2" name="answer2" autocomplete="off"></input>
                <br/>
                <span>问题3:</span><select id="select3" name="select3">
                </select>
                <br/>
                <span>你的答案</span><input id="answer3" name="answer3" autocomplete="off"></input>

            </div>
            <div align="left" style="margin-top:10px;margin-left:130px;">
                <button id="btnregist" class='btn btn-sm btn-success' type="submit" style="width:80px;">注册</button>
            </div>
        </form>
    </div>
    <th:block th:include="common :: footer"></th:block>
    <iframe name="hidden_frame" id="hidden_frame" style='display: none'></iframe>
</body>
    <script type="text/javascript">
        var user = "";
        $("#user").blur(function () {
            user = $("#user").val();
            if (user != '' && user != undefined) {
                checkUserRegisterStatus(user);
            }
        });
        initUpload();

        queryCommonData();
        //查询注册问题
        function queryCommonData() {
            $.ajax({
                type: 'GET',
                url: rootUrl + '/queryAllCommonData.do',
                //dataType: 'json',
                async: true,
                success: function (result) {
                    var a = 2

                    $("#select1").empty();
                    $("#select2").empty();
                    $("#select3").empty();
                    var questionArr = result["zcwt"];
                    for (var i = 0; i < questionArr.length; i++) {
                        var qusTxt = questionArr[i].name;
                        $("#select1").append("<option value=" + qusTxt + ">" + qusTxt + "</option>");
                        $("#select2").append("<option value=" + qusTxt + ">" + qusTxt + "</option>");
                        $("#select3").append("<option value=" + qusTxt + ">" + qusTxt + "</option>");

                        $("#select1").get(0).selectedIndex = 0;
                        $("#select2").get(0).selectedIndex = 1;
                        $("#select3").get(0).selectedIndex = 2;
                    }
                }
            });
        }

        function checkUserRegisterStatus(user) {
            if (user == "admin") {
                layer.msg('admin为系统所用,请使用其他名称!');
                $("#btnregist").attr("disabled", true);
                $("#user").val("");
                return
            }
            $.ajax({
                type: 'POST',
                url: rootUrl + '/checkUserRegisterStatus.json',
                data: {user: user},
                //dataType: 'json',
                async: false,
                success: function (result) {
                    if (result.code != 1) {
                        $("#btnregist").attr("disabled", true);
                        layer.msg('该用户已经注册过了,请直接登录!');
                        $("#user").val("");
                    } else {
                        $("#btnregist").attr("disabled", false);
                    }
                }
            });
        }

        $("#hidden_frame").load(function () {
            var text = $(this).contents().find("body").text();
            if (text.indexOf("success") != -1) {
                var timeout = 3;
                layer.msg('注册成功,' + timeout + "秒后返回登录页面");
                var user = $("#user").val();
                var index = parent.layer.getFrameIndex(window.name);
                setTimeout(function () {
                    parent.layer.close(index);
                    window.location.href = "login.page";
                }, timeout * 1000)

            } else if (text.indexOf("failed") != -1) {
                layer.msg('注册失败');
            }
        });

        $("#registerForm").validate({
            rules: {
                user:
                    {
                        required: true,
                        minlength: 2,
                        maxlength: 6
                    },
                pass:
                    {
                        required: true,
                        minlength: 2,
                        maxlength: 6
                    },
                confirmPass: {
                    required: true,
                    minlength: 2,
                    maxlength: 6,
                    equalTo: "#pass"
                },
                select1: {
                    required: true
                },
                answer1: {
                    required: true,
                    minlength: 2
                },
                select2: {
                    required: true
                },
                answer2: {
                    required: true,
                    minlength: 2
                },
                select3: {
                    required: true
                },
                answer3: {
                    required: true,
                    minlength: 2
                }
            },
            messages: {
                user:
                    {
                        required: "请输入用户名",
                        minlength: "用户名至少包含2个字符",
                        maxlength: "用户名最多包含6位字符"
                    },
                pass:
                    {
                        required: "请输入密码",
                        minlength: "密码至少包含2个字符",
                        maxlength: "密码最多包含6位字符"
                    },
                confirmPass: {
                    required: "请输入密码",
                    minlength: "密码至少包含2个字符",
                    maxlength: "密码最多包含6位字符",
                    equalTo: "密码前后不一致"
                },
                answer1: {
                    required: "请输入答案",
                    minlength: "答案至少2个字符"
                },
                answer2: {
                    required: "请输入答案",
                    minlength: "答案至少2个字符"
                },
                answer3: {
                    required: "请输入答案",
                    minlength: "答案至少2个字符"
                }
            }
        });

        function initUpload() {
            layui.upload.render({
                elem: '#imageBtn',
                url: $.ws.uploadUrl,
                size: 10240,//单位为KB
                accept: 'images',
                data: {
                    "user": user,
                    "folder": "headImg"
                },
                before: function () {
                    layer.load();
                },
                done: function (r) {
                    layer.closeAll('loading');
                    if (r.code == "1") {
                        $("#headImg").attr("src", r.data);
                        $("#headImgDiv").show();
                        $("#headImgInput").val(r.data);
                    }
                },
                error: function () {
                    layer.closeAll('loading');
                }
            });
        }

        // 加载图片失败
        function imgerror(imgObj) {
            $(imgObj).attr("src", rootUrl + "img/" + $.ws.errorImageName);
        }
    </script>
</html>
