<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: header"></th:block>
    <title>注册</title>
    <style type="text/css">
        .layui-form-item {
            margin-bottom: 2px;
        }
        .layui-form-label {
            padding: 5px 15px;
            width: 82px;
        }
    </style>
</head>
<body>
    <div style="width:100%;height:auto;margin:0 auto;padding-top: 5px;">
        <form id="registerForm" class="layui-form" lay-filter="registerForm" method="post" action="/register.do" enctype="multipart/form-data" target="hidden_frame">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="user" lay-verify="required|lenthOver2" autocomplete="off" placeholder="请输入用户名" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">头像</label>
                <div class="layui-input-block">
                    <input type="hidden" id="headImgInput" name="headImg" class="layui-input">
                    <button type="button" id="imageBtn" class="layui-btn">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>

                    <img id="headImg" style="margin-left: 30px;" onclick="showImg()" alt="" width="60px" height="60px"
                         onerror="imgerror(this)">
                </div>
            </div>
           
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="password" name="pass" lay-verify="required|lenthOver3" autocomplete="off" placeholder="请输入密码" class="layui-input">
                </div>
            </div>
           
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block">
                    <input type="password" name="confirmPass" lay-verify="required|confirmPass|lenthOver3" autocomplete="off" placeholder="请输入确认密码" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">问题1</label>
                <div class="layui-input-block">
                    <select name="question1" lay-filter="question1" lay-verify="required">
                        <option value="">请选择问题1</option>
                        <option th:each="question,stat : ${questionList}" th:text="${question.name}" th:value="${question.name}"></option>
                    </select>
                </div>
            </div>
           
            <div class="layui-form-item">
                <label class="layui-form-label">您的答案</label>
                <div class="layui-input-block">
                    <input type="text" name="answer1" lay-verify="required" autocomplete="off" placeholder="请输入答案1" class="layui-input">
                </div>
            </div>
           
            <div class="layui-form-item">
                <label class="layui-form-label">问题2</label>
                <div class="layui-input-block">
                    <select name="question2" lay-filter="question2" lay-verify="required">
                        <option value="">请选择问题2</option>
                        <option th:each="question,stat : ${questionList}" th:text="${question.name}" th:value="${question.name}"></option>
                    </select>
                </div>
            </div>
           
            <div class="layui-form-item">
                <label class="layui-form-label">您的答案</label>
                <div class="layui-input-block">
                    <input type="text" name="answer2" lay-verify="required" autocomplete="off" placeholder="请输入答案2" class="layui-input">
                </div>
            </div>
           
            <div class="layui-form-item">
                <label class="layui-form-label">问题3</label>
                <div class="layui-input-block">
                    <select name="question3" lay-filter="question3" lay-verify="required">
                        <option value="">请选择问题3</option>
                        <option th:each="question,stat : ${questionList}" th:text="${question.name}" th:value="${question.name}"></option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">您的答案</label>
                <div class="layui-input-block">
                    <input type="text" name="answer3" lay-verify="required" autocomplete="off" placeholder="请输入答案3" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="registerBtn">立即注册</button>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="common :: footer"></th:block>
    <iframe name="hidden_frame" id="hidden_frame" style='display: none'></iframe>
</body>
    <script type="text/javascript">
        var user = "";
        $("input[name='user']").blur(function () {
            user = $(this).val();
            if (user != '' && user != undefined) {
                checkUserRegisterStatus(user);
            }
        });
        initUpload();
        
        //注册表单监听
        layui.use(['form'], function() {
            var form = layui.form;
            form.verify({
                confirmPass: function (value) {
                    if($("input[name='pass']").val() != value) {
                        return '两次密码不一致';
                    }
                }
                ,lenthOver2: function (value) {
                    if (value.length < 2){
                        return '长度不能小于2';
                    }
                }
                ,lenthOver3: function (value) {
                    if (value.length < 3){
                        return '长度不能小于3';
                    }
                }
            });
            
            //注册按钮监听提交
            form.on('submit(registerBtn)', function (data) {
                return true;
            });
        });
        
        // 用户状态检查
        function checkUserRegisterStatus(user) {
            if (user == "admin") {
                layer.msg('admin为系统所用,请使用其他名称!');
                $("input[name='user']").val("");
                return;
            }
            $.ajax({
                type: 'POST',
                url: rootUrl + '/checkUserRegisterStatus.json',
                data: { 'user': user},
                async: false,
                success: function (result) {
                    if (result.code != 1) {
                        layer.msg('该用户已经注册过了,请直接登录!');
                        $("input[name='user']").val("");
                    }
                }
            });
        }

        $("#hidden_frame").load(function () {
            var text = $(this).contents().find("body").text();
            var jsonObj = JSON.parse(text);
            if (jsonObj.code == 1) {
                var timeout = 3;
                layer.msg('注册成功,' + timeout + "秒后返回登录页面");
                var index = parent.layer.getFrameIndex(window.name);
                setTimeout(function () {
                    parent.layer.close(index);
                    window.location.href = "login.page";
                }, timeout * 1000);
            } else {
                layer.msg('注册失败: '+jsonObj.msg);
            }
        });

        // 初始化上传模块
        function initUpload() {
            layui.upload.render({
                elem: '#imageBtn',
                url: $.ws.uploadFileUrl,
                size: 10240,//单位为KB
                accept: 'images',
                data: {
                    "user": user,
                    "folder": "headImg"
                },
                before: function () {
                    layer.load();
                },
                done: function (r) {
                    layer.closeAll('loading');
                    if (r.code == 1) {
                        $("#headImg").attr("src", r.data);
                        $("#headImgInput").val(r.data);
                    }
                },
                error: function () {
                    layer.closeAll('loading');
                }
            });
        }
        
        // 加载图片失败
        function imgerror(imgObj) {
            $(imgObj).attr("src", rootUrl + "img/" + $.ws.errorImageName);
        }

        // 预览图片
        function showImg() {
            $.ws.gShowImg($("#headImg").attr("src"));
        }
    </script>
</html>
