<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: header"></head>
<title>会话信息</title>

<style type="text/css">
    #mainDiv{
        width: 510px;
        height: auto;
        margin: 100px auto;
        border: 2px solid green;
        padding: 2px;
    }

    table{
        width:100%;
    }

    table th{
        background-color:green;
        font-weight:bold;
        color:white;
        text-align:center;
        height: 28px;
    }

    table tr{
        border:1px solid green;
        height: 23px;
    }

    table td{
        border:1px solid green;
    }
</style>
</head>
    <body>
        <div id="mainDiv">
            <input type="hidden" th:value="${sessionInfo}" id="user">
            <table>
                <tr><th style="width:40%">键</th><th>值</th></tr>
            </table>

            <div align="center" style="margin:6px auto;">
                <button onclick="toIndex()" class='btn btn-large btn-primary'>返回首页</button>
            </div>

            <div th:include="common::footer"></div>
        </div>
        <script th:inline="javascript">
            var sessionInfo = [[${sessionInfo}]];
            $.each(sessionInfo, function(key,value){
                var trElement = $('<tr><td>'+key+'</td><td>'+value+'</td></tr>');
                $("table").append(trElement);
            });

            // 返回首页
            function toIndex(){
                window.location.href = rootUrl;
            }
        </script>
    </body>
</html>
