<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: header"></th:block>
<title>会话信息</title>

<style type="text/css">
    #mainDiv {
        width: 510px;
        height: auto;
        margin: 20px auto;
        border: 2px solid green;
        padding: 2px;
    }

    table {
        width: 100%;
    }

    table th {
        background-color: green;
        font-weight: bold;
        color: white;
        text-align: center;
        height: 28px;
    }

    table tr {
        border: 1px solid green;
        height: 23px;
    }

    table td {
        border: 1px solid green;
    }
</style>
</head>
    <body>
        <div id="mainDiv">
            <table>
                <tr><th style="width:40%">键</th><th>值</th></tr>
            </table>

            <div align="center" style="margin:6px auto;">
                <button onclick="toIndex()" class='btn btn-large btn-primary'>返回首页</button>
            </div>

            <th:block th:include="common :: footer"></th:block>
            <th:block th:include="common :: sessionInfo"></th:block>
        </div>
        <script th:inline="javascript">
            if (sessionJsonObject == "{}") {
                var trElement = $('<tr><td>NA</td><td>尚未登陆,请先登录!</td></tr>');
                $("table").append(trElement);
            } else {
                $.each(sessionJsonObject, function (key, value) {
                    if (typeof value == "string" && key.indexOf("json") == -1) {
                        var trElement = $('<tr><td>' + key + '</td><td>' + value + '</td></tr>');
                        $("table").append(trElement);
                    }
                });
            }

            // 返回首页
            function toIndex() {
                top.location.href = rootUrl;
            }
        </script>
    </body>
</html>
