<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: header"></th:block>
<title>会话信息</title>

<style type="text/css">
    #mainDiv {
        width: 100%;
        height: auto;
        padding:3px;
    }
</style>
</head>
    <body>
        <div id="mainDiv">
            <div class="layui-form" style="width: 100%;height: 100%">
                  <table class="layui-table">
                    <colgroup>
                      <col width="150">
                      <col width="150">
                      <col>
                    </colgroup>
                    <thead>
                      <tr>
                        <th>键</th>
                        <th>值</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="info : ${session.sessionInfo.jsonObject}" th:if="${not #strings.startsWith(info.key,'json')}">
                        <td th:text="${info.key}"></td>
                        <td th:text="${info.value}"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            
            <div align="center" style="margin:6px auto;">
                <button onclick="toIndex()" class='btn btn-large btn-primary'>返回首页</button>
            </div>

            <th:block th:include="common :: footer"></th:block>
            <th:block th:include="common :: sessionInfo"></th:block>
        </div>
        <script th:inline="javascript">
            if (sessionJsonObject == "{}") {
                var trElement = $('<tr><td>NA</td><td>尚未登陆,请先登录!</td></tr>');
                $("table").append(trElement);
            }

            // 返回首页
            function toIndex() {
                top.location.href = rootUrl;
            }
        </script>
    </body>
</html>
