<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="statusBar" th:include="common :: header"></head>
	<title>WebSocket服务端</title>

<style type="text/css">
	#statusDiv{
		width:1320px;
		height:30px;
		font-size:15px;
		font-weight:bold;
		margin:1px auto;;
	}
	
	#statusTips{
	    width: 100%;
	    display: inline-block;
	    margin-top: -10px;
	}
</style>
</head>
<body>
	<div id="statusDiv" align="right">
		<span id="statusTips"></span>
	</div>

	<div th:include="common::footer"></div>
</body>

	<script type="text/javascript">
		function showTips(msg,color){
			if (color ==null || color== undefined){
				color="black";
			}
			$("#statusTips").css("color",color);
			$("#statusTips").text(msg);
		}
	</script>
</html>
