<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: header"></th:block>
        <meta charset="UTF-8">
        <title>网易新闻</title>
        <style>
            #mainDiv{
                width:70%;
                height:100%;
                margin:0 auto;
                border:1px solid grey;
                padding:10px;
            }

            #headDiv{
                height:5%;
                border-bottom: 1px solid grey;
            }

            #headDiv ul{
                width:100%;
                height:100%;
            }

            #headDiv ul li{
                float:left;
                width:7.5%;
                height:90%;
                font-size: 16px;
                cursor: pointer;
            }

            #contentDiv{
                height:95%;
                margin-top: 5px;
                overflow-y: scroll;
            }
        </style>
    </head>

    <body>
        <div id="mainDiv">
            <div id="buttonDiv" style="height:30px;position: absolute;right:10px;top:10px;">
                <button @click="prePage()">上一页</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button @click="nextPage()">下一页</button>
            </div>
            <div id="headDiv">
                <ul>
                   <li v-for="(row, i) in typeList" @click="listNews(i)" :id="row.docId" th:align="center">
                       {{row.newsType}}
                   </li>
                </ul>
            </div>
            <div id="contentDiv">
                <div v-for="row in contentList" style="height:72px;width:100%;">
                    <div style="width:20%;">
                        <img width="60" height="50" :src="row.imgsrc" style="float: left;">
                    </div>
                    <div style="width:60%;float: left;padding-left: 13px;">
                        <p style="font-weight: bold;font-size: 15px;">
                            {{row.title}}
                        </p>
                        <p>
                            {{row.digest}}
                        </p>
                        <a :href="row.url" target="_blank" style="color:blue;">查看详情</a>
                    </div>
                    <div style="width:30%;float: right;">
                        <p>评论数:<span>{{row.commentCount}}</span></p>
                        <p>发布时间:<span>{{row.ptime}}</span></p>
                    </div>
                </div>
            </div>
        </div>


        <th:block th:include="common :: footer"></th:block>
        <th:block th:include="common :: sessionInfo"></th:block>
    </body>
    <script>
        var app = new Vue({
            el: '#mainDiv',
            data: {
                typeList:{},
                contentList:{},
                selectedIndex:0,
                curPage:0,
                numberPerPage:20,
            },
            methods: {
                queryNewsTypeList:function () {
                    //查询朋友圈列表
                    $.ajax({
                        type: "GET",
                        url: rootUrl+'ws/queryWangyiNewsType',
                        success: function (result) {
                            if (result.code == 1) {
                                app.typeList = result.data;
                                app.listNews(app.selectedIndex);
                            }
                        }
                    });
                },
                listNews:function (index) {
                    var selectedInfo = app.typeList[index];
                    var docId = selectedInfo.docId;
                    if (app.selectedIndex != index){
                        app.curPage = 0;
                    }

                    $.ajax({
                        type: "GET",
                        dataType: "jsonp",
                        jsonp: "callback",
                        jsonpCallback: "artiList",
                        url: selectedInfo.url + "/"+app.curPage+"-"+app.numberPerPage+".html",
                        success: function (result) {
                            app.contentList = result[docId];
                            app.selectedIndex = index;
                            $('#headDiv ul li').css("background-color", "").css("color","black");
                            $('#headDiv ul li[id="'+docId+'"]').css("background-color","blue").css("color","white");
                        }
                    });
                },
                prePage:function(){
                    if (app.curPage>=20){
                        app.curPage -= 20;
                    }
                    app.listNews(app.selectedIndex);
                },
                nextPage:function () {
                    app.curPage += 20;
                    app.listNews(app.selectedIndex);
                }
            },
            created: function () {
                this.queryNewsTypeList();
            }
        });
    </script>
</html>