<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <title th:text="#{page.serverindex.title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui-1.9.11/themes/default/easyui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui-1.9.11/themes/icon.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/js/easyui-1.9.11/css/default.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/js/plugins/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/js/fontAwesome/css/font-awesome.css}">
    <script type="text/javascript" th:src="@{/js/easyui-1.9.11/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/easyui-1.9.11/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src='@{/js/easyui-1.9.11/locale/easyui-lang-zh_CN.js}'> </script>
    <script type="text/javascript" th:src='@{/js/easyui-1.9.11/indexFramework.js}'> </script>
    <script type="text/javascript" th:src="@{/js/vue/vue.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/rootPath.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/redirect.js}"></script>
    <script type="text/javascript" th:src="@{/js/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery/jquery.i18n.properties.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/layui/layui.all.js}"></script>
    <th:block th:include="common :: sessionInfo"></th:block>

    <style type="text/css">
        #musicIframeDiv {
            position: fixed;
            width: 168px;
            height: 118px;
            left: 0px;
            bottom: 150px;
            z-index: 99;
            border: 1px solid #8DB2E3;
            display: none;
        }

        #musicIframeHeader {
            background: #ddd;
            cursor: move;
            font-size: 10px;
        }
        
        #weatherDiv label {
            font-size: 13px;
        }

        #headerTitleDiv label {
            font-size: 25px;
        }

        .tb{
            width:100%;
            margin:0;
            padding:5px 4px;
            border:1px solid #ccc;
            box-sizing:border-box;
        }

        .l-btn-icon-left .l-btn-text {
            margin: 0 2px 0 23px;
        }

        .l-btn-text {
            display: inline-block;
            vertical-align: top;
            width: auto;
            line-height: 24px;
            font-size: 11px;
            padding: 0;
            margin: 0 6px;
        }

        #northRegionDiv {
            overflow: hidden; height: 67px;
            background: url(/js/easyui-1.9.11/images/layout-browser-hd-bg.gif) #7f99be repeat-x center 50%;
            line-height: 20px;
            color: #fff;
            font-family: Verdana, 微软雅黑,黑体;
        }

        #northRegionDiv .panel-body {
            background-color: transparent;
            color: white;
        }
        
        #recentNewsPanel ul li {
            list-style: none;
            font-size: 17px;
            margin-bottom: 5px;
        }
    </style>
</head>

<body class="easyui-layout" style="overflow-y: hidden"  scroll="no">
    <!--网页北部区域：头像、时间等信息-->
    <div id="northRegionDiv" region="north" split="false" border="true">

            <div class="easyui-layout" data-options="fit:true">
                <!--左侧-->
                <div data-options="region:'west',split:false,border:false" style="width:178px;">
                    <div class="easyui-layout" data-options="fit:true">
                        <!--左侧头像-->
                        <div data-options="region:'west',split:false,border:false" style="width:62px;padding:1px;">
                            <img id="headImage" :src="headImage" width="100%" height="100%">
                        </div>
                        <!--右侧-->
                        <div data-options="region:'center',split:false,border:false">
                            <div class="easyui-layout" data-options="fit:true" border="false">
                                <!--登陆用户-->
                                <div data-options="region:'north',split:false,border:false" style="height:35%;padding: 1px 0 0 5px;overflow: hidden;">
                                    <span th:text="${session.sessionInfo.userName}" style="font-size: 23px;"></span>
                                </div>
                                <!--角色名-->
                                <div data-options="region:'center',split:false,border:false" style="height:28%;padding: 1px 0 0 5px;margin-left: -7px;overflow: hidden;">
                                    【<span th:text="${session.sessionInfo.roleName == '' ? '尚无角色' : session.sessionInfo.roleName}" style="font-size: 13px;"></span>】
                                </div>
                                <!--在线用户数、积分数-->
                                <div data-options="region:'south',split:false,border:false" style="height:37%;padding: 5px 0 0 5px;overflow: hidden;">
                                      <span class="icon icon-11-19" th:title="#{span.onlinecount.tips}"></span>
                                      <label>{{onlineNum}}</label>&nbsp;&nbsp;
                                      <span class="icon icon-22-3" th:title="#{span.coinnum.tips}"></span>
                                      <label>{{coinNum}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--中间部分-->
                <div data-options="region:'center',split:false,border:false" style="text-align: center;">
                    <div id="headerTitleDiv" style="height:100%;font-size:20px;padding-top:20px;display: block;">
                        <label id="titleLabel" style="color:white;">[[#{web.title}]]</label>
                    </div>
                </div>
                
                <!--右侧-->
                 <div data-options="region:'east',split:false,border:false" style="width:520px">
                        <div class="easyui-layout" data-options="fit:true">
                            <!--右侧时间-->
                            <div data-options="region:'north',split:false,border:false" style="height:40%;padding-top:4px;">
                                <div class="easyui-layout" data-options="fit:true">
                                    <!--天气-->
                                    <div data-options="region:'west',split:false,border:false" style="width:340px;text-align: center;">
                                        <div id="weatherDiv" style="height:100%;padding-top:1px;display: block;">
                                            <label style="color:white;">{{weatherObj.remark}}</label>&nbsp;&nbsp;
                                            <label style="color:white;">{{weatherObj.lastUpdateTime}}</label>&nbsp;&nbsp;
                                            <label style="color:white;">{{weatherObj.location}}</label>
                                        </div>
                                    </div>
                                    <!--时间-->
                                     <div data-options="region:'center',split:false,border:false" style="text-align: right;padding-right: 5px;">
                                        <span id="curTimeSpan" style="font-size:14px;color: white;">0000-00-00 00:00:00</span>
                                    </div>
                                </div>
                            </div>

                            <!--右侧按钮组-->
                            <div data-options="region:'center',split:false,border:false" style="height:60%;padding-top: 4px;text-align: right;padding-right: 5px;">
                                <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon icon-15-1'" id="playMusicBtn">[[#{btn.music.tips}]]</a>
                                <a href="#" id="signBtn" class="easyui-linkbutton" data-options="iconCls:'icon icon-7-20'">[[#{btn.signin.tips}]]&nbsp;&nbsp;</a>
                                 <a href="#" id="qrcodeBtn" class="easyui-linkbutton" data-options="iconCls:'icon icon-14-13'">[[#{btn.qrcode.tips}]]&nbsp;&nbsp;</a>
                                <a href="#" id="settingBtn" class="easyui-linkbutton" data-options="iconCls:'icon icon-6-2'">[[#{btn.setting.tips}]]&nbsp;&nbsp;</a>
                                <a href="#" id="modifyPasswordBtn" class="easyui-linkbutton" data-options="iconCls:'icon icon-12-20'">[[#{btn.modifypasswd.tips}]]&nbsp;&nbsp;</a>
                                <a href="#" id="loginOutBtn" class="easyui-linkbutton" data-options="iconCls:'icon icon-9-12'">[[#{btn.logout.tips}]]&nbsp;&nbsp;</a>
                            </div>
                        </div>
                 </div>
            </div>
    </div>
    
    <!--网页南部区域：网页底部，版权等信息-->
    <div region="south" split="false" style="height: 48px; background: #D2E0F2;">
        <div class="footer" style="height:100%;">
            <div style="height:50%;">
                <div style="width:60%;float:left;text-align:left;">
                    <span>[[#{span.copyright}]]</span><br />
                    请求URL：<span th:text="${#request.getRequestURL()}"></span>&nbsp;&nbsp;&nbsp;
                    会话超时时间：<span th:text="${#session.getMaxInactiveInterval()}"></span>&nbsp;&nbsp;&nbsp;
                    服务器信息：<span th:text="${#servletContext.getServerInfo()}"></span>
                </div>

                <div style="width:38%;float:right;text-align:right;">
                    <a href="#" id="modifyLanguageBtn">
                        <span class="icon icon-22-7"></span>[[#{btn.language.tips}]]&nbsp;
                    </a>
                    <a href="#" id="sessionInfoBtn">
                        <span class="icon icon-11-3"></span>[[#{a.sessioninfo.label}]]&nbsp;
                    </a>
                    <a href="#" id="contactBtn">
                        <span class="icon icon-22-16"></span>[[#{a.contactauthor.label}]]&nbsp;
                    </a>&nbsp;
                    <a href="#" id="donateBtn">
                        <span class="icon icon-14-18"></span>[[#{a.donate.label}]]&nbsp;
                    </a>&nbsp;
                    <a href="#" id="feedbackBtn">
                        <span class="icon icon-12-9"></span>[[#{a.feedback.label}]]&nbsp;
                    </a>&nbsp;
                    <a href="#" id="easyUIDemo">
                        <span class="icon icon-1-5"></span>easyUI&nbsp;
                    </a>&nbsp;
                    <a href="#" id="aboutUsBtn">
                        <span class="icon icon-12-11"></span>[[#{a.aboutus.label}]]&nbsp;
                    </a>
                </div>
            </div>

            <!--底部提示信息-->
            <div style="height:50%;text-align:right;">
                <span id="bottomSpanTips"></span>
            </div>
        </div>
    </div>
    
    <!--网页西部区域：菜单导航-->
    <div region="west" split="false" th:title="#{div.title.navi}" style="width:180px;" id="west">
        <div class="easyui-accordion" fit="true" border="false">
            <!--  导航内容 -->
        </div>
    </div>
    
    <!--网页中间区域：内容部分-->
    <div id="centerRegionDiv" region="center" style="background: #eee; overflow-y:hidden">
        <div region="north" split="false" title="内容部分" id="centerDiv" style="height:calc(100% - 20px);width:100%;">
            <div id="tabs" class="easyui-tabs"  fit="true" border="false" style="height:100%;width:100%;">
                <div th:title="#{div.title.index}" data-options="iconCls:'icon icon-12-11',closable:false" style="padding:20px;overflow:hidden;" id="home">
                    <div class="easyui-layout" data-options="fit:true">
                        <div th:title="#{div.title.top.news}" data-options="region:'west',collapsed:false,split:false,border:true,iconCls:'icon icon-13-4'" style="width:30%;">
                            <div id="recentNewsPanel" style="width:100%;height:200px;padding: 10px 0 0 10px;">
                                <ul>
                                    <li v-for="news in recentNewsList">
                                        <span>
                                            <a style='color:blue;font-weight: bold;' @click="showAdsDetail(news.id)">【查看详情】</a>
                                        </span>
                                        <span style='font-size:14px;font-weight: bold;'>{{news.title}} </span>
                                        <span style='font-size:9px;color: grey;margin-left:5px;'>{{news.createTime}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                         <div th:title="#{div.title.public.chatroom}" data-options="region:'center',split:false,border:true,iconCls:'icon icon-6-6',tools:'#gameTool'" style="overflow: hidden;display: none;">
                             
                             <!--<iframe id="gameIframe" scrolling="auto" frameborder="0" src="../canvas/trafficByCanvas-smooth-0624.page" style="width:100%;height:100%;"></iframe>-->
                            <iframe id="gameIframe" scrolling="auto" frameborder="0" src="ws/wsSimpleChat.page" style="width:100%;height:100%;"></iframe>
                             <div id="gameTool">
                                 <a href="javascript:void(0)" title="换一个" class="fa fa-refresh" onclick="changeGame()"></a>
                             </div>
                         </div>
                        
                         <div id="myFriendsDiv" th:title="#{div.title.friends.list}" data-options="region:'east',collapsed:false,split:false,border:true,iconCls:'icon icon-11-19'" style="width:260px;padding: 10px;display: none;">
                            <!--右侧好友列表-->
                            <div style="width: 100%;height:100%;border:2px solid green;background-color: white;">
                                <div id="friendsListDiv" style="width: 100%;height: 100%;">
                                    <div style="width:100%;height:25px;background-color: #365e71;color:white;">
                                        <span>[[#{span.my.friends}]]</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>{{onlineFriendCount}}/{{friendList.length}}</span>
                                    </div>
                                    <div style="width:100%;height:calc(100% - 25px);overflow-y: scroll;padding:3px;">
                                        <div v-for="row in friendList" style="width:100%;height:50px;margin-bottom: 8px;">
                                            <div style="width:26%;height:50px;float: left;">
                                                <img :src="row.headImage" width="100%" height="100%"
                                                     onerror="this.onerror='';this.src=$.ws.errorImgUrl">
                                            </div>
                                            <div style="width:67%;height:50px;float:left;margin-left: 5px;">
                                                <div style="height:65%">
                                                    <template v-if="row.state == '0'">
                                                        <p style="font-size: 14px;color:grey;cursor: pointer;"
                                                           @click="showPersonInfo(row.name)">{{row.name}}</p>
                                                    </template>
                                                    <template v-else>
                                                        <p style="font-size: 14px;color: blue;cursor: pointer;"
                                                           @click="showPersonInfo(row.name)">{{row.name}}</p>
                                                    </template>
                                                    <p style="font-size: 12px;">{{row.lastLoginTime}}</p>
                                                </div>
                                                <div style="height:35%">
                                                    <span style="font-size: 12px;">{{row.sign}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div region="south" split="false" title="滚动消息" style="width: 100%;height:20px;background-color: white;border-top: 1px solid #8DB2E3;">
            <marquee direction="left" scrolldelay="10" scrollamount="7" onMouseOver="this.stop()" onMouseOut="this.start()">
                <span id="adsSpan"></span>
            </marquee>
        </div>
    </div>
    
    <!--修改密码窗口 默认不显示-->
    <div id="modifyPasswordDiv" class="easyui-window" th:title="#{btn.modifypasswd.tips}" collapsible="false" minimizable="false"
         maximizable="false" data-options="iconCls:'icon-save'" closed="true" style="width: 300px; height: 160px; padding: 1px;display: none;">
        <div class="easyui-layout" fit="true">
            <div region="center" border="true" style="padding: 10px;">
                <table cellpadding=3 style="border-collapse:separate; border-spacing:10px;">
                    <tr>
                        <td th:text="#{td.username.text}"></td>
                        <td><input name="user" type="text" class="txt01 easyui-validatebox tb" readonly th:value="${session.sessionInfo.userName}"/></td>
                    </tr>
                    <tr>
                        <td th:text="#{td.oldpassword.text}"></td>
                        <td><input name="oldPass" type="password" class="txt01 easyui-validatebox tb" data-options="required:true"/></td>
                    </tr>
                    <tr>
                        <td th:text="#{td.newpassword.text}"></td>
                        <td><input id="newPass" name="newPass" type="password" class="txt01 easyui-validatebox tb" data-options="required:true"/></td>
                    </tr>
                    <tr>
                        <td th:text="#{td.confirmpassword.text}"></td>
                        <td><input id="confirmPass" name="confirmPass" type="password" class="txt01 easyui-validatebox tb" required="required" validType="equals['#newPass']"/></td>
                    </tr>
                </table>
            </div>
            <div region="south" border="false" style="text-align: right; height: 36px; line-height: 30px;">
                <a class="easyui-linkbutton" icon="icon-ok" href="javascript:void(0)" onclick="modifyPassword()">[[#{btn.confirm.text}]]</a>
                <a class="easyui-linkbutton" icon="icon-cancel" href="javascript:void(0)" onclick="cancelPassword()">[[#{btn.cancel.text}]]</a>
            </div>
        </div>
    </div>

    <!--修改语言窗口 默认不显示-->
    <div id="modifyLanguageDiv" class="easyui-window" th:title="#{btn.language.tips}" collapsible="false" minimizable="false"
         maximizable="false" data-options="iconCls:'icon-save'" closed="true" style="width: 250px; height: 160px; padding: 1px;display: none;">
        <div class="easyui-layout" fit="true">
            <div region="center" border="true" style="padding: 10px;">
                <table cellpadding=5 style="border-collapse:separate; border-spacing:20px;">
                    <tr>
                        <td th:text="#{td.chinese.text}"></td>
                        <td><input type="radio" name="language" class="txt01 easyui-validatebox" th:value="zh_CN" th:checked="${languageInit == 'zh'}"/></td>
                    </tr>
                    <tr>
                        <td th:text="#{td.english.text}"></td>
                        <td><input type="radio" name="language" class="txt01 easyui-validatebox" th:value="en_US" th:checked="${languageInit == 'en'}"/></td>
                    </tr>
                    <tr>
                        <td th:text="#{td.korean.text}"></td>
                        <td><input type="radio" name="language" class="txt01 easyui-validatebox" th:value="ko_KR" th:checked="${languageInit == 'ko'}"/></td>
                    </tr>
                </table>
            </div>
            <div region="south" border="false" style="text-align: right; height: 36px; line-height: 30px;">
                <a class="easyui-linkbutton" icon="icon-ok" href="javascript:void(0)" onclick="confirmLanguage()">[[#{btn.confirm.text}]]</a>
            </div>
        </div>
    </div>

    <!--tab框区域右键菜单栏 默认不显示-->
    <div id="mm" class="easyui-menu" style="width:180px;display: none;">
        <div id="mm-tabclose">[[#{div.rm.close}]]</div>
        <div id="mm-tabcloseall">[[#{div.rm.all.close}]]</div>
        <div id="mm-tabcloseother">[[#{div.rm.all.close.except}]]</div>
        <div class="menu-sep"></div>
        <div id="mm-tabcloseright">[[#{div.rm.right.all.close}]]</div>
        <div id="mm-tabcloseleft">[[#{div.rm.left.all.close}]]</div>
        <div class="menu-sep"></div>
        <div id="mm-exit">[[#{div.rm.exit}]]</div>
    </div>

    <!--右上角 二维码 默认不显示-->
    <div id="qrDiv" style="display:none;position: fixed;right: 5px;top: 90px;width: 180px;height: 180px;">
        <img id="qrcodeImg" style="width: 160px;height: 160px;">
    </div>

    <!--左下角 迷你音乐播放器 默认不显示-->
    <div id='musicIframeDiv'>
        <div id='musicIframeHeader'>
            <span style='display:inline-block;width:67%;color: black;font-weight: bold;'>&nbsp;&nbsp;按住我拖动&nbsp;&nbsp;</span>
            <button id='resetMusicIframeDivPosBtn' style='display:inline-block;width:30%;color:black;'>复位</button>
        </div>
        <iframe id="musicIframePage" scrolling="auto" frameborder="0" width="100%" style="height:calc(100% - 17px);" src="/file/musicPlayerSimple.page"></iframe>
    </div>
    
    <!--右下角 广告页面(隐藏) -->
    <div id="adDiv"
         style="position:fixed;bottom:60px;right:10px;width:350px;height:250px;border:3px solid green;background-color:white;over-flow:hidden;display: none;">
        <div id="adBtn" style="style:1px solid red;background-color:#5082b9;padding-left:290px">
            <button id="closeAd" class='btn btn-sm btn-primary' onclick="closeAd()">关&nbsp;&nbsp;闭</button>
        </div>
        <div id="adTitle" style="height:30px;text-align:center;font-size:20px;">
        </div>

        <div id="adContent" style="height:auto;text-indent:2em;">
        </div>

        <div id="adTime"
             style="height:15px;font-size: 16px;font-weight: bold;position: absolute;right:2px;bottom: 3px;">
        </div>
    </div>
</body>

<script type="text/javascript">
    // 左侧导航菜单
    var _menus = {
        "menus":[]
    };

    // 聊天室房间号
    var roomName = "001";

    // 在线人数和积分数量
    var onlineData = {};

    console.log("主页获取session数据:" + sessionUser);
    // 修改地址栏地址,不显示多余的参数或者页面信息
    history.replaceState(null, null, "/");

    $(function() {
        // 修改密码对话框
        $('#modifyPasswordDiv').window({
            title: '[[#{easy.modify.password.title}]]',
            width: 300,
            modal: true,
            shadow: true,
            closed: true,
            height: 260,
            resizable: false
        });

        // 设置语言对话框
        $('#modifyLanguageDiv').window({
            title: '[[#{btn.language.tips}]]',
            width: 300,
            modal: true,
            shadow: true,
            closed: true,
            height: 240,
            resizable: false
        });
    });

    getNaviMenuList();

    // 获取左侧导航栏菜单列表
    function getNaviMenuList() {
        $.ajax({
            type: 'GET',
            url: rootUrl + '/zhddkk/sysMenu/getRoleMenuList?userId=' + sessionUserId,
            async: true,
            dataType: 'json',
            success: function (result) {
                if (result.code == 1) {
                    _menus.menus = result.data;
                }
            }
        });
    }

    //------------------------------------------------------头部-------------------------------------------------
    //定时更新时间
    setInterval(function () {
        $("#curTimeSpan").text(getCurrentTime());
    }, 1000);

    // 音乐播放
    $("#playMusicBtn").click(function (){
        var displayStatus = $("#musicIframeDiv").css("display");
        if (displayStatus == "none") {
            $("#musicIframeDiv").css("display", "block");
        } else {
            $("#musicIframeDiv").css("display", "none");
        }
    });

    // 简易音乐播放器复位
    $("#resetMusicIframeDivPosBtn").click(adjustMusicWindowPosition);
    function adjustMusicWindowPosition() {
        $("#musicIframeDiv").css("bottom", "150px");
        $("#musicIframeDiv").css("left", "1px");
    }
    //音乐播放器可拖动代码
    $.ws.dragPanelMove("#musicIframeHeader", "#musicIframeDiv");

    // 每日签到
    $("#signBtn").click(function() {
        $.ajax({
            type: 'POST',
            url: '/zhddkk/wsSign/sign',
            data: {"user": sessionUser},
            async: false,
            success: function (result) {
                layer.msg(result.msg);
            }
        });
    });

    // 手机登录
    $("#qrcodeBtn").click(function() {
        var imgSrc = $("#qrcodeImg").attr("src");
        if (imgSrc == "" || imgSrc == undefined) {
            $.ajax({
                type: 'POST',
                url: '/showQRCode.do',
                //dataType: 'json',
                async: false,
                success: function (result) {
                    $("#qrDiv").css("display", "block");
                    $("#qrcodeImg").css("display", "block");
                    $("#qrcodeImg").attr("src", result);
                }
            });
        } else {
            $("#qrcodeImg").attr("src", "");
            $("#qrDiv").css("display", "none");
            $("#qrcodeImg").css("display", "none");
        }
    });

    // 设置
    $("#settingBtn").click(function() {
        layer.open({
            type: 2,
            title: '设置个人信息',
            shadeClose: true,
            shade: 0.2,
            area: ['540px', '580px'],
            anim: 1,
            content: '/zhddkk/wsUsers/setPersonalInfo.page?user=' + sessionUser
        });
    });

    // 修改密码对话框打开
    $("#modifyPasswordBtn").click(function (){
        $('#modifyPasswordDiv').window('open');
    });

    // 取消修改密码
    function cancelPassword() {
        $('#modifyPasswordDiv').window('close');
    }

    // 确认修改密码
    function modifyPassword() {
        $.ajax({
            type: 'POST',
            url: '/zhddkk/wsUsers/updatePassword.do',
            data: {"user": sessionUser,
                "oldPass": $("input[name='oldPass']").val(),
                "newPass": $("input[name='newPass']").val(),
                "confirmPass": $("input[name='confirmPass']").val(),
            },
            //dataType: 'json',
            success: function (result) {
                if (result.code == 1) {
                    layer.msg("密码修改成功");
                } else {
                    layer.msg(result.data);
                }
                setTimeout(cancelPassword, 2500);
            }
        });
    }

    // 新密码与确认密码是否一致
    $.extend($.fn.validatebox.defaults.rules, {
        equals: {
            validator: function(value,param){
                return value == $(param[0]).val();
            },
            message: '两次密码不一致.'
        }
    });

    // 退出
    $("#loginOutBtn").click(function() {
        $.messager.confirm('退出', '确认退出吗?', function(r){
            if (r){
                $.ajax({
                    type: 'POST',
                    url: 'ws/logout.do',
                    data: {"user": sessionUser},
                    async: false,
                    success: function (result) {
                        top.location.href = rootUrl;
                    }
                });
            }
        });
    });

    //------------------------------------------------------底部-------------------------------------------------
    // 设置语言对话框打开
    $("#modifyLanguageBtn").click(function (){
        $('#modifyLanguageDiv').window('open');
        $("input[name='language'][value='"+language+"_"+counrty+"']").prop("checked", "checked");
    });

    // 设置语言确定
    function confirmLanguage() {
        var language = $("input[name='language']:checked").val();
        if (language != null && language != "") {
            $('#modifyLanguageDiv').window('close');
            var tmpUrl = window.location.href;
            window.location.href = tmpUrl.replace("#","") + "/i18n?lang="+language;
        }
    }

    // 会话信息
    $("#sessionInfoBtn").click(function() {
        layer.open({
            type: 2,
            title: '会话信息',
            maxmin: false,
            shadeClose: true,//点击遮罩关闭层
            area: ['630px', '500px'],
            anim: 1,
            content: '/sessionInfo.page'
        });
    });

    // 联系作者
    $("#contactBtn").click(function() {
        layer.open({
            type: 2,
            title: '联系作者',
            maxmin: false,
            shadeClose: true,//点击遮罩关闭层
            area: ['530px', '300px'],
            anim: 1,
            content: 'index/contactAuthor.page'
        });
    });

    //捐赠作者
    $("#donateBtn").click(function() {
        layer.open({
            type: 2,
            title: '捐赠作者',
            maxmin: false,
            shadeClose: true,//点击遮罩关闭层
            area: ['530px', '300px'],
            anim: 1,
            content: 'index/donate.page'
        });
    });

    //提出疑问
    $("#feedbackBtn").click(function() {
        parent.layer.open({
            type: 2,
            title: '提出疑问',
            maxmin: false,
            shadeClose: true,//点击遮罩关闭层
            area: ['530px', '300px'],
            anim: 1,
            content: 'index/feedbackUs.page'
        });
    });

    // EasyUI Demo
    $("#easyUIDemo").click(function () {
        parent.layer.open({
            type: 2,
            title: 'easyUI Demo',
            maxmin: false,
            shadeClose: true,//点击遮罩关闭层
            area: ['800px', '500px'],
            anim: 1,
            content: 'index/easyUIDemo.page'
        });
    });

    //关于我们
    $("#aboutUsBtn").click(function() {
        parent.layer.open({
            type: 2,
            title: '关于我们',
            maxmin: false,
            shadeClose: true,//点击遮罩关闭层
            area: ['530px', '300px'],
            anim: 1,
            content: 'index/aboutUs.page'
        });
    });

    // 头部部分
    var northRegionVue = new Vue({
        el: '#northRegionDiv',
        data: {
            coinNum: 0,
            onlineNum: 0,
            headImage: sessionSelfimg,
            weatherObj: {},
        },
        methods: {
            getOnlineInfo: function () {
                var that = this;
                $.ajax({
                    type: 'GET',
                    url: 'ws/getOnlineInfo.json',
                    async: false,
                    data: {"roomName": roomName, "user": sessionUser},
                    success: function (result) {
                        if (result.code != 1) {
                            return;
                        }
                        onlineData = result.data;
                        // 左上角头像、积分、在线人数
                        that.coinNum = onlineData.currentOnlineUserInfo.coinNum;
                        that.onlineNum = onlineData.onlineUserList.length;
                        if (that.headImage == null || that.headImage == "") {
                            that.headImage = rootUrl + "../img/" + $.ws.errorImageName;
                        }
                    }
                });
            },
            //获取天气
            grapWeatherInfo: function () {
                var that = this;
                $.ajax({
                    type: 'GET',
                    url: rootUrl + 'index/grapWetherInfo',
                    async: false,
                    success: function (result) {
                        if (result.code == 1) {
                            that.weatherObj = result.data;
                        }
                    }
                });
            },
        },
        created: function (e) {
            this.getOnlineInfo();
            this.grapWeatherInfo();
        }
    });

    // 中间部分--我的好友列表、最新新闻列表
    var centerRegionVue = new Vue({
        el: '#centerRegionDiv',
        data: {
            recentNewsList: {},  //最新消息列表
            friendList: onlineData.friendsList, //好友列表
            onlineFriendCount: onlineData.onlineFriendCount,
            offlineFriendCount: onlineData.offlineFriendCount,
        },
        methods: {
            queryRecentNews: function () {
                var that = this;
                $.ajax({
                    type: 'GET',
                    url: '/zhddkk/wsAds/queryRecentAdsList?count=5',
                    success: function (result) {
                        if (result.code == 1) {
                            that.recentNewsList = result.data;
                        }

                        var totalAds = "";
                        $.each(result.data, function (i, val) {
                            // 首页底部滚动消息用
                            var spanHtml = "<span><a style='color:blue;font-weight: bold;' onclick='showAdsDetail(" + val.id + ")'>【查看详情】</a></span><span style='font-size:14px;font-weight: bold;'>" + val.title + "</span><span style='font-size:9px;color: grey;margin-left:5px;margin-right: 200px;'>" + val.createTime + "</span>";
                            totalAds += spanHtml;
                        });
                        $("#adsSpan").html(totalAds);
                    }
                });
            },
            showAdsDetail: function(adId) {
                window.open("./zhddkk/wsAds/adsDetail.page?id=" + adId);
            },
            showPersonInfo: function (userName) {
                layer.open({
                    type: 2,
                    title: '用户个人信息',
                    shadeClose: true,
                    shade: 0.2,
                    area: ['390px', '420px'],
                    content: '/zhddkk/wsUsers/showPersonalInfo.page?user=' + userName
                });
            }
        },
        created: function (e) {
            // do nothing
            this.queryRecentNews();
        }
    });

    // 首页-中间部分-切换游戏
    function changeGame() {
        var gameList = new Array("../canvas/starts.page","../canvas/clock.page","../canvas/clock2.page"
            ,"../canvas/trafficByCanvas_stepbystep.page","../canvas/trafficByCanvas-smooth-0624.page"
            ,"../canvas/tank_p1p2.page","../canvas/tank_construct.page","../canvas/xiangqi_v6.0.page","../canvas/pintu.page"
            ,"../game/ball.page","../game/plane.page","../game/myrussia.page");
        var gIndex = randomNumber(0, gameList.length);
        var gUrl = gameList[gIndex];
        $("#gameIframe").attr("src", gUrl);
    }

    // ---------------------------------以下是供聊天用的全局变量-----------------------
    var webSocket = null;

    // 连接状态
    var connectStatus = "0";
    //重试连接服务器次数
    var checkCount = 1;
    //最大连接次数
    var checkMaxCount = 20;
    //连接服务器定时器
    var checkTimer = undefined;

    //所有聊天记录
    var chatRecord = "";
    //未读消息条数
    var unreadCount = 0;

    function updateChatMsg(msg, color, fontSize) {
        var newMsg = "<p style='color:" + color + ";font-size:" + fontSize + "px;line-height:14px;'>[" + getCurrentTime() + "] [系统信息] " + msg + "</p>";
        var msgFromServerObj = getIframeElement("msgFromServer");
        var textArea = $(msgFromServerObj).append(newMsg);
        chatRecord = chatRecord + newMsg;
        showTips(msg, color);
    }

    //连接服务器
    function checkConnection() {
        if (connectStatus == "0") {
            if (checkCount >= checkMaxCount) {
                if (checkTimer != null && checkTimer != "" && checkTimer != undefined) {
                    //达到最大连接数后关闭定时器
                    clearInterval(checkTimer);
                }
            }
            updateChatMsg("正在连接服务器" + sessionWebserverIp + ":" + sessionWebserverport + " [ " + checkCount + " ]" + "次 请稍等...", "red", 10);
            checkCount++;
        } else {
            if (checkTimer != null && checkTimer != "" && checkTimer != undefined) {
                clearInterval(checkTimer);
            }
        }
    }

    //定时检查连接
    checkTimer = setInterval(function () {
        checkConnection();
    }, 1000);

    //检查连接
    checkConnection();
    //登录服务器
    loginServer();

    function loginServer() {
        if (webSocket == null) {
            var socketUrl = "ws://" + sessionWebserverIp + ":" + sessionWebserverport + "/zhddWebSocket/" + roomName + "/" + sessionUser + "/" + sessionPassword + "/" + sessionUseragent;
            webSocket = new WebSocket(socketUrl);
            webSocket.onerror = function (event) {
                onError(event);
            };
            webSocket.onclose = function (event) {
                OnClose(event);
            };
            webSocket.onopen = function (event) {
                onOpen(event);
            };
            webSocket.onmessage = function (event) {
                onMessage(event);
            };
        }
    }

    //连接成功
    function onOpen(event) {
        connectStatus = "1";
        var msg = $.ws.i18n("label.connected");
        updateChatMsg(msg, "green", 10);
    }

    //连接失败
    function onError(event) {
        updateChatMsg("连接服务器异常!", "red", 10);
        connectStatus = "0";
        webSocket = null;
    }

    //连接关闭
    function OnClose(event) {
        updateChatMsg("客户端已断开!", "red", 10);
        connectStatus = "0";
        stop();
    }

    //接收消息
    function onMessage(event) {
        var jsonObj = JSON.parse(event.data);
        var curTime = jsonObj.curTime;
        var msgFrom = jsonObj.from;
        var msgTo = jsonObj.to;
        var typeId = jsonObj.msgTypeId;
        var typeDesc = jsonObj.msgTypeDesc;
        var msg = jsonObj.msg;

        var showStr = "[" + curTime + "] [" + typeDesc + "] [" + msgFrom + "-->" + msgTo + "] " + msg;
        var defaultCss = "color:red;font-size:10px;line-height:14px;"
        if (typeId == 1) {
            //系统消息
            defaultCss = "color:red;font-size:10px;line-height:14px;";
            showStr = "[" + curTime + "] [" + typeDesc + "] " + msg;
        } else if (typeId == 2) {
            //在线消息
            defaultCss = "color:green;font-size:10px;line-height:14px;";
            showStr = "[" + curTime + "] [" + typeDesc + "] [" + msgFrom + "-->" + msgTo + "] " + msg;
        } else if (typeId == 3) {
            //离线消息
            defaultCss = "color:grey;font-size:10px;line-height:14px;";
            showStr = "[" + curTime + "] [" + typeDesc + "] [" + msgFrom + "-->" + msgTo + "] " + msg;
        } else if (typeId == 4) {
            //广告消息
            defaultCss = "color:blue;font-size:10px;line-height:14px;";
            var title = msg.split("title:")[1].split(";")[0];
            var content = msg.split("content:")[1];
            showStr = "[" + curTime + "] [" + typeDesc + "] [" + msgFrom + "-->" + msgTo + "] " + "广告标题:" + title + " 广告内容:" + content;
        } else if (msgTo == sessionUser) {
            defaultCss = "color:green;font-size:10px;line-height:14px;";
        } else if (msgFrom == sessionUser) {
            defaultCss = "color:blue;font-size:10px;line-height:14px;";
        }

        var tabsObj = $('#tabs').tabs('getSelected');
        var selectedTab = tabsObj.panel('options').tab;
        var tabTitle = $(selectedTab).text();
        if (tabTitle != "聊天监控" && tabTitle != "实时聊天") {
            var htmlData = "<p style='" + defaultCss + "'>" + showStr + "</p>";
            chatRecord = chatRecord + htmlData;
            unreadCount = unreadCount + 1;
            //$("#leftNaviIframePage").contents().find("#unreadCountSpan").text(unreadCount);
        } else {
            var htmlData = "<p style='" + defaultCss + "'>" + showStr + "</p>";
            var msgFromServerObj = getIframeElement("msgFromServer");
            chatRecord = chatRecord + htmlData;
            var textArea = $(msgFromServerObj).append(htmlData);
            textArea.scrollTop(textArea[0].scrollHeight - textArea.height());
        }

        if (typeId == 4) {
            var title = msg.split("title:")[1].split(";")[0];
            var content = msg.split("content:")[1];

            $("#adTitle").html(title);
            $("#adContent").html(content);
            $("#adTime").html(curTime);
            $("#adDiv").slideDown(500);
        }
    }

    //获取iframe中的元素
    function getIframeElement(eleName) {
        var obj = $("iframe[name='mainFrame']").contents().find("#" + eleName);
        return obj;
    }

    //断开连接
    function stop() {
        if (webSocket != null) {
            webSocket.close();
            webSocket = null;
            connectStatus = "0";
        }
    }

    //关闭广告窗
    function closeAd() {
        $("#adDiv").slideUp(500);
    }
    
    //footer内的提示语
    function showTips(msg, color) {
        $("#bottomSpanTips").css("color", color);
        $("#bottomSpanTips").html(msg);
    }
</script>
</html>