<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: header"></head>
	<title>WebSocket客户端</title>
<style type="text/css">
	.mouseleftclick{
		background-color:blue;
		color:white;
	}

    body{
		background-image: url("../img/fengjing/fj1.jpg");
        background-repeat: no-repeat;
        background-size:100% 100%;
		padding-top: 60px;
		overflow: hidden;
    }

	#mainDiv{
		width:854px;
        height:444px;
		margin:0 auto;
		position: fixed;
		left:138px;
		top:80px;
	}
	
	#header{
		width:100%;
		height:30px;
		padding-top:5px;
		padding-left:5px;
		cursor: move;
		background-color:#365e71;
	}
	
	#msgFromServer{
		width:100%;
		height:350px;
		overflow:auto;
		background-color:white;
		padding:3px;
	}
	
	#footer{
		width:100%;
	}
	
	#adDiv{
		width:350px;
		height:250px;
		position:fixed;
		bottom:10px;
		right:10px;
		border:3px solid green;
		background-color:white;
		over-flow:hidden;
		display:none;
	}
	
	#msgFromServer p{
		margin-bottom:7px;
	}
</style>
</head>
<body>
	<div id="mainDiv">
		<div style="width:74.8%;height:100%;float:left;border:2px solid green;">
            <!--头部按钮组-->
			<div id="header">
				<div align="left" style="width:20%;height:100%;float:left;margin-top:-5px;">
					<span style="color:yellow;font-weight:bold;font-size:24px;height:100%;display:inline-block;">{{loginUser}}</span>
				</div>

				<div align="right" style="width:62%;height:100%;float:right;margin-right:3px;">
					<button id="refreashConlineCount" class='label label-info' onclick="getOnlineInfo()">刷&nbsp;&nbsp;&nbsp;&nbsp;新</button>&nbsp;&nbsp;
					<button class='label label-primary' onclick="changeBackgroundImage()">更换背景</button>&nbsp;&nbsp;
					<button class='label label-danger' onclick="clearScreen()">清&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;屏</button>&nbsp;&nbsp;
					<button id="btnReconnect" class='label label-primary' type="button" onclick="loginServer()">重新连接</button>
				</div>
			</div>

            <!--中间聊天框-->
			<div id="msgFromServer" align="left">
			</div>

            <!--下方聊天内容发送-->
			<div id="footer" align="left">
				<div style="height:25px;">
                    <!--选择对象-->
					<select id="selectUser" style="width:50%;height:100%;float:left;">
						<option v-for="row in friendList" :value="row.name">
							{{row.name}}
						</option>
					</select>
                    <!--选择常用语-->
					<select id="selectCyy" style="width:50%;height:100%;float:right;" @change="selectText">
						<option v-for="cyy in cyyList">
							{{cyy.name}}
						</option>
					</select>
				</div>
                <!--聊天内容  发送按钮-->
				<div style="height:33px;">
					<input id="msgToServer" autocomplete="off" style="width:80%;float:left;height:100%;border:2px solid grey" placeholder="请输入聊天内容"></input>
					<button id="sendBtn" type="button" class='btn btn-sm btn-success' style="width:20%;height:100%;float:right;" onClick="send()">&nbsp;&nbsp;发&nbsp;&nbsp;&nbsp;&nbsp;送&nbsp;&nbsp;</button>
				</div>
			</div>
		</div>

        <!--右侧好友列表-->
		<div style="width: 24%;height:100%;float:right;border:2px solid green;background-color: white;">
			<div id="friendsListDiv" style="width: 100%;height: 100%;overflow-y: scroll;">
                <div style="width:100%;height:25px;background-color: #365e71;color:white;">
                    <span>我的好友列表</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>{{onlineFriendCount}}/{{friendList.length}}</span>
                </div>
				<div v-for="row in friendList" style="width:100%;height:50px;margin-bottom: 8px;padding:3px;">
					<div style="width:26%;height:50px;float: left;">
						<img :src="row.headImage" width="100%" height="100%">
					</div>
					<div style="width:67%;height:50px;float:left;margin-left: 5px;">
						<div>
							<template v-if="row.state == '0'">
								<p style="font-size: 14px;color:grey;">{{row.name}}</p>
							</template>
							<template v-else>
								<p style="font-size: 14px;color: red;">{{row.name}}</p>
							</template>
							<p style="font-size: 12px;">{{row.lastLoginTime}}</p>
						</div>
						<div>
							<span style="font-size: 12px;">{{row.sign}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--广告页面 -->
	<div id="adDiv">
		<div id="adBtn" style="style:1px solid red;background-color:#5082b9;padding-left:290px">
			<button id="closeAd" class='btn btn-sm btn-primary' onclick="closeAd()">关&nbsp;&nbsp;闭</button>
		</div>
		<div id="adTitle" style="height:30px;text-align:center;font-size:20px;">
		</div>
		
		<div id="adContent" style="height:auto;text-indent:2em;">
		</div>
	</div>

	<div th:include="common :: footer"></div>
</body>

	<script type="text/javascript">
		//清空聊天框内容
		$("#msgFromServer").val("");
		$("#msgFromServer").append(parent.chatRecord);
		//未读消息数
		parent.unreadCount=0;
		$("#unreadCountSpan", window.parent.document).text("");
		var currentUserOnlineInfo = undefined;

		var app = new Vue({
			el: '#mainDiv',
			data: {
				friendList:{},
				cyyList:{},
                loginUser:parent.s_user,
                onlineFriendCount:0,
                offlineFriendCount:0,

			},
			methods: {
				getOnlineInfo:function () {
					$.ajax({
						type: 'GET',
						url: 'getOnlineInfo.json',
						data: {"user": parent.s_user},
						success: function (result) {
							if (result.code == 0) {
								return;
							}
							var jsonObj = result.data;
							app.friendList = jsonObj.friendsList;
							app.cyyList = jsonObj.commonMap.cyy;
							app.onlineFriendCount = jsonObj.onlineFriendCount;
							app.offlineFriendCount = jsonObj.offlineFriendCount;

                            currentUserOnlineInfo = jsonObj.currentOnlineUserInfo;
                            // 是否被禁用
                            var enableStatus = currentUserOnlineInfo.enable;
                            if (enableStatus == "0"){
                                layer.tips('该账户已被禁用,10秒后强制退出!', '#msgFromServer', {
                                    tips: [2, 'red']
                                });
                                updateChatMsg("<p style='color:red;font-size:10px;line-height:14px;'>["+getCurrentTime()+"] [系统信息] 该账户已被禁用,10秒后强制退出!</p>");
                                setTimeout(logout,10000);
                                return;
                            }

                            // 是否被禁言
                            var speakStatus = currentUserOnlineInfo.speak;
                            if (speakStatus == "0"){
                                $("#sendBtn").attr("disabled",true);
                                $("#sendBtn").html("<span style='color:red;font-weight: bold;'>你已被禁言</span>");
                            }else{
                                $("#sendBtn").attr("disabled",false);
                                $("#sendBtn").html("发送");
                            }
						}
					});
				},
                selectText:function (e) {
                    $("#msgToServer").val(e.target.value);
                }
			},
			created: function () {
				this.getOnlineInfo();
			}
		});

		// 发送消息给服务器
		function send() {
			if (currentUserOnlineInfo != undefined){
				// 是否被禁用
				var enableStatus = currentUserOnlineInfo.enable;
				if (enableStatus == "0"){
					//被禁用了
					updateChatMsg("<span style='color:red;font-size:10px;line-height:14px;'>["+getCurrentTime()+"] [系统消息] 你的账号已被禁用了</span>")
					return;
				}

				var speakStatus = currentUserOnlineInfo.speak;
				if (speakStatus == "0"){
					//被禁言了
					updateChatMsg("<span style='color:red;font-size:10px;line-height:14px;'>["+getCurrentTime()+"] [系统消息] 你已被禁言了</span>")
					return;
				}
			}

			var toUser = $("#selectUser").val();
			if (parent.webSocket != null) {
				if (parent.s_user == toUser) {
					updateChatMsg("<p style='color:red;font-size:10px;line-height:14px;'>["+getCurrentTime()+"] [系统信息] 自己不能给自己发消息!</p>");
					return false;
				}

				var msgToServer = $("#msgToServer").val();
				if (msgToServer == null || msgToServer == "") {
					var msg = "<p style='color:red;font-size:10px;line-height:14px;'>["+getCurrentTime()+"] [系统信息] 不允许发送空消息!</p>";
					updateChatMsg(msg);
					return;
				}

				if (toUser == null || toUser == "") {
					var msg = "<p style='color:red;font-size:10px;line-height:14px;'>["+getCurrentTime()+"] [系统信息] 你暂时没有好友,快去<a href='javascript:void(0)' onclick='toAddUser()'>添加好友</a>吧!</p>";
					var textArea = $("#msgFromServer").append(msg);
					parent.chatRecord = parent.chatRecord + msg;
					textArea.scrollTop(textArea[0].scrollHeight - textArea.height());
				}else{
					var htmlData = "<p style='color:blue;font-size:10px;line-height:14px;'>["+getCurrentTime() + "] [在线消息]  [我 -->" + toUser +"] "+ msgToServer +"</p>";
					updateChatMsg(htmlData);
					sendMsgToServer(parent.s_user, toUser, msgToServer);
					$("#msgToServer").val("");
				}
			}else{
				var msg = "<p style='color:red;font-size:10px;line-height:14px;'>["+getCurrentTime()+"] [系统信息] 服务器已断开,请<a href='javascript:void(0)' onclick='loginServer()'>重新连接</a>!</p>";
				updateChatMsg(msg);
			}
		}

		//发送消息
		function sendMsgToServer(from,to,msg) {
			if (parent.connectStatus == "1" && parent.webSocket != null){
				var toServerMsgObj = {};
				toServerMsgObj.typeId = 2;
				toServerMsgObj.typeDesc = "在线消息";
				toServerMsgObj.from = from;
				toServerMsgObj.to = to;
				toServerMsgObj.msg = msg;
				var jsonObj = JSON.stringify(toServerMsgObj);
				parent.webSocket.send(jsonObj);
			}else{
				var msg = "<p style='color:red;font-size:10px;line-height:14px;'>["+getCurrentTime()+"] [系统信息] 连接失败,请<a href='javascript:void(0)' onclick='loginServer()'>重新连接</a>!</p>";
				updateChatMsg(msg);
			}
		}

		function logout(){
			window.parent.toIndex();
		}

		function updateChatMsg(msg){
			var textArea = $('#msgFromServer').append(msg);
			parent.chatRecord = parent.chatRecord + msg;
			textArea.scrollTop(textArea[0].scrollHeight - textArea.height());
		}

		//定时获取在线人数信息
		setInterval(function(){
			app.getOnlineInfo();
		},10000);

		//聊天窗口可拖动
		$.ws.dragPanelMove("#header","#mainDiv");

		//定时切换背景图片
		var imgIndex=1;
		var imgMaxIndex = 10;
		function changeBackgroundImage(){
			imgIndex++;
			if (imgIndex>imgMaxIndex) {
				imgIndex = 1;
			}
			var newPicUrl = "../img/fengjing/fj"+imgIndex+".jpg";
			$("body").css("background-image","url("+newPicUrl+")");
		}

		//定时切换聊天背景图片
		setInterval(function(){
			changeBackgroundImage();
		},60000);

		//回车键发送聊天内容
		$(document).keyup(function(event){
			if(event.keyCode ==13){
				send();
			}
		});

		//关闭右下角广告窗
		function closeAd(){
			$("#adDiv").slideUp(500);
		}

		//添加好友
		function toAddUser(){
			var curPageid = "/zhddkk/wsUsers/wsUsers";
			parent.curPageid = curPageid;
			parent.showPage(curPageid);
		}

		//清屏
		function clearScreen(){
			parent.chatRecord = "";
			$("#msgFromServer").text("");
		}

		//登录服务器
		function loginServer(){
			parent.loginServer();
		}

		//当浏览器大小变化时
		$(window).resize(function () {
			winInnerWidth = window.innerWidth;
			winInnerHeight = window.innerHeight;
			var mainDivWidth = $("#mainDiv").width();
			var mainDivHeight = $("#mainDiv").height();
			if (winInnerWidth>=mainDivWidth) {
				$("#mainDiv").css("left", (winInnerWidth - mainDivWidth) / 2 + "px");
			}
			if (winInnerHeight>=mainDivHeight) {
				$("#mainDiv").css("top", (winInnerHeight - mainDivHeight) / 2 + "px");
			}
		});
	</script>
</html>
