<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: header"></head>
	<title>WebSocket客户端</title>
    <style type="text/css">
		#mainDiv{
			width:1318px;
			height:610px;
			margin:1px auto;
		}

        #qrDiv{
            position: fixed;
            right: 5px;
            top: 40px;
            width: 180px;
            height: 180px;
        }
        #qrcodeImg{
            width: 160px;
            height: 160px;
        }

        #musicIframeDiv {
            position: absolute;
            width:175px;
            height:100px;
            background: black;
            color: rgb(255%,255%,255%);
			display: none;
        }
        #musicIframeHeader {
            background: #ddd;
            cursor: move;
            font-size:10px;
        }
    </style>
</head>
<body>
    <!--头部-->
	<div id="headerPage" align="center" style="width:1318px;height:58px;border:2px solid green;margin: 0 auto;">
		<iframe id="headerIframePage" src="header.page" width="100%" height="100%;"></iframe>
	</div>

	<!--中间部分-->
	<div id='mainDiv'>
		<!--用户登录相关信息-->
		<input type="hidden" id="user" name="user" th:value="${user}">
		<input type="hidden" id="pass" name="pass" th:value="${pass}">
		<input type="hidden" id="webserverip" name="webserverip" th:value="${webserverip}">
		<input type="hidden" id="webserverport" name="webserverport" th:value="${webserverport}">
		<input type="hidden" id="selfimg" name="selfimg" th:value="${selfimg}">
        <input type="hidden" id="useragent" name="useragent" th:value="${useragent}">

		<!--左侧导航栏-->
		<div id="leftNaviPage" style="width:178px;height:100%;float:left;">
			<iframe id="leftNaviIframePage" src="clientLeftNavi.page" width="100%" height="100%;"></iframe>
		</div>

		<!--右侧子页面-->
		<div id="rightIframeDiv" align="center" style="width:1136px;height:100%;float:left;border:2px solid green;margin-left:2px;">
			<iframe id="iframePage" width="1130px" height="605px;"></iframe>
		</div>
	</div>

	<!--底部-->
	<div id="footerPage" align="center" style="width:1318px;height:52px;border:2px solid green;margin: 0 auto;">
		<iframe id="footerIframePage" src="footer.page" width="100%" height="100%;"></iframe>
	</div>

	<!--右侧音乐播放器图标(隐藏)-->
	<div id="musicPicDiv" style="position: fixed;top:84px;width:30px;height:30px;">
		<img id="musicPicImg" src="../img/others/musicplayer.jpg" style="width:100%;height:100%;">
	</div>

	<!--右上角 二维码-->
	<div id="qrDiv" style="display:none">
		<img id="qrcodeImg">
	</div>

	<!--左下角 迷你音乐播放器-->
	<div id='musicIframeDiv'>
		<div id='musicIframeHeader'>
			<span style='display:inline-block;width:67%;color: black;font-weight: bold;'>&nbsp;&nbsp;按住我拖动&nbsp;&nbsp;</span>
			<button id='resetMusicIframeDivPosBtn' style='display:inline-block;width:30%;color:black;'>复位</button>
		</div>
		<iframe id="musicIframePage" width="100%" height="100%" src="../file/musicPlayerSimple.page"></iframe>
	</div>

	<!--右下角 广告页面(隐藏) -->
	<div id="adDiv" style="position:fixed;bottom:10px;right:10px;width:350px;height:250px;border:3px solid green;background-color:white;over-flow:hidden;display: none;">
		<div id="adBtn" style="style:1px solid red;background-color:#5082b9;padding-left:290px">
			<button id="closeAd" class='btn btn-sm btn-primary' onclick="closeAd()">关&nbsp;&nbsp;闭</button>
		</div>
		<div id="adTitle" style="height:30px;text-align:center;font-size:20px;">
		</div>

		<div id="adContent" style="height:auto;text-indent:2em;">
		</div>

		<div id="adTime" style="height:15px;font-size: 16px;font-weight: bold;position: absolute;right:2px;bottom: 3px;">
		</div>
	</div>

    <div th:include="common::footer"></div>
</body>

    <script type="text/javascript">
        var s_user=$('#user').val();
        var s_pass=$('#pass').val();
        var s_webserverip = $('#webserverip').val();
        var s_webserverport = $('#webserverport').val();
        var s_userAgent = $('#useragent').val();
        var s_selfimg = $('#selfimg').val();

		//退出(返回登录页)
        function toIndex(){
			//window.location.href = rootUrl;
			$.ajax({
				type: 'POST',
				url: rootUrl+'ws/logout.do',
				data:{"user":s_user},
				async:false,
				success: function(result) {
					if (result == "success"){
						console.log("退出成功");
						window.location.href = rootUrl;
					}
				}
			});
        }

        // 默认显示页:聊天窗口首页
        var cur_pageid = "wsclientChat.page";
        showPage(cur_pageid);
        function showPage(pageId) {
			var url = pageId + "?user="+s_user;
			if (pageId.indexOf("gameIndex.page") != -1){
				window.location.href=pageId;
			}else if (pageId.indexOf("canvasIndex.page") != -1) {
				window.location.href = pageId;
			}else{
				$("#iframePage").attr("src", url);
			}
        }

        // ---------------------------------以下是供聊天用的全局变量-----------------------
        var webSocket = null;
        // 连接状态 0:未连接 1:已连接
        var connectStatus = "0"
		//重试连接服务器次数
        var checkCount = 1;
        //最大连接次数
        var checkMaxCount = 20;
        //连接服务器定时器
        var checkTimer = undefined;

        //所有聊天记录
        var chatRecord="";
        //未读消息条数
        var unreadCount=0;

        function updateChatMsg(msg,color,fontSize){
        	var newMsg = "<p style='color:"+color+";font-size:"+fontSize+"px;line-height:14px;'>["+getCurrentTime()+"] [系统信息] "+msg+"</p>";
			var msgFromServerObj = getIframeElement("msgFromServer");
			var textArea = $(msgFromServerObj).append(newMsg);
			chatRecord = chatRecord + newMsg;
			showTips(msg, color);
        }

        //连接服务器
        function checkConnection() {
            if (connectStatus == "0") {
                if (checkCount >= checkMaxCount) {
                    if (checkTimer != null && checkTimer != "" && checkTimer != undefined) {
                    	//达到最大连接数后关闭定时器
                        clearInterval(checkTimer);
                    }
                }
                var tempMsg = "正在连接服务器" +s_webserverip+":"+s_webserverport + " [ "+checkCount +" ]"+ "次 请稍等...";
				updateChatMsg(tempMsg, "red", 10);
                checkCount++;
            }else{
                if (checkTimer != undefined){
                	//如果已连上服务器,则清除定时器
                    clearInterval(checkTimer);
                }
            }
        }

        //定时检查连接
        checkTimer = setInterval(function(){
            checkConnection();
        },1000);

        //检查连接
        checkConnection();
        //登录服务器
        loginServer();

        function loginServer() {
            if (webSocket == null) {
                var socketUrl = "ws://"+s_webserverip+":"+s_webserverport+"/zhddWebSocket/" + s_user+"/"+s_pass+"/"+s_userAgent;
                webSocket = new WebSocket(socketUrl);
                webSocket.onerror = function(event){
                    onError(event);
                };
                webSocket.onclose = function(event){
                    OnClose(event);
                };
                webSocket.onopen = function(event){
                    onOpen(event);
                };
                webSocket.onmessage = function(event){
                    onMessage(event);
                };
            }
        }

        //连接成功
        function onOpen(event){
			updateChatMsg("已连上服务器!", "green", 10);
			connectStatus = "1";
        }

        //连接失败
        function onError(event){
			updateChatMsg("连接服务器异常!", "red", 10);
            connectStatus = "0";
            webSocket = null;
        }

        //连接关闭
        function OnClose(event){
			updateChatMsg("客户端已断开!", "red", 10);
            connectStatus = "0";
            stop();
        }

        //接收消息
        function onMessage(event){
			var jsonObj = JSON.parse(event.data);

			var curTime = jsonObj.curTime;
			var msgFrom = jsonObj.from;
			var msgTo = jsonObj.to;
			var typeId = jsonObj.typeId;
			var typeDesc = jsonObj.typeDesc;
			var msg = jsonObj.msg;

            var showStr="["+curTime+"] ["+typeDesc+"] ["+msgFrom+"-->"+msgTo+"] "+msg;
            var defaultCss = "color:red;font-size:10px;line-height:14px;"
            if (typeId == 1) {
                //系统消息
                defaultCss = "color:red;font-size:10px;line-height:14px;";
                showStr="["+curTime+"] ["+typeDesc+"] " +msg;
            }else if (typeId == 2){
                //在线消息
                defaultCss = "color:green;font-size:10px;line-height:14px;";
                showStr="["+curTime+"] ["+typeDesc+"] ["+msgFrom+"-->我] " +msg;
            }else if (typeId == 3){
                //离线消息
                defaultCss = "color:grey;font-size:10px;line-height:14px;";
                showStr="["+curTime+"] ["+typeDesc+"] [我-->"+msgTo+"] " +msg;
            }else if (typeId == 4){
                //广告消息
                defaultCss = "color:blue;font-size:10px;line-height:14px;";
                var title = msg.split("title:")[1].split(";")[0];
                var content = msg.split("content:")[1];
                showStr="["+curTime+"] ["+typeDesc+"] ["+msgFrom+"-->"+msgTo+"] "+"广告标题:"+title+" 广告内容:"+content;
            }else if (msgTo==s_user){
                defaultCss = "color:green;font-size:10px;line-height:14px;";
            }else if (msgFrom==s_user){
                defaultCss = "color:blue;font-size:10px;line-height:14px;";
            }

            if (cur_pageid != "wsclientChat.page"){
                var htmlData = "<p style='" + defaultCss + "'>"+showStr +"</p>";
                chatRecord = chatRecord + htmlData;
                unreadCount = unreadCount+1;
                $("#unreadCountSpan").text(unreadCount);
            }else{
                var htmlData = "<p style='" + defaultCss + "'>"+showStr +"</p>";
                var msgFromServerObj = getIframeElement("msgFromServer");
                chatRecord = chatRecord + htmlData;
                var textArea = $(msgFromServerObj).append(htmlData);
                textArea.scrollTop(textArea[0].scrollHeight - textArea.height());
            }

            if (typeId == 4){
                var title = msg.split("title:")[1].split(";")[0];
                var content = msg.split("content:")[1];

                $("#adTitle").html(title);
                $("#adContent").html(content);
                $("#adTime").html(curTime);
                $("#adDiv").slideDown(500);
            }
        }

        //断开连接
        function stop() {
            if (webSocket != null) {
                webSocket.close();
                webSocket = null;
                connectStatus = "0";
            }
        }

        //关闭广告窗
        function closeAd(){
            $("#adDiv").slideUp(500);
        }

        function refrshMusic(){
            document.getElementById("musicIframePage").contentWindow.showMusic();
        }

        //获取iframe中的元素
        function getIframeElement(eleName){
            var obj = $("#iframePage").contents().find("#"+eleName);
            return obj;
        }

        $("#resetMusicIframeDivPosBtn").click(adjustMusicWindowPosition);

        function adjustMusicWindowPosition(){
            var headDivHeight = $("#headerPage").height();
            var mainDivHeight = $("#mainDiv").height();
            var mainDivLeft = $("#mainDiv").offset().left;
            var musicIframeDivHeight=$("#musicIframeDiv").height();
            $("#musicIframeDiv").css("top",headDivHeight+mainDivHeight-musicIframeDivHeight-16);
            $("#musicIframeDiv").css("left",mainDivLeft+3);
        }

        adjustMusicWindowPosition();
        //音乐播放器可拖动代码
        dragPanelMove("#musicIframeHeader","#musicIframeDiv");
        function dragPanelMove(downDiv,moveDiv){
            $(downDiv).mousedown(function (e) {
                var isMove = true;
                var div_x = e.pageX - $(moveDiv).offset().left;
                var div_y = e.pageY - $(moveDiv).offset().top;
                $(document).mousemove(function (e) {
                    if (isMove) {
                        var obj = $(moveDiv);
                        obj.css({"left":e.pageX - div_x, "top":e.pageY - div_y});
                    }
                }).mouseup(
                    function () {
                        isMove = false;
                    });
            });
        }

        //窗口大小变化事件
        $(window).resize(function () {
            adjustMusicWindowPosition();
        });

        //footer内的提示语
		function showTips(msg,color){
			$("#footerIframePage").contents().find("#statusTips").css("color",color);
			$("#footerIframePage").contents().find("#statusTips").html(msg);
		}

		//扫码登录
		function showQRCode(){
			var imgSrc = $("#qrcodeImg").attr("src");
			if (imgSrc == "" || imgSrc == undefined){
				$.ajax({
					type: 'POST',
					url: rootUrl+'ws/showQRCode.do',
					//dataType: 'json',
					async:false,
					success: function(result) {
						$("#qrDiv").css("display","block");
						$("#qrcodeImg").css("display","block");
						$("#qrcodeImg").attr("src",result);
					}
				});
			}else{
				$("#qrcodeImg").attr("src","");
				$("#qrDiv").css("display","none");
				$("#qrcodeImg").css("display","none");
			}
		};

		//设置个人信息
		function setPersonInfoBtn(){
			layer.open({
				type: 2,
				title: '设置个人信息',
				shadeClose: true,
				shade: 0.8,
				area: ['390px', '500px'],
				content: '/zhddkk/wsUsers/setPersonalInfo.page?user='+s_user
			});
		};

		//点击音乐播放器图标显示/隐藏简易音乐播放器
        var musicPicRightPos = (window.innerWidth-$("#mainDiv").width())/2;
        $("#musicPicDiv").css("right", (musicPicRightPos-15)+"px");
		$("#musicPicImg").click(function () {
			var displayStatus = $("#musicIframeDiv").css("display");
			if (displayStatus == "none"){
				$("#musicIframeDiv").css("display", "block");
			}else{
				$("#musicIframeDiv").css("display", "none");
			}
		});
    </script>
</html>
