<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: header"></head>
	<title>WebSocket客户端</title>

	<style type="text/css">

        #mainDiv{
            width:1318px;
            height:720px;
            margin:0 auto;
        }

        #headerPage{
            width:100%;
            height:7.87%;
            border:2px solid green;
        }

		#centerDiv{
			width:100%;
			height:85.07%;
		}

        #recentNewsDiv{
            width:100%;
            height:3.5%;
            border:2px solid green;
            background-color:#97eab0;
        }

        #leftAndRightIframeDiv{
            width:100%;
            height:96.5%;
        }

        #leftNaviDiv{
            width:14%;
            height:100%;
            float:left;
            border:2px solid green;
        }

        #rightIframeDiv{
            width:86%;
            height:100%;
            float:left;
            border:2px solid green;
            overflow: hidden;
        }

        #footerDiv{
            width:100%;
            height:7.05%;
            border:2px solid green;
        }

		#qrDiv{
			position: fixed;
			right: 5px;
			top: 40px;
			width: 180px;
			height: 180px;
		}
		#qrcodeImg{
			width: 160px;
			height: 160px;
		}

		#musicIframeDiv {
			position: absolute;
			width:178px;
			height:118px;
			background: black;
			color: rgb(255%,255%,255%);
			display: none;
		}
		#musicIframeHeader {
			background: #ddd;
			cursor: move;
			font-size:10px;
		}

		.divShadow{
			box-shadow: grey 0 0 10px;
		}
    </style>
</head>
<body>
    <div id="mainDiv">
        <!--头部-->
        <div id="headerPage" class="divShadow" align="center">
            <iframe id="headerIframePage" src="ws/header.page" width="100%" height="100%"></iframe>
        </div>

        <!--中间部分-->
        <div id='centerDiv' class="divShadow">
            <!--用户登录相关信息-->
            <input type="hidden" id="user" name="user" th:value="${sessionInfo.user}">
            <input type="hidden" id="pass" name="pass" th:value="${sessionInfo.password}">
            <input type="hidden" id="webserverip" name="webserverip" th:value="${sessionInfo.webserverIp}">
            <input type="hidden" id="webserverport" name="webserverport" th:value="${sessionInfo.webserverPort}">
            <input type="hidden" id="selfimg" name="selfimg" th:value="${sessionInfo.selfImg}">
            <input type="hidden" id="useragent" name="useragent" th:value="${sessionInfo.userAgent}">

            <!--滚动消息-->
            <div id="recentNewsDiv">
                <marquee direction="left" scrolldelay="10" scrollamount="7"><span id="adsSpan"></span></marquee>
            </div>

            <div id="leftAndRightIframeDiv">
                <!--左侧导航栏-->
                <div id="leftNaviDiv">
                    <div th:if="${sessionInfo.user == 'admin'}">
                        <iframe id="leftNaviIframePage" src="ws/serverLeftNavi.page" width="100%" height="100%"></iframe>
                    </div>
                    <div th:if="${sessionInfo.user != 'admin'}">
                        <iframe id="leftNaviIframePage" src="ws/clientLeftNavi.page" width="100%" height="100%"></iframe>
                    </div>
                </div>

                <!--右侧子页面-->
                <div id="rightIframeDiv" align="center">
                    <iframe id="iframePage" width="100%" height="100%"></iframe>
                </div>
            </div>
        </div>

        <!--底部-->
        <div id="footerDiv" class="divShadow" align="center">
            <iframe id="footerIframePage" src="ws/footer.page" width="100%" height="100%"></iframe>
        </div>
    </div>

	<!--右上角 二维码-->
	<div id="qrDiv" style="display:none">
		<img id="qrcodeImg">
	</div>

	<!--左下角 迷你音乐播放器-->
	<div id='musicIframeDiv'>
		<div id='musicIframeHeader'>
			<span style='display:inline-block;width:67%;color: black;font-weight: bold;'>&nbsp;&nbsp;按住我拖动&nbsp;&nbsp;</span>
			<button id='resetMusicIframeDivPosBtn' style='display:inline-block;width:30%;color:black;'>复位</button>
		</div>
		<iframe id="musicIframePage" width="100%" height="100%" src="../file/musicPlayerSimple.page"></iframe>
	</div>

	<!--右下角 广告页面(隐藏) -->
	<div id="adDiv" style="position:fixed;bottom:10px;right:10px;width:350px;height:250px;border:3px solid green;background-color:white;over-flow:hidden;display: none;">
		<div id="adBtn" style="style:1px solid red;background-color:#5082b9;padding-left:290px">
			<button id="closeAd" class='btn btn-sm btn-primary' onclick="closeAd()">关&nbsp;&nbsp;闭</button>
		</div>
		<div id="adTitle" style="height:30px;text-align:center;font-size:20px;">
		</div>

		<div id="adContent" style="height:auto;text-indent:2em;">
		</div>

		<div id="adTime" style="height:15px;font-size: 16px;font-weight: bold;position: absolute;right:2px;bottom: 3px;">
		</div>
	</div>

    <div th:include="common::footer"></div>
</body>

    <script type="text/javascript">
        var s_user=$('#user').val();
        var s_pass=$('#pass').val();
        var s_webserverip = $('#webserverip').val();
        var s_webserverport = $('#webserverport').val();
        var s_userAgent = $('#useragent').val();
        var s_selfimg = $('#selfimg').val();
        //窗口大小发生变化时,是否动态放大或者缩小布局
        var resizeFlag = false;

        //获取当前窗口大小
        var winInnerWidth = window.innerWidth;
        var winInnerHeight = window.innerHeight;
        //当浏览器大小变化时
        $(window).resize(function () {
            if (resizeFlag) {
                winInnerWidth = window.innerWidth;
                winInnerHeight = window.innerHeight;
                $("#mainDiv").width(winInnerWidth+"px");
                $("#mainDiv").height(winInnerHeight+"px");
            }else{
                //设置默认的窗口大小
                setDefaultWindowSize();
            }
        });

        //设置默认的窗口大小
        function setDefaultWindowSize(){
            $("#mainDiv").width("1318px");
            $("#mainDiv").height("720px");
        }

        // 默认显示页:聊天窗口首页
        var curPageid = "ws/wsclientChat.page";
        if (s_user == 'admin'){
			curPageid = "/zhddkk/wsUsers/wsUsersForAdmin";
		}
        showPage(curPageid);
        function showPage(pageId) {
			curPageid = pageId;
			var url = pageId + "?user="+s_user;
			if (pageId.indexOf("gameIndex.page") != -1){
				window.location.href = pageId;
			}else if (pageId.indexOf("canvasIndex.page") != -1) {
				window.location.href = pageId;
			}else if (pageId.indexOf("configurationLi") != -1) {
				$("#configurationDiv").slideDown();
			}else{
				$("#iframePage").attr("src", url);
			}
        }

        // ---------------------------------以下是供聊天用的全局变量-----------------------
        var webSocket = null;

        // 连接状态
        var connectStatus = "0"
		//重试连接服务器次数
        var checkCount = 1;
        //最大连接次数
        var checkMaxCount = 20;
        //连接服务器定时器
        var checkTimer = undefined;

        //所有聊天记录
        var chatRecord="";
        //未读消息条数
        var unreadCount=0;

        function updateChatMsg(msg,color,fontSize){
        	var newMsg = "<p style='color:"+color+";font-size:"+fontSize+"px;line-height:14px;'>["+getCurrentTime()+"] [系统信息] "+msg+"</p>";
			var msgFromServerObj = getIframeElement("msgFromServer");
			var textArea = $(msgFromServerObj).append(newMsg);
			chatRecord = chatRecord + newMsg;
			showTips(msg, color);
        }

        //连接服务器
        function checkConnection() {
            if (connectStatus == "0") {
                if (checkCount >= checkMaxCount) {
                    if (checkTimer != null && checkTimer != "" && checkTimer != undefined) {
                    	//达到最大连接数后关闭定时器
                        clearInterval(checkTimer);
                    }
                }
				updateChatMsg("正在连接服务器" +s_webserverip+":"+s_webserverport + " [ "+checkCount +" ]"+ "次 请稍等..., ", "red", 10);
                checkCount++;
            }else{
                if (checkTimer != null && checkTimer != "" && checkTimer != undefined) {
                    clearInterval(checkTimer);
                }
            }
        }

        //定时检查连接
        checkTimer = setInterval(function(){
            checkConnection();
        },1000);

        //检查连接
        checkConnection();
        //登录服务器
        loginServer();

        function loginServer() {
            if (webSocket == null) {
                var socketUrl = "ws://"+s_webserverip+":"+s_webserverport+"/zhddWebSocket/" + s_user+"/"+s_pass+"/"+s_userAgent;
                webSocket = new WebSocket(socketUrl);
                webSocket.onerror = function(event){
                    onError(event);
                };
                webSocket.onclose = function(event){
                    OnClose(event);
                };
                webSocket.onopen = function(event){
                    onOpen(event);
                };
                webSocket.onmessage = function(event){
                    onMessage(event);
                };
            }
        }

        //连接成功
        function onOpen(event){
            connectStatus = "1";
			updateChatMsg("已连上服务器!", "green", 10);
        }

        //连接失败
        function onError(event){
			updateChatMsg("连接服务器异常!", "red", 10);
            connectStatus = "0";
            webSocket = null;
        }

        //连接关闭
        function OnClose(event){
			updateChatMsg("客户端已断开!", "red", 10);
            connectStatus = "0";
            stop();
        }

        //接收消息
        function onMessage(event){
			var jsonObj = JSON.parse(event.data);
			var curTime = jsonObj.curTime;
			var msgFrom = jsonObj.from;
			var msgTo = jsonObj.to;
			var typeId = jsonObj.typeId;
			var typeDesc = jsonObj.typeDesc;
			var msg = jsonObj.msg;

            var showStr="["+curTime+"] ["+typeDesc+"] ["+msgFrom+"-->"+msgTo+"] "+msg;
            var defaultCss = "color:red;font-size:10px;line-height:14px;"
            if (typeId == 1) {
                //系统消息
                defaultCss = "color:red;font-size:10px;line-height:14px;";
                showStr="["+curTime+"] ["+typeDesc+"] " +msg;
            }else if (typeId == 2){
                //在线消息
                defaultCss = "color:green;font-size:10px;line-height:14px;";
                showStr="["+curTime+"] ["+typeDesc+"] ["+msgFrom+"-->"+msgTo+"] " +msg;
            }else if (typeId == 3){
                //离线消息
                defaultCss = "color:grey;font-size:10px;line-height:14px;";
                showStr="["+curTime+"] ["+typeDesc+"] ["+msgFrom+"-->"+msgTo+"] " +msg;
            }else if (typeId == 4){
                //广告消息
                defaultCss = "color:blue;font-size:10px;line-height:14px;";
                var title = msg.split("title:")[1].split(";")[0];
                var content = msg.split("content:")[1];
                showStr="["+curTime+"] ["+typeDesc+"] ["+msgFrom+"-->"+msgTo+"] "+"广告标题:"+title+" 广告内容:"+content;
            }else if (msgTo==s_user){
                defaultCss = "color:green;font-size:10px;line-height:14px;";
            }else if (msgFrom==s_user){
                defaultCss = "color:blue;font-size:10px;line-height:14px;";
            }

            if (curPageid.indexOf("wsclientChat.page") == -1 && curPageid.indexOf("wsserverChartMonitor.page") == -1){
                var htmlData = "<p style='" + defaultCss + "'>"+showStr +"</p>";
                chatRecord = chatRecord + htmlData;
                unreadCount = unreadCount+1;
				$("#leftNaviIframePage").contents().find("#unreadCountSpan").text(unreadCount);
            }else{
                var htmlData = "<p style='" + defaultCss + "'>"+showStr +"</p>";
                var msgFromServerObj = getIframeElement("msgFromServer");
                chatRecord = chatRecord + htmlData;
                var textArea = $(msgFromServerObj).append(htmlData);
                textArea.scrollTop(textArea[0].scrollHeight - textArea.height());
            }

            if (typeId == 4){
                var title = msg.split("title:")[1].split(";")[0];
                var content = msg.split("content:")[1];

                $("#adTitle").html(title);
                $("#adContent").html(content);
                $("#adTime").html(curTime);
                $("#adDiv").slideDown(500);
            }
        }

        //获取iframe中的元素
        function getIframeElement(eleName){
            var obj = $("#iframePage").contents().find("#"+eleName);
            return obj;
        }

        //断开连接
        function stop(){
            if (webSocket != null){
                webSocket.close();
                webSocket = null;
                connectStatus = "0";
            }
        }

        //关闭广告窗
        function closeAd(){
            $("#adDiv").slideUp(500);
        }

        function refrshMusic(){
            document.getElementById("musicIframePage").contentWindow.showMusic();
        }

        $("#resetMusicIframeDivPosBtn").click(adjustMusicWindowPosition);

        function adjustMusicWindowPosition(){
            var headDivHeight = $("#headerPage").height();
            var centerDivHeight = $("#centerDiv").height();
            var centerDivLeft = $("#centerDiv").offset().left;
            var leftNaviDivWidth = $("#leftNaviDiv").width();
            var musicIframeDivHeight=$("#musicIframeDiv").height();
            $("#musicIframeDiv").css("width", leftNaviDivWidth+"px");
            $("#musicIframeDiv").css("top",headDivHeight+centerDivHeight-musicIframeDivHeight-20);
            $("#musicIframeDiv").css("left",centerDivLeft+3);
        }

        adjustMusicWindowPosition();
        //音乐播放器可拖动代码
		$.ws.dragPanelMove("#musicIframeHeader","#musicIframeDiv");

        //窗口大小变化事件
        $(window).resize(function () {
            adjustMusicWindowPosition();
        });

        //footer内的提示语
		function showTips(msg,color){
			$("#footerIframePage").contents().find("#statusTips").css("color",color);
			$("#footerIframePage").contents().find("#statusTips").html(msg);
		}

		//扫码登录
		function showQRCode(){
			var imgSrc = $("#qrcodeImg").attr("src");
			if (imgSrc == "" || imgSrc == undefined){
				$.ajax({
					type: 'POST',
					url: rootUrl+'/showQRCode.do',
					//dataType: 'json',
					async:false,
					success: function(result) {
						$("#qrDiv").css("display","block");
						$("#qrcodeImg").css("display","block");
						$("#qrcodeImg").attr("src",result);
					}
				});
			}else{
				$("#qrcodeImg").attr("src","");
				$("#qrDiv").css("display","none");
				$("#qrcodeImg").css("display","none");
			}
		};

		//设置个人信息
		function setPersonInfoBtn(){
			layer.open({
				type: 2,
				title: '设置个人信息',
				shadeClose: true,
				shade: 0.8,
				area: ['390px', '500px'],
				content: '/zhddkk/wsUsers/setPersonalInfo.page?user='+s_user
			});
		};

		//签到
        function sign(){
            $.ajax({
                type: 'POST',
                url: '/zhddkk/wsSign/sign',
                data:{"user":s_user},
                async:false,
                success: function(result) {
                    layer.msg(result.msg);
                }
            });
        }

        //退出(返回登录页)
        function toIndex(){
            $.ajax({
                type: 'POST',
                url: rootUrl+'ws/logout.do',
                data:{"user":s_user},
                async:false,
                success: function(result) {
                    top.location.href = rootUrl;
                }
            });
        }

		//显示简易音乐播放器(供子iframe调用)
		function showSimpleMusicPlayer(){
			var displayStatus = $("#musicIframeDiv").css("display");
			var leftNaviWidth=$("#leftNaviDiv").width();
			if (displayStatus == "none"){
				$("#musicIframeDiv").css("display", "block");
                $("#musicIframeDiv").css("width", leftNaviWidth+"px");
                $("#musicIframeDiv").css("height", "118px");
			}else{
				$("#musicIframeDiv").css("display", "none");
			}
		}

		//首页窗口阴影调整
		var clock = 0;
		var hPos = 0;
		var vPos = 0;
		var setpIntevel = 15;
		setInterval(function () {
			if (clock>=0 && clock<setpIntevel){
				//右
				hPos++;
				$(".divShadow").css("box-shadow","grey "+hPos+"px 0 10px");
			}else if (clock>=setpIntevel && clock<setpIntevel*2){
				//下
				hPos--;
				vPos++;
				$(".divShadow").css("box-shadow","grey "+hPos+"px "+vPos+"px 10px");
			}else if (clock>=setpIntevel*2 && clock<setpIntevel*3){
				//左
				hPos--;
				vPos--;
				$(".divShadow").css("box-shadow","grey "+hPos+"px "+vPos+"px 10px");
			}else if (clock>=setpIntevel*3 && clock<setpIntevel*4){
				//上
				hPos++;
				vPos--;
				$(".divShadow").css("box-shadow","grey "+hPos+"px "+vPos+"px 10px");
			}else if (clock>=setpIntevel*4){
				clock=0;
				hPos=0;
				vPos=0;
			}
			clock++;
		},100);

        //获取最新广告
        queryRecentAdsList();
        function queryRecentAdsList(){
            $.ajax({
                type: 'GET',
                url: '/zhddkk/wsAds/queryRecentAdsList?count=4',
                async:false,
                success: function(result) {
                    if (result.code == 1){
                        var totalAds = "";
                        var data = result.data;
                        if (data.length == 0){
                            totalAds = "<span style='font-weight: bold;font-size:14px;color:red;'>暂无消息</span>";
                        }else {
                            $.each(data, function (i, val) {
                                totalAds += "<span style='font-weight: bold;font-size:14px;'>" + val.content + "</span>&nbsp;&nbsp;<span style='font-size:10px;'>" + val.createTime + "</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
                            });
                        }
                        $("#adsSpan").html(totalAds);
                    }
                }
            });
        }
        //定时获取最新广告
        setInterval(queryRecentAdsList, 60000);
    </script>
</html>
