<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: header"></th:block>
    <meta charset="UTF-8">
    <title>领导驾驶舱</title>
    <script type="text/javascript" th:src="@{/js/echarts/echarts.common.min.js}"></script>
    <style>
        #mainDiv {
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div id="mainDiv">
        <div style="width:100%;height:40%;">
            <!--每日签到数-->
             <div id="row1-left-echarts-chart" style="width:49%;height:100%;float:left;">

             </div>
    
            <!--每日上传文件-->
            <div id="row1-right-echarts-chart" style="width:49%;height:100%;float:right;">

            </div>
        </div>
        
        <div style="width:100%;height:40%;">
            <!--用户累计上传文件容量信息-->
            <div id="each-user-upload_filesize-chart" style="width:98%;height:100%;">
            </div>
        </div>
        
        <div style="width:100%;height:40%;">
            <!--每日在线人数-->
            <div id="row2-echarts-chart" style="width:98%;height:100%;">

            </div>
        </div>

        <div style="width:100%;height:40%;">
            <!--用户性别分布-->
            <div id="row3-left-echarts-chart" style="width:49%;height:100%;float:left;">

            </div>
            <!--用户年龄分布-->
            <div id="row3-right-echarts-chart" style="width:49%;height:100%;float:left;">

            </div>
        </div>
    </div>
    <th:block th:include="common :: footer"></th:block>
    <th:block th:include="common :: sessionInfo"></th:block>
</body>
    <script>

        //每日签到人数
        var leftChart = echarts.init(document.getElementById("row1-left-echarts-chart"));
        $.ajax({
            type: 'GET',
            url: rootUrl + 'ws/querySignData.do',
            async: true,
            success: function (result) {
                var itemNameArr = [];
                var itemValueArr = [];
                $.each(result, function (key, val) {
                    itemNameArr.push(key);
                    itemValueArr.push(val);

                    var leftOption = {
                        title: {
                            x: 'center',
                            text: '每日签到人数'
                        },
                        xAxis: {
                            type: 'category',
                            data: itemNameArr,
                            splitLine: {
                                show: false
                            }
                        },
                        yAxis: {
                            type: 'value',
                            splitLine: {
                                show: false
                            }
                        },
                        series: [{
                            data: itemValueArr,
                            type: 'line',
                            itemStyle: {
                                normal: {
                                    color: 'black',
                                    label: {
                                        show: true,
                                        formatter: function (params) {
                                            if (params.value == 0) {
                                                return "";
                                            } else {
                                                return params.value;
                                            }
                                        }
                                    },
                                    lineStyle: {
                                        color: 'green'
                                    }
                                }
                            }
                        }]
                    };

                    leftChart.setOption(leftOption);
                })
            }
        });

        //每日上传文件大小
        var fileSizeChart = echarts.init(document.getElementById("row1-right-echarts-chart"));
        $.ajax({
            type: 'GET',
            url: rootUrl + 'ws/queryUploadFileData.do',
            async: true,
            success: function (result) {
                var itemNameArr = [];
                var itemValueArr = [];
                $.each(result, function (key, val) {
                    itemNameArr.push(key);
                    itemValueArr.push((val / 1024 / 1024).toFixed(2));
                });
                var fileSizeOption = {
                    title: {
                        x: 'center',
                        text: '每日累计上传文件(单位: M)'
                    },
                    tooltip: {
                        formatter: '{b}\n{c}M'
                    },
                    xAxis: {
                        type: 'category',
                        data: itemNameArr,
                        splitLine: {
                            show: false
                        }
                    },
                    yAxis: {
                        type: 'value',
                        splitLine: {
                            show: false
                        }
                    },
                    series: [{
                        data: itemValueArr,
                        type: 'line',
                        itemStyle: {
                            normal: {
                                color: 'black',
                                label: {
                                    show: true,
                                    formatter: function (params) {
                                        if (params.value == 0) {
                                            return "";
                                        } else {
                                            return params.value;
                                        }
                                    }
                                },
                                lineStyle: {
                                    color: 'blue'
                                }
                            }
                        }
                    }]
                };
                fileSizeChart.setOption(fileSizeOption);
            }
        });

        //每日在线人数
        var onlineChart = echarts.init(document.getElementById("row2-echarts-chart"));
        $.ajax({
            type: 'GET',
            url: rootUrl + 'ws/queryOnlineUserData.do',
            async: true,
            success: function (result) {
                var itemNameArr = [];
                var itemValueArr = [];
                $.each(result, function (key, val) {
                    itemNameArr.push(key);
                    itemValueArr.push(val);

                    var onlineOption = {
                        grid: {
                            left: '5%',
                            top: '2%',
                            right: '3%'
                        },
                        title: {
                            x: 'center',
                            text: '每日在线人数'
                        },
                        xAxis: {
                            type: 'category',
                            data: itemNameArr,
                            splitLine: {
                                show: false
                            }
                        },
                        yAxis: {
                            type: 'value',
                            splitLine: {
                                show: false
                            }
                        },
                        series: [{
                            data: itemValueArr,
                            type: 'line',
                            itemStyle: {
                                normal: {
                                    color: 'black',
                                    label: {
                                        show: true,
                                        formatter: function (params) {
                                            if (params.value == 0) {
                                                return "";
                                            } else {
                                                return params.value;
                                            }
                                        }
                                    },
                                    lineStyle: {
                                        color: 'red'
                                    }
                                }
                            }
                        }]
                    };
                    onlineChart.setOption(onlineOption);
                })
            }
        });

        //用户性别比例
        var sexChart = echarts.init(document.getElementById("row3-left-echarts-chart"));
        var sexOption = {
            title: {
                text: '用户性别分布',
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['男', '女', '未知']
            },
            series: [
                {
                    name: '男女比例',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: [
                        {value: 335, name: '男'},
                        {value: 310, name: '女'},
                        {value: 234, name: '未知'}
                    ],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        sexChart.setOption(sexOption);

        //用户性别比例
        var ageChart = echarts.init(document.getElementById("row3-right-echarts-chart"));
        var ageOption = {
            title: {
                text: '用户年龄分布',
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['18-20', '21-30', '31-40', '41-50', '51以上']
            },
            series: [
                {
                    name: '年龄分布',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: [
                        {value: 12, name: '18-20'},
                        {value: 23, name: '21-30'},
                        {value: 32, name: '31-40'},
                        {value: 36, name: '41-50'},
                        {value: 21, name: '51以上'}
                    ],
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        ageChart.setOption(ageOption);

        //用户累计上传文件容量
        var eachUserUploadFilesizeEchart = echarts.init(document.getElementById("each-user-upload_filesize-chart"));
        $.ajax({
            type: 'GET',
            url: rootUrl + 'ws/queryEachUserUploadFileSizeData.do',
            async: true,
            success: function (result) {
                var itemNameArr = [];
                var itemValueArr = [];
                $.each(result, function (key, val) {
                    itemNameArr.push(key);
                    itemValueArr.push((val / 1024).toFixed(0));
                });
                var fileSizeOption = {
                    title: {
                        x: 'center',
                        text: '累计上传文件(单位: KB)'
                    },
                    tooltip: {
                        formatter: '{b}\n{c} KB'
                    },
                    xAxis: {
                        type: 'category',
                        data: itemNameArr,
                        splitLine: {
                            show: false
                        }
                    },
                    yAxis: {
                        type: 'value',
                        splitLine: {
                            show: false
                        }
                    },
                    series: [{
                        data: itemValueArr,
                        type: 'line',
                        itemStyle: {
                            normal: {
                                color: 'black',
                                label: {
                                    show: true,
                                    formatter: function (params) {
                                        if (params.value == 0) {
                                            return "";
                                        } else {
                                            return params.value;
                                        }
                                    }
                                },
                                lineStyle: {
                                    color: 'blue'
                                }
                            }
                        }
                    }]
                };
                eachUserUploadFilesizeEchart.setOption(fileSizeOption);
            }
        });
    </script>
</html>