<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: header"></head>
	<title>WebSocket服务端</title>

<style type="text/css">
    #headerDiv{
        width:1318px;
        height:55px;
        font-weight:bold;
        margin:1px auto;
		border: 2px solid green;
    }

    #btnDiv button{
        margin-top: 15px;
    }

    #curTimeSpan{
        margin-left:20px;
        font-size:18px;
    }

    #footDiv{
        width:1320px;
        height:10px;
        color:black;
        font-size:15px;
        font-weight:bold;
        margin:18px auto 0 auto;
    }

    #copyrightDiv ul li{
        float:left;
        list-style:none;
        margin-top:-15px;
    }

	#mainDiv{
		width:1318px;
		height:610px;
		margin:1px auto;
		position:relative;
	}

	#leftNavi{
		width:180px;
		height:100%;
		float:left;
		border:2px solid green;
		background-image: url("../img/pic3.jpg");
	}

	#leftNavi>ul{
		height:490px;
		margin-top: 10px;
	}

	#leftNavi ul li{
		list-style: none;
	    height: 40px;
	    width: 100%;
	    font-size: 20px;
	    font-weight: bold;
	    padding: 4px;
	    cursor: pointer;
	}
	#leftNavi ul a{
		text-decoration:none;
	}
	
	.mousemoveon{
		background-color:grey;
		color:white;
	}
	.mousemoveout{
		background-color:transparent;
		color:black;
	}
	.mouseleftclick{
		background-color:blue;
		color:white;
	}
	
	#qrDiv{
		position: fixed;
		right: 5px;
	    top: 40px;
	    width: 180px;
	    height: 180px;
	}
	#qrcodeImg{
		width: 160px;
	    height: 160px;
	}
	
	#unreadCountSpan{
    	color: red;
   	 	font-weight: bold;
    	margin-left: 10px;
    	font-size: 18px;
    	margin-left: 5px;	
	}
	
    #musicIframeDiv {
    	position: absolute;
    	width:175px;
    	height:100px;
   	 	background: black;
    	color: white;
    }
    #musicIframeHeader {
    	background: #ddd;
    	cursor: move;
    	font-size:10px;
    }

	#statusDiv{
		width:1320px;
		height:15px;
		font-size:15px;
		font-weight:bold;
		margin:0px auto;;
	}
</style>
</head>
<body>
    <!--头部-->
    <div id="headerDiv" align="center">
        <div style="float:left;margin-left: 3px;margin-top: 2px;">
            <img id='myImg' alt=""  width="48" height="48">
			<label style="font-size: 20px;">你好:</label><label id="curUser" th:text="${user}" style="color:blue;font-size:30px;"></label>
            <span id="curTimeSpan">0000-00-00 00:00:00</span>
        </div>
        <div style="float:left;width:50%;font-size:30px;">
            <label id="titleLabel" style="color:black;"></label>
        </div>
        <div id="btnDiv" style="float:right;margin-top:-4px;margin-right:5px;">
            <button id="showQRCodeBtn" class='btn btn-sm btn-info'>手机登录</button>
			<button id="setPersonInfoBtn" class="btn btn-sm btn-primary">设&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;置</button>
			<button id="exitBtn" class='btn btn-sm btn-danger' style="margin-left:10px;" onclick="toIndex()">退&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出</button>
        </div>
    </div>

	<div id="qrDiv" style="display:none">
		<img id="qrcodeImg">
	</div>
	<div id='mainDiv'>
		<input type="hidden" id="user" name="user" th:value="${user}">
		<input type="hidden" id="pass" name="pass" th:value="${pass}">
		<input type="hidden" id="webserverip" name="webserverip" th:value="${webserverip}">
		<input type="hidden" id="webserverport" name="webserverport" th:value="${webserverport}">
		<input type="hidden" id="selfimg" name="selfimg" th:value="${selfimg}">
		<input type="hidden" id="user_agent" name="user_agent" th:value="${user_agent}">

		<div id="leftNavi">
			<ul>
				<li id="wsserverUser.page" class="mouseleftclick">用户管理</li>
				<li id="/zhddkk/wsUsers/wsUsersForAdmin" class="mouseleftclick">用户管理2</li>
				<!--<li id="wsserverChartLog.page">聊天记录管理</li>-->
				<li id="/zhddkk/wsChatlog">聊天记录管理</li>
				<!--<li id="wsserverOperationLog.page">操作日志管理</li>-->
				<li id="/zhddkk/wsOperationLog">操作日志管理</li>
				<li id="wsserverChartLogMonitor.page">聊天监控<span id="unreadCountSpan"></span></li>
				<li id="configurationLi">配置</li>
				<li id="../file/musicPlayer.page?user=admin">音乐播放</li>
				<li id="wsclientCircle.page?user=admin">朋友圈</li>
				<!--<li id="ad.page">广告发布</li>-->
				<li id="/zhddkk/wsAds">广告发布</li>
				<li id="../game/gameIndex.page">游戏娱乐</li>
				<li id="../canvas/canvasIndex.page">2D画图</li>
			</ul>
			
			<div id='configurationDiv' style='display:none;position:absolute;left:-165px;top:100px;border:2px solid green;'>
				<ul>
					<!--<li id="wsserverCommon.page?type=mgc">敏感词配置</li>
					<li id="wsserverCommon.page?type=zh" >脏话配置</li>
					<li id="wsserverCommon.page?type=cyy">常用语配置</li>
					<li id="wsserverCommon.page?type=zcwt">注册问题配置</li>
					-->
					<li id="/zhddkk/wsCommon/mgc">敏感词配置</li>
					<li id="/zhddkk/wsCommon/zh" >脏话配置</li>
					<li id="/zhddkk/wsCommon/cyy">常用语配置</li>
					<li id="/zhddkk/wsCommon/zcwt">注册问题配置</li>
				</ul>
			</div>
		</div>
		
		<div id="diffPage" align="center" style="width:1136px;height:100%;float:left;border:2px solid green;margin-left:2px;">
			<iframe id="iframePage" width="1130px" height="605px"></iframe>
		</div>
	</div>
	
	<div id='musicIframeDiv'>
		<div id='musicIframeHeader'>
			<span style='display:inline-block;width:67%;color: black;font-weight: bold;'>&nbsp;&nbsp;按住我拖动&nbsp;&nbsp;</span>
			<button id='resetMusicIframeDivPosBtn' style='display:inline-block;width:30%;'>复位</button>
		</div>
		<iframe id="musicIframePage" width="100%" height="100%" src="../file/musicPlayerSimple.page"></iframe>
	</div>

    <!--底部-->
    <div id="footDiv" align="center">
        <div style="float:left;margin-top:-15px;">
            <label id="curUser22">邮箱:547495788@qq.com</label>
        </div>
        <div style="float:left;margin-left: 350px;margin-top:-15px;">
            <label id="cliName">所有版权信息归作者所有</label>
            <label id="versionLabel" style='margin-left:15px;color:blue;font-weight:bold;'></label>
            <a href='javascript:void(0)' onclick='checkUpdate()' style='margin-left:15px;' >检查更新</a>
        </div>
        <div id="copyrightDiv" style="float:right;">
            <ul>
                <li>联系作者 | </li>
                <li>捐赠作者 | </li>
                <li>提出疑问 | </li>
                <li>关于我们</li>
            </ul>
        </div>
    </div>

	<!--状态栏-->
	<div id="statusDiv" align="right">
		<span id="statusTips"></span>
	</div>

    <div th:include="common::footer"></div>
</body>
    <script type="text/javascript">
        var s_user=$('#user').val();
        var s_pass=$('#pass').val();
        var s_webserverip = $('#webserverip').val();
        var s_webserverport = $('#webserverport').val();
        var s_userAgent = $('#user_agent').val();
        var s_selfimg = $('#selfimg').val();

        $("#curUser").text(s_user);
        $("#titleLabel").text("websocket服务端");

        //头部
        if (s_user == "admin"){
            if (s_selfimg == ""){
                $("#myImg").attr("src",rootUrl+"img/headimg/admin.jpg");
            }else{
                $("#myImg").attr("src", s_selfimg);
            }
        }else{
            $("#myImg").attr("src", s_selfimg);
        }

        var curTimeTemp = getCurrentTime();
        $("#curTimeSpan").text(curTimeTemp);

        setInterval(function(){
            var curTime = getCurrentTime();
            $("#curTimeSpan").text(curTime);
        },1000)

        function toIndex(){
            window.location.href = rootUrl+"ws";
        }

        $("#showQRCodeBtn").click(function(){
            var imgSrc = $("#qrcodeImg").attr("src");
            if (imgSrc == "" || imgSrc == undefined){
                $.ajax({
                    type: 'POST',
                    url: rootUrl+'ws/showQRCode.do',
                    //dataType: 'json',
                    async:false,
                    success: function(result) {
                        $("#qrDiv").css("display","block");
                        $("#qrcodeImg").css("display","block");
                        $("#qrcodeImg").attr("src",result);
                    }
                });
            }else{
                $("#qrcodeImg").attr("src","");
                $("#qrDiv").css("display","none");
                $("#qrcodeImg").css("display","none");
            }
        });

        var curPageid = "wsserverUser.page";
        showPage(curPageid);
        function showPage(pageId){
            if (pageId.indexOf("gameIndex.page") != -1){
                window.location.href=pageId;
            }else if (pageId.indexOf("canvasIndex.page") != -1){
                window.location.href=pageId;
            }else if (pageId.indexOf("configurationLi") != -1){
                $("#configurationDiv").slideDown();
            }else{
                $("#iframePage").attr("src",pageId);
            }
        }

        $("#leftNavi ul li").click(function (){
            curPageid=this.id;
            showPage(curPageid);
            $("#leftNavi ul li").removeClass("mouseleftclick");
            $(this).addClass("mouseleftclick");

            var parentObj=$(this).parent().parent();
            var parentDivId=$(parentObj).attr("id");
            if (curPageid.indexOf("configurationLi") == -1 && parentDivId == "leftNavi"){
                $("#configurationDiv").slideUp();
            }
        })

        $("#leftNavi ul li").hover(function(){
            $(this).removeClass("mousemoveout");
            $(this).removeClass("mousemoveon");
            $(this).addClass("mousemoveon");
        },function(){
            $(this).removeClass("mousemoveout");
            $(this).removeClass("mousemoveon");
            $(this).addClass("mousemoveout");
        })

        // ---------------------------------以下是供聊天用的全局变量-----------------------
        var webSocket = null;

        // 连接状态
        var connectStatus = "0"
        var checkCount = 1;
        var checkMaxCount = 20;
        var checkTimer;

        //所有聊天记录
        var chatRecord="";
        //未读消息条数
        var unreadCount=0;

		function updateChatMsg(msg,color,fontSize){
			var newMsg = "<p style='color:"+color+";font-size:"+fontSize+"px;line-height:14px;'>["+getCurrentTime()+"] [系统信息] "+msg+"</p>";
			var msgFromServerObj = getIframeElement("msgFromServer");
			var textArea = $(msgFromServerObj).append(newMsg);
			chatRecord = chatRecord + newMsg;
			showTips(msg, color);
		}


        function checkConnection() {
            if (connectStatus == "0") {
                if (checkCount >= checkMaxCount) {
                    if (checkTimer != null && checkTimer != "" && checkTimer != undefined) {
                        clearInterval(checkTimer);
                    }
                }
				updateChatMsg("正在连接服务器" +s_webserverip+":"+s_webserverport + " [ "+checkCount +" ]"+ "次 请稍等..., ", "red", 10);
                checkCount++;
            }else{
                if (checkTimer != null && checkTimer != "" && checkTimer != undefined) {
                    clearInterval(checkTimer);
                }
            }
        }
        checkTimer = setInterval(function(){
            checkConnection();
        },1000);


        checkConnection();
        loginServer();

        function loginServer(){
            if (webSocket == null){
                webSocket = new WebSocket("ws://"+s_webserverip+":"+s_webserverport+"/zhddWebSocket/" + s_user+"/"+s_pass+"/"+s_userAgent);
                webSocket.onerror = function(event){
                    onError(event);
                };
                webSocket.onclose = function(event){
                    OnClose(event);
                };
                webSocket.onopen = function(event){
                    onOpen(event);
                };
                webSocket.onmessage = function(event){
                    onMessage(event);
                };
            }
        }

        function onOpen(event){
            connectStatus = "1";
			updateChatMsg("已连上服务器!", "green", 10);
        }

        function onError(event){
			updateChatMsg("连接服务器异常!", "red", 10);
            connectStatus = "0";
            webSocket = null;
        }

        function OnClose(event){
			updateChatMsg("客户端已断开!", "red", 10);
            connectStatus = "0";
            stop();
        }

        function onMessage(event){
			var jsonObj = JSON.parse(event.data);
			var curTime = jsonObj.curTime;
			var msgFrom = jsonObj.from;
			var msgTo = jsonObj.to;
			var typeId = jsonObj.typeId;
			var typeDesc = jsonObj.typeDesc;
			var msg = jsonObj.msg;

            var showStr="["+curTime+"] ["+typeDesc+"] ["+msgFrom+"-->"+msgTo+"] "+msg;
            var defaultCss = "color:red;font-size:10px;line-height:10px;"
            if (typeId == 1){
                //系统消息
                defaultCss = "color:red;font-size:10px;line-height:10px;";
                showStr="["+curTime+"] ["+typeDesc+"] " +msg;
            }else if (typeId == 2){
                //在线消息
                defaultCss = "color:green;font-size:10px;line-height:10px;";
                showStr="["+curTime+"] ["+typeDesc+"] ["+msgFrom+"-->"+msgTo+"] " +msg;
            }else if (typeId == 3){
                //离线消息
                defaultCss = "color:grey;font-size:10px;line-height:10px;";
                showStr="["+curTime+"] ["+typeDesc+"] ["+msgFrom+"-->"+msgTo+"] " +msg;
            }else if (typeId == 4){
                //广告消息
                defaultCss = "color:blue;font-size:10px;line-height:10px;";
                var title = msg.split("title:")[1].split(";")[0];
                var content = msg.split("content:")[1];
                showStr="["+curTime+"] ["+typeDesc+"] ["+msgFrom+"-->"+msgTo+"] "+"广告标题:"+title+" 广告内容:"+content;
            }else if (msgTo==s_user){
                defaultCss = "color:green;font-size:10px;line-height:10px;";
            }else if (msgFrom==s_user){
                defaultCss = "color:blue;font-size:10px;line-height:10px;";
            }

            if (curPageid != "wsserverChartLogMonitor.page"){
                var htmlData = "<p style='" + defaultCss + "'>"+showStr +"</p>";
                chatRecord = chatRecord + htmlData;
                unreadCount = unreadCount+1;
                $("#unreadCountSpan").text(unreadCount);
            }else{
                var htmlData = "<p style='" + defaultCss + "'>"+showStr +"</p>";
                //htmlData += "<button onclick='enableSpeak("+msgFrom+",0)' style='display:inline-block;'>禁言</button>";
                var msgFromServerObj = getIframeElement("msgFromServer");
                chatRecord = chatRecord + htmlData;
                var textArea = $(msgFromServerObj).append(htmlData);
                textArea.scrollTop(textArea[0].scrollHeight - textArea.height());
            }

            if (typeId == 4){
                var title = msg.split("title:")[1].split(";")[0];
                var content = msg.split("content:")[1];

                $("#adTitle").html(title);
                $("#adContent").html(content);
                $("#adDiv").slideDown(500);
            }
        }

        //获取iframe中的元素
        function getIframeElement(eleName){
            var obj = $("#iframePage").contents().find("#"+eleName);
            return obj;
        }

        function stop(){
            if (webSocket != null){
                webSocket.close();
                webSocket = null;
                connectStatus = "0";
            }
        }

        function refrshMusic(){
            document.getElementById("musicIframePage").contentWindow.showMusic();
        }

        $("#resetMusicIframeDivPosBtn").click(adjustMusicWindowPosition);

        function adjustMusicWindowPosition(){
            var headDivHeight = $("#headerDiv").height();
            var mainDivHeight = $("#mainDiv").height();
            var mainDivLeft = $("#mainDiv").offset().left;
            var musicIframeDivHeight=$("#musicIframeDiv").height();
            $("#musicIframeDiv").css("top",headDivHeight+mainDivHeight-musicIframeDivHeight-16);
            $("#musicIframeDiv").css("left",mainDivLeft+3);
        }

        adjustMusicWindowPosition();
        //音乐播放器可拖动代码
        dragPanelMove("#musicIframeHeader","#musicIframeDiv");
        function dragPanelMove(downDiv,moveDiv){
            $(downDiv).mousedown(function (e) {
                var isMove = true;
                var div_x = e.pageX - $(moveDiv).offset().left;
                var div_y = e.pageY - $(moveDiv).offset().top;
                $(document).mousemove(function (e) {
                    if (isMove) {
                        var obj = $(moveDiv);
                        obj.css({"left":e.pageX - div_x, "top":e.pageY - div_y});
                    }
                }).mouseup(
                    function () {
                        isMove = false;
                    });
            });
        }

		$("#setPersonInfoBtn").click(function () {
			layer.open({
				type: 2,
				title: '设置个人信息',
				shadeClose: true,
				shade: 0.8,
				area: ['390px', '600px'],
				content: 'setPersonalInfo.page?user='+s_user
			});
		});

        //窗口大小变化事件
        $(window).resize(function () {
            adjustMusicWindowPosition();
        });

        function showTips(msg,color){
            if (color ==null || color== undefined){
                color="black";
            }
            $("#statusTips").css("color",color);
            $("#statusTips").text(msg);
        }

        //底部
        var curVersion = "";
        queryVersion();
        function queryVersion(){
            $.ajax({
                type: 'GET',
                url: rootUrl+'ws/queryVersion.json',
                //dataType: 'json',
                async:false,
                success: function(result) {
                    curVersion = result;
                    $("#versionLabel").text(result);
                }
            });
        }

        function checkUpdate(){
            $.ajax({
                type: 'GET',
                url: rootUrl+'ws/checkUpdate.do?version='+curVersion+"&cmd=check",
                //dataType: 'json',
                async:false,
                success: function(result) {
                    console.log("checkUpdate result:"+result);
                    //needUpdate:false;from:1.0;to:2.0
                    var needUpdate = result.split("needUpdate:")[1].split(";")[0];
                    if (needUpdate == "true"){
                        var toVersion = result.split("to:")[1];

                        layer.confirm('已经发现新版本,是否要升级到'+toVersion+"?", {
                            btn: ['是','否'] //按钮
                        }, function(index){
                            console.log("开始升级到"+toVersion);
                            toUpdate(curVersion);
                            layer.close(index);
                        }, function(index){
                            layer.close(index);
                        });
                    }else{
                        layer.alert('已经是最新版本!');
                    }
                }
            });
        }

        function toUpdate(curVersion){
            $.ajax({
                type: 'GET',
                url: rootUrl+'ws/checkUpdate.do?version='+curVersion+"&cmd=update",
                //dataType: 'json',
                async:false,
                success: function(result) {
                    console.log("升级结果:"+result)
                }
            });
        }
    </script>
</html>
