<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: header"></head>
    <meta charset="UTF-8">
    <title>领导驾驶舱</title>
    <script type="text/javascript" th:src="@{/js/echarts/echarts.common.min.js}"></script>
    <style>
        #mainDiv{
            width:100%;
            height:100%;
            margin:0 auto;
        }
    </style>
</head>
<body>
    <div id="mainDiv">
        <div style="width:100%;height:40%;">
             <div id="row1-left-echarts-chart" style="width:49%;height:100%;float:left;">

             </div>

            <div id="row1-right-echarts-chart" style="width:49%;height:100%;float:right;">

            </div>
        </div>
        <div style="width:100%;height:40%;">
            <div id="row2-echarts-chart" style="width:98%;height:100%;">

            </div>
        </div>
    </div>
    <div th:include="common::footer"></div>
</body>
    <script>

        //每日签到人数
        var leftChart = echarts.init(document.getElementById("row1-left-echarts-chart"));
        $.ajax({
            type: 'GET',
            url: rootUrl + 'ws/querySignData.do',
            async: true,
            success: function (result) {
                var itemNameArr = [];
                var itemValueArr = [];
                $.each(result,function (key,val) {
                    itemNameArr.push(key);
                    itemValueArr.push(val);

                    var leftOption = {
                        title: {
                            x: 'center',
                            text: '每日签到人数'
                        },
                        xAxis: {
                            type: 'category',
                            data: itemNameArr,
                            splitLine:{
                                show:false
                            }
                        },
                        yAxis: {
                            type: 'value',
                            splitLine:{
                                show:false
                            }
                        },
                        series: [{
                            data: itemValueArr,
                            type: 'line',
                            itemStyle : {
                                normal: {
                                    color: 'black',
                                    label : {
                                        show: true,
                                        formatter:function (params) {
                                            if (params.value==0){
                                                return "";
                                            }else{
                                                return params.value;
                                            }
                                        }
                                    },
                                    lineStyle:{
                                        color:'green'
                                    }
                                }
                            }
                        }]
                    };

                    leftChart.setOption(leftOption);
                })
            }
        });

        //每日上传文件大小
        var fileSizeChart = echarts.init(document.getElementById("row1-right-echarts-chart"));
        $.ajax({
            type: 'GET',
            url: rootUrl + 'ws/queryUploadFileData.do',
            async: true,
            success: function (result) {
                console.log(result);
                var itemNameArr = [];
                var itemValueArr = [];
                $.each(result,function (key,val) {
                    itemNameArr.push(key);
                    itemValueArr.push((val/1024/1024).toFixed(0));

                    var fileSizeOption = {
                        title: {
                            x: 'center',
                            text: '每日上传文件(单位: M)'
                        },
                        tooltip: {
                            formatter: '{b}\n{c}M'
                        },
                        xAxis: {
                            type: 'category',
                            data: itemNameArr,
                            splitLine:{
                                show:false
                            }
                        },
                        yAxis: {
                            type: 'value',
                            splitLine:{
                                show:false
                            }
                        },
                        series: [{
                            data: itemValueArr,
                            type: 'line',
                            itemStyle : {
                                normal: {
                                    color: 'black',
                                    label : {
                                        show: true,
                                        formatter:function (params) {
                                            if (params.value==0){
                                                return "";
                                            }else{
                                                return params.value;
                                            }
                                        }
                                    },
                                    lineStyle:{
                                        color:'blue'
                                    }
                                }
                            }
                        }]
                    };
                    fileSizeChart.setOption(fileSizeOption);
                })
            }
        });


        //每日在线人数
        var onlineChart = echarts.init(document.getElementById("row2-echarts-chart"));
        $.ajax({
            type: 'GET',
            url: rootUrl + 'ws/queryOnlineUserData.do',
            async: true,
            success: function (result) {
                var itemNameArr = [];
                var itemValueArr = [];
                $.each(result,function (key,val) {
                    itemNameArr.push(key);
                    itemValueArr.push(val);

                    var onlineOption = {
                        grid: {
                            left:'5%',
                            top:'2%',
                            right:'3%'
                        },
                        title: {
                            x: 'center',
                            text: '每日在线人数'
                        },
                        xAxis: {
                            type: 'category',
                            data: itemNameArr,
                            splitLine:{
                                show:false
                            }
                        },
                        yAxis: {
                            type: 'value',
                            splitLine:{
                                show:false
                            }
                        },
                        series: [{
                            data: itemValueArr,
                            type: 'line',
                            itemStyle : {
                                normal: {
                                    color: 'black',
                                    label : {
                                        show: true,
                                        formatter:function (params) {
                                            if (params.value==0){
                                                return "";
                                            }else{
                                                return params.value;
                                            }
                                        }
                                    },
                                    lineStyle:{
                                        color:'red'
                                    }
                                }
                            }
                        }]
                    };
                    onlineChart.setOption(onlineOption);
                })
            }
        });
    </script>
</html>