<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:include="common :: header"></th:block>
  <title>简易聊天室</title>
   
   <style>
       body {
           margin: 0;
           padding: 20px;
       }
       
        #mainDiv {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            border: 1px solid black;
        }

        #header {
            width: 100%;
            height: 30px;
            padding-top: 5px;
            padding-left: 5px;
            cursor: move;
            background-color: #365e71;
        }

        #msgFromServer {
            width: 100%;
            height: calc(100% - 95px);
            overflow: auto;
            background-color: white;
            padding: 3px;
        }
       
       #footer {
           width: 100%;
           height:65px;
       }
   </style>
</head>
<body>
    <div id="mainDiv">

        <!--头部按钮组-->
        <div id="header">
            <div align="left" style="width:20%;height:100%;float:left;margin-top:-5px;">
                <span style="color:yellow;font-weight:bold;font-size:24px;height:100%;display:inline-block;margin-right: 10px;">{{roomName}}</span>
                <span class="fa fa-user" style="color:white;"></span>
                <label id="onlineNum" style="color:white;">{{roomUserCount}}</label>&nbsp;&nbsp;
            </div>

            <div align="right" style="width:62%;height:100%;float:right;margin-right:3px;">
                <button id="refreashConlineCount" class='label label-info' th:title="刷新" @click="getOnlineInfo()">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>&nbsp;&nbsp;
                <button class='label label-danger' th:title="清屏" onclick="clearScreen()">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                </button>&nbsp;&nbsp;
                <button id="btnReconnect" class='label label-primary' type="button" th:title="重新连接"
                        onclick="loginServer()">
                    <span class="glyphicon glyphicon-retweet"></span>
                </button>
            </div>
        </div>

      <!--中间聊天框-->
        <div id="msgFromServer" align="left">
        </div>

      <!--下方聊天内容发送-->
        <div id="footer" align="left">
            <div style="height:25px;">
                <!--选择对象-->
                <select id="selectUser" style="width:49%;height:100%;float:left;margin-left:1px;">
                    <option value=""></option>
                    <option v-for="row in roomUserList" :value="row">
                        {{row}}
                    </option>
                </select>
              <!--选择常用语-->
                <select id="selectCyy" style="width:49%;height:100%;float:right;margin-right: 1px;" @change="selectText">
                    <option v-for="cyy in cyyList">
                        {{cyy.name}}
                    </option>
                </select>
            </div>
          <!--聊天内容  发送按钮-->
            <div style="height:40px;">
                <input id="msgToServer" autocomplete="off"
                       style="width:75%;float:left;height:100%;border:2px solid grey" placeholder="请输入聊天内容<按Enter键发送>">
                <button id="sendBtn" type="button" class='btn btn-sm btn-success'
                        style="width:25%;height:100%;float:right;font-size: 16px;" onClick="send()">&nbsp;&nbsp;发&nbsp;&nbsp;&nbsp;&nbsp;送&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
  
    <th:block th:include="common :: footer"></th:block>
    <th:block th:include="common :: sessionInfo"></th:block>
    
    <script type="text/javascript">
        var currentUserOnlineInfo = undefined;
        var webSocket = null;
        var roomName = "002";
        loginServer();

        var app = new Vue({
            el: '#mainDiv',
            data: {
                roomName: roomName,
                roomUserList: {},
                roomUserCount:0,
                cyyList: {},
                loginUser: sessionUser
            },
            methods: {
                getOnlineInfo: function () {
                    $.ajax({
                        type: 'GET',
                        url: 'getOnlineInfo.json',
                        data: {"roomName":roomName, "user": sessionUser},
                        success: function (result) {
                            if (result.code != 1) {
                                return;
                            }
                            var jsonObj = result.data;
                            app.roomUserList = jsonObj.roomUserList;
                            app.cyyList = jsonObj.commonMap.cyy;
                            app.roomUserCount = jsonObj.roomUserCount;

                            currentUserOnlineInfo = jsonObj.currentOnlineUserInfo;
                            // 是否被禁用
                            var enableStatus = currentUserOnlineInfo.enable;
                            if (enableStatus == "0") {
                                layer.tips('该账户已被禁用,10秒后强制退出!', '#msgFromServer', {
                                    tips: [2, 'red']
                                });
                                updateChatMsgWithColor("该账户已被禁用,10秒后强制退出!", "red", 10);
                                setTimeout(logout, 10000);
                                return;
                            }

                            // 是否被禁言
                            var speakStatus = currentUserOnlineInfo.speak;
                            if (speakStatus == "0") {
                                $("#sendBtn").attr("disabled", true);
                                $("#sendBtn").html("<span style='color:red;font-weight: bold;'>你已被禁言</span>");
                            } else {
                                $("#sendBtn").attr("disabled", false);
                                $("#sendBtn").html("发送");
                            }
                        }
                    });
                },
                selectText: function (e) {
                    $("#msgToServer").val(e.target.value);
                },
            },
            created: function (e) {
                this.getOnlineInfo();
            }
        });

        // 发送消息给服务器
        function send() {
            if (currentUserOnlineInfo != undefined) {
                // 是否被禁用
                var enableStatus = currentUserOnlineInfo.enable;
                if (enableStatus == "0") {
                    //被禁用了
                    updateChatMsgWithColor("你的账号已被禁用了", "red", 10);
                    return;
                }

                var speakStatus = currentUserOnlineInfo.speak;
                if (speakStatus == "0") {
                    //被禁言了
                    updateChatMsgWithColor("你已被禁言了", "red", 10);
                    return;
                }
            }

            var toUser = $("#selectUser").val();
            if (webSocket != null) {
                if (sessionUser == toUser) {
                    updateChatMsgWithColor("不能给自己发消息!", "red", 10);
                    return false;
                }

                var msgToServer = $("#msgToServer").val();
                if (msgToServer == null || msgToServer == "") {
                    updateChatMsgWithColor("不允许发送空消息!", "red", 10);
                    return;
                }

                if (toUser != null && toUser != "") {
                    sendMsgToServer(app.roomName, sessionUser, toUser, msgToServer);
                    $("#msgToServer").val("");
                } else {
                    sendMsgToServer(app.roomName, sessionUser, "", msgToServer);
                    $("#msgToServer").val("");
                }
            } else {
                var msg = "<p style='color:red;font-size:10px;line-height:14px;text-align: center;'>[" + getCurrentTimeOfHHMMSS() + "] [系统信息] 服务器已断开,请<a href='javascript:void(0)' onclick='loginServer()'>重新连接</a>!</p>";
                updateChatMsg(msg);
            }
        }

        //发送消息
        function sendMsgToServer(roomName, userFrom, userTo, msg) {
            if (webSocket != null) {
                var toServerMsgObj = {};
                toServerMsgObj.typeId = 2;
                toServerMsgObj.typeDesc = "在线消息";
                toServerMsgObj.roomName = roomName;
                toServerMsgObj.from = userFrom;
                toServerMsgObj.to = userTo;
                toServerMsgObj.msg = msg;
                var jsonObj = JSON.stringify(toServerMsgObj);
                webSocket.send(jsonObj);
            } else {
                var msg = "<p style='color:red;font-size:10px;line-height:14px;text-align: center;'>[" + getCurrentTimeOfHHMMSS() + "] [系统信息] 连接失败,请<a href='javascript:void(0)' onclick='loginServer()'>重新连接</a>!</p>";
                updateChatMsg(msg);
            }
        }
        
        function updateChatMsg(msg) {
            var textArea = $('#msgFromServer').append(msg);
            textArea.scrollTop(textArea[0].scrollHeight - textArea.height());
        }

        function updateChatMsgWithColor(msg, color, fontSize) {
            var newMsg = "<p style='color:" + color + ";font-size:" + fontSize + "px;line-height:14px;text-align: center;margin-bottom: 5px;'>[" + getCurrentTimeOfHHMMSS() + "] [系统信息] " + msg + "</p>";
            var textArea = $("#msgFromServer").append(newMsg);
            textArea.scrollTop(textArea[0].scrollHeight - textArea.height());
        }
        
        // //定时获取在线人数信息
        // setInterval(function () {
        //     app.getOnlineInfo();
        // }, 20000);
        
        //回车键发送聊天内容
        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                send();
            }
        });
        
        //清屏
        function clearScreen() {
            $("#msgFromServer").text("");
        }

        //登录服务器
        function loginServer() {
            if (webSocket == null) {
                var socketUrl = "ws://" + sessionWebserverIp + ":" + sessionWebserverport + "/zhddWebSocket/" + roomName + "/" + sessionUser + "/" + sessionPassword + "/" + sessionUseragent;
                webSocket = new WebSocket(socketUrl);
                webSocket.onerror = function (event) {
                    onError(event);
                };
                webSocket.onclose = function (event) {
                    OnClose(event);
                };
                webSocket.onopen = function (event) {
                    onOpen(event);
                };
                webSocket.onmessage = function (event) {
                    onMessage(event);
                };
            }
        }

        //连接成功
        function onOpen(event) {
            updateChatMsgWithColor("已进入聊天室", "green", 10);
        }

        //连接失败
        function onError(event) {
            updateChatMsgWithColor("连接聊天室服务器异常!", "red", 10);
            webSocket = null;
        }

        //连接关闭
        function OnClose(event) {
            updateChatMsgWithColor("聊天室已断开!", "red", 10);
            webSocket = null;
        }

        //接收消息
        function onMessage(event) {
            var jsonObj = JSON.parse(event.data);
            var curTime = jsonObj.curTime;
            var msgFrom = jsonObj.from;
            var msgTo = jsonObj.to;
            var typeDesc = jsonObj.typeDesc;
            var msg = jsonObj.msg;

            if (msgFrom == null || msgFrom == "") {
                // 系统消息
                updateChatMsgWithColor(msg, "green", 10);
                return;
            }
            
            // 其他人发的消息
            var defaultCss = "color:black;font-size:14px;line-height:22px;";
            if (msgTo == sessionUser) {
                // 发给我的消息
                defaultCss = "color:black;font-size:14px;line-height:22px;";
            } else if (msgFrom == sessionUser) {
                // 我发出去的消息
                defaultCss = "color:white;font-size:14px;line-height:22px;";
            }
            
            var htmlDate = "";
            if (msgFrom == sessionUser) {
                // 右侧
                htmlData = "<div style='width:70%;height:auto;margin-bottom: 10px;margin-left:29%;text-align:right;'>";
                htmlData += "<p style='height:20px;'>";
                
                htmlData += "<span style='display: inline-block;margin-right: 10px;'>" + typeDesc + "</span>";
                htmlData += "<span style='display: inline-block;margin-right: 10px;'>" + curTime + "</span>";
                htmlData += "<a style='display: inline-block;' onclick=\"showPersonInfo('"+msgFrom+"')\">" + msgFrom + "</a>";
                htmlData += "</p>";
            } else {
                // 左侧
                htmlData = "<div style='width:70%;height:auto;margin-bottom: 10px;'>";
                htmlData += "<p style='height:20px;'>";

                htmlData += "<a style='display: inline-block;margin-right: 10px;' onclick=\"showPersonInfo('"+msgFrom+"')\">" + msgFrom + "</a>";
                htmlData += "<span style='display: inline-block;margin-right: 10px;'>" + curTime + "</span>";
                htmlData += "<span style='display: inline-block;'>" + typeDesc + "</span>";
                htmlData += "</p>";
            }
            
            if (msgFrom == sessionUser) {
                // 底色蓝色，字体白色，@蓝色
                htmlData += "<p style='height:auto;background-color: #21b0dd;border-radius: 5px;'>";
                if (msgTo != null && msgTo != "") {
                    htmlData += "<span style='color:blue;text-indent: 2em;display: inline-block;'>@"+msgTo+"</span><span style='" + defaultCss + "'>" + " " + msg + "</span>";
                } else {
                    htmlData += "<span style='"+defaultCss+"text-indent: 2em;display: inline-block;'>" + msg + "</span>";
                }
            } else {
                // 底色灰色，字体黑色，@蓝色
                htmlData += "<p style='height:auto;background-color: #ddd;border-radius: 5px;'>";
                if (msgTo != null && msgTo != "") {
                    htmlData += "<span style='color:blue;text-indent: 2em;display: inline-block;'>@"+msgTo+"</span><span style='" + defaultCss + "'>" + " " + msg + "</span>";
                } else {
                    htmlData += "<span style='"+defaultCss+"text-indent: 2em;display: inline-block;'>" + msg + "</span>";
                }
            }
            htmlData += "</p>";
            htmlData += "</div>";
            updateChatMsg(htmlData);
        }

        function showPersonInfo(userName) {
            layer.open({
                type: 2,
                title: '用户个人信息',
                shadeClose: true,
                shade: 0.2,
                area: ['390px', '420px'],
                content: '/zhddkk/wsUsers/showPersonalInfo.page?user=' + userName
            });
        }
    </script>
</body>
</html>