<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:include="common :: header"></th:block>
  <title>简易聊天室</title>
   
   <style>
       body {
           margin: 0;
           background-image: url(../img/fengjing/fj1.jpg);
           background-size: 100% 100%;
       }
       
        #mainDiv {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            position: relative;
            top: 50%;
            margin-top: -200px;
            border: 1px solid grey;
            max-width: 620px;
            max-height: 400px;
        }

        #headerDiv {
            width: 100%;
            height: 30px;
            padding-top: 5px;
            padding-left: 5px;
            background-color: #365e71;
        }
        
        #noticeDiv {
            width:100%;
            height:22px;
            position:absolute;
            top:30px;
            border: 1px solid grey;
            background-image: linear-gradient(to right, rgba(228, 243, 205, 0.98), rgba(225, 189, 11, 0.98));
            display: none;
        }
        
        #msgFromServer {
            width: 100%;
            height: calc(100% - 90px);
            overflow: auto;
            background-color: white;
            padding: 3px;
        }
       
       #footerDiv {
           width: 100%;
           height:60px;
       }
   </style>
</head>
<body>
    <div id="mainDiv">

        <!--头部按钮组-->
        <div id="headerDiv">
            <div align="left" style="width:30%;height:100%;float:left;margin-top:-5px;">
                <span style="color:yellow;font-weight:bold;font-size:18px;height:100%;display:inline-block;margin-right: 10px;">房号:{{roomName}}</span>
                <span class="fa fa-user" style="color:white;"></span>
                <label id="onlineNum" style="color:white;">{{roomUserCount}}</label>&nbsp;&nbsp;

            </div>

            <div style="width:30%;height:100%;float:left;color:white;text-align: center;">
                <span id="inputStatusSpan"></span>
            </div>

            <div align="right" style="width:38%;height:100%;float:right;margin-right:3px;">
                <th:block th:if="${session.sessionInfo.roleName == '管理员'}">
                    <button class='label label-info' th:title="发布通知" @click="sendNotice()">
                        <span class="glyphicon glyphicon-comment"></span>
                    </button>&nbsp;&nbsp;
                </th:block>
                <button id="refreashConlineCount" class='label label-info' th:title="刷新" @click="getOnlineInfo()">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>&nbsp;&nbsp;
                <button class='label label-success' th:title="切换背景" @click="changeBackgroundImage()">
                        <span class="glyphicon glyphicon-picture"></span>
                </button>&nbsp;&nbsp;
                <button class='label label-danger' th:title="清屏" @click="clearScreen()">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                </button>&nbsp;&nbsp;
                <button id="btnReconnect" class='label label-primary' type="button" th:title="重新连接"
                        onclick="loginServer()">
                    <span class="glyphicon glyphicon-retweet"></span>
                </button>
            </div>
        </div>
        
        <!-- 通知栏 -->
        <div id="noticeDiv">
            <marquee direction="right" scrolldelay="10" scrollamount="8" onMouseOver="this.stop()" onMouseOut="this.start()">
                <span id="noticeSpan"></span>
            </marquee>
        </div>

      <!--中间聊天框-->
        <div id="msgFromServer" align="left">
        </div>
        
      <!--下方聊天内容发送-->
        <div id="footerDiv" align="left">
            <div style="height:25px;">
                <!--选择对象-->
                <select id="selectUser" style="width:50%;height:100%;float:left;">
                    <option value=""></option>
                    <option v-for="row in roomUserList" :value="row">
                        {{row}}
                    </option>
                </select>
              <!--选择常用语-->
                <select id="selectCyy" style="width:50%;height:100%;float:right;" @change="selectText">
                    <option v-for="cyy in cyyList">
                        {{cyy.name}}
                    </option>
                </select>
            </div>
          <!--聊天内容  发送按钮-->
            <div style="height:35px;">
                <input id="msgToServer" autocomplete="off"
                       style="width:75%;float:left;height:100%;border:1px solid grey" placeholder="请输入聊天内容<按Enter键发送>">
                <button id="sendBtn" type="button" class='btn btn-sm btn-success'
                        style="width:25%;height:100%;float:right;font-size: 16px;" onClick="send()">&nbsp;&nbsp;发&nbsp;&nbsp;&nbsp;&nbsp;送&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
  
    <th:block th:include="common :: footer"></th:block>
    <th:block th:include="common :: sessionInfo"></th:block>
    
    <script type="text/javascript">
        var currentUserOnlineInfo = undefined;
        var webSocket = null;
        var roomName = "002";
        // 登陆聊天服务器
        loginServer();
        
        var app = new Vue({
            el: '#mainDiv',
            data: {
                roomName: roomName,
                roomUserList: {},
                roomUserCount:0,
                cyyList: {},
                loginUser: sessionUser,
                imgIndex: 1,
                imgMaxIndex: 10,
                msgTypeMap: {
                    "system":{
                        "desc":"系统消息",
                        "value":1
                    },
                    "onlinechat":{
                        "desc":"在线消息",
                        "value":2
                    },
                    "offlinechat":{
                        "desc":"离线消息",
                        "value":3
                    },
                    "notice":{
                        "desc":"通知消息",
                        "value":4
                    },
                    "status":{
                        "desc":"状态消息",
                        "value":5
                    },
                }
            },
            methods: {
                getOnlineInfo: function () {
                    $.ajax({
                        type: 'GET',
                        url: 'getOnlineInfo.json',
                        data: {"roomName":roomName, "user": sessionUser},
                        success: function (result) {
                            if (result.code != 1) {
                                return;
                            }
                            var jsonObj = result.data;
                            app.roomUserList = jsonObj.roomUserList;
                            app.cyyList = jsonObj.commonMap.cyy;
                            app.roomUserCount = jsonObj.roomUserCount;

                            currentUserOnlineInfo = jsonObj.currentOnlineUserInfo;
                            // 是否被禁用
                            var enableStatus = currentUserOnlineInfo.enable;
                            if (enableStatus == "0") {
                                layer.tips('该账户已被禁用,10秒后强制退出!', '#msgFromServer', {
                                    tips: [2, 'red']
                                });
                                updateChatMsgWithColor("该账户已被禁用,10秒后强制退出!", "red", 10);
                                setTimeout(logout, 10000);
                                return;
                            }

                            // 是否被禁言
                            var speakStatus = currentUserOnlineInfo.speak;
                            if (speakStatus == "0") {
                                $("#sendBtn").attr("disabled", true);
                                $("#sendBtn").html("<span style='color:red;font-weight: bold;'>你已被禁言</span>");
                            } else {
                                $("#sendBtn").attr("disabled", false);
                                $("#sendBtn").html("发送");
                            }
                        }
                    });
                },
                selectText: function (e) {
                    $("#msgToServer").val(e.target.value);
                },
                // 清屏
                clearScreen: function() {
                    $("#msgFromServer").text("");
                },
                // 切换背景图片
                changeBackgroundImage: function () {
                    app.imgIndex++;
                    if (app.imgIndex > app.imgMaxIndex) {
                        app.imgIndex = 1;
                    }
                    var newPicUrl = "../img/fengjing/fj" + app.imgIndex + ".jpg";
                    $("body").css("background-image", "url(" + newPicUrl + ")");
                },
                // 发布通知
                sendNotice: function () {
                    layer.prompt({
                        formType: 2,
                        value: '',
                        title: '请输入通知内容'
                    }, function (value, index) {
                        layer.close(index);
                        if (value != "") {
                            sendNoticeToServer(app.roomName, value);
                        } else {
                            alert("通知内容不能为空!");
                        }
                    });
                },
            },
            created: function (e) {
                this.getOnlineInfo();
            }
        });

        // 发送消息给服务器
        function send() {
            if (currentUserOnlineInfo != undefined) {
                // 是否被禁用
                var enableStatus = currentUserOnlineInfo.enable;
                if (enableStatus == "0") {
                    //被禁用了
                    updateChatMsgWithColor("你的账号已被禁用了", "red", 10);
                    return;
                }

                var speakStatus = currentUserOnlineInfo.speak;
                if (speakStatus == "0") {
                    //被禁言了
                    updateChatMsgWithColor("你已被禁言了", "red", 10);
                    return;
                }
            }

            var toUser = $("#selectUser").val();
            if (webSocket != null) {
                if (sessionUser == toUser) {
                    updateChatMsgWithColor("不能给自己发消息!", "red", 10);
                    return false;
                }

                var msgToServer = $("#msgToServer").val();
                if (msgToServer == null || msgToServer == "") {
                    updateChatMsgWithColor("不允许发送空消息!", "red", 10);
                    return;
                }

                if (toUser != null && toUser != "") {
                    sendMsgToServer(app.roomName, sessionUser, toUser, msgToServer);
                    $("#msgToServer").val("");
                } else {
                    sendMsgToServer(app.roomName, sessionUser, "", msgToServer);
                    $("#msgToServer").val("");
                }
            } else {
                var msg = "<p style='color:red;font-size:10px;line-height:14px;text-align: center;'>[" + getCurrentTimeOfHHMMSS() + "] [系统信息] 服务器已断开,请<a href='javascript:void(0)' onclick='loginServer()'>重新连接</a>!</p>";
                updateChatMsg(msg);
            }
        }

        /**
         * 发送聊天消息
         *
         * @param roomName 房间名称
         * @param userFrom 发送人
         * @param userTo  接收人
         * @param msg    聊天内容
         */
        function sendMsgToServer(roomName, userFrom, userTo, msg) {
            if (webSocket != null) {
                var toServerMsgObj = {};
                toServerMsgObj.typeId = app.msgTypeMap.onlinechat.value;
                toServerMsgObj.typeDesc = app.msgTypeMap.onlinechat.desc;
                toServerMsgObj.roomName = roomName;
                toServerMsgObj.from = userFrom;
                toServerMsgObj.to = userTo;
                toServerMsgObj.msg = msg;
                var jsonObj = JSON.stringify(toServerMsgObj);
                webSocket.send(jsonObj);
            } else {
                var msg = "<p style='color:red;font-size:10px;line-height:14px;text-align: center;'>[" + getCurrentTimeOfHHMMSS() + "] [系统信息] 连接失败,请<a href='javascript:void(0)' onclick='loginServer()'>重新连接</a>!</p>";
                updateChatMsg(msg);
            }
        }

        /**
         * 发送通知消息
         *
         * @param roomName 房间名称
         * @param msg 通知内容
         */
        function sendNoticeToServer(roomName, msg) {
            if (webSocket != null) {
                var toServerMsgObj = {};
                toServerMsgObj.typeId = app.msgTypeMap.notice.value;
                toServerMsgObj.typeDesc = app.msgTypeMap.notice.desc;
                toServerMsgObj.roomName = roomName;
                toServerMsgObj.from = "";
                toServerMsgObj.to = "";
                toServerMsgObj.msg = msg;
                var jsonObj = JSON.stringify(toServerMsgObj);
                webSocket.send(jsonObj);
            }
        }

        /**
         * 发送状态消息
         *
         * @param roomName 房间名称
         * @param userFrom 发送人
         * @param msg      状态内容
         */
        function sendStatusToServer(roomName, userFrom, msg) {
            if (webSocket != null) {
                var toServerMsgObj = {};
                toServerMsgObj.typeId = app.msgTypeMap.status.value;
                toServerMsgObj.typeDesc = app.msgTypeMap.status.desc;
                toServerMsgObj.roomName = roomName;
                toServerMsgObj.from = userFrom;
                toServerMsgObj.to = "";
                toServerMsgObj.msg = msg;
                var jsonObj = JSON.stringify(toServerMsgObj);
                webSocket.send(jsonObj);
            }
        }
        
        function updateChatMsg(msg) {
            var textArea = $('#msgFromServer').append(msg);
            textArea.scrollTop(textArea[0].scrollHeight - textArea.height());
        }

        function updateChatMsgWithColor(msg, color, fontSize) {
            var newMsg = "<p style='color:" + color + ";font-size:" + fontSize + "px;line-height:14px;text-align: center;margin-bottom: 5px;'>[" + getCurrentTimeOfHHMMSS() + "] [系统信息] " + msg + "</p>";
            var textArea = $("#msgFromServer").append(newMsg);
            textArea.scrollTop(textArea[0].scrollHeight - textArea.height());
        }

        //登录服务器
        function loginServer() {
            if (webSocket == null) {
                var socketUrl = "ws://" + sessionWebserverIp + ":" + sessionWebserverport + "/zhddWebSocket/" + roomName + "/" + sessionUser + "/" + sessionPassword + "/" + sessionUseragent;
                webSocket = new WebSocket(socketUrl);
                webSocket.onerror = function (event) {
                    onError(event);
                };
                webSocket.onclose = function (event) {
                    OnClose(event);
                };
                webSocket.onopen = function (event) {
                    onOpen(event);
                };
                webSocket.onmessage = function (event) {
                    onMessage(event);
                };
            }
        }

        //连接成功
        function onOpen(event) {
            updateChatMsgWithColor("您已进入聊天室", "green", 10);
        }

        //连接失败
        function onError(event) {
            updateChatMsgWithColor("连接聊天室服务器异常!", "red", 10);
            webSocket = null;
        }

        //连接关闭
        function OnClose(event) {
            updateChatMsgWithColor("聊天室已断开!", "red", 10);
            webSocket = null;
        }

        //接收消息
        function onMessage(event) {
            var jsonObj = JSON.parse(event.data);
            var curTime = jsonObj.curTime;
            var msgFrom = jsonObj.from;
            var msgTo = jsonObj.to;
            //1:广播消息  2:在线消息 3:离线消息 4:通知消息  5:状态消息
            var typeId = jsonObj.typeId;
            var typeDesc = jsonObj.typeDesc;
            var msg = jsonObj.msg;
            // 扩展数据 发送人相关信息
            var extendMap = jsonObj.extendMap;

            if (typeId == app.msgTypeMap.system.value) {
                // 广播消息
                updateChatMsgWithColor(msg, "green", 10);
                // 更新在线人数等信息
                app.roomUserCount = extendMap.count;
                app.roomUserList = extendMap.userList;
                return;
            }

            if (typeId == app.msgTypeMap.status.value) {
                // 状态消息
                var status = msg.split(":")[0];
                var tmpMsg = msg.split(":")[1];
                if (status == "1") {
                    $("#inputStatusSpan").html(msgFrom+":"+tmpMsg);
                } else {
                    var spanTxt = $("#inputStatusSpan").text();
                    if (spanTxt != "") {
                        inputUser = spanTxt.split(":")[0];
                        if (inputUser == msgFrom) {
                            $("#inputStatusSpan").text("");
                        }
                    }
                }
                return;
            }
            
            // 发送方用户相关信息
            var msgFromUserProfile = null;
            if (typeId == app.msgTypeMap.onlinechat.value || typeId == app.msgTypeMap.offlinechat.value) {
                // 聊天消息/离线消息
                msgFromUserProfile = extendMap.userProfile;
            }
            
            if (typeId == app.msgTypeMap.notice.value) {
                // 通知消息
                $("#noticeDiv").show();
                setTimeout(function () {
                    $("#noticeSpan").html(msg);
                    $("marquee")[0].start();
                },500);
                setTimeout(function () {
                    $("#noticeSpan").html("");
                    $("#noticeDiv").hide();
                },8000);
                updateChatMsgWithColor(msg, "green", 10);
                return;
            }
            
            // 其他人发的消息
            var defaultCss = "color:black;font-size:10px;line-height:20px;";
            if (msgTo == sessionUser) {
                // 发给我的消息
                defaultCss = "color:black;font-size:10px;line-height:20px;";
            } else if (msgFrom == sessionUser) {
                // 我发出去的消息
                defaultCss = "color:white;font-size:10px;line-height:20px;";
            }
            
            var htmlDate = "";
            if (msgFrom == sessionUser) {
                // 右侧--当前用户发出去的消息
                htmlData = "<div style='width:60%;height:auto;margin-bottom: 10px;margin-left:40%;text-align:right;'>";
                htmlData += "<p style='height:20px;'>";
                
                htmlData += "<span style='display: inline-block;margin-right: 10px;'>" + typeDesc + "</span>";
                htmlData += "<span style='display: inline-block;margin-right: 10px;color: grey;'>" + curTime + "</span>";
                htmlData += "<a style='display: inline-block;margin-right: 5px;font-weight: bold;' onclick=\"showPersonInfo('"+msgFrom+"')\">" + msgFrom + "</a>";
                htmlData += "<img width='15' height='15' src='"+msgFromUserProfile.img+"'>";
                htmlData += "</p>";
            } else {
                // 左侧--其他用户发的消息
                htmlData = "<div style='width:60%;height:auto;margin-bottom: 10px;'>";
                htmlData += "<p style='height:20px;'>";

                htmlData += "<img width='15' height='15' style='margin-right: 5px;' src='"+msgFromUserProfile.img+"'>";
                htmlData += "<a style='display: inline-block;margin-right: 10px;font-weight: bold;' onclick=\"showPersonInfo('"+msgFrom+"')\">" + msgFrom + "</a>";
                htmlData += "<span style='display: inline-block;margin-right: 10px;color: grey;'>" + curTime + "</span>";
                htmlData += "<span style='display: inline-block;'>" + typeDesc + "</span>";
                htmlData += "</p>";
            }
            
            if (msgFrom == sessionUser) {
                // 当前用户发出去的消息
                // 底色蓝色，字体白色，@蓝色
                htmlData += "<p style='height:auto;border-radius: 5px;padding: 0 5px;background-image: linear-gradient(to left, #0a8fb9 , rgba(38,44,185,0.58));'>";
                if (msgTo != null && msgTo != "") {
                    htmlData += "<span style='color:blue;text-indent: 2em;display: inline-block;'>@"+msgTo+"</span><span style='" + defaultCss + "'>" + " " + msg + "</span>";
                } else {
                    htmlData += "<span style='"+defaultCss+"text-indent: 2em;display: inline-block;'>" + msg + "</span>";
                }
            } else {
                // 别人发出去的消息
                // 底色灰色，字体黑色，@蓝色
                htmlData += "<p style='height:auto;border-radius: 5px;padding: 0 5px;background-image: linear-gradient(to right, #ddd , rgba(132,172,221,0.58));'>";
                if (msgTo != null && msgTo != "") {
                    if (msgTo == sessionUser) {
                        // 别人@我的消息
                        msgTo = "我";
                        htmlData += "<span style='color:red;font-weight:bold;text-indent: 2em;display: inline-block;'>@" + msgTo + "</span><span style='" + defaultCss + "'>" + " " + msg + "</span>";
                    } else {
                        // 别人@其他人的消息
                        htmlData += "<span style='color:blue;font-weight:bold;text-indent: 2em;display: inline-block;'>@" + msgTo + "</span><span style='" + defaultCss + "'>" + " " + msg + "</span>";
                    }
                } else {
                    htmlData += "<span style='"+defaultCss+"text-indent: 2em;display: inline-block;'>" + msg + "</span>";
                }
            }
            htmlData += "</p>";
            htmlData += "</div>";
            updateChatMsg(htmlData);
        }

        function showPersonInfo(userName) {
            layer.open({
                type: 2,
                title: '用户个人信息',
                shadeClose: true,
                shade: 0.2,
                area: ['390px', '420px'],
                content: '/zhddkk/wsUsers/showPersonalInfo.page?user=' + userName
            });
        }

        //回车键发送聊天内容
        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                send();
            }
        });

        // 输入框聚焦事件
        $("#msgToServer").focus(function() {
            sendStatusToServer(app.roomName, sessionUser, "1:正在输入...");
        });

        // 输入框失去焦点事件
        $("#msgToServer").blur(function() {
            sendStatusToServer(app.roomName, sessionUser, "0:取消输入");
        });
    </script>
</body>
</html>