<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head>
    <th:block th:include="common :: header"></th:block>
    <style>
        .selected {
            box-shadow: 4px 4px 5px #888888;
            z-index:2;
        }
    </style>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<!-- 搜索栏 -->
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="display: none;">
                        <h5>查询</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon">名称</div>
                                    <input type="text" class="form-control" id="nameSearchInput" placeholder="请输入">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-success" onclick="reLoad()">查询</button>
                                <button type="button" class="btn btn-default" onclick="cleanForm()">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- 表格 -->
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="fixed-table-toolbar">
                            <div class="columns pull-left">
                                <button shiro:hasPermission="zhddkk:wsChatroom:createRoom" type="button" class="btn  btn-primary" onclick="createRoom()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;创建房间
                                </button>
                            </div>
                        </div>
                        <table id="exampleTable" data-mobile-responsive="true">
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="roomListDiv" style="width:100%;height:400px;margin-top:10px;overflow: auto;border:1px solid grey;">
            <div v-for="(roomObj,index) in chatRoomList" :key="roomObj.id" style="width:250px;height:200px;position:relative;border:1px solid lightgrey;float:left;margin: 10px;padding:10px;" @mouseenter="mouseEnter(index)" @mouseleave="mouseLeave(index)">
                <div style="height: 30px;text-align: center;font-size: 25px;font-weight: bold;">
                    <p>{{roomObj.roomId}}</p>
                </div>
                <div style="height: 20px;">
                    <p>房间名称：{{roomObj.name}}</p>
                </div>
                <div style="height: 20px;">
                    <p>房管：{{roomObj.managerName}}</p>
                </div>
                <div style="height: 20px;">
                    <p>创建时间：{{roomObj.createTime}}</p>
                </div>
                <div style="height:30px;">
                    <div style="width:100%;">
                        <p>房间人数:{{roomObj.onlineUserCount}}</p>
                    </div>
                </div>
                <div style="width:100%;height:40px;position: absolute;bottom:1px;">
                    <div style="width:40%;float:left;text-align: left;font-size: 30px;" v-if="roomObj.password != ''">
                        <p><span><i class="fa fa-lock"></i></span></p>
                    </div>
                    <div style="width:40%;float:right;font-size: 30px;">
                        <button class="btn btn-success" @click="enterRoom(index)">进入房间</button>
                    </div>
                </div>
            </div>
        </div>
	</div>

    <th:block th:include="common :: footer"></th:block>

    <script>
        //添加
        function createRoom() {
            layer.open({
                type : 2,
                title : '创建房间',
                maxmin : true,
                shadeClose : false,//点击遮罩关闭层
                area : [ '600px', '420px' ],
                content : '/zhddkk/wsChatroom/add'
            });
        }

        var app = new Vue({
            el: '#roomListDiv',
            data: {
                chatRoomList : []
            },
            methods: {
                // 房间列表
                queryChatRoomList : function(){
                    var that = this;
                    layer.load(1, {
                        shade: [0.1,'#fff']
                    });

                    $.ajax({
                        type: "GET",
                        url: "/zhddkk/wsChatroom/queryChatRoomList",
                        data : {
                        },
                        success: function (result) {
                            if (result.code == 1) {
                                app.chatRoomList = result.data;
                            } else {
                                layer.alert(result.data);
                            }
                            layer.closeAll('loading');
                        }
                    });
                },
                enterRoom: function (index) {
                    var roomInfo = app.chatRoomList[index];
                    if (!!roomInfo.password) {
                        layer.prompt({title: '请输入房间密码', formType: 1}, function(pass, index){
                            layer.close(index);
                            if (pass != roomInfo.password) {
                                layer.alert('密码不正确', {
                                    icon: 2,
                                });
                                return;
                            }
                            layer.msg("进入房间成功");
                        });
                    } else {
                        layer.msg("进入房间成功");
                    }
                },
                mouseEnter: function (index) {
                    $("#roomListDiv").children("div").eq(index).addClass("selected");
                },
                mouseLeave: function (index) {
                    $("#roomListDiv").children("div").eq(index).removeClass("selected");
                },
            },
            created : function() {
                this.queryChatRoomList();
            }
        });
    </script>
</body>
</html>