<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
	<th:block th:include="common :: header"></th:block>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
                        <form class="form-horizontal m-t" id="form">
							<!-- 主键 -->
                            <input type="hidden" id="id" name="id" th:value="${wsChatroom.id}">
							<div class="form-group">
								<label class="col-sm-3 control-label" for="roomId"><span style="color:red">*</span>&nbsp;房间id：</label>
								<div class="col-sm-8">
									<input type="text" id="roomId" name="roomId" th:value="${wsChatroom.roomId}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="name"><span style="color:red">*</span>&nbsp;房间名称：</label>
								<div class="col-sm-8">
									<input type="text" id="name" name="name" th:value="${wsChatroom.name}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="password"><span style="color:red">*</span>&nbsp;房间密码：</label>
								<div class="col-sm-8">
									<input type="text" id="password" name="password" th:value="${wsChatroom.password}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="desc"><span style="color:red">*</span>&nbsp;房间描述：</label>
								<div class="col-sm-8">
									<input type="text" id="desc" name="desc" th:value="${wsChatroom.desc}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="createUserId"><span style="color:red">*</span>&nbsp;创建者id：</label>
								<div class="col-sm-8">
									<input type="text" id="createUserId" name="createUserId" th:value="${wsChatroom.createUserId}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="createTime"><span style="color:red">*</span>&nbsp;创建时间：</label>
								<div class="col-sm-8">
									<input type="text" id="createTime" name="createTime" th:value="${wsChatroom.createTime}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="updateTime"><span style="color:red">*</span>&nbsp;更新时间：</label>
								<div class="col-sm-8">
									<input type="text" id="updateTime" name="updateTime" th:value="${wsChatroom.updateTime}" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="status"><span style="color:red">*</span>&nbsp;状态 0:删除 1:正常 2:封锁：</label>
								<div class="col-sm-8">
									<input type="text" id="status" name="status" th:value="${wsChatroom.status}" class="form-control" />
								</div>
							</div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button type="submit" class="btn btn-primary">保存</button>
                                </div>
                            </div>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="common :: footer"></th:block>
</body>
<script type="text/javascript" th:src="@{/js/appjs/zhddkk/wsChatroom/wsChatroomForm.js}"></script>
</html>
