<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head>
    <th:block th:include="common :: header"></th:block>
    <style>
        .selected {
            box-shadow: 4px 4px 5px #888888;
            z-index:2;
        }
    </style>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<!-- 搜索栏 -->
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="display: none;">
                        <h5>查询</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon">房间名称</div>
                                    <input type="text" class="form-control" id="roomNameSearchInput" placeholder="请输入" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon">房间名号</div>
                                    <input type="text" class="form-control" id="roomIdSearchInput" placeholder="请输入" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-success" onclick="reLoad()">查询</button>
                                <button type="button" class="btn btn-default" onclick="cleanForm()">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- 表格 -->
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="fixed-table-toolbar" style="height:40px;margin-bottom: 10px;">
                            <div class="columns pull-left">
                                <button shiro:hasPermission="zhddkk:wsChatroom:add" type="button" class="btn  btn-primary" onclick="add()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;创建房间
                                </button>
                            </div>
                        </div>
                        <div id="roomListDiv" style="width:100%;margin-top:10px;overflow: auto;border:1px solid grey;" data-mobile-responsive="true">
                            <div v-for="(roomObj,index) in chatRoomList" :key="roomObj.id" style="width:250px;height:200px;position:relative;border:1px solid lightgrey;float:left;margin: 10px;padding:10px;" @mouseenter="mouseEnter(index)" @mouseleave="mouseLeave(index)" @dblclick="enterRoom(index)">
                                <div style="height: 30px;text-align: center;font-size: 25px;font-weight: bold;">
                                    <p>{{roomObj.roomId}}</p>
                                </div>
                                <div style="height: 20px;font-size:10px;margin-top: 10px;">
                                    <span style="overflow: hidden;"><i class="fa fa-home">&nbsp;房间名称：{{roomObj.name}}</i></span>
                                </div>
                                <div style="height: 20px;font-size:10px;">
                                    <span style="overflow: hidden;"><i class="fa fa-user-circle-o">&nbsp;房间群主：{{roomObj.ownerName}}</i></span>
                                </div>
                                <div style="height:20px;font-size:10px;">
                                    <div style="width:100%;">
                                        <span><i class="fa fa-users">&nbsp;房间人数：{{roomObj.onlineUserCount}}</i></span>
                                    </div>
                                </div>
                                <div style="height: 20px;font-size:10px;">
                                    <span><i class="fa fa-clock-o">&nbsp;创建时间：{{roomObj.createTime}}</i></span>
                                </div>
                                <div style="height: 20px;font-size:10px;">
                                    <span style="overflow: hidden;"><i class="fa fa-file-text-o">&nbsp;房间描述：{{roomObj.desc}}</i></span>
                                </div>
                                <div style="width:100%;height:40px;position: absolute;bottom:1px;">
                                    <div style="width:calc(100% - 20px);float:left;font-size: 30px;">
                                        <button class="btn btn-sm btn-success" style="width: 100%;" @click="enterRoom(index)">进入房间</button>
                                    </div>
                                </div>
                                <div style="width:100%;height:25px;font-size:28px;position: absolute;top:2px;left:8px;text-align: left;" v-if="roomObj.password != ''">
                                    <p><span><i class="fa fa-lock"></i></span></p>
                                </div>
                                <div style="width:100%;height:25px;position: absolute;top:2px;right:0;text-align: right;" v-if="roomObj.myRoom || sessionUser=='admin'">
                                    <button class="btn btn-link" @click="edit(roomObj.id)"><i class="fa fa-edit" style="font-size: 25px;"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>

    <th:block th:include="common :: footer"></th:block>
    <th:block th:include="common :: sessionInfo"></th:block>
</body>
<script type="text/javascript" th:src="@{/js/appjs/zhddkk/wsChatroom/wsChatroom.js}"></script>
</html>